
<!-- START OF MAIN CONTENT -->
<div class="mainwrapper">
  <div class="mainwrapperinner">

    <div class="maincontent noright">
      <div class="maincontentinner">

        <%= render "maintab" %>

        <div class="content">
          <header class="panel-header">
            <div class="contenttitle">
              <h2 class="form"><span>Edit Facility HGH1 [10000]</span><a class="buttontext2" href="/facility/control/EditFacility">New Facility</a>&nbsp;&nbsp;<a href="/workeffort/control/calendar?externalLoginKey=EL840085885701&amp;facilityId=10000&amp;externalLoginKey=EL840085885701" class="buttontext2">View Calendar</a></h2>
            </div><!--contenttitle--></header>
          <hr />
          <br clear="all" />

          <form action="/facility/control/UpdateFacility" name="EditFacilityForm" method="post" class="stdform">
            <input type="hidden" name="facilityId" value="10000">
            <p>
              <label>Facility Id</label>
              <span class="field">10000&nbsp;<em>This cannot be changed without re-creating the facility</em></span>
            </p>
            <p>
              <label>Facility Type ID</label><span class="field">
               <select name="facilityTypeId">
                 <option selected="selected" value="WAREHOUSE">Warehouse</option>
                 <option value="RETAIL_STORE">Retail Store</option>
               </select></span>
            </p>
            <p>
              <label>Parent Facility Id</label>
             <span class="field">
              <input type="text" name="parentFacilityId" size="20" maxlength="20" id="0_lookupId_parentFacilityId" class="ui-autocomplete-input" autocomplete="off">
            </span>
            </p>
            <p>
              <label>Owner</label><span class="field"><input type="text" name="ownerPartyId" value="10000" size="20" maxlength="20" id="1_lookupId_ownerPartyId" class="ui-autocomplete-input" autocomplete="off"> <em>Required</em></span>
            </p>
            <p>
              <label>Default Weight Unit</label><span class="field"><select name="defaultWeightUomId">
              <option value="">None</option>
              <option value="WT_kg" selected="selected">Kilogram</option>
              <option value="WT_lt">Ton (long or British)</option>
            </select></span>
            </p>
            <p>
              <label>Default Inventory Item Type</label><span class="field"><select name="defaultInventoryItemTypeId">
              <option value="NON_SERIAL_INV_ITEM" selected="selected">Non-Serialized</option>
              <option value="SERIALIZED_INV_ITEM">Serialized</option>
            </select></span>
            </p>
            <p>
              <label>Name</label><span class="field"><input type="text" name="facilityName" value="HGH1" size="30" maxlength="60"> <em>Required</em></span>
            </p>
            <p>
              <label>Area</label><span class="field"><input type="text" name="facilitySize" value="" size="10" maxlength="20" class="smallinput"></span>
            </p>
            <p>
              <label>Area Unit</label><span class="field"><select name="facilitySizeUomId">
              <option value="">None</option>
              <option value="AREA_cm2">Square Centimeter</option>
            </select></span>
            </p><p>
            <label>Product Description</label><span class="field"><input type="text" name="description" value="Hangzhou Warehouse No 1" size="60" maxlength="250"></span>
          </p>
            <p>
              <label>Default Days To Ship</label><span class="field"><input type="text" name="defaultDaysToShip" value="" size="10" maxlength="20" class="smallinput"></span>
            </p>
            <p>
              <span class="field"><input type="submit" name="Update" value="Update"></span>
            </p>

          </form>

        </div><!--content-->
      </div><!--maincontentinner-->



    </div><!--maincontent-->

  </div><!--mainwrapperinner-->
</div><!--mainwrapper-->
<!-- END OF MAIN CONTENT -->
