= stylesheet_link_tag 'plugins/jquery-ui-timepicker-addon'
:javascript
  $(document).ready(function(){
    $('.datepicker').datetimepicker({
        showSecond: true,
        showMillisec: true,
        showButtonPanel: false,
        dateFormat: 'yy-mm-dd',
        timeFormat: 'HH:mm:ss.l',
        millisecText: 'Millisec',
      });
  });
-if notice.present?
  .notification.msgsuccess
    %a.close
    %p#notice= notice
%div#return_header_form
  = form_for @return_header,:html => {:class => "stdform promotion_form"} do |f|
    - if @return_header.errors.any?
      #error_explanation
        %h2= "#{pluralize(@return_header.errors.count, "error")} prohibited this return_header from being saved:"
        %ul
          - @return_header.errors.full_messages.each do |msg|
            %li= msg
    %div#content-messages.content-messages.errorMessage.notification
      %a.close
    %p
      = f.label :return_header_type_id ,t('active_record.return_header.return_header_type_id')
      %span.field
        %select{:id => "return_header_type_id", :name => "return_header[return_header_type_id]"}
          - ReturnHeaderType.all.each do |type|
            - if type.id.to_s == @return_header.return_header_type_id.to_s
              %option{:value => type.id, :selected => "selected"}
                = type.description
            - else
              %option{:value => type.id}
                = type.description
    %p
      = f.label :status_id ,t('active_record.return_header.status_id')
      %span.field
        %select{:id => "status_id", :name => "return_header[status_id]"}
          - ReturnHeaderStatus.all.each do |status|
            - if status.id == @return_header.status_id
              %option{:value => status.id, :selected => "selected"}
                = status.description
            - else
              %option{:value => status.id}
                = status.description
    %p
      = f.label :from_party_id ,t('active_record.return_header.from_party_id')
      %span.field
        = f.text_field :from_party_id
    %p
      = f.label :to_party_id ,t('active_record.return_header.to_party_id')
      %span.field
        = f.text_field :to_party_id
    %p
      = f.label :payment_method_id ,t('active_record.return_header.payment_method_id')
      %span.field
        %select{:id => "payment_method_id", :name => "return_header[payment_method_id]"}
          - PaymentMethod.all.each do |payment|
            - if payment.id == @return_header.payment_method_id
              %option{:value => payment.id, :selected => "selected"}
                = payment.description
            - else
              %option{:value => payment.id}
                = payment.description
    %p
      = f.label :fin_account_id ,t('active_record.return_header.fin_account_id')
      %span.field
        = f.text_field :fin_account_id
    %p
      = f.label :billing_account_id ,t('active_record.return_header.billing_account_id')
      %span.field
        %select{:id => "billing_account_id", :name => "return_header[billing_account_id]"}
          - BillingAccount.all.each do |billing|
            - if billing.id == @return_header.billing_account_id
              %option{:value => billing.id, :selected => "selected"}
                = billing.billing_account_id
            - else
              %option{:value => billing.id}
                = billing.billing_account_id
    %p
      = f.label :entry_date ,t('active_record.return_header.entry_date')
      %span.field
        - if @return_header.entry_date.blank?
          = f.text_field :entry_date, {:value => Time.now.strftime("%Y-%m-%d %H:%M:%S:%L"), :class => "datepicker"}
        - else
          = f.text_field :entry_date, :class => "datepicker"
    %p
      = f.label :origin_contact_mech_id ,t('active_record.return_header.origin_contact_mech_id')
      %span.field
        = f.text_field :origin_contact_mech_id
    %p
      = f.label :destination_facility_id ,t('active_record.return_header.destination_facility_id')
      %span.field
        %select{:id => "destination_facility_id", :name => "return_header[destination_facility_id]"}
          - Facility.all.each do |facility|
            - if facility.id == @return_header.destination_facility_id
              %option{:value => facility.id, :selected => "selected"}
                = facility.facility_name
            - else
              %option{:value => facility.id}
                = facility.facility_name
    %p
      = f.label :needs_inventory_receive ,t('active_record.return_header.needs_inventory_receive')
      %span.field
        = f.check_box :needs_inventory_receive
    %p
      = f.label :currency_uom ,t('active_record.return_header.currency_uom_id')
      %span.field
        = @return_header.currency_uom_id
    %p
      = f.label :supplier_rma_id ,t('active_record.return_header.supplier_rma_id')
      %span.field
        = f.text_field :supplier_rma_id
    %p.stdformbutton
      = f.submit 'Save', :class => 'stdbtn btn_black'
