-if notice.present?
  .notification.msgsuccess
    %a.close
    %p#notice= notice
%div{"class" => "dataTables_wrapper", "id" => "lists-rtnhdr"}
  %div.contenttitle
    %h2.general
      %span
        = "All Return Headers"
  %div{"id" => "dyntable_length", "class" => "dataTables_length"}
    %a{"href" => "/return_headers/new"}
      %button{"class" => "stdbtn"}
        = I18n.t('common.new')
    %a{"href" => "#", "id" => "btn-delete"}
      %button{"class" => "stdbtn"}
        = I18n.t('common.delete')
  %div{"class" => "dataTables_filter", "id" => "dyntable_filter"}
    %div{"class" => "search-select"}
      %div
        = "Return Header ID"
      %span{"class" => "triangle"}
      %select{"class" => "search-content"}
        %option{"selected" => "selected", "value" => "id"}
          = "Return Header ID"
    %div{"class" => "btn-search"}
    %input{"type" => "text", "id" => "promo-search", "placeholder" => I18n.t('common.type_something')}
  %div.table-wrapper-content
    %table{"class" => "stdtable stdtablecb", "id" => "list-returnheaders"}
      %thead
        %th.head0.width64
          %input{"type" => "checkbox", "class" => "checkall"}
        %th.head1
          = "ID"
        %th.head0
          = t('active_record.return_header.return_header_type_id')
        %th.head0
          = t('active_record.return_header.status_id')
        %th.head0
          = t('active_record.return_header.from_party_id')
        %th.head0
          = t('active_record.return_header.to_party_id')
        %th.head0
          = t('active_record.return_header.payment_method_id')
        %th.head0
          = t('active_record.return_header.fin_account_id')
        %th.head0
          = t('active_record.return_header.billing_account_id')
        %th.head0
          = t('active_record.return_header.entry_date')
        %th.head0
          = t('active_record.return_header.origin_contact_mech_id')
        %th.head0
          = t('active_record.return_header.destination_facility_id')
        %th.head0
          = t('active_record.return_header.needs_inventory_receive')
        %th.head0
          = t('active_record.return_header.currency_uom_id')
        %th.head0
          = t('active_record.return_header.supplier_rma_id')
      %tbody
        - @return_headers.each do |return_header|
          %tr{"id" => "rthdr-"+return_header.id.to_s, "ref" => edit_return_header_path(return_header)}
            %td.center
              %span
                %input{"type" => "checkbox"}
            %td.center
              %span
                = return_header.id
            %td
              %span
                = return_header.return_header_type.description
            %td
              %span
                = return_header.status.description
            %td.center
              %span
                = return_header.from_party_id
            %td.center
              %span
                = return_header.to_party_id
            %td.center
              %span
                = return_header.payment_method.description
            %td.center
              %span
                = return_header.fin_account_id
            %td.center
              %span
                = return_header.billing_account.billing_account_id
            %td.wrap-content.center
              %span
                = return_header.entry_date
            %td.center
              %span
                = return_header.origin_contact_mech_id
            %td.center
              %span
                = return_header.destination_facility.facility_name
            %td.center
              %span
                = return_header.needs_inventory_receive
            %td.center
              %span
                = return_header.currency_uom_id
            %td.center
              %span
                = return_header.supplier_rma_id
  %div{"class" => "dataTables_paginate paging_full_numbers"}
    %label{"style" => "float: left"}
      Show
      %select{"size" => 1, "name" => "dyntable_length", "id" => "promotions-per-page"}
        - @nums = [10, 25, 50, 100]
        - @nums.each do |num|
          - if session[:promo_page].to_i == num
            %option{"value" => num, "selected" => "selected"}
              = num
          - if session[:promo_page].to_i != num
            %option{"value" => num}
              = num
    %div{"id" => "dyntable_paginate"}
      - @pages = (@total.to_f / session[:promo_page].to_f).ceil
      - if @pages > 1
        %span{"class" => "first paginate_button", "id" => "dyntable_first"}
          = I18n.t('common.first')
        %span{"class" => "previous paginate_button", "id" => "dyntable_previous"}
          = I18n.t('common.previous')
        %span{"class" => "paginate-body"}
          %span.paginate-body-inner
            - @pages.times do |page|
              - page = page + 1
              - if page == 1
                %span.paginate_active
                  = page
              - if page != 1
                %span.paginate_button
                  = page
        %span{"class" => "next paginate_button", "id" => "dyntable_next"}
          = I18n.t('common.next')
        %span{"class" => "last paginate_button", "id" => "dyntable_last"}
          = I18n.t('common.last')
