:javascript
  $(document).ready(function(){
    $('#new_user input').keyup(function(evt){
      if (evt.which == 13) {
        $('#new_user').submit()
      }
    })
  })
%body
  %div#main
    %div#bg-top
      %img{:src=>"/assets/img/login/bg_login_2.png" }
      %div#modal-login
        %div#ml-top-wrapper
          %div#ml-top
            %h2 Member Sign In
            %div#ml-form.loginform

              = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
                %div{:class => "notification_error hide", :id => "validate_js"}
                %div.icon-alert.first
                = f.email_field :email, :class=>"radius2"
                %div.icon-alert.second
                = f.password_field :password, :class=>"radius2"
                %div#mltb-right
                  %a.go#btn-login SIGN IN
            %div#mlt-bottom
              %div#mltb-left
                %a{:href =>"#"} Forgot your password?
              %div.clearfix

            %div#ml-forgot
              %div{:class => "notification_error hide", :id => "error_reset"}
                %p
                  This email is not exist in databox!
              = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
                = devise_error_messages!
                %div{:class => "notification_error hide", :id => "validate_js"}
                = f.email_field :email, :class => "email_reset",  :placeholder=>"Enter your email"
                %a.button_reset#button_reset{:href => "#"} Reset Password
                %img{:id => "loading", :class => 'hide', :src => "/assets/img/loader5.gif"}
        %div#ml-bottom
          %div#mlb-back
          %div#mlb-content
            Not a Member?
            %a{:href =>"#"}
              Sign Up
            or
            %p.login-google
              = link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2), :class=>"whitelink"
  %footer#footer
    %div#footer-secondary.row
      %div.inner
        %div#footer-nav
          %nav
            %ul
              %li
                %a{ :href=>"#"}WHY JOIN
              %li
                %a{:href=>"#"} HOW IT WORKS
              %li
                %a{ :href=>"#"} OUR TEAM
              %li
                %a{:href=>"#"} BLOG
              %li
                %a{:href=>"#" } CONTACT US
              %li
                %a{ :href=> "#" } LEGAL
              %li
                %a{:class=>"active",:href=>"#"} SIGN IN

          %p Copyright 2012 OrderWithMe, Inc., All Rights Reserved

-#
-#
-#	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
-#	<script>window.jQuery || document.write('<script src="assets/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
-#
-#	<script src="assets/js/plugins.js"></script>
-#	<script src="assets/js/script.js"></script>
-#	<script src="assets/js/home.js"></script>
-#
-#	<script>
-#	//var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
-#	//(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
-#	//g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
-#	//s.parentNode.insertBefore(g,s)}(document,'script'));
-#	</script>
-#</body>
-#</html>