%label.bold
  = t('promotion_code_party.promotion_code_party')
%div#list_promotion_code_party
  - @promotion_code_parties.each do |party|
    %div
      %a.btn.btn4.btn_trash#delete_party{'data-id' => party.id}
      %span
        = party.party_id
      %img#loading_delete_party.hide{:src => "/assets/img/loader5.gif"}




%form#form-add-party-id.stdform.promotion_form
  %div#error-messages_label.hide
    .errorPartyId
      =t('promotion_code_party.error')
  %div#content-messages.party-id.content-messages.errorMessage.notification
    %a.close
  %p
    %span.field
      %input{:type => "hidden",:name => "promotion_code_party[product_promotion_code_id]",:value => @promotion_code.id, :id=> "promotion_code_party_product_promotion_code_id" }
      %input{:type => "text", :name => "promotion_code_party[party_id]",:placeholder => t("promotion_code_party.add_party_id"), :id => "promotion_code_party_party_id"}
      %button#add_promotion_code_party
        =t('common.add')
      %img#loading_add_party.hide{:src => "/assets/img/loader5.gif"}

