
%label.bold
  = t('promotion_rule.add_new_promotion_rule')
-#%div#list_promotion_rule
-#  - @promotion_rules.each do |rule|
-#    %div
-#      %a.btn.btn4.btn_trash{'data-id' => rule.id,:id => "delete_rule"}
-#      %span
-#        = rule.name
-#      %img#loading_delete_rule_name.hide{:src => "/assets/starlight/loaders/loader5.gif"}
%form.stdform.promotion_form
  %div#content-messages.content-messages.errorMessage.notification
    %a.close
  %p
    %span.field

      %input{:type => "text", :name => "promotion_rule_name[name]", :placeholder => t("promotion_rule.add_promotion_rule_name"),:id => "promotion_rule_name"}
      %button#add_promotion_rule_name
        = t('common.add')
      %img#loading_add_rule_name.hide{:src => "/assets/img/loader5.gif"}


