
%label.bold
  = t('promotion_code_email.promotion_code_email')
%div#list_promotion_code_email
  - @promotion_code_emails.each do |email|
    %div
      %a.btn.btn4.btn_trash{'data-id' => email.id,:id => "delete_email"}
      %span
        = email.email
      %img#loading_delete_email.hide{:src => "/assets/img/loader5.gif"}
%form#form-add-email.stdform.promotion_form
  %div#content-messages.add-email.content-messages.errorMessage.notification
    %a.close
  %p
    %span.field
      %input{:type => "hidden",:name => "promotion_code_email[product_promotion_code_id]",:value => @promotion_code.id, :id => "promotion_code_email_product_promotion_code_id" }
      %input{:type => "email", :name => "promotion_code_email[email]", :placeholder => t("promotion_code_email.add_email"),:id => "promotion_code_email_email"}
      %button#add_promotion_code_email
        = t('common.add')
      %img#loading_add_email.hide{:src => "/assets/img/loader5.gif"}

