:javascript
  $(document).ready(function(){
    $('ul.maintabmenu').children('li').removeClass('current')
    $('ul.maintabmenu').children('li:nth-child(2)').addClass('current')
  });
%div.contenttitle
  %h2.form
    %span Editing promotion code

= render 'form'
- if @promotion_code.require_email_or_party?
  %div#require_email_or_party.show
    %hr
    = render 'form_promotion_code_email'
    %hr
    = render 'form_promotion_code_party'


- else
  %div#require_email_or_party.hide
    %hr
    = render 'form_promotion_code_email'
    %hr
    = render 'form_promotion_code_party'


