:javascript
  $(document).ready(function(){
    $('ul.maintabmenu').children('li').removeClass('current')
    $('ul.maintabmenu').children('li:nth-child(2)').addClass('current')
  });

-if notice.present?
  .notification.msgsuccess
    %a.close
    %p#notice= notice
%div{"class" => "dataTables_wrapper", "id" => "list-prdcode"}
  %div.contenttitle
    %h2.general
      %span
        = I18n.t('view.product.promotion.codes.title_list')
  %div{"id" => "dyntable_length", "class" => "dataTables_length"}
    %a{"href" => "/promotion_codes/new"}
      %button{"class" => "stdbtn"}
        = I18n.t('common.new')
    %a{"href" => "/promotion_codes/mass_insert", "id" => "btn-mass-insert"}
      %button{"class" => "stdbtn"}
        = I18n.t('promotion_code.mass_insert')
    %a{"href" => "#", "id" => "btn-delete"}
      %button{"class" => "stdbtn"}
        = I18n.t('common.delete')
  %div{"class" => "dataTables_filter", "id" => "dyntable_filter"}
    %div{"class" => "search-select"}
      %div
        = I18n.t('view.product.promotion.codes.code_id')
      %span{"class" => "triangle"}
      %select{"class" => "search-content"}
        %option{"selected" => "selected", "value" => "product_promotion_code_id"}
          = I18n.t('view.product.promotion.codes.code_id')
    %div{"class" => "btn-search"}
    %input{"type" => "text", "id" => "promo-search", "placeholder" => "type something...."}
  %div.table-wrapper-content
    %table{"class" => "stdtable stdtablecb", "id" => "list-procodes"}
      %thead
        %th.head0.width64
          %input{"type" => "checkbox", "class" => "checkall"}
        %th.head1
          = I18n.t('active_record.promotion_code.product_promotion_code_id')
        %th.head0
          = I18n.t('active_record.promotion_code.user_entered')
        %th.head1
          = I18n.t('active_record.promotion_code.require_email_or_party')
        %th.head0
          = I18n.t('active_record.promotion_code.use_limit_per_code')
        %th.head1
          = I18n.t('active_record.promotion_code.use_limit_per_customer')
        %th.head0
          = I18n.t('active_record.promotion_code.from_date')
        %th.head1
          = I18n.t('active_record.promotion_code.thru_date')
        %th.head0
          = I18n.t('common.created_at')
        %th.head1
          = I18n.t('active_record.promotion_code.created_by_user_login')
        %th.head0
          = I18n.t('common.last_modified')
        %th.head1
          = I18n.t('active_record.promotion_code.last_modified_by_user_login')
      %tbody
        - @promotion_codes.each do |promotion|
          %tr{"id" => "proid-"+promotion.id.to_s, "ref" => edit_promotion_code_path(promotion)}
            %td.center
              %span
                %input{"type" => "checkbox"}
            %td.wrap-content
              %span
                = promotion.product_promotion_code_id
            %td
              %span
                = promotion.user_entered
            %td
              %span
                = promotion.require_email_or_party
            %td
              %span
                = promotion.use_limit_per_code
            %td
              %span
                = promotion.use_limit_per_customer
            %td.wrap-content
              %span
                = promotion.from_date.presence || 'null'
            %td.wrap-content
              %span
                = promotion.thru_date.presence || 'null'
            %td.wrap-content
              %span
                = promotion.created_at.presence || 'null'
            %td
              %span
                = promotion.created_by_user_login.email
            %td.wrap-content
              %span
                = promotion.updated_at.presence || 'null'
            %td
              %span
                = promotion.last_modified_by_user_login.email
  %div{"class" => "dataTables_paginate paging_full_numbers"}
    %label{"style" => "float: left"}
      Show
      %select{"size" => 1, "name" => "dyntable_length", "id" => "promotions-per-page"}
        - @nums = [10, 25, 50, 100]
        - @nums.each do |num|
          - if session[:promo_page].to_i == num
            %option{"value" => num, "selected" => "selected"}
              = num
          - if session[:promo_page].to_i != num
            %option{"value" => num}
              = num
    %div{"id" => "dyntable_paginate"}
      - @pages = (@total.to_f / session[:promo_page].to_f).ceil
      - if @pages > 1
        %span{"class" => "first paginate_button", "id" => "dyntable_first"}
          = I18n.t('common.first')
        %span{"class" => "previous paginate_button", "id" => "dyntable_previous"}
          = I18n.t('common.previous')
        %span{"class" => "paginate-body"}
          %span.paginate-body-inner
            - @pages.times do |page|
              - page = page + 1
              - if page == 1
                %span.paginate_active
                  = page
              - if page != 1
                %span.paginate_button
                  = page
        %span{"class" => "next paginate_button", "id" => "dyntable_next"}
          = I18n.t('common.next')
        %span{"class" => "last paginate_button", "id" => "dyntable_last"}
          = I18n.t('common.last')