:javascript
  $(document).ready(function(){
    $('ul.maintabmenu').children('li').removeClass('current')
    $('ul.maintabmenu').children('li:nth-child(2)').addClass('current')
  });
%div{"id" => "cpc-massinsert"}
  %div#messageBox.errorMessage.notification
    %a.close
  - flash.each do |key, value|
    %div{"class" => "notification msgsuccess"}
      %a.close
      = content_tag(:p, value)
  %div.contenttitle
    %h2.general
      %span
        = I18n.t('view.product.promotion.codes.mass_insert.title_insert')
  %form{"id" => "pc-massinsert", "class" => "stdform stdform2", "method" => "post", "action" => "/promotion_codes/mass_insert"}
    %p
      %label
        = I18n.t('view.product.promotion.codes.mass_insert.quantity')
      %span.field
        %input{"type" => "text", "class" => "longinput", "name" => "quantity"}
    %p
      %label
        = I18n.t('view.product.promotion.codes.mass_insert.code_length')
      %span.field
        %input{"type" => "text", "class" => "longinput", "name" => "code_length"}
    %p
      %label
        = I18n.t('view.product.promotion.codes.mass_insert.code_layout')
      %span.field
        %select{"name" => "code_layout"}
          %option{"value" => "smart"} Smart
          %option{"value" => "normal", "selected" => "selected"} Normal
          %option{"value" => "sequence"} Sequence
    %p
      %label
        = I18n.t('view.product.promotion.codes.mass_insert.characteristics')
      %span.formwrapper.field
        %span.checkbox
          %input{"type" => "checkbox", "name" => "user_entered"}
        = I18n.t('active_record.promotion_code.user_entered')
        %span.checkbox
          %input{"type" => "checkbox", "name" => "require"}
        = I18n.t('active_record.promotion_code.require_email_or_party')
    %p
      %label
        = I18n.t('active_record.promotion_code.use_limit_per_code')
      %span.field
        %input{"type" => "text", "class" => "longinput", "name" => "limit_per_code"}
    %p
      %label
        = I18n.t('active_record.promotion_code.use_limit_per_customer')
      %span.field
        %input{"type" => "text", "class" => "longinput", "name" => "limit_per_customer"}
    %p.stdformbutton
      %button{"class" => "btn btn-small"}
        = I18n.t('common.generate')
