<div class="inner">	
	<header class="page-header no-border">
		<h1>All Customer PO's</h1>
		<div class="pagination">
			<em><strong>1 - 10</strong> of <strong>10</strong> SO's</em>
			<a href="#" class="btn btn-primary btn-small"><i class="icon-arrow-left-pink"></i></a>
			<a href="#" class="btn btn-primary btn-small"><i class="icon-arrow-right-pink"></i></a>
		</div>
		<div id="products-grid-search">
			<!-- <input type="text" placeholder="Search SO's">
			<input type="button" value="Go" class="icon-search"> -->
			<%= form_tag all_factories_path, method: "GET" do %>
			<%= text_field_tag "search_order", nil, :placeholder => "Search PO's" %>
			<%= submit_tag "", class: "icon-search" %>
			<% end %>
		</div>
	</header>

	<table class="orders-table">
		<thead>
			<tr>
				<th class="cell-customer"><a href="#">Factory<i class="icon-sort"></i></a></th>
				<th class="cell-po"><a href="#">PO# <i class="icon-sort"></i></a></th>
				<th class="cell-date sort-active"><a href="#">Order Date <i class="icon-sort icon-sort-active"></i></a></th>
				<th class="cell-items"><a href="#">Total Items <i class="icon-sort"></i></a></th>
				<th class="cell-total"><a href="#">Order Total <i class="icon-sort"></i></a></th>
				<th class="cell-balance"><a href="#">Remaining Balance <i class="icon-sort"></i></a></th>
				<th class="cell-status"><a href="#">Status <i class="icon-sort"></i></a></th>
			</tr>
		</thead>
		<tbody>
			<% @factories.each do |factory| %>
			<tr>
				<td class="cell-customer"><span> <%= factory_name(factory) %> </span></td>
				<td class="cell-po"><span><a href="#"><%= factory.order_id %></a></span></td>
				<td class="cell-date"><span><%= factory.entry_date.to_date %></span></td>
				<td class="cell-items"><span>TODO</span></td>
				<td class="cell-total"><span><%= factory.grand_total.round(2) %></span></td>
				<td class="cell-balance"><span><%= factory.remaining_sub_total.round(2) %></span></td>
				<td class="cell-status"><span><%= order_item_status(factory.status_id) rescue nil %></span></td>
			</tr>
			<% end %>							
		</tbody>
	</table>

	<footer class="page-footer">
		<div class="pagination">
			<em><strong>1 - 10</strong> of <strong>10</strong> PO's</em>
			<a href="#" class="btn btn-primary btn-small"><i class="icon-arrow-left-pink"></i></a>
			<a href="#" class="btn btn-primary btn-small"><i class="icon-arrow-right-pink"></i></a>
		</div>
	</footer>

</div>
