.header.radius3
  .headerinner
    %a{:href => ""}
      %img{:alt => "", :src => "/assets/logo-small.png"}
  - if user_signed_in?
    .headright
      #userPanel.headercolumn
        %a.userinfo.radius2{:href => ""}
          %img.radius2{:alt => "", :src => "/assets/starlight/avatar.png"}
          %span
            %strong #{current_user.email}
        .userdrop
          %ul
            %li
              #{link_to "Log Out", destroy_user_session_path, method: :delete}
