%ul.subnav
	%li.selected
		%a{:href => "/facility/control/EditFacility", :class => "buttontext"}
			Facility
		%a{:href => "/facility/control/FacilityChildren", :class => "buttontext"}
			Children
		%a{:href => "/facility/control/ViewContactMechs", :class => "buttontext"}
			ContactMechs
		%a{:href => "/facility/control/EditFacilityGroups", :class => "buttontext"}
			Groups
		%a{:href => "/facility/control/FindFacilityLocation", :class => "buttontext"}
			Locations
		%a{:href => "/facility/control/EditFacilityParties", :class => "buttontext"}
			Role(s)
		%a{:href => "/facility/control/ViewFacilityInventoryByProduct", :class => "buttontext"}
			Inventory
		%a{:href => "/facility/control/EditFacilityInventoryItems", :class => "buttontext"}
			Inventory Items
		%a{:href => "/facility/control/ViewFacilityInventoryItemsDetails", :class => "buttontext"}
			Inventory Items Details
		%a{:href => "/facility/control/ReceiveInventory", :class => "buttontext"}
			Receive Inventory
		%a{:href => "/facility/control/FindFacilityPhysicalInventory", :class => "buttontext"}
			Physical Inventory
		%a{:href => "/facility/control/FindFacilityTransfers", :class => "buttontext"}
			Inventory Xfers
		%a{:href => "/facility/control/ReceiveReturn", :class => "buttontext"}
			Receive Return
		%a{:href => "/facility/control/PicklistOptions", :class => "buttontext"}
			Picking
		%a{:href => "/facility/control/PickMoveStock", :class => "buttontext"}
			Stock Moves
			
		%a{:href => "/facility/control/PicklistManage", :class => "buttontext"}
			Manage Picklists
		%a{:href => "/facility/control/VerifyPick", :class => "buttontext"}
			Verify Pick
		%a{:href => "/facility/control/PackOrder", :class => "buttontext"}
			Packing
		%a{:href => "/facility/control/Scheduling", :class => "buttontext"}
			Scheduling
		%a{:href => "/facility/control/FindShipment", :class => "buttontext"}
			Incoming Shipments
		%a{:href => "/facility/control/FindShipment", :class => "buttontext"}
			Outgoing Shipments
		%a{:href => "/facility/control/EditFacilityContent", :class => "buttontext"}
			Content
		%a{:href => "/facility/control/EditFacilityGeoPoint", :class => "buttontext"}
			Geo Location
%br{:clear => "all"}
.content
	.contenttitle
		%h2.form 
			%span
				Edit Facility [#{@facility.id}]
			%br{:clear => "all"}
			%a{:href => "/facility/control/EditFacility", :class => "buttontext2"}
				New Facility
			%a{:href => "/workeffort/control/calendar", :class => "buttontext2"}
				View Calendar
			%br{:clear => "all"}
			= form_for @facility, :url => "UpdateFacility", :html => {:name => "EditFacilityForm", :class => "stdform", :method => "post"} do |f|
				= f.hidden_field :id, :value => @facility.id
				%p
					%label
						Facility ID
					%span.field
						= @facility.id
						%em
							This cannot be changed without re-creating the facility
				%p
					%label
						Facility Type ID
					%span.field
						= select_tag :facility_type_enum_id, options_from_collection_for_select(get_all_facility_types(), "id", "name", @facility.facility_type_enum_id)
				%p
					%label
						Parent Facility Id
					%span.field
						= f.text_field :parent_facility_id
				%p
					%label
						Owner
					%span.field
						= f.text_field :owner_party_id
				%p
					%label
						Default Weight Unit
					%span.field
						= select_tag :weight_uom_id, options_from_collection_for_select(get_all_weight_types(), "id", "name",@facility.weight_unit)
				%p
					%label
						Default Inventory Item Type
					%span.field
						= select_tag :inventory_item_type_id, options_from_collection_for_select(get_all_inventory_types(), "id", "name",@facility.inventory_type)
				%p
					%label
						Name
					%span.field
						= f.text_field :facility_name
				%p
					%label
						Area
					%span.field
						= f.text_field :facility_size
				%p
					%label
						Area Unit
					%span.field
						= select_tag :inventory_item_type_id, options_from_collection_for_select(get_all_facility_size_uom(), "id", "name",@facility.facility_size_unit)
				%p
					%label
						Product Description
					%span.field
						= f.text_field :description
				%p
					%label
						Default Days To Ship
					%span.field
						= f.text_field :closed_date
				%p
					= f.submit "Update"