.content
	%h4
		Edit Facility Inventory Items for #{@facility.typename} [#{@facility.id}]
	%ul.subnav
		%li
			%a{:href => "/facility/control/EditFacility", :class => "buttontext2"}
				New Facility
		%li
			%a{:href => "/facility/control/EditInventoryItem?facilityId=#{@facility.id}", :class => "buttontext2"}
				New Inventory Item
		%li
			%a{:href => "/facility/control/SearchInventoryItemsByLabels?facilityId=#{@facility.id}", :class => "buttontext2"}
				Search by Labels
	%br{:clear => "all"}
	.content
		.contenttitle
			%h2.form
				%span
					Search Options
		%br{:clear => "all"}
		= form_for @facility, :url => "facility/control/UpdateFacility", :html => {:name => "EditFacilityForm", :class => "stdform", :method => "post"} do |f|
			%p
				%label
					Facility ID
				%span.field
					= @facility.id
				%p
					%label
						Date Time Received
					%span.field
						%input{:type => "text", :id => "from_date", :name => "fromt_date" }
						%select{:name => "datetimeReceived"}
							%option{:value => "equals"} Equals
							%option{:value => "greaterThanFromDayStart"} Greater Than From Day Start
						%input{:type => "text", :id => "to_date", :name => "to_date" }
						%select{:name => "datetimeReceived_f1d1_op"}
							%option{:value => "opLessThan"} Less Than
							%option{:value => "upToDay"} Up To Day
							%option{:value => "upThruDay"} Up Through Day
							%option{:value => "empty"} Is Empty
				%p
					%label
						Product ID
					%span.field
						%select{:name => "productId_op"}
							%option{:value => "contains"} Contains
							%option{:value => "notEqual"}	Not Equal
					%input{ :type => "text", :name => "productID", :id => "productID" }
					%input{ :type=>"checkbox", :name=>"product_ignore", :id => "product_ignore"}
				%p
					%label
						Internal Name
					%span.field
						%select{:name => "internalName", :id => "internalName", :class => "selectBox"}
							%option{:value => "contains"} Contains
							%option{:value => "notEqual"} Not Equal
						   = f.text_field :facility_name
							%input{ :type=>"checkbox", :name=>"internal_ignore", :id => "internal_ignore"}
				%p
					%label
						Inventory Item Id
					%span.field
						%select{:name => "product_store_id", :class => "selectBox"}
							%option{:value => "contains"} Contains
							%option{:value => "notEqual"} Not Equal
						%input{ :type => "text", :name => "inventoryID", :id => "inventoryID" }
						%input{ :type=>"checkbox", :name=>"inventory_ignore", :id => "inventory_ignore"}
				%p
					%label
						Status ID
					%span.field
						%select{:name => "statusId"}
				%p
					%label
						Serial Number
					%span.field
						%select{ :name => "productId_op", :class => "selectBox" }
							%option{ :value => "contains" } Contains
							%option{ :value => "notEqual" } Not Equal
						/ = f.text_field
						{checkbox}
				%p
					%label
						Soft Identifier
					%span.field
						/ = f.text_field
				%p
					%label
						Manufacturer Party Id
					%span.field
						/ = f.text_field
				%p
					%label
						Lot Id
					%span.field
						/ = f.text_field
				%p
					%span.field
						/ = f.submit
			%br{:clear => "all"}
			.content
				.contenttitle
					%h2.form
						%span
							Search Results
				%br{:clear => "all"}
				%ul.page
					%li
						First
					%li
						Previous
					%li
						%select
							%option{:value => "1"} 1
					%li
						%a
							Next
						%a
							Last
					%li
						%select{:name => "pageSize"}
							%option{:value => "50"} 50
							%option{:value => "20"} 20
							%option{:value => "30"} 30
							%option{:value => "50"} 50
							%option{:value => "100"} 100
							%option{:value => "200"} 200
						Items per page
					%li
						Displaying 1 - 50 of 1,759
				%br{:clear => "all"}
				%table.stdtable
					%thead
						%tr
							%th.head1
								Inventory Item Id
							%th.head1
								InventoryItem Type ID
							%th.head1
								Status ID
							%th.head1
								Date Time Received
							%th.head1
								Expire Date
							%th.head1
								Product Id
							%th.head1
								Internal Name
							%th.head1
								Party Id
							%th.head1
								Location Seq Id
							%th.head1
								Type
							%th.head1
								Lot Id
							%th.head1
								Bin Number
							%th.head1
								Serial Number
							%th.head1
								Soft Identifier
							%th.head1
								Quantity On Hand Total
							%th.head1
								Transfer
					%tr
						%td
							%a{:class => "buttontext", :title => "Inventory Item Id"}
								11113
						%td
							Non-Serialized
						%td
							Defective (Non-Serialized)
						%td
							2012-04-03 09:22:06.062
						%td
							BG001-0108
						%td
							Deep Red Windy Rose
						%td
							%a{:class => "buttontext", :title => "Location Seq Id"}
								":::: []"
						%td
							0 / 0
						%td
							%a{:class => "buttontext", :title => "Transfer" }
								Transfer
				%br{:clear => "all"}
				%ul.page
					%li
						First
					%li
						Previous
					%li
						%select
							%option{:value => "1"} 1
					%li
						%a
							Next
						%a
							Last
					%li
						%select{:name => "pageSize"}
							%option{:value => "50"} 50
							%option{:value => "20"} 20
							%option{:value => "30"} 30
							%option{:value => "50"} 50
							%option{:value => "100"} 100
							%option{:value => "200"} 200
						Items per page
					%li
						Displaying 1 - 50 of 1,759
						