%div#facility-main
	%a{:href => "/facility/control/EditFacility",:class => "buttontext2 create"}
		Create New Facility
	%br{:clear => "all"}
	%br{:clear => "all"}
	.content
		.contenttitle
			%h2{:class => "form"}
				%span
					Facility Selection
		%br
		%form{:action => "/facility/control/EditFacility", :method => "post", :name => "FindFacility", :id => "FindFacility", :class => "basic-form"}
			%p
				%label
					%span
						Facility ID
				%span.field
					= select_tag "id", options_from_collection_for_select(@facility_names, "id", "facility_name")
			%input{ :type => "submit" }