%div#main.admin-customers
	%div#brand-logo
	.inner
		%header{:class => 'page-header no-border'}
			%h1
				All Customers
		%header#products-header{:class => 'page-header'}
			%div#product-header-filter-container
				%h5
					%span{:class => 'item-total txt-alert'}
						200
					Customers
				%ul.filter
					%li
						Bike Co-Op
					%i.icon-filter-arrow
					%ul.categories
						%li
							All
						%li
							Sierra Pacific Crafts
						%li
							Nemeon
						%li
							Fashion Accessories
				%ul.pagination
					%em
						- if customers.count != 0
							%strong{:class => 'firstindex'}= first_index.to_s
							= '-'
							%strong{:class => 'lastindex'}= last_index.to_s
						- else
							%strong
								0
						of
						%strong= rows_count
						&nbsp;&nbsp;Customers
						- if first_index === 1
							%a{:class => 'btn btn-primary btn-small previous disabled'}
								%i.icon-arrow-left-pink
						- else
							%a{:class => 'btn btn-primary btn-small previous'}
								%i.icon-arrow-left-pink
						- if last_index === rows_count
							%a{:class => 'btn btn-primary btn-small next disabled'}
								%i.icon-arrow-right-pink
						- else
							%a{:class => 'btn btn-primary btn-small next'}
								%i.icon-arrow-right-pink
			%div#products-grid-search
				%input{:type=>'text', :class => 'search_text', :placeholder => 'Search Customers', :value => "#{searchvalue}"}
				%input{:type=>'button', :value => 'Go', :class => 'icon-search go_search'}
				%input{:type=>'hidden', :value => '#{issearch}', :class => 'issearch'}
			
		%table.orders-table
			%thead
				%tr
					%th{:class => 'cell-customer sort-active'}
						Customer
					%th{:class => 'cell-market'}
						Marketplace
					%th{:class => 'cell-store'}
						Store
					%th{:class => 'cell-email'}
						Email
					%th{:class => 'cell-address'}
						Address
					%th{:class => 'cell-phone'}
						Phone
					%th{:class => 'cell-total'}
						Total Ordered
			- customers.each do |customer|
				%tbody
					%tr
						%td.cell-customer
							= customer[:customer_name]
						%td.cell-market
							= customer[:marketplace]
						%td.cell-store
							= customer[:store]
						%td.cell-email
							= customer[:email]
						%td.cell-:objectaddress
							= customer[:address]
						%td.cell-phone
							= customer[:phone]
						%td.cell-total
							= customer[:total_ordered]
		%footer.page-footer
			.pagination
				%em
					%strong
					- if customers.count != 0
						= first_index.to_s + '-' + last_index.to_s
					- else
						0
					of				
					%strong= rows_count
					&nbsp;&nbsp;Customers
					- if first_index === 1
						%a{:class => 'btn btn-primary btn-small previous disabled'}
							%i.icon-arrow-left-pink
					- else
						%a{:class => 'btn btn-primary btn-small previous'}
							%i.icon-arrow-left-pink
					- if last_index === rows_count
						%a{:class => 'btn btn-primary btn-small next disabled'}
							%i.icon-arrow-right-pink
					- else
						%a{:class => 'btn btn-primary btn-small next'}
							%i.icon-arrow-right-pink