<div id="customer" class="inner admin-customer-detail" >
   <header class="page-header">
      <p></p>
      <div class="nav-left"><a href="#"><i class="icon-arrow-left"></i> ALL CUSTOMERS</a></div>
   </header>
   <div class="panel">
      <header class="panel-header">
         <div class="field"><ul><li><h3>Account 21942</h3>&nbsp;&nbsp;&nbsp;&nbsp;</li><li><h3>Jane Smith</h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li><li><a href="#" class="btn btn-primary btn-small">Login As This Customer</a></li></ul></div>
      </header>
      <hr />
      <div id="account-info" class="clearfix">
         <ul>
            <li>
               <h6>Account Category</h6>
               <a href="#">Change This</a>
               <p>Fashion</p>
            </li>
            <li>
               <h6>Available Credit Limit</h6>
               <a href="#">Change This</a>
               <p>$1,000</p>
            </li>
            <li>
               <h6>Total Orders</h6>
               <a href="#">View Order History</a>
               <p>32</p>
            </li>
            <li>
               <h6>Revenue</h6>
               <p>$5000</p>
            </li>
            <li>
               <h6>Member Since</h6>
               <a href="#">Close My Account</a>
               <p>8/12</p>
            </li>
         </ul>
      </div>
   </div>
<!----------   TABS START   ---------->
<div id="tabs">   
   <ul class="etabs"> 
      <li><a href="#account">Account Setting</a></li> 
      <li><a href="#billing">Billing Info</a></li> 
      <li><a href="#shipping">Shipping Info</a></li>
      <li><a href="#additional">Additional Info</a></li> 
   </ul>
   
   <div id="account" class="clearfix" style="display:block;">
      <div class="panel">
         <div class="">
            <header class="panel-header">
               <h3>Basic Customers Info</h3>
               <nav>
                  <ul>
                     <li><a href="#" class="btn btn-small btn-danger save">Save Changes</a></li>
                     <li><a href="#" class="btn-small-link cancel">Cancel</a></li>
                  </ul>
               </nav>
            </header>
            <hr />
            <div id="my-profile" class="panel-content">
               <div class="sub-panel push-left">
               <h6>Account Info</h6>
               <div class="info">
                  <div class="field"><sup>Username</sup><input type="text" value="jane22@teaseboutique.com" class="input-email-1" /></div>
                  <div class="field"><sup>Password</sup><input type="password" value="123456" class="input-pass" /></div>
                  <div class="field"><sup>Password</sup><input type="password" value="123123" class="input-pass-confirm" /></div>
               </div>
               <hr />
               <h6>Personal Info</h6>
               <div class="info">
               
                  <div class="field"><sup>Contact Name</sup><input type="text" value="Jane Smith" class="input-name-1" /></div>
                  <div class="field"><sup>Position</sup><input type="text" value="Store Owner" class="input-name-2" /></div>
                  <div class="field"><sup>Phone Number</sup>+ <input type="text" value="" maxlength="4" class="input-phone-2" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="555" maxlength="3" class="input-phone-1" /> <input type="text" value="555" maxlength="3" class="input-phone-1" /> <input type="text" value="1234" maxlength="4" class="input-phone-2" /></div>
                  <div class="field"><sup>E-mail</sup><input type="text" value="janehandbags@gmail.com" class="input-email-2" /></div>
               </div>
               </div>
               <div class="sub-panel push-right">
               <h6>Business Info</h6>
               <div class="info">
                  <address>
                     <div class="field"><sup>Company</sup><input type="text" value="Handbag International, Inc." class="input-address-1" /></div>
                     <div class="field"><sup>Address</sup><input type="text" value="P.O. Box 7007" /></div>
                     <div class="field">
                        <ul>
                        <li>
                        <sup>City</sup><input type="text" id="" value="San Diego" placeholder="City" class="input-w80"> 
                        </li>
                        <li>
                        <sup>State</sup><div class="select-state">
                           <select class="input-select-state">
                              <option value=""></option>
                              <option value="CA" selected>CA</option>
                              <option value="AL">AL</option>
                              <option value="AB">AB</option>
                              <option value="AA">AA</option>
                           </select>
                        </div>
                        </li>
                        <li>
                        <sup>Zip Code</sup><input type="text" id="" value="92101" placeholder="Zip" maxlength="5" class="input-zip"> 
                        </li>
                        </ul>
                     </div>
                     <div class="field">
                     <sup>Country</sup>
                     <div class="select-cc-type">
                        <select class="input-select-state" style="opacity: 100;">
                           <option value="" selected="">Country</option>
                           <option value="US">United States</option>
                           <option value="CN">China</option>
                        </select>
                     </div>
                     </div>
                     <div class="field"><sup>Phone Number</sup>+ <input type="text" value="" maxlength="4" class="input-phone-2" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="800" maxlength="3" class="input-phones-1" /> <input type="text" value="555" maxlength="3" class="input-phones-1" /> <input type="text" value="1234" maxlength="4" class="input-phones-2" /></div>
                     <div class="field"><sup>Website</sup><input type="text" value="HandBagsInternational.com" class="input-site" /></div>
                  </address>
               </div>
               <p>&nbsp;</p>
               <p>&nbsp;</p>
               <br>
               </div>
            </div>
         </div>
      </div>
   </div>

<!--------------existing account settings----------------->
<div id="billing" style="display:none;">
   <div style="margin-top:30px;">
      <a href="#" class="btn btn-primary btn-small" id="add-card"><i class="icon-add"></i> Add a new card</a>
      <a href="#" class="btn btn-primary btn-small" id="add-account"><i class="icon-add"></i> Add a new bank account</a>
   </div>
   
<div class="panel baccount hidden">
   <!-- add state -->
   <div class="panel-edit">
   <header class="panel-header">
      <h3>E-CHECK</h3>
      <nav>
      <ul>
      <li>
         <a class="btn btn-small btn-danger save" href="#">Submit</a>
      </li>
      <li>
         <a class="btn-small-link cancel" href="#">Cancel</a>
      </li>
      </ul>
   </nav>  
   </header>
    <hr />
    <div class="panel-content">
      <div class="sub-panel push-left">
        <h4>Bank Account Details</h4>
        <fieldset>
          <div class="field">
            <div class="select-ba-type">
              <select class="input-ba-type">
                <option selected>Checking</option>
                <option>Business Checking</option>
                <option>Savings</option>
              </select>
            </div>
          </div>       
          <div class="field">
            <input maxlength="50" type="text" id="" value="" placeholder="Bank Name" tabindex="1"><i class="icon-tooltip"><h6>Title Goes Here</h6><p>Lorem ipsum dolor amet message goes here.</p></i>
          </div>    
          <div class="field">
            <input maxlength="20" type="text" id="account-number" value="" placeholder="Account Number" tabindex="3"><i class="icon-tooltip"><h6>Title Goes Here</h6><p>Lorem ipsum dolor amet message goes here.</p></i>
          </div>
          <div class="field">
            <input maxlength="9" type="text" id="routing-number" value="" placeholder="ABA Routing Number" tabindex="5"><i class="icon-tooltip"><h6>Title Goes Here</h6><p>Lorem ipsum dolor amet message goes here.</p></i>
          </div>   
          <div class="field">
            <i class="icon-alert hidden"></i>
            <input id="auto-check" type="checkbox" tabindex="7">
            <div class="bank-authorize">I authorize OrderWithMe to charge my bank account and I have read and agreed to the <a href="#">Terms & Conditions</a></div>
          </div>  
        </fieldset>             
      </div>
      <div class="sub-panel push-right">       
        <fieldset>
          <div class="field">
            <div class="primary-paying-method">
              <label class="radio">
                <input type="radio" name="primary-paying-method" checked /> Make this my primary payment method
              </label>
            </div>
          </div>       
          <div class="field">
            <input maxlength="50" type="text" id="" value="" placeholder="Name on Account" tabindex="2"><i class="icon-tooltip"><h6>Title Goes Here</h6><p>Lorem ipsum dolor amet message goes here.</p></i>
          </div>    
          <div class="field">
            <input type="text" maxlength="20" id="confirm-account-number" value="" placeholder="Confirm Account Number" tabindex="4">
          </div>
          <div class="field">
            <input type="text" maxlength="9" id="confirm-routing-number" value="" placeholder="Confirm ABA Routing Number" tabindex="6">
          </div>   
          <div class="field">
            <div class="auto-logo"><!-- (c) 2005, 2012. Authorize.Net is a registered trademark of CyberSource Corporation --> <div class="AuthorizeNetSeal"> <script type="text/javascript" language="javascript">var ANS_customer_id="0bbe91a1-b74d-48f1-8b37-cea6038c983d";</script><a href="http://www.authorize.net/" id="AuthorizeNetText" target="_blank">Online Payment Solution</a> </div></div>
            <div class="auto-net">Authorize.net uses the latest 128-bit Secure Socket Layer (SSL) technology for secure Internet Protocol (IP) transactions.</div>
          </div>  
        </fieldset>
      </div>
    </div>
     </div>
     <!-- end add state -->
     
     <!-- view state 1 -->
  <div class="panel-view state1 hidden">
    <header class="panel-header">
      <h3>E-CHECK</h3>
    </header>
    <hr />
    <div class="panel-content">
      <div class="sub-panel push-left">
        <h4>Bank Account Details</h4>
        <p>
          Business Checking Account<br />
          Union Bank of America<br />
          Tease Boutique<br />
          <strong>Account</strong> XXXX 9999<br />
          <strong>ABA Routing</strong> 122000496
        </p>
      </div>
      <div class="sub-panel push-right">       
        <p>
          <span class="subtitle">ABA Routing</span>
          You will see a small charge on your bank statement from the amount of $0.00. from OrderWithMe in order to verify your account. <strong>Questions?</strong> please visit our <a href="#">FAQs</a> page or call us at <strong>1-800-555-1234.</strong>
        </p>
      </div>
    </div>
  </div>
  <!-- end view state 1 -->
  
  <!-- view state 2 -->
  <div class="panel-view state2 hidden">
    <header class="panel-header">
      <h3>E-CHECK</h3>
    </header>
    <hr />
    <div class="panel-content">
      <div class="sub-panel push-left">
        <h4>Bank Account Details</h4>
        <p>
          Business Checking Account<br />
          Union Bank of America<br />
          Tease Boutique<br />
          <strong>Account</strong> XXXX 9999<br />
          <strong>ABA Routing</strong> 122000496
        </p>
      </div>
      <div class="sub-panel push-right">       
        <p>
          <span class="subtitle">Authorized Payment Method</span>
          As of September 7, 2012, this payment authorization is valid and to remain in effect until you notify OrderWithMe of its cancellation by calling <strong>1-800-555-1234.</strong>
        </p>
      </div>
    </div>
  </div>
  <!-- end view state 2 -->
     
   </div>
   <!-- end existing accounts -->
   
   
   <!-- existing cards -->
   <div class="panel ccard">
      
      <!-- view state -->
      <div class="panel-view">
         <header class="panel-header">
            <h3><img src="assets/img/backroom/ico_cc-visa.png" /> <span class="txt-light cc-hide">XXXX XXXX XXXX</span> <span class="cc-number">0101</span></h3>
            <nav>
               <ul>
                  <li><a href="#" class="btn btn-small delete"><i class="icon-delete"></i> Delete</a></li>
                  <li><a href="#" class="btn btn-small edit"><i class="icon-pencil"></i> Edit Card</a></li>
               </ul>
            </nav>
         </header>
         <hr />
         <div class="panel-content">
            <div class="sub-panel push-left">
               <h4>Card Details</h4>
               <p>
                  Mr. John W. Smith Jr.<br>
                  <strong>Visa</strong> XXXX XXXX XXXX <strong>0101</strong><br />
                  <strong>Exp.</strong> <strong><span class="txt-alert">02/2014</span></strong>
                  <div class="msg-alert">
                     <i class="icon-alert"></i> <em>Uh oh! Your card has expired. Please update your info.</em>
                  </div>
               <p></p>
               <p>
                  <strong>Card Description:</strong><br>
                  Main business card
               </p>
            </div>
            <div class="sub-panel push-right">
               <h4>Billing Address</h4>
               <address>
                  1234 Main Street<br>
                  Unit 222<br>
                  San Francisco, CA 90000
               </address>
               <div class="primary-credit-card">
                  <i class="icon-card"></i> <em>This is my primary credit card</em>
               </div>
            </div>
         </div>
      </div>
      <!-- end view state -->
      
      <!-- edit state -->
      <div class="panel-edit hidden">
         <header class="panel-header">
            <h3><img src="assets/img/backroom/ico_cc-visa.png" /> <span class="txt-light cc-hide">XXXX XXXX XXXX</span> <span class="cc-number">0101</span></h3>
            <nav>
               <ul>
                  <li><a href="#" class="btn btn-small btn-danger save">Save Changes</a></li>
                  <li><a href="#" class="btn-small-link cancel">Cancel</a></li>
               </ul>
            </nav>
         </header>
         <hr />
         <div class="panel-content">
            <div class="sub-panel push-left">
               <h4>Card Details</h4>
               <fieldset>
                  <div class="field">
                     <input class="input-cc-full-name" type="text" value="Mr. John W. Smith Jr." id="" placeholder="Full name on card" tabindex="1">
                  </div>
                  <div class="field">
                     <div class="select-cc-month">
                        <select class="input-cc-month" tabindex="2">
                           <option>01</option>
                           <option selected>02</option>
                           <option>03</option>
                           <option>04</option>
                           <option>05</option>
                           <option>06</option>
                           <option>07</option>
                           <option>08</option>
                           <option>09</option>
                           <option>10</option>
                           <option>11</option>
                           <option>12</option>
                        </select>
                     </div>
                     <div class="select-cc-year">
                        <select class="input-cc-year" tabindex="3">
                           <option selected>2012</option>
                           <option>2013</option>
                           <option>2014</option>
                           <option>2015</option>
                        </select>
                     </div>
                  </div>
                  <div class="field">
                     <label for=""><strong>Card Description:</strong></label>
                     <input type="text" id="" value="Main business card" placeholder="" tabindex="4">
                  </div>
               </fieldset>
            </div>
            <div class="sub-panel push-right">
               <h4>Billing Address</h4>
               <fieldset>
                  <div class="field">
                     <input type="text" id="" value="1234 Main St." placeholder="Address 1" class="input-cc-address-1" tabindex="5">
                  </div>
                  <div class="field">
                     <input type="text" id="" value="Unit 222" placeholder="Address 2" tabindex="6">
                  </div>
                  <div class="field">
                     <input type="text" id="" value="San Francisco" placeholder="City" class="input-city" tabindex="7"> 
                     <div class="select-state">
                        <select class="input-select-state" tabindex="8">
                           <option value=""></option>
                           <option value="CA" selected>CA</option>
                           <option value="AL">AL</option>
                           <option value="AB">AB</option>
                           <option value="AA">AA</option>
                        </select>
                     </div>
                     <input type="text" id="" value="90000" maxlength="5" placeholder="Zip" class="input-zip" tabindex="9"> 
                  </div>
                  <div class="field">
                     <div class="select-cc-type">
                        <select class="input-select-state" style="opacity: 0;">
                           <option value="" selected="">Country</option>
                           <option value="US">United States</option>
                           <option value="CN">China</option>
                        </select>
                     </div>
                  </div>
                  
                  <div class="primary-shipping">
                     <label class="radio">
                        <input type="radio" name="primary-billing-address" checked tabindex="10" /> <em>This is my primary billing address</em>
                     </label>
                  </div>
               </fieldset>
            </div>
         </div>
      </div>
      <!-- end edit state -->
      
      <!-- prompt -->
      <div class="panel-prompt hidden">
         <div class="prompt-save hidden">
            <h2>Successfully saved!</h2>
         </div>
         <div class="prompt-delete hidden">
            <h3>Are you sure you want to delete?</h3>
            <div class="btns">
               <a href="#" class="btn btn-small btn-danger btn-yes">Yes</a>
               <a href="#" class="btn btn-small btn-no">No</a>
            </div>
         </div>
      </div>
      <!-- end prompt -->
      
   </div>
   
   <div class="panel ccard">
      
      <!-- view state -->
      <div class="panel-view">
         <header class="panel-header">
            <h3><img src="assets/img/backroom/ico_cc-visa.png" /> <span class="txt-light cc-hide">XXXX XXXX XXXX</span> <span class="cc-number">5678</span></h3>
            <nav>
               <ul>
                  <li><a href="#" class="btn btn-small delete"><i class="icon-delete"></i> Delete</a></li>
                  <li><a href="#" class="btn btn-small edit"><i class="icon-pencil"></i> Edit Card</a></li>
               </ul>
            </nav>
         </header>
         <hr />
         <div class="panel-content">
            <div class="sub-panel push-left">
               <h4>Card Details</h4>
               <p>
                  Mr. John W. Smith Jr.<br>
                  <strong>Visa</strong> XXXX XXXX XXXX <strong>5678</strong><br />
                  <strong>Exp.</strong> <strong>08/2014</strong>
               </p>
               <p>
                  <strong>Card Description:</strong><br>
                  
               </p>
            </div>
            <div class="sub-panel push-right">
               <h4>Billing Address</h4>
               <address>
                  1234 Main Street<br>
                  Unit 222<br>
                  San Francisco, CA 90000
               </address>
            </div>
         </div>
      </div>
      <!-- end view state -->
      
      <!-- edit state -->
      <div class="panel-edit hidden">
         <header class="panel-header">
            <h3><img src="assets/img/backroom/ico_cc-visa.png" /> <span class="txt-light cc-hide">XXXX XXXX XXXX</span> <span class="cc-number">5678</span></h3>
            <nav>
               <ul>
                  <li><a href="#" class="btn btn-small btn-danger save">Save Changes</a></li>
                  <li><a href="#" class="btn-small-link cancel">Cancel</a></li>
               </ul>
            </nav>
         </header>
         <hr />
         <div class="panel-content">
            <div class="sub-panel push-left">
               <h4>Card Details</h4>
               <fieldset>
                  <div class="field">
                     <input type="text" id="" value="Mr. John W. Smith Jr." placeholder="Full name on card" class="input-cc-full-name" tabindex="1">
                  </div>
                  <div class="field">
                     <div class="select-cc-month">
                        <select tabindex="2">
                           <option>01</option>
                           <option>02</option>
                           <option>03</option>
                           <option>04</option>
                           <option>05</option>
                           <option>06</option>
                           <option>07</option>
                           <option selected>08</option>
                           <option>09</option>
                           <option>10</option>
                           <option>11</option>
                           <option>12</option>
                        </select>
                     </div>
                     <div class="select-cc-year">
                        <select tabindex="3">
                           <option>2012</option>
                           <option>2013</option>
                           <option selected>2014</option>
                           <option>2015</option>
                        </select>
                     </div>
                  </div>
                  <div class="field">
                     <label for=""><strong>Card Description:</strong></label>
                     <input type="text" id="" value="" placeholder="" tabindex="4">
                  </div>
               </fieldset>
            </div>
            <div class="sub-panel push-right">
               <h4>Billing Address</h4>
               <fieldset>
                  <div class="field">
                     <input type="text" id="" value="1234 Main Street" placeholder="Address 1" class="input-cc-address-1" tabindex="5">
                  </div>
                  <div class="field">
                     <input type="text" id="" value="Unit 222" placeholder="Address 2" tabindex="6">
                  </div>
                  <div class="field">
                     <input type="text" id="" value="San Francisco" placeholder="City" class="input-city" tabindex="7"> 
                     <div class="select-state">
                        <select class="input-select-state" tabindex="8">
                           <option value=""></option>
                           <option value="CA" selected>CA</option>
                           <option value="AL">AL</option>
                           <option value="AB">AB</option>
                           <option value="AA">AA</option>
                        </select>
                     </div>
                     <input type="text" id="" value="90000" placeholder="Zip" class="input-zip" tabindex="9"> 
                  </div>
                  <div class="field">
                     <div class="select-cc-type">
                        <select class="input-select-state" style="opacity: 0;">
                           <option value="" selected="">Country</option>
                           <option value="US">United States</option>
                           <option value="CN">China</option>
                        </select>
                     </div>
                  </div>
                  <div class="primary-shipping">
                     <label class="radio">
                        <input type="radio" name="primary-billing-address" tabindex="10" /> <em>This is my primary billing address</em>
                     </label>
                  </div>
               </fieldset>
            </div>
         </div>
      </div>
      <!-- end edit state -->
      
      <!-- prompt -->
      <div class="panel-prompt hidden">
         <div class="prompt-save hidden">
            <h2>Successfully saved!</h2>
         </div>
         <div class="prompt-delete hidden">
            <h3>Are you sure you want to delete?</h3>
            <div class="btns">
               <a href="#" class="btn btn-small btn-danger btn-yes">Yes</a>
               <a href="#" class="btn btn-small btn-no">No</a>
            </div>
         </div>
      </div>
      <!-- end prompt -->
      
   </div>
   <!-- end existing cards -->
   
   <!-- new credit card form template -->
   <div class="panel ccard-back hidden">
   
      <!-- view state -->
      <div class="panel-view hidden">
         <header class="panel-header">
            <h3><img src="assets/img/backroom/ico_cc-visa.png" /> <span class="txt-light cc-hide">XXXX XXXX XXXX</span> 0101</h3>
            <nav>
               <ul>
                  <li><a href="#" class="btn btn-small delete"><i class="icon-delete"></i> Delete</a></li>
                  <li><a href="#" class="btn btn-small edit"><i class="icon-pencil"></i> Edit Card</a></li>
               </ul>
            </nav>
         </header>
         <hr />
         <div class="panel-content">
            <div class="sub-panel push-left">
               <h4>Card Details</h4>
               <p>
                  Mr. John W. Smith Jr.<br>
                  <strong>Visa</strong> XXXX XXXX XXXX <strong>0101</strong><br />
                  <strong>Exp.</strong> 02/2014
               </p>
               <p>
                  <strong>Card Description:</strong><br>
                  Main business card
               </p>
            </div>
            <div class="sub-panel push-right">
               <h4>Billing Address</h4>
               <address>
                  1234 Main Street<br>
                  Unit 222<br>
                  San Francisco, CA 90000
               </address>
               <div class="primary-credit-card">
                  <i class="icon-card"></i> <em>This is my primary credit card</em>
               </div>
            </div>
         </div>
      </div>
      <!-- end view state -->
      
      <!-- edit state -->
      <div class="panel-edit">
         <form>
         <header class="panel-header">
            <h3><span class="txt-light cc-hide"></span> <span class="cc-number"></span></h3>
            <nav>
               <ul>
                  <li><a href="#" class="btn btn-small btn-danger save">Save</a></li>
                  <li><a href="#" class="btn-small-link cancel">Cancel</a></li>
               </ul>
            </nav>
         </header>
         <hr />
         <div class="panel-content">
            <div class="sub-panel push-left">
               <h4>Card Details</h4>
               <fieldset>
                  <div class="field">
                     <input type="text" id="" placeholder="Full name on card" class="input-cc-full-name" tabindex="1">
                  </div>
                  <div class="field">
                     <input type="text" id="" placeholder="Credit Card Number" class="input-cc-number" maxlength="16" tabindex="2">
                     <div class="select-cc-type">
                        <select tabindex="3">
                           <option value="">Select a card type</option>
                           <option value="amex">AMEX</option>
                           <option value="mc">MasterCard</option>
                           <option value="visa">VISA</option>
                        </select>
                     </div> 
                  </div>
                  <div class="field">
                     <div class="select-cc-month">
                        <select tabindex="4">
                           <option>01</option>
                           <option>02</option>
                           <option>03</option>
                           <option>04</option>
                           <option>05</option>
                           <option>06</option>
                           <option>07</option>
                           <option>08</option>
                           <option>09</option>
                           <option>10</option>
                           <option>11</option>
                           <option>12</option>
                        </select>
                     </div>
                     <div class="select-cc-year">
                        <select tabindex="5">
                           <option>2012</option>
                           <option>2013</option>
                           <option>2014</option>
                           <option>2015</option>
                        </select>
                     </div>
                     <input type="text" id="" placeholder="CVC" class="input-cc-cvc" tabindex="6"> <i class="icon-tooltip"><h6>Title Goes Here</h6><p>Lorem ipsum dolor amet message goes here.</p></i>
                  </div>
                  <div class="field">
                     <label for=""><strong>Card Description:</strong></label>
                     <input type="text" id="" placeholder="" tabindex="7">
                  </div>
               </fieldset>
            </div>
            <div class="sub-panel push-right">
               <h4>Billing Address</h4>
               <fieldset>
                  <div class="field">
                     <input type="text" name="address-1" id="" placeholder="Address 1" class="input-cc-address-1" tabindex="8">
                  </div>
                  <div class="field">
                     <input type="text" name="address-2" id="" placeholder="Address 2" tabindex="9">
                  </div>
                  <div class="field">
                     <input type="text" name="city" id="" placeholder="City" class="input-city" tabindex="10"> 
                     <div class="select-state">
                        <select class="input-select-state" tabindex="11">
                           <option value=""></option>
                           <option value="CA">CA</option>
                           <option value="AL">AL</option>
                           <option value="AB">AB</option>
                           <option value="AA">AA</option>
                        </select>
                     </div>
                     <input type="text" name="zip" id="" maxlength="5" placeholder="Zip" class="input-zip" tabindex="12"> 
                  </div>
                  <div class="field">
                     <div class="select-cc-type">
                        <select class="input-select-state" style="opacity: 0;">
                           <option value="" selected="">Country</option>
                           <option value="US">United States</option>
                           <option value="CN">China</option>
                        </select>
                     </div>
                  </div>
                  <div class="primary-shipping">
                     <label class="radio">
                        <input type="radio" name="primary-billing-address" tabindex="13" /> <em>This is my primary billing address</em>
                     </label>
                  </div>
               </fieldset>
            </div>
         </div>
         </form>
      </div>
      <!-- end edit state -->
      
      <!-- prompt -->
      <div class="panel-prompt hidden">
         <div class="prompt-save hidden">
            <h2>Successfully saved!</h2>
         </div>
         <div class="prompt-delete hidden">
            <h3>Are you sure you want to delete?</h3>
            <div class="btns">
               <a href="#" class="btn btn-small btn-danger btn-yes">Yes</a>
               <a href="#" class="btn btn-small btn-no">No</a>
            </div>
         </div>
      </div>
      <!-- end prompt -->
      
   </div>
   <!-- end new credit card form template -->
   </div>
   
<!----------------bill end------------------->        
   
   <div id="shipping" style="display:none;">
   <div style="margin-top:30px;"><a href="#" class="btn btn-primary btn-small" id="add-shipping"><i class="icon-add"></i> Add a new shipping address</a></div>
   
   <!-- existing shipping info -->
   <div class="panel shipping">
      
      <!-- view state -->
      <div class="panel-view">
         <header class="panel-header">
            <h3>WAREHOUSE ONE </h3>
            <nav>
               <ul>
                  <li><a href="#" class="btn btn-small delete"><i class="icon-delete"></i> Delete</a></li>
                  <li><a href="#" class="btn btn-small edit"><i class="icon-pencil"></i> Edit Address</a></li>
               </ul>
            </nav>
         </header>
         <hr />
         <div class="panel-content">
            <div class="sub-panel push-left">
               <h4>Address</h4>
               <address>
                  1234 Main Street<br>
                  Unit 222<br>
                  San Francisco, SF 99999
               </address>
            </div>
            <div class="sub-panel push-right">
               <h4>Delivery Notes</h4>
               <div class="info">
                  Leave all packages at the back door. Please don't deliver anything before 9 a.m. PDT
               </div>
               <div class="primary-shipping">
                  <i class="icon-default-shipping"></i> <em>This is my primary shipping address</em>
               </div>
            </div>
         </div>
      </div>
      <!-- end view state -->
      
      <!-- edit state -->
      <div class="panel-edit hidden">
         <form>
         <header class="panel-header">
            <div class="field"><input type="text" value="WAREHOUSE ONE" placeholder="Delivery Location Name" class="input-sh-name" tabindex="1"></div>
            <nav>
               <ul>
                  <li><a href="#" class="btn btn-small btn-danger save">Save Changes</a></li>
                  <li><a href="#" class="btn-small-link cancel">Cancel</a></li>
               </ul>
            </nav>
         </header>
         <hr />
         <div class="panel-content">
            <div class="sub-panel push-left">
               <h4>Address</h4>
               <fieldset>
                  <div class="field">
                     <input type="text" id="" value="1234 Main Street" placeholder="Address 1" class="input-sh-address-1" tabindex="3">
                  </div>
                  <div class="field">
                     <input type="text" id="" value="Unit 222" placeholder="Address 2" tabindex="4">
                  </div>
                  <div class="field">
                     <input type="text" id="" value="San Francisco" placeholder="City" class="input-city" tabindex="5"> 
                     <div class="select-cc-type">
                        <select class="input-select-state" style="opacity: 0;">
                           <option value="" selected="">Country</option>
                           <option value="US">United States</option>
                           <option value="CN">China</option>
                        </select>
                     </div>
                  </div>
                  <div class="field">
                     <input type="text" id="" value="90000" maxlength="5" placeholder="Zip" class="input-zip" tabindex="7"> 
                  </div>
               </fieldset>
            </div>
            <div class="sub-panel push-right">
               <h4>Delivery Notes</h4>
               <fieldset>
               <div>
                  <textarea tabindex="8">Leave all packages at the back door. Please don't deliver anything before 9 a.m. PDT</textarea>
               </div>
               <div class="primary-shipping">
                  <label class="radio">
                     <input type="radio" checked tabindex="9" /> <em>This is my primary shipping address</em>
                  </label>
               </div>
               </fieldset>
            </div>
         </div>
         </form>
      </div>
      <!-- end edit state -->
      
      <!-- prompt -->
      <div class="panel-prompt hidden">
         <div class="prompt-save hidden">
            <h2>Successfully saved!</h2>
         </div>
         <div class="prompt-delete hidden">
            <h3>Are you sure you want to delete?</h3>
            <div class="btns">
               <a href="#" class="btn btn-small btn-danger btn-yes">Yes</a>
               <a href="#" class="btn btn-small btn-no">No</a>
            </div>
         </div>
      </div>
      <!-- end prompt -->
      
   </div>
   
   <div class="panel shipping">
   
      <!-- view state -->
      <div class="panel-view">
         <header class="panel-header">
            <h3>WAREHOUSE ONE </h3>
            <nav>
               <ul>
                  <li><a href="#" class="btn btn-small delete"><i class="icon-delete"></i> Delete</a></li>
                  <li><a href="#" class="btn btn-small edit"><i class="icon-pencil"></i> Edit Address</a></li>
               </ul>
            </nav>
         </header>
         <hr />
         <div class="panel-content">
            <div class="sub-panel push-left">
               <h4>Address</h4>
               <address>
                  1234 Main Street<br>
                  Unit 222<br>
                  San Francisco, SF 99999
               </address>
            </div>
            <div class="sub-panel push-right">
               <h4>Delivery Notes</h4>
               <div class="info">
                  Leave all packages at the back door. Please don't deliver anything before 9 a.m. PDT
               </div>
               <div class="primary-shipping">
                  <i class="icon-default-shipping"></i> <em>This is my primary shipping address</em>
               </div>
            </div>
         </div>
      </div>
      <!-- end view state -->
      
      <!-- edit state -->
      <div class="panel-edit hidden">
         <form>
         <header class="panel-header">
            <div class="field"><input type="text" value="WAREHOUSE ONE" placeholder="Delivery Location Name" class="input-sh-name" tabindex="1"></div>
            <nav>
               <ul>
                  <li><a href="#" class="btn btn-small btn-danger save">Save Changes</a></li>
                  <li><a href="#" class="btn-small-link cancel">Cancel</a></li>
               </ul>
            </nav>
         </header>
         <hr />
         <div class="panel-content">
            <div class="sub-panel push-left">
               <h4>Address</h4>
               <fieldset>
                  <div class="field">
                     <input type="text" id="" value="1234 Main Street" placeholder="Address 1" class="input-sh-address-1" tabindex="3">
                  </div>
                  <div class="field">
                     <input type="text" id="" value="Unit 222" placeholder="Address 2" tabindex="4">
                  </div>
                  <div class="field">
                     <input type="text" id="" value="San Francisco" placeholder="City" class="input-city" tabindex="5">  
                     <div class="select-cc-type">
                        <select class="input-select-state" style="opacity: 0;">
                           <option value="" selected="">Country</option>
                           <option value="US">United States</option>
                           <option value="CN">China</option>
                        </select>
                     </div>
                  </div>
                  <div class="field">
                     <input type="text" id="" value="90000" maxlength="5" placeholder="Zip" class="input-zip" tabindex="7"> 
                  </div>
               </fieldset>
            </div>
            <div class="sub-panel push-right">
               <h4>Delivery Notes</h4>
               <fieldset>
               <div>
                  <textarea tabindex="8">Leave all packages at the back door. Please don't deliver anything before 9 a.m. PDT</textarea>
               </div>
               <div class="primary-shipping">
                  <label class="radio">
                     <input type="radio" checked tabindex="9" /> <em>This is my primary shipping address</em>
                  </label>
               </div>
               </fieldset>
            </div>
         </div>
         </form>
      </div>
      <!-- end edit state -->
      
      <!-- prompt -->
      <div class="panel-prompt hidden">
         <div class="prompt-save hidden">
            <h2>Successfully saved!</h2>
         </div>
         <div class="prompt-delete hidden">
            <h3>Are you sure you want to delete?</h3>
            <div class="btns">
               <a href="#" class="btn btn-small btn-danger btn-yes">Yes</a>
               <a href="#" class="btn btn-small btn-no">No</a>
            </div>
         </div>
      </div>
      <!-- end prompt -->
      
   </div>
   
   <div class="panel shipping">
   
      <!-- view state -->
      <div class="panel-view">
         <header class="panel-header">
            <h3>WAREHOUSE ONE </h3>
            <nav>
               <ul>
                  <li><a href="#" class="btn btn-small delete"><i class="icon-delete"></i> Delete</a></li>
                  <li><a href="#" class="btn btn-small edit"><i class="icon-pencil"></i> Edit Address</a></li>
               </ul>
            </nav>
         </header>
         <hr />
         <div class="panel-content">
            <div class="sub-panel push-left">
               <h4>Address</h4>
               <address>
                  1234 Main Street<br>
                  Unit 222<br>
                  San Francisco, SF 99999
               </address>
            </div>
            <div class="sub-panel push-right">
               <h4>Delivery Notes</h4>
               <div class="info">
                  Leave all packages at the back door. Please don't deliver anything before 9 a.m. PDT
               </div>
               <div class="primary-shipping">
                  <i class="icon-default-shipping"></i> <em>This is my primary shipping address</em>
               </div>
            </div>
         </div>
      </div>
      <!-- end view state -->
      
      <!-- edit state -->
      <div class="panel-edit hidden">
         <form>
         <header class="panel-header">
            <div class="field"><input type="text" value="WAREHOUSE ONE" placeholder="Delivery Location Name" class="input-sh-name" tabindex="1"></div>
            <nav>
               <ul>
                  <li><a href="#" class="btn btn-small btn-danger save">Save Changes</a></li>
                  <li><a href="#" class="btn-small-link cancel">Cancel</a></li>
               </ul>
            </nav>
         </header>
         <hr />
         <div class="panel-content">
            <div class="sub-panel push-left">
               <h4>Address</h4>
               <fieldset>
                  <div class="field">
                     <input type="text" id="" value="1234 Main Street" placeholder="Address 1" class="input-sh-address-1" tabindex="3">
                  </div>
                  <div class="field">
                     <input type="text" id="" value="Unit 222" placeholder="Address 2" tabindex="4">
                  </div>
                  <div class="field">
                     <input type="text" id="" value="San Francisco" placeholder="City" class="input-city" tabindex="4"> 
                     <div class="select-cc-type">
                        <select class="input-select-state" style="opacity: 0;">
                           <option value="" selected="">Country</option>
                           <option value="US">United States</option>
                           <option value="CN">China</option>
                        </select>
                     </div>
                  </div>
                  <div class="field">
                     <input type="text" id="" value="90000" maxlength="5" placeholder="Zip" class="input-zip" tabindex="6"> 
                  </div>
               </fieldset>
            </div>
            <div class="sub-panel push-right">
               <h4>Delivery Notes</h4>
               <fieldset>
               <div>
                  <textarea tabindex="7">Leave all packages at the back door. Please don't deliver anything before 9 a.m. PDT</textarea>
               </div>
               <div class="primary-shipping">
                  <label class="radio">
                     <input type="radio" checked tabindex="8" /> <em>This is my primary shipping address</em>
                  </label>
               </div>
               </fieldset>
            </div>
         </div>
         </form>
      </div>
      <!-- end edit state -->
      
      <!-- prompt -->
      <div class="panel-prompt hidden">
         <div class="prompt-save hidden">
            <h2>Successfully saved!</h2>
         </div>
         <div class="prompt-delete hidden">
            <h3>Are you sure you want to delete?</h3>
            <div class="btns">
               <a href="#" class="btn btn-small btn-danger btn-yes">Yes</a>
               <a href="#" class="btn btn-small btn-no">No</a>
            </div>
         </div>
      </div>
      <!-- end prompt -->
      
   </div>
   <!-- end existing shipping info -->
   
   <!-- new shipping info template -->
   <div class="panel shipping-back hidden">
   
      <!-- view state -->
      <div class="panel-view hidden">
         <header class="panel-header">
            <h3>WAREHOUSE ONE </h3>
            <nav>
               <ul>
                  <li><a href="#" class="btn btn-small delete"><i class="icon-delete"></i> Delete</a></li>
                  <li><a href="#" class="btn btn-small edit"><i class="icon-pencil"></i> Edit Address</a></li>
               </ul>
            </nav>
         </header>
         <hr />
         <div class="panel-content">
            <div class="sub-panel push-left">
               <h4>Address</h4>
               <address>
                  1234 Main Street<br>
                  Unit 222<br>
                  San Francisco, SF 99999
               </address>
            </div>
            <div class="sub-panel push-right">
               <h4>Delivery Notes</h4>
               <div class="info">
                  Leave all packages at the back door. Please don't deliver anything before 9 a.m. PDT
               </div>
               <div class="primary-shipping">
                  <i class="icon-default-shipping"></i> <em>This is my primary shipping address</em>
               </div>
            </div>
         </div>
      </div>
      <!-- end view state -->
      
      <!-- edit state -->
      <div class="panel-edit">
         <form>
         <header class="panel-header">
            <div class="field"><input type="text" placeholder="Delivery Location Name" class="input-sh-name" tabindex="1"></div>
            <nav>
               <ul>
                  <li><a href="#" class="btn btn-small btn-danger save">Save</a></li>
                  <li><a href="#" class="btn-small-link cancel">Cancel</a></li>
               </ul>
            </nav>
         </header>
         
         <hr />
         <div class="panel-content">
            <div class="sub-panel push-left">
               <h4>Address</h4>
               <fieldset>
                  <div class="field">
                     <input type="text" id="" placeholder="Address 1" class="input-sh-address-1" tabindex="3">
                  </div>
                  <div class="field">
                     <input type="text" id="" placeholder="Address 2" tabindex="4">
                  </div>
                  <div class="field">
                     <input type="text" id="" placeholder="City" class="input-city" tabindex="5">
                     <div class="select-cc-type">
                        <select class="input-select-state" style="opacity: 0;">
                           <option value="" selected="">Country</option>
                           <option value="US">United States</option>
                           <option value="CN">China</option>
                        </select>
                     </div>
                  </div>
                  <div class="field">
                     <input type="text" id="" maxlength="5" placeholder="Zip" class="input-zip" tabindex="7"> 
                  </div>
               </fieldset>
            </div>
            <div class="sub-panel push-right">
               <h4>Delivery Notes</h4>
               <fieldset>
               <div>
                  <textarea tabindex="8">Add delivery notes here...</textarea>
               </div>
               <div class="primary-shipping">
                  <label class="radio">
                     <input type="radio" tabindex="9" /> <em>This is my primary shipping address</em>
                  </label>
               </div>
               </fieldset>
            </div>
         </div>
         </form>
      </div>
      <!-- end edit state -->
      
      <!-- prompt -->
      <div class="panel-prompt hidden">
         <div class="prompt-save hidden">
            <h2>Successfully saved!</h2>
         </div>
         <div class="prompt-delete hidden">
            <h3>Are you sure you want to delete?</h3>
            <div class="btns">
               <a href="#" class="btn btn-small btn-danger btn-yes">Yes</a>
               <a href="#" class="btn btn-small btn-no">No</a>
            </div>
         </div>
      </div>
      <!-- end prompt -->
      
   </div>
   </div>
   <!-- end new shipping info template -->
   <div id="additional" style="display:none;">
      <div style="margin-top:30px;">
      Coming soon!
      </div>
   </div>
<!----------   TABS END   ---------->
</div>
</div>