%div#main.admin-customers
	%div#brand-logo
	%div#customer.inner
		%header.page-header
			.nav-left
				%a
					%i.icon-arrow-left
						ALL CUSTOMERS
		.panel
			%header.panel-header
				.field
					%ul
						%li
							%h3
								Account 21942
						%li
							%h3
								Jane Smith
						%li
							%a{:class => "btn btn-primary btn-small"}
								Login As This Customer
			%hr
				.clearfix#account-info
					%ul
						%li
							%h6
								Account Category
							%a
								Change This
							%p
								Fashion
						%li
							%h6
								Available Credit Limit
							%a
								Change This
							%p
								$1,000
						%li
							%h6
								Total Orders
							%a
								View Order History
							%p
								32
						%li
							%h6
								Revenue
							%p
								$5000
						%li
							%h6
								Member Since
							%a
								Close My Account
							%p
								8/12
		%ul.etabs
			%li
				Account Setting
			%li
				Billing Info
			%li
				Shipping Info
			%li
				Additional Info
		%div#account.clearfix{:style => "display:block;"}
			.panel
				%div
					%header.panel-header
						%h3
							Basic Customer Info
						%nav
							%ul
								%li
									%a{:class => "btn btn-small btn-danger save"}
										Save Changes
								%li
									%a{:class => "btn-small-link cancel"}
										Cancel
					%hr
					%div#my-profile.panel-content
						%div{:class => "sub-panel push-left"}
							%h6
								Account Info
							.info
								.field
									%sup
										Username
									%input{:type => "text", :value => "jane22@teaseboutique.com", :class => "input-email-1"}
								.field
									%sup
										Password
									%input{:type => "password", :value => "12345", :class => "input-pass"}
								.field
									%sup
										Password
									%input{:type => "password", :value => "12345", :class => "input-pass-confirm"}
							%hr
							%h6
								Personal Info
							.info
								.field
									%sup
										Contact Name
									%input{:type => "text", :value => "Jane Smith", :class => "input-name-1"}
									%sup
										Position
									%input{:type => "text", :value => "Store Owner", :class => "input-name-2"}
									%sup
										Phone Number
									+
									%input{:type => "text", :value => "", :class => "input-phone-2", :maxlength => "5"}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									%input{:type => "text", :value => "555", maxlength => "3"}
		