.maincontent.noright.noleft
  .maincontentinner
    %p
    %h2 ORDER MANAGER
    %p
    =render "navbar", :tab => "returns"
    / maintabmenu
    .content
      .contenttitle
        %h2.form
          %span Find Return
      / contenttitle
      %br/
      %form.stdform{:action => "", :method => "post"}
        %p
          %span.field
            -#%a.buttontext{:href => "/ordermgr/control/returnMain"} Create new return
            %button.stdbtn{:style => "opacity: 1;"} Create New Return
        %br/
        %p
          %label Return HeaderType Id
          %span.field
            %select#FindReturns_returnHeaderTypeId{:name => "returnHeaderTypeId", :size => "1"}
              %option{:value => ""}  
              %option{:value => "CUSTOMER_RETURN"} Return from Customer
              %option{:value => "VENDOR_RETURN"} Return to Vendor
        %p
          %label Return Id
          %span.field
            %select.selectBox{:name => "returnId_op"}
              %option{:value => "equals"} Equals
              %option{:value => "like"} Begins With
              %option{:selected => "selected", :value => "contains"} Contains
              %option{:value => "empty"} Is Empty
              %option{:value => "notEqual"} Not Equal
            %input{:name => "returnId", :size => "25", :type => "text"}
              %input{:checked => "checked", :name => "returnId_ic", :type => "checkbox", :value => "Y"} Ignore Case
        %p
          %label Return Form Party
          %span.field
            %input#0_lookupId_FindReturns_fromPartyId.ui-autocomplete-input{:autocomplete => "off", :name => "fromPartyId", :size => "25", :type => "text"}
        %p
          %label Billing Account
          %span.field
            %select.selectBox{:name => "billingAccountId_op"}
              %option{:value => "equals"} Equals
              %option{:value => "like"} Begins With
              %option{:selected => "selected", :value => "contains"} Contains
              %option{:value => "empty"} Is Empty
              %option{:value => "notEqual"} Not Equal
            %input{:name => "billingAccountId", :size => "25", :type => "text"}
              %input{:checked => "checked", :name => "billingAccountId_ic", :type => "checkbox", :value => "Y"} Ignore Case
        %p
          %label Status
          %span.field
            %select#FindReturns_statusId{:name => "statusId", :size => "1"}
              %option{:value => ""}  
              %option{:value => "RETURN_REQUESTED"} Requested
              %option{:value => "RETURN_ACCEPTED"} Accepted
              %option{:value => "RETURN_RECEIVED"} Received
              %option{:value => "RETURN_COMPLETED"} Completed
              %option{:value => "RETURN_MAN_REFUND"} Manual Refund Required
              %option{:value => "RETURN_CANCELLED"} Cancelled
        %p
          %label Entry Date
          %span.field
            %input#entryDate_fld0_value.smallinput{:maxlength => "30", :name => "entryDate_fld0_value", :size => "25", :title => "Format: yyyy-MM-dd HH:mm:ss.SSS", :type => "text"}
              %select.selectBox{:name => "entryDate_fld0_op"}
                %option{:selected => "selected", :value => "equals"} Equals
                %option{:value => "sameDay"} Same Day
                %option{:value => "greaterThanFromDayStart"} Greater Than From Day Start
                %option{:value => "greaterThan"} Greater Than
              %input#entryDate_fld1_value.smallinput{:maxlength => "30", :name => "entryDate_fld1_value", :size => "25", :title => "Format: yyyy-MM-dd HH:mm:ss.SSS", :type => "text"}
                %select.selectBox{:name => "entryDate_fld1_op"}
                  %option{:value => "opLessThan"} Less Than
                  %option{:value => "upToDay"} Up To Day
                  %option{:value => "upThruDay"} Up Through Day
                  %option{:value => "empty"} Is Empty
      %br{:clear => "all"}/
      %br/
      %table#dyntable.stdtable{:border => "0", :cellpadding => "0", :cellspacing => "0"}
        %colgroup
          %col.con0/
          %col.con1/
          %col.con0/
          %col.con1/
          %col.con0/
        %thead
          %tr
            %th.head0 Return ID
            %th.head1 Entry Date
            %th.head0 Return From Party
            %th.head1 Destination Facility
            %th.head0 Status
        %tfoot
        %tbody
          %tr
            %td
            %td
            %td
            %td
            %td
