-#  This view can be find in views/pages/order_list.html.haml.
.mainwrapperinner
  .maincontent.noright.noleft
    .maincontentinner
      =render "navbar", :tab => "list"
      / maintabmenu
      .content
        .contenttitle
          %h2.form
            %span Lookup Order(s)
        / contenttitle
        %br/
        %form.stdform{:action => "", :method => "post"}
          %p
            %label Status
            %span.formwrapper
              %input{:name => "viewall", :onclick => "javascript:setCheckboxes()", :type => "checkbox", :value => "Y"}>/
              All
              = succeed "Created" do
                %span.checked
                  %input{:checked => "checked", :name => "viewcreated", :type => "checkbox", :value => "Y"}/
              = succeed "Processing" do
                %span.checked
                  %input{:checked => "checked", :name => "viewprocessing", :type => "checkbox", :value => "Y"}/
              = succeed "Approved" do
                %span.checked
                  %input{:checked => "checked", :name => "viewapproved", :type => "checkbox", :value => "Y"}/
              = succeed "Held" do
                %input{:name => "viewhold", :type => "checkbox", :value => "Y"}/
              = succeed "Completed" do
                %input{:name => "viewcompleted", :type => "checkbox", :value => "Y"}/
              = succeed "Rejected" do
                %input{:name => "viewrejected", :type => "checkbox", :value => "Y"}/
              = succeed "Canceled" do
                %input{:name => "viewcancelled", :type => "checkbox", :value => "Y"}/
          %p
            %label Type
            %span.formwrapper
              %input{:checked => "checked", :name => "view_SALES_ORDER", :type => "checkbox"}>/
              Sales Order
              = succeed "Purchase" do
                %input{:name => "view_PURCHASE_ORDER", :type => "checkbox", :value => "Y"}/
              Order
          %p
            %label Filter
            %span.formwrapper
              %input{:name => "filterInventoryProblems", :type => "checkbox", :value => "Y"}>/
              Inventory problems
              = succeed "Authorisation" do
                %input{:name => "filterAuthProblems", :type => "checkbox", :value => "Y"}/
              Problems
          %p
            %label Filter (purchase orders)
            %span.formwrapper
              %input{:name => "filterPartiallyReceivedPOs", :type => "checkbox", :value => "Y"}>/
              partially received
              = succeed "open" do
                %input{:name => "filterPOsOpenPastTheirETA", :type => "checkbox", :value => "Y"}/
              past their ETA
              = succeed "with" do
                %input{:name => "filterPOsWithRejectedItems", :type => "checkbox", :value => "Y"}/
              rejected items
          %p
            %label Payment Status
            %span.formwrapper
              %input{:checked => "checked", :name => "view_payment_status_true", :type => "checkbox"}>
              Cleared
              %input{:name => "view_payment_status_false", :type => "checkbox"}/
              Not Cleared
          %p
            %label Order Id
            %span.field
              %input{:name => "view_order_id", :type => "text", :class=>"smallinput"}
          %p
            %label Party Id
            %span.field
              %input{:name => "view_party_id", :type => "text", :class=>"smallinput"}
          %p.stdformbutton
            %input.submit.radius2{:type => "submit", :value => "Find"}/
      %br{:clear => "all"}/
      %br/
      .content
        .contenttitle.radiusbottom0
          %h2.table
            %span Order List
        / contenttitle
        %table#dyntable.stdtable{:border => "0", :cellpadding => "0", :cellspacing => "0"}
          %colgroup
            %col.con0/
            %col.con1/
            %col.con0/
            %col.con1/
            %col.con0/
            %col.con1/
            %col.con0/
            %col.con1/
            %col.con0/
            %col.con1/
          %thead
            %tr
              %th.head0 Date
              %th.head1 Order Nbr
              %th.head0 Order Name
              %th.head1 Order Type
              %th.head0 Bill From Party
              %th.head1 Bill To Party
              %th.head0 Product Store
              %th.head1 Amount
              %th.head0 Tracking Code
              %th.head1 Status
          %tfoot
          %tbody
            %tr.gradeX
              %td 11/14/12 3:36:48 AM
              %td OD10834
              %td  
              %td.center Sales Order
              %td OrderWithMe - China
              %td Liz Rhodes
              %td OrderWithMe.com
              %td $5.00
              %td  
              %td Created
            %tr.gradeC
              %td 11/12/12 4:02:11 AM
              %td OD10811
              %td  
              %td.center Sales Order
              %td OrderWithMe - China
              %td Liz Rhodes
              %td OrderWithMe.com
              %td $5.00
              %td  
              %td Created
            %tr.gradeA
              %td 11/9/12 10:11:54 PM
              %td OD10820
              %td  
              %td.center Sales Order
              %td OrderWithMe - China
              %td Liz Rhodes
              %td OrderWithMe.com
              %td $5.00
              %td  
              %td Created
            %tr.gradeA
              %td Trident
              %td OD10800
              %td  
              %td.center Sales Order
              %td OrderWithMe - China
              %td Liz Rhodes
              %td OrderWithMe.com
              %td $5.00
              %td  
              %td Created
            %tr.gradeA
              %td Trident
              %td OD10790
              %td  
              %td.center Sales Order
              %td OrderWithMe - China
              %td Liz Rhodes
              %td OrderWithMe.com
              %td $5.00
              %td  
              %td Created
            %tr.gradeA
              %td Trident
              %td OD10670
              %td  
              %td.center Sales Order
              %td OrderWithMe - China
              %td Liz Rhodes
              %td OrderWithMe.com
              %td $5.00
              %td  
              %td Created
            %tr.gradeA
              %td Gecko
              %td OD10590
              %td  
              %td.center Sales Order
              %td OrderWithMe - China
              %td Liz Rhodes
              %td OrderWithMe.com
              %td $5.00
              %td  
              %td Created
            %tr.gradeA
              %td Gecko
              %td OD10520
              %td  
              %td.center Sales Order
              %td OrderWithMe - China
              %td Liz Rhodes
              %td OrderWithMe.com
              %td $5.00
              %td  
              %td Created
            %tr.gradeA
              %td Gecko
              %td OD10510
              %td  
              %td.center Sales Order
              %td OrderWithMe - China
              %td Liz Rhodes
              %td OrderWithMe.com
              %td $5.00
              %td  
              %td Created
        #dyntable_paginate.dataTables_paginate.paging_full_numbers
          %span#dyntable_next.next.paginate_button Next
        %br{:clear => "all"}
