.mainwrapperinner
  .maincontent.noright.noleft
    .maincontentinner
      %p
      %h2 ORDER MANAGER
      %p
      =render "navbar", :tab => "entry"
      / maintabmenu
      .content
        .contenttitle
          %h2.form
            %span
              Sales Order
              %button.stdbtn.orderbtn Continue
              %button.stdbtn.orderbtn Find Party
              .clear
        / contenttitle
        %br
        %form.stdform{:action => "", :method => "post"}
          %p
            %label Product Store
            %span.field
              %select#selection{:name => "selection"}
                -@stores.each do |store|
                  %option{:value => "#{store.store_name}"}
                    =store.store_name
          %p
            %label Sales Channel
            %span.field
              %select{:name => "salesChannelEnumId"}
                %option{:value => ""} No Channel
                -@saleschannels.each do |channel|
                  %option{:value => "#{channel.description}"}
                    =channel.name
          %p
            %label User Login ID
            %span.field
              %input.smallinput{:name => "User", :type => "text"}/
          %p
            %label Customer
            %span.field
              %input.smallinput{:name => "Customer", :type => "text"}/
        %br{:clear => "all"}/
        %br/
      %br{:clear => "all"}/
      %br/
      .content
        .contenttitle
          %h2.form
            %span
              Purchase Order
              %button.stdbtn.orderbtn Continue
              %button.stdbtn.orderbtn Find Party
              .clear

        / contenttitle
        %br/
        %form#form1.stdform{:action => "", :method => "post"}
          %p
            %label Internal Organization
            %span.field
              %select{:name => "billToCustomerPartyId"}
                %option{:value => "10000"} 10000 - OrderWithMe - China
          %p
            %label User Login ID
            %span.field
              %input.smallinput{:name => "input1", :type => "text"}/
          %p
            %label Supplier
            %span.field
              %select{:name => "supplierPartyId"}
                %option{:value => ""} Select Supplier
                %option{:value => "10961"} [10961] - 1
                %option{:value => "11912"} [11912] - 1
                %option{:value => "10593"} [10593] - 123
                %option{:value => "15910"} [15910] - Sanyang Plastic Products of Linyi City Co., Ltd.Sanyang Plastic Products of Linyi City Co., Ltd.
                %option{:value => "10071"} [10071] - Weng, 翁翠芳
                %option{:value => "10074"} [10074] - Jin, 金海瑞
                %option{:value => "10076"} [10076] - Zhu, 朱利萍
          %br/
        %br{:clear => "all"}