.mainwrapperinner
  .maincontent.noright.noleft
    .maincontentinner
      %p
      %h2 ORDER MANAGER
      %p
      %ul.maintabmenu.multipletabmenu
        %li
          %a{:href => "/ordermgr/control/main"} Main
        %li
          %a{:href => "/ordermgr/control/FindRequest"} Requests
        %li
          %a{:href => "/ordermgr/control/FindQuote"} Quotes
        %li
          %a{:href => "/ordermgr/control/orderlist"} Order List
        %li.current
          %a{:href => "/ordermgr/control/findorders"} Find Orders
        %li
          %form{:action => "/ordermgr/control/orderentry", :method => "post", :name => "OrderAppBar_orderentry_LF_6"}
          %a{:href => "javascript:document.OrderAppBar_orderentry_LF_6.submit()"} Order Entry
        %li
          %a{:href => "/ordermgr/control/findreturn"} Returns
        %li
          %a{:href => "/ordermgr/control/FindRequirements"} Requirements
        %li
          %a{:href => "/ordermgr/control/OrderPurchaseReportOptions"} Reports
        %li
          %a{:href => "/ordermgr/control/orderstats"} Stats
      / maintabmenu
      %br/
      .one_half
        .content
          .contenttitle
            %h2.form
              %span Sales Order Nbr OD10834 [ PDF ]
          %ul.rside
            %li{:style=>"float:left"}
              %a{:href => "javascript:document.OrderCancel.submit()"} Cancel Order
              %form{:action => "/ordermgr/control/changeOrderStatus/orderview", :method => "post", :name => "OrderCancel"}
                %input{:name => "statusId", :type => "hidden", :value => "ORDER_CANCELLED"}
                %input{:name => "setItemStatus", :type => "hidden", :value => "Y"}
                %input{:name => "workEffortId", :type => "hidden", :value => ""}
                %input{:name => "orderId", :type => "hidden", :value => "OD10923"}
                %input{:name => "partyId", :type => "hidden", :value => ""}
                %input{:name => "roleTypeId", :type => "hidden", :value => ""}
                %input{:name => "fromDate", :type => "hidden", :value => ""}
            %li{:style=>"float:left; padding-left:5px"}
              %a{:href => "javascript:document.OrderHold.submit()"} Hold Order
              %form{:action => "/ordermgr/control/changeOrderStatus/orderview", :method => "post", :name => "OrderHold"}
                %input{:name => "statusId", :type => "hidden", :value => "ORDER_HOLD"}
                %input{:name => "workEffortId", :type => "hidden", :value => ""}
                %input{:name => "orderId", :type => "hidden", :value => "OD10923"}
                %input{:name => "partyId", :type => "hidden", :value => ""}
                %input{:name => "roleTypeId", :type => "hidden", :value => ""}
                %input{:name => "fromDate", :type => "hidden", :value => ""}
            .clear
          %br/
          %form.stdform{:action => "", :method => "post"}
            %p
              -#%label Status History
              %span.prod-text-head{:style=>"font-size:15px"}
                Status History
              %span.field.prod-text-head.custom-field
                Current Status:
                %span
                  Created
              %span.field.prod-text-head.custom-field
                Created At :
                %span
                  11/14/12 3:36:48 AM
              %span.field.prod-text-head.custom-field
                Created By :
                %span
                  cobo@orderwithme.com
            %hr
            %p
              %span.field.prod-text-head.custom-field
                Date Ordered:
                %span
                  11/14/12 3:36:48 AM
            %hr
            %p
              %span.field.prod-text-head.custom-field
                Currency:
                %span
                  USD
            %hr
            %p
              %span.field.prod-text-head.custom-field
                Sales Channel:
                %span
                  Web Channel
            %hr
            %p
              %span.field.prod-text-head.custom-field
                Product Store:
                %span
                  OrderWithMe.com
                %button.stdbtn (10000)
            %hr
            %p
              %span.field.prod-text-head.custom-field
                Origin Facility:
                %span
                  %button.stdbtn 10000
            %hr
            %p
              %span.field.prod-text-head.custom-field
                Created By:
                %span
                  %button.stdbtn tim@pedalbicycle.com
            %hr/
            %p
              %span.field.prod-text-head.custom-field
                Priority:
                %span
                  %select#selection{:name => "selection"}
                    %option{:value => "1"} High
                    %option{:selected => "selected", :value => "2"} Normal
                    %option{:value => "3"} Low
                  %button.stdbtn Reserve Inventory
            %hr/
            %p
              %span.field.prod-text-head.custom-field
                Invoice Per Shipment
                %span
                  %select#selection{:name => "selection"}
                    %option{:value => "1"} Yes
                    %option{:value => "2"} No
                  %button.stdbtn Update
            %hr/
            %p
              %span.field.prod-text-head.custom-field
                Mark Viewed:
                %span
                  %input{:name => "MarkViewed", :type => "checkbox", :value => "Y"}/
        / content
        %br{:clear => "all"}/
        .content
          .contenttitle
            %h2.form
              %span Payment Information
          / contenttitle
          %br/
          %form.stdform{:action => "", :method => "post"}
            %p
              %span.prod-text-head{:style=>"font-size:15px"}
                Status History
              %span.field.prod-text-head.custom-field
                Not-Received
                %span
                  11/19/12 3:32:30 PM
                %br
              %span.field.prod-text-head.custom-field
                By -
                %span
                  [tim@pedalbicycle.com]
            %hr
            %p
              %span.prod-text-head{:style=>"font-size:15px"}
                Offline Payment
              %span.field.prod-text-head.custom-field
                Max Amount:
                %span
                  $284.75
              %span.field{:style => "float:right;"}
                %button.stdbtn Receive Payment
                %input.reset.radius2{:type => "reset", :value => "Cancel"}/
            %br{:clear => "all"}/
        / content
      / one_half
      .one_half.last
        .content
          .contenttitle
            %h2.form
              %span Contact Information
          / contenttitle
          %br/
          %form.stdform{:action => "", :method => "post"}
            %p
              %span.field.prod-text-head.custom-field
                Name
                %span
                  Tim Krone
                %button.stdbtn
                  16994
              %br
              %span.field
                %button.stdbtn New Order
                %button.stdbtn Other Orders
            %hr/
            %p
              %span.field.prod-text-head.custom-field
                Order Notification Email Address
                %span
                  tim@pedalbicycle.com
              %br
              %button.stdbtn{:style=>"float:right"}
                Send a comfirmation email

              %br
              .field.custom-field
                %select#selection{:name => "selection"}
                  %option{:value => "1"} tim@pedalbicycle.com
                  %option{:value => "2"}
                %button.stdbtn Update
            %hr/
            %p
              %span.field.prod-text-head.custom-field
                Shipping Destination Address:
                %span
                  611 W. Michigan Avenue
                  %br
                  Kalamazoo, MI 49007
                  %br/
                  United States
              %br
              .field.custom-field
                %select#selection{:name => "selection"}
                  %option{:value => "1"} 611 W. Michigan Avenue - Kalamazoo
                  %option{:value => "2"}
                %button.stdbtn Update
        / content
        %br{:clear => "all"}/
        .content
          .contenttitle
            %h2.form
              %span Actions
          / contenttitle
          %br/
          %form.stdform{:action => "", :method => "post"}
            %p
              %button.stdbtn.custom-field View/Edit Delivery Schedule Info
            %p
              %button.stdbtn.custom-field Edit Items
            %p
              %button.stdbtn.custom-field Create New Ship Group
            %p
              %button.stdbtn.custom-field Create As New Order
            %p
              %button.stdbtn.custom-field View Order History
        / content
        %br{:clear => "all"}/
        .content
          .contenttitle
            %h2.form
              %span Shipment Information - 00001
          %ul.rside
            %li
              %a{:href => "/ordermgr/control/shipGroups.pdf?orderId=OD10923&shipGroupSeqId=00001", :target => "_BLANK"} Ship Group PDF

          %br
          %form.stdform{:action => "", :method => "post"}
            %p
              %span.field.prod-text-head.custom-field
                Address:
                %span
                  %select#selection{:name => "selection"}
                    %option{:value => "1"} 611 W. Michigan Avenue - Kalamazoo
                    %option{:value => "2"}
            %hr
            %p
              %span.field.prod-text-head.custom-field
                Method:
                %span
                  %select#selection{:name => "selection"}
                    %option{:value => "1"} FEDEX International Economy
                    %option{:value => "2"}
            %hr
            %p
              %span.custom-field
                %button.stdbtn Update
                %button.stdbtn New Shipping Address
            %hr/
            %p
              %span.field.prod-text-head.custom-field
                Splitting Preference
                %span
                  Please wait until the entire order is ready before shipping.
              %br
              %button.stdbtn.custom-field
                Allow Split
            %hr
            %p
              %span.field.prod-text-head.custom-field
                Instructions :
                %span
                  %button.stdbtn Add
            %hr
            %p
              %span.field.prod-text-head.custom-field
                Gift Message :
                %span
                  %button.stdbtn Add
            %hr
            %p
              %span.field.prod-text-head.custom-field
                Ship After Date
                %span
                  %input.smallinput{:name => "input1", :type => "text"}/
              %br/
              %span.field.prod-text-head.custom-field
                Ship Before Date
                %span
                  %input.smallinput{:name => "input2", :type => "text"}/
                  %button.stdbtn Update
            %hr/
            %p
              %span.field.prod-text-head.custom-field
                %button.stdbtn New Shipment For Ship Group
        / content
      / one_half last
      %br{:clear => "all"}/
      %br/
      .content
        .contenttitle.radiusbottom0
          %h2.table
            %span Order Items
        / contenttitle
        %table#dyntable.stdtable{:border => "0", :cellpadding => "0", :cellspacing => "0"}
          %thead
            %tr
              %th.head0 Product
              %th.head1 Status
              %th.head0 Quantity
              %th.head1 Unit / List
              %th.head0 Adjustments
              %th.head1 Sub Total
          %tbody
            %tr
              %td{:colspan => "6"}
                .order-item-description
                  19979 - 8850
                %ul.pagination{:style => "float:right;"}
                  %li
                    %a.buttontext{:href => "/catalog/control/EditProduct?productId=19979&amp;externalLoginKey=EL534505744483", :target => "_blank"} Catalog
                  %li
                    %a.buttontext{:href => "/ecommerce/control/product?product_id=19979", :target => "_blank"} Ecommerce
            %tr
              %td
                %a.buttontext{:href => "/catalog/control/EditProductInventoryItems?productId=19978&showAllFacilities=Y&amp;externalLoginKey=EL341490342025", :target => "_blank"} Inventory
                %table{:border => "0", :width => "100%"}
                  %tr
                    %td Required for SO
                    %td 9
                  %tr
                    %td In Inventory [HGH1] QOH
                    %td 0 (ATP: 0)
                  %tr
                    %td In Inventory [All Facilities] QOH
                    %td 0 (ATP: -9)
                  %tr
                    %td On Order
                    %td 0
                  %tr
                    %td In Production
                    %td 0
                  %tr
                    %td Unplanned
                    %td 9
              %td
                %div
                  %strong> Current
                   Created
                11/16/12 6:13:03 PM  Created
              %td
                %table{:border => "0", :width => "100%"}
                  %tr
                    %td
                      %strong Ordered
                    %td 9
                    %td
                      %strong Ship Request
                    %td 3
                  %tr
                    %td
                      %strong Cancelled
                    %td 0
                    %td
                      %strong Qty Picked
                    %td 0
                  %tr
                    %td
                      %strong Remaining
                    %td 3
                    %td
                      %strong Qty Shipped
                    %td 0
                  %tr
                    %td
                      %strong Shortfalled
                    %td 3
                    %td
                      %strong Outstanding
                    %td 3
                  %tr
                    %td
                      %strong Invoiced
                    %td 0
                    %td
                      %strong Returned
                    %td 0
              %td.center $2.97 / $12.00
              %td $0.00
              %td $8.91
            %tr
              %td{:align => "center", :colspan => "6"}
                %table{:border => "0", :width => "50%"}
                  %tr
                    %td
                      %span.label Ship Group
                      \ [00001]
                      1156 Main
                    %td 6
                    %td  
                  %tr
                    %td
                      %span.label Inventory
                      %a.buttontext{:href => "/facility/control/EditInventoryItem?inventoryItemId=12797&externalLoginKey=EL341490342025"} 12797
                      %span.label Ship Group
                      \ 00001
                    %td 6
                    %td
                      %span{:style => "color: red;"}
                        [3 Backordered]
            %tr.con1
              %td{:colspan => "6"}
                .order-item-description
                  19979 - 8850
                %ul.pagination{:style => "float:right;"}
                  %li
                    %a.buttontext{:href => "/catalog/control/EditProduct?productId=19979&amp;externalLoginKey=EL534505744483", :target => "_blank"} Catalog
                  %li
                    %a.buttontext{:href => "/ecommerce/control/product?product_id=19979", :target => "_blank"} Ecommerce
            %tr.con1
              %td
                %a.buttontext{:href => "/catalog/control/EditProductInventoryItems?productId=19978&showAllFacilities=Y&amp;externalLoginKey=EL341490342025", :target => "_blank"} Inventory
                %table{:border => "0", :width => "100%"}
                  %tr
                    %td Required for SO
                    %td 9
                  %tr
                    %td In Inventory [HGH1] QOH
                    %td 0 (ATP: 0)
                  %tr
                    %td In Inventory [All Facilities] QOH
                    %td 0 (ATP: -9)
                  %tr
                    %td On Order
                    %td 0
                  %tr
                    %td In Production
                    %td 0
                  %tr
                    %td Unplanned
                    %td 9
              %td
                %div
                  %strong> Current
                   Created
                11/16/12 6:13:03 PM  Created
              %td
                %table{:border => "0", :width => "100%"}
                  %tr
                    %td
                      %strong Ordered
                    %td 9
                    %td
                      %strong Ship Request
                    %td 3
                  %tr
                    %td
                      %strong Cancelled
                    %td 0
                    %td
                      %strong Qty Picked
                    %td 0
                  %tr
                    %td
                      %strong Remaining
                    %td 3
                    %td
                      %strong Qty Shipped
                    %td 0
                  %tr
                    %td
                      %strong Shortfalled
                    %td 3
                    %td
                      %strong Outstanding
                    %td 3
                  %tr
                    %td
                      %strong Invoiced
                    %td 0
                    %td
                      %strong Returned
                    %td 0
              %td.center $2.97 / $12.00
              %td $0.00
              %td $8.91
            %tr.con1
              %td{:align => "center", :colspan => "6"}
                %table{:border => "0", :width => "50%"}
                  %tr
                    %td
                      %span.label Ship Group
                      \ [00001]
                      1156 Main
                    %td 6
                    %td  
                  %tr
                    %td
                      %span.label Inventory
                      %a.buttontext{:href => "/facility/control/EditInventoryItem?inventoryItemId=12797&externalLoginKey=EL341490342025"} 12797
                      %span.label Ship Group
                      \ 00001
                    %td 6
                    %td
                      %span{:style => "color: red;"}
                        [3 Backordered]
        %div{:style => "background:#eee;"}
          %table.total{:align => "right", :border => "0"}
            %tr
              %td Items SubTotal
              %td{:style => "width:50px;"}  
              %td $788.31
            %tr
              %td Total Other Order Adjustments
              %td  
              %td $0.00
            %tr
              %td Total Shipping and Handling
              %td  
              %td $0.00
            %tr
              %td Total Sales Tax
              %td  
              %td $0.00
            %tr
              %td Total Due
              %td  
              %td $788.31
        %br{:clear => "all"}/
      / content
      %br{:clear => "all"}/
      .content
        .contenttitle.radiusbottom0
          %h2.table
            %span Notes
        %ul.rside
          %li
            %a{:href => "/ordermgr/control/createnewnote?orderId=OD10923"} Create New
        / contenttitle
        %br{:clear => "all"}/
        %p
          No notes for this order.