<h2 class="h2title">FACILITY MANAGER</h2>
<ul class="maintabmenu multipletabmenu">
  <li><a href="/facility/control/main">Main</a></li>
  <li class="current"><a href="/facility/control/FindFacility">Facilities</a></li>
  <li><a href="/facility/control/FindFacilityGroup">Facility Groups</a></li>
  <li><a href="/facility/control/FindInventoryItemLabels">Inventory Item Labels</a></li>
  <li><a href="/facility/control/FindShipmentGatewayConfig">Shipment Gateway Config</a></li>
  <li><a href="/facility/control/FindShipment">Shipments</a></li>
  <li><a href="/facility/control/InventoryReports?facilityId=10000">Reports</a></li>
</ul><!--maintabmenu-->

<ul class="subnav">
  <li class="selected "><a href="/facility/control/EditFacility?facilityId=10000" class="buttontext">Facility</a></li>
  <li><a href="/facility/control/FacilityChildren?facilityId=10000" class="buttontext">Children</a></li>
  <li><a href="/facility/control/ViewContactMechs?facilityId=10000" class="buttontext">ContactMechs</a></li>
  <li><a href="/facility/control/EditFacilityGroups?facilityId=10000" class="buttontext">Groups</a></li>
  <li><a href="/facility/control/FindFacilityLocation?facilityId=10000" class="buttontext">Locations</a></li>
  <li><a href="/facility/control/EditFacilityParties?facilityId=10000" class="buttontext">Role(s)</a></li>
  <li><a href="/facility/control/ViewFacilityInventoryByProduct?facilityId=10000" class="buttontext">Inventory</a></li>
  <li><a href="/facility/control/EditFacilityInventoryItems?facilityId=10000" class="buttontext">Inventory Items</a></li>
  <li><a href="/facility/control/ViewFacilityInventoryItemsDetails?facilityId=10000" class="buttontext">Inventory Items Details</a></li>
  <li><a href="/facility/control/ReceiveInventory?facilityId=10000" class="buttontext">Receive Inventory</a></li>
  <li><a href="/facility/control/FindFacilityPhysicalInventory?facilityId=10000" class="buttontext">Physical Inventory</a></li>
  <li><a href="/facility/control/FindFacilityTransfers?facilityId=10000" class="buttontext">Inventory Xfers</a></li>
  <li><a href="/facility/control/ReceiveReturn?facilityId=10000" class="buttontext">Receive Return</a></li>
  <li><a href="/facility/control/PicklistOptions?facilityId=10000" class="buttontext">Picking</a></li>
  <li><a href="/facility/control/PickMoveStock?facilityId=10000" class="buttontext">Stock Moves</a></li>
  <li><a href="/facility/control/PicklistManage?facilityId=10000" class="buttontext">Manage Picklists</a></li>
  <li><a href="/facility/control/VerifyPick?facilityId=10000" class="buttontext">Verify Pick</a></li>
  <li><a href="/facility/control/PackOrder?facilityId=10000" class="buttontext">Packing</a></li>
  <li><a href="/facility/control/Scheduling?facilityId=10000" class="buttontext">Scheduling</a></li>
  <li><a href="/facility/control/FindShipment?destinationFacilityId=10000&amp;lookupFlag=Y" class="buttontext">Incoming Shipments</a></li>
  <li><a href="/facility/control/FindShipment?originFacilityId=10000&amp;lookupFlag=Y" class="buttontext">Outgoing Shipments</a></li>
  <li><a href="/facility/control/EditFacilityContent?facilityId=10000" class="buttontext">Content</a></li>
  <li><a href="/facility/control/EditFacilityGeoPoint?facilityId=10000" class="buttontext">Geo Location</a></li>
</ul>

<br clear="all" /><br clear="all" />
