<!-- START OF MAIN CONTENT -->
<div class="mainwrapper">
  <div class="mainwrapperinner">

    <div class="maincontent noright">
      <div class="maincontentinner">

        <%= render "maintab" %>

        <h4>Edit Facility Inventory Items for HGH1 [10000]</h4>
        <ul class="subnav">
          <li><a class="buttontext2" href="/facility/control/EditFacility">New Facility</a></li>
          <li><a class="buttontext2" href="/facility/control/EditInventoryItem?facilityId=10000">New Inventory Item</a></li>
          <li><a class="buttontext2" href="/facility/control/SearchInventoryItemsByLabels?facilityId=10000">Search by Labels</a></li>
        </ul>
        <br clear="all" /><br clear="all" />

        <div class="content">
          <div class="contenttitle">
            <h2 class="form"><span>Search Options</span></h2>
          </div><!--contenttitle--><hr />
          <br clear="all" />
          <form action="/facility/control/UpdateFacility" name="EditFacilityForm" method="post" class="stdform">
            <input type="hidden" name="facilityId" value="10000">
            <p>
              <label>Facility Id</label><span class="field"><select name="facilityId" id="SearchInventoryItemsParams_facilityId" size="1"><option selected="selected" value="10000">HGH1 [10000]</option><option value="10000">HGH1 [10000]</option></select></span>
            </p>
            <p>
              <label>Date Time Received</label><span class="field"><input id="datetimeReceived_fld0_value" type="text" name="datetimeReceived_fld0_value" title="Format: yyyy-MM-dd HH:mm:ss.SSS" size="25" maxlength="30" class="mediuminput">&nbsp;<select name="datetimeReceived_fld0_op" class="selectBox"><option value="equals" selected="selected">Equals</option><option value="greaterThanFromDayStart">Greater Than From Day Start</option></select>&nbsp;<input id="datetimeReceived_fld1_value" type="text" name="datetimeReceived_fld1_value" title="Format: yyyy-MM-dd HH:mm:ss.SSS" size="25" maxlength="30" class="mediuminput">&nbsp;<select name="datetimeReceived_fld1_op" class="selectBox"><option value="opLessThan">Less Than</option><option value="upToDay">Up To Day</option><option value="upThruDay">Up Through Day</option><option value="empty">Is Empty</option></select></span>
            </p>
            <p>
              <label>Product Id</label><span class="field"><select name="productId_op" class="selectBox"><option value="contains" selected="selected">Contains</option><option value="notEqual">Not Equal</option></select>&nbsp;<input type="text" name="productId" size="25" class="mediuminput">&nbsp;<input type="checkbox" name="productId_ic" value="Y" checked="checked">&nbsp;Ignore Case</span>
            </p>
            <p>
              <label>Internal Name</label><span class="field"><select name="productId_op" class="selectBox"><option value="contains" selected="selected">Contains</option><option value="notEqual">Not Equal</option></select>&nbsp;<input type="text" name="productId" size="25" class="mediuminput">&nbsp;<input type="checkbox" name="productId_ic" value="Y" checked="checked">&nbsp;Ignore Case</span>
            </p>
            <p>
              <label>Inventory Item Id</label><span class="field"><select name="productId_op" class="selectBox"><option value="contains" selected="selected">Contains</option><option value="notEqual">Not Equal</option></select>&nbsp;<input type="text" name="productId" size="25" class="mediuminput">&nbsp;<input type="checkbox" name="productId_ic" value="Y" checked="checked">&nbsp;Ignore Case</span>
            </p>
            <p>
              <label>Status ID</label><span class="field"><select name="statusId" id="SearchInventoryItemsParams_statusId" size="1"><option value="">&nbsp;</option>
              <option value="INV_BEING_TRANS_PRM">Being Transfered (Promised)</option></select></span>
            </p>
            <p>
              <label>Serial Number</label><span class="field"><select name="productId_op" class="selectBox"><option value="contains" selected="selected">Contains</option><option value="notEqual">Not Equal</option></select>&nbsp;<input type="text" name="productId" size="25" class="mediuminput">&nbsp;<input type="checkbox" name="productId_ic" value="Y" checked="checked">&nbsp;Ignore Case</span>
            </p>
            <p>
              <label>Soft Identifier</label><span class="field"><input type="text" name="softIdentifier" size="25" id="SearchInventoryItemsParams_softIdentifier" autocomplete="off"></span>
            </p>
            <p>
              <label>Manufacturer Party Id</label><span class="field"><input type="text" name="partyId" size="25" id="0_lookupId_SearchInventoryItemsParams_partyId" class="ui-autocomplete-input" autocomplete="off"></span>
            </p>
            <p>
              <label>Lot Id</label><span class="field"><input type="text" name="lotId" size="25" id="SearchInventoryItemsParams_lotId" autocomplete="off"></span>
            </p>

            <p>
              <span class="field"><input type="submit" name="submitButton" value="Find" onClick="javascript:var field=document.SearchInventoryItemsParams.softIdentifier;var tmp=field.value;if (tmp.substring(0, 2) == '0x') {tmp=parseInt(tmp, 16)};if (!isNaN(tmp)) {field.value=tmp};return true;"></span>
            </p>

          </form>

        </div><!--content-->
        <br clear="all" />
        <div class="content">

          <div class="contenttitle">
            <h2 class="form"><span>Search Results</span></h2>
          </div><!--contenttitle--><hr />
          <br clear="all" />
          <ul class="page">
            <li>First</li>
            <li>Previous</li>
            <li>Page&nbsp;<select name="page" size="1" onChange="location.href='/facility/control/EditFacilityInventoryItems?noConditionFind=N&amp;facilityId=10000&amp;VIEW_SIZE_1=50&amp;VIEW_INDEX_1='+this.value;"><option selected="selected" value="0">1</option></select></li>
            <li><a href="/facility/control/EditFacilityInventoryItems?noConditionFind=N&amp;facilityId=10000&amp;VIEW_SIZE_1=50&amp;VIEW_INDEX_1=1">Next</a></li>
            <li><a href="/facility/control/EditFacilityInventoryItems?noConditionFind=N&amp;facilityId=10000&amp;VIEW_SIZE_1=50&amp;VIEW_INDEX_1=35">Last</a></li>
            <li><select name="pageSize" size="1" onChange="location.href='/facility/control/EditFacilityInventoryItems?noConditionFind=N&amp;facilityId=10000&amp;VIEW_SIZE_1='+this.value+'&amp;VIEW_INDEX_1=0';"> <option selected="selected" value="50">50</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option selected="selected" value="50">50</option>
              <option value="100">100</option>
              <option value="200">200</option>
            </select>&nbsp;Items per page</li>
            <li>Displaying 1 - 50 of 1,759</li>
          </ul>
          <br clear="all" />
          <table class="stdtable" border="1" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
              <th class="head1">Inventory Item Id</th>
              <th class="head1">InventoryItem Type ID</th>
              <th class="head1">Status ID</th>
              <th class="head1">Date Time Received</th>
              <th class="head1">Expire Date</th>
              <th class="head1">Product Id</th>
              <th class="head1">Internal Name</th>
              <th class="head1">Party Id</th>
              <th class="head1">Location Seq Id</th>
              <th class="head1">Type</th>
              <th class="head1">Lot Id</th>
              <th class="head1">Bin Number</th>
              <th class="head1">Serial Number</th>
              <th class="head1">Soft Identifier</th>
              <th class="head1">Quantity On Hand Total</th>
              <th class="head1">Transfer</th>
            </tr>
            </thead>
            <tr>
              <td><a class="buttontext" href="/facility/control/EditInventoryItem?inventoryItemId=11113&amp;facilityId=10000" title="Inventory Item Id">11113</a></td>
              <td>Non-Serialized</td>
              <td>Defective (Non-Serialized)</td>
              <td>2012-04-03 09:22:06.062</td>
              <td>&nbsp;</td>
              <td>BG001-0108</td>
              <td>Deep Red Windy Rose</td>
              <td>&nbsp;</td>
              <td><a class="buttontext" href="/facility/control/EditFacilityLocation?facilityId=10000" title="Location Seq Id">:::: []</a></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>0 / 0</td>
              <td><a class="buttontext" href="/facility/control/TransferInventoryItem?facilityId=10000&amp;inventoryItemId=11113" title="Transfer">Transfer</a></td>
            </tr>
          </table>
          <br clear="all" />
          <ul class="page">
            <li>First</li>
            <li>Previous</li>
            <li>Page&nbsp;<select name="page" size="1" onChange="location.href='/facility/control/EditFacilityInventoryItems?noConditionFind=N&amp;facilityId=10000&amp;VIEW_SIZE_1=50&amp;VIEW_INDEX_1='+this.value;"><option selected="selected" value="0">1</option></select></li>
            <li><a href="/facility/control/EditFacilityInventoryItems?noConditionFind=N&amp;facilityId=10000&amp;VIEW_SIZE_1=50&amp;VIEW_INDEX_1=1">Next</a></li>
            <li><a href="/facility/control/EditFacilityInventoryItems?noConditionFind=N&amp;facilityId=10000&amp;VIEW_SIZE_1=50&amp;VIEW_INDEX_1=35">Last</a></li>
            <li><select name="pageSize" size="1" onChange="location.href='/facility/control/EditFacilityInventoryItems?noConditionFind=N&amp;facilityId=10000&amp;VIEW_SIZE_1='+this.value+'&amp;VIEW_INDEX_1=0';"> <option selected="selected" value="50">50</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option selected="selected" value="50">50</option>
              <option value="100">100</option>
              <option value="200">200</option>
            </select>&nbsp;Items per page</li>
            <li>Displaying 1 - 50 of 1,759</li>
          </ul>

        </div><!--content-->

      </div><!--maincontentinner-->


    </div><!--maincontent-->

  </div><!--mainwrapperinner-->
</div><!--mainwrapper-->
<!-- END OF MAIN CONTENT -->
