
<!-- START OF MAIN CONTENT -->
<div class="mainwrapper">
  <div class="mainwrapperinner">

    <div class="maincontent noright">
      <div class="maincontentinner">

        <%= render "maintab" %>

        <ul class="subnav">
          <li><a href="/facility/control/EditInventoryItem?inventoryItemId=11113&amp;facilityId=10000" class="buttontext2">Inventory Item</a></li>
          <li><a href="/facility/control/ViewInventoryItemDetail?inventoryItemId=11113&amp;facilityId=10000" class="buttontext2">Inventory Details</a></li>
          <li><a href="/facility/control/EditInventoryItemLabels?inventoryItemId=11113&amp;facilityId=10000" class="buttontext2">Label Applicability</a></li>
        </ul>
        <br clear="all" /><br clear="all" />

        <div class="content">
          <div class="contenttitle">
            <h2 class="form"><span>Edit Inventory Item</span><a class="buttontext" href="/facility/control/EditInventoryItem?facilityId=10000">New Inventory Item</a>
              <a class="buttontext" href="/facility/control/TransferInventoryItem?inventoryItemId=11113&amp;facilityId=10000">Transfer Item</a></h2>
          </div><!--contenttitle-->
          <hr />
          <br clear="all" />
          <form method="post" action="/facility/control/UpdateInventoryItem" id="EditInventoryItem" class="stdform" onSubmit="javascript:submitFormDisableSubmits(this)" name="EditInventoryItem" novalidate>
            <input type="hidden" name="inventoryItemId" value="11113" id="EditInventoryItem_inventoryItemId">
            <input type="hidden" name="accountingQuantityTotal" value="1" id="EditInventoryItem_accountingQuantityTotal">
            <input type="hidden" name="totals" id="EditInventoryItem_totals">
            <p>
              <label>Inventory Item Id</label><span class="field">11113 <em>This cannot be changed without re-creating the inventoryItem</em></span>
            </p>
            <p>
              <label>InventoryItem Type ID</label><span class="field"><select name="inventoryItemTypeId" id="EditInventoryItem_inventoryItemTypeId" size="1"><option selected="selected" value="NON_SERIAL_INV_ITEM">Non-Serialized</option> <option value="NON_SERIAL_INV_ITEM">---</option></select></span>
            </p>
            <p>
              <label>Product Id</label><span class="field"><input type="text" class="mediuminput" name="productId" value="BG001-0108" size="25" id="0_lookupId_EditInventoryItem_productId" autocomplete="off"> * <a href="/catalog/control/EditProduct?externalLoginKey=EL416110451591&amp;productId=BG001-0108" title="Product Id">Edit Product [BG001-0108]</a></span>
            </p>
            <p>
              <label>Party Id</label><span class="field"><input type="text" name="partyId" size="25" id="1_lookupId_EditInventoryItem_partyId" class="mediuminput" autocomplete="off"></span>
            </p>
            <p>
              <label>Owner Party Id</label><span class="field"><input type="text" name="ownerPartyId" value="10000" size="25" id="2_lookupId_EditInventoryItem_ownerPartyId" class="mediuminput" autocomplete="off"></span>
            </p>
            <p>
              <label>Status ID</label><span class="field"><select name="statusId" id="EditInventoryItem_statusId" size="1"> <option selected="selected" value="INV_NS_DEFECTIVE">Defective (Non-Serialized)</option> <option value="INV_NS_DEFECTIVE">---</option><option value="">&nbsp;</option></select></span>
            </p>
            <p>
              <label>Date Time Received</label><span class="field"><input type="text" name="datetimeReceived_i18n" title="Format: yyyy-MM-dd HH:mm:ss.SSS" value="2012-04-03 09:22:06.062" size="25" maxlength="30" id="EditInventoryItem_datetimeReceived_i18n" class="mediuminput"></span>
            </p>
            <p>
              <label>Date Time Manufactured</label><span class="field"><input type="text" name="datetimeManufactured_i18n" title="Format: yyyy-MM-dd HH:mm:ss.SSS" size="25" maxlength="30" id="EditInventoryItem_datetimeManufactured_i18n" class="mediuminput"></span>
            </p>
            <p>
              <label>Expire Date</label><span class="field"><input type="text" name="expireDate_i18n" title="Format: yyyy-MM-dd HH:mm:ss.SSS" size="25" maxlength="30" id="EditInventoryItem_expireDate_i18n" class="mediuminput"></span>
            </p>
            <p>
              <label>Facility Id</label><span class="field"><select name="facilityId" id="EditInventoryItem_facilityId" size="1"> <option selected="selected" value="10000">HGH1</option> <option value="10000">---</option></select></span>
            </p>
            <p>
              <label>Expire Date</label><span class="field"><input type="text" name="expireDate_i18n" title="Format: yyyy-MM-dd HH:mm:ss.SSS" size="25" maxlength="30" id="EditInventoryItem_expireDate_i18n" class="mediuminput"></span>
            </p>
            <p>
              <label>Container Id</label><span class="field"><input type="text" name="expireDate_i18n" title="Format: yyyy-MM-dd HH:mm:ss.SSS" size="25" maxlength="30" id="EditInventoryItem_expireDate_i18n" class="mediuminput"></span>
            </p>
            <p>
              <label>Lot Id</label><span class="field"><input type="text" name="expireDate_i18n" title="Format: yyyy-MM-dd HH:mm:ss.SSS" size="25" maxlength="30" id="EditInventoryItem_expireDate_i18n" class="mediuminput"></span>
            </p>
            <p>
              <label>Uom Id</label><span class="field"><input type="text" name="expireDate_i18n" title="Format: yyyy-MM-dd HH:mm:ss.SSS" size="25" maxlength="30" id="EditInventoryItem_expireDate_i18n" class="mediuminput"></span>
            </p>
            <p>
              <label>Bin Number</label><span class="field"><input type="text" name="binNumber" size="20" maxlength="20" id="EditInventoryItem_binNumber" class="mediuminput"></span>
            </p>
            <p>
              <label>Facility Location</label><span class="field"><input type="text" name="locationSeqId" size="25" id="3_lookupId_EditInventoryItem_locationSeqId" class="mediuminput" autocomplete="off"></span>
            </p>
            <p>
              <label>Comments</label><span class="field"><input type="text" name="comments" value="Returned Item RA# 10010" size="60" maxlength="250" id="EditInventoryItem_comments"></span>
            </p>
            <p>
              <label>Accounting Quantity Total</label><span class="field">1</span>
            </p>
            <p>
              <label>Serial Number</label><span class="field"><input type="text" name="serialNumber" size="60" maxlength="250" id="EditInventoryItem_serialNumber"></span>
            </p>
            <p>
              <label>Soft Identifier</label><span class="field"><input type="text" name="softIdentifier" size="60" maxlength="250" id="EditInventoryItem_softIdentifier"></span>
            </p>
            <p>
              <label>Activation Number</label><span class="field"><input type="text" name="activationNumber" size="60" maxlength="250" id="EditInventoryItem_activationNumber"></span>
            </p>
            <p>
              <label>Activation Valid Thru</label><span class="field"><input type="text" name="activationValidThru_i18n" title="Format: yyyy-MM-dd HH:mm:ss.SSS" size="25" maxlength="30" id="EditInventoryItem_activationValidThru_i18n" class="mediuminput"></span>
            </p><p>
            <label>Unit Cost</label><span class="field"><input type="text" name="unitCost" value="284.3055" size="25" id="EditInventoryItem_unitCost" autocomplete="off" class="mediuminput"></span>
          </p>
            <p>
              <label>Currency</label><span class="field"><input type="text" name="currencyUomId" value="USD" size="20" maxlength="20" id="EditInventoryItem_currencyUomId" class="mediuminput"></span>
            </p>
            <p>
              <label>Available To Promise / Quantity On Hand</label><span class="field">0 / 0</span>
            </p>
            <p>
              <span class="field"><input type="submit" name="submit" value="Update"></span>
            </p>

          </form>

        </div><!--content-->
        <br clear="all" />
        <div class="content">
          <div class="contenttitle">
            <h2 class="form"><span>Inventory Item Reservations</span></h2>
          </div><!--contenttitle-->
          <br clear="all" />
          <table class="stdtable">
            <thead>
            <tr>
              <th class="head1">Order Id</th>
              <th class="head1">Ship Group Seq Id</th>
              <th class="head1">Order Item Seq Id</th>
              <th class="head1">Reserve Order Enum Id</th>
              <th class="head1">Quantity</th>
              <th class="head1">Quantity Not Available</th>
              <th class="head1">Reserved Date Time</th>
              <th class="head1">Created Datetime</th>
              <th class="head1">Promised Datetime</th>
              <th class="head1">Current Promised Date</th>
              <th class="head1">Priority</th>
              <th class="head1">Sequence Id</th>
              <th class="head1">Old Pick Start Date</th>
            </tr>
            </thead>
          </table>
          <br clear="all" />

        </div><!--content-->

        <div class="content">
          <div class="contenttitle">
            <h2 class="form"><span>Physical Inventory Variances</span></h2>
          </div><!--contenttitle-->
          <br clear="all" />
          <form method="post" action="/facility/control/createPhysicalInventoryAndVariance" id="CreatePhysicalInventoryAndVariance" class="stdform" onSubmit="javascript:submitFormDisableSubmits(this)" name="CreatePhysicalInventoryAndVariance" novalidate>
            <input type="hidden" name="inventoryItemId" value="11113" id="CreatePhysicalInventoryAndVariance_inventoryItemId">
            <p>
              <label>Variance Reason Id</label>
              <span class="field"><select name="varianceReasonId" id="CreatePhysicalInventoryAndVariance_varianceReasonId" size="1"><option value="VAR_DAMAGED">Damaged</option><option value="VAR_MISSHIP_SHIPPED">Mis-shipped Item Shipped (-)</option></select></span>
            </p>
            <p>
              <label>Available To Promise Var</label>
              <span class="field"><input type="text" name="availableToPromiseVar" size="25" id="CreatePhysicalInventoryAndVariance_availableToPromiseVar" class="mediuminput"></span>
            </p>
            <p>
              <label>Available To Promise Var</label>
              <span class="field"><input type="text" name="availableToPromiseVar" size="25" id="CreatePhysicalInventoryAndVariance_availableToPromiseVar" class="mediuminput"></span>
            </p>
            <p>
              <label>Comments</label>
              <span class="field"><input type="text" name="comments" size="60" maxlength="250" id="CreatePhysicalInventoryAndVariance_comments" class="longinput"></span>
            </p>
            <p>
              <span class="field"><input type="submit" class="smallSubmit" name="submitButton" value="Add"></span>
            </p>

          </form>

          <table class="stdtable">
            <thead>
            <tr>
              <th class="head1">Physical Inventory Id</th>
              <th class="head1">Physical Inventory Date</th>
              <th class="head1">Party Id</th>
              <th class="head1">General Comments</th>
              <th class="head1">Variance Reason Id</th>
              <th class="head1">Available To Promise Var</th>
              <th class="head1">Quantity On Hand Var</th>
              <th class="head1">Comments</th>
            </tr>
            </thead>
            <tr>
              <td>10747</td>
              <td>2012-06-19 06:19:58.196</td>
              <td>Anthony Deng [12015]</td>
              <td>&nbsp;</td>
              <td>Lost</td>
              <td>-1</td>
              <td>-1</td>
              <td>&nbsp;</td>
            </tr>
          </table>
          <br clear="all" />

        </div><!--content-->

      </div><!--maincontentinner-->


    </div><!--maincontent-->

  </div><!--mainwrapperinner-->
</div><!--mainwrapper-->
<!-- END OF MAIN CONTENT -->
