<!-- START OF MAIN CONTENT -->
<div class="mainwrapper">
  <div class="mainwrapperinner">
    <div class="maincontent noright">
      <div class="maincontentinner">

        <%= render "maintab" %>

        <div class="content">

          <div class="contenttitle">
            <h2 class="form"><span>Edit Facility Location for HGH1 [10000]</span><a href="/facility/control/EditFacility" class="buttontext">New Facility</a>&nbsp;&nbsp;<a href="/facility/control/EditFacilityLocation?facilityId=10000" class="buttontext">New Facility Location</a>&nbsp;&nbsp;<a href="/facility/control/EditInventoryItem?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">New Inventory Item</a></h2>
            <br clear="all" />
          </div><!--contenttitle--><hr />
          <br clear="all" />
          <br clear="all" />
          <form action="/facility/control/UpdateFacility" name="EditFacilityForm" method="post" class="stdform">
            <input type="hidden" name="facilityId" value="10000">
            <p>
              <label>Facility Id</label><span class="field">10000&nbsp;</span>
            </p>
            <p>
              <label>Location SeqID</label><span class="field">01AK01AQ</span>
            </p>
            <p>
              <label>Type</label><span class="field"><select name="locationTypeEnumId">
              <option value="FLT_PICKLOC">Pick/Primary</option>
              <option value="FLT_PICKLOC">----</option>
            </select></span>
            </p>
            <p>
              <label>Area</label><span class="field"><input type="text" name="areaId" value="01" size="19" maxlength="20" class="mediuminput"></span>
            </p>
            <p>
              <label>Aisle</label><span class="field"><input type="text" name="aisleId" value="AK" size="19" maxlength="20" class="mediuminput"></span>
            </p>
            <p>
              <label>Section</label><span class="field"><input type="text" name="sectionId" value="" size="19" maxlength="20" class="mediuminput"></span>
            </p>
            <p>
              <label>Level</label><span class="field"><input type="text" name="levelId" value="01" size="19" maxlength="20" class="mediuminput"></span>
            </p>
            <p>
              <label>Position</label><span class="field"><input type="text" name="positionId" value="AQ" size="19" maxlength="20" class="mediuminput"></span>
            </p>
            <p>
              <span class="field"><input type="submit" value="Update"></span>
            </p>

          </form>

        </div><!--content-->
        <br clear="all" />
        <div class="content">

          <div class="contenttitle">
            <h2 class="form"><span>Location Product(s)</span></h2>
          </div><!--contenttitle--><hr />
          <br clear="all" />
          <table class="phtable">
            <tr>
              <td style="width:20%;">Product</td>
              <td>Minimum Stock & Move Quantity</td>
            </tr>
          </table>
        </div><!--content-->
        <br clear="all" />
        <div class="content">

          <div class="contenttitle">
            <h2 class="form"><span>Add Product</span></h2>
          </div><!--contenttitle--><hr />
          <br clear="all" />
          <form method="post" action="/facility/control/createProductFacilityLocation" style="margin: 20px;" name="createProductFacilityLocationForm" class="stdform">
            <input type="hidden" name="facilityId" value="10000">
            <input type="hidden" name="locationSeqId" value="01AK01AQ">
            <input type="hidden" name="useValues" value="true">
            <p><label>Product ID</label><span class="field"> <input type="text" size="10" name="productId" class="smallinput">&nbsp;&nbsp;</span></p>
            <p><label>Minimum Stock</label> <span class="field"><input type="text" size="10" name="minimumStock" class="smallinput">&nbsp;&nbsp;</span>
            </p><p><label>Move Quantity</label><span class="field"> <input type="text" size="10" name="moveQuantity" class="smallinput">&nbsp;&nbsp;</span>
          </p><p><span class="field"><input type="submit" value="Add"></span></p>
          </form>
        </div><!--content-->

      </div><!--maincontentinner-->


    </div><!--maincontent-->

  </div><!--mainwrapperinner-->
</div><!--mainwrapper-->
<!-- END OF MAIN CONTENT -->
