<!-- START OF MAIN CONTENT -->
<div class="mainwrapper">
<div class="mainwrapperinner">

<div class="maincontent noright">
<div class="maincontentinner">

<%= render "maintab" %>

<ul class="subnav">
  <li><a class="buttontext2" href="/facility/control/FindFacilityTransfers?facilityId=10000&amp;activeOnly=true">Active only</a></li>
  <li><a class="buttontext2" href="/facility/control/FindFacilityTransfers?facilityId=10000&amp;activeOnly=false">All</a></li>
  <li><a class="buttontext2" href="/facility/control/FindFacilityTransfers?facilityId=10000&amp;completeRequested=true">Complete Requested Transfers</a></li>
  <li><a class="buttontext2" href="/facility/control/TransferInventoryItem?facilityId=10000">Inventory Transfer</a></li>
</ul>
<br clear="all" /><br clear="all" />

<div class="content">
  <div class="contenttitle">
    <h2 class="form"><span>Inventory Transfers for HGH1 [ID: 10000] To: HGH1 [ID: 10000]</span></h2>
  </div><!--contenttitle-->
  <br clear="all" />
  <table class="stdtable">
    <thead>
    <tr>
      <th class="head1">Inventory Transfer</th>
      <th class="head1">Inventory Item Id</th>
      <th class="head1">Facility Id</th>
      <th class="head1">Facility Name</th>
      <th class="head1">Location Seq Id</th>
      <th class="head1">Product Id</th>
      <th class="head1">Product Name</th>
      <th class="head1">Serial Number</th>
      <th class="head1">Atp/Qoh</th>
      <th class="head1">Location Seq Id To</th>
      <th class="head1">Send Date</th>
      <th class="head1">Receive Date</th>
      <th class="head1">Status ID</th>
    </tr>
    </thead>
    <tr>
      <td><a class="buttontext" href="/facility/control/TransferInventoryItem?inventoryTransferId=11349" title="Inventory Transfer">11349</a></td>
      <td><a class="buttontext" href="/facility/control/EditInventoryItem?inventoryItemId=11687" title="Inventory Item Id">11687</a></td>
      <td><a class="buttontext" href="/facility/control/EditFacility?facilityId=10000" title="Facility Id">10000</a></td>
      <td>HIGH1</td>
      <td>01AN08A05</td>
      <td><a class="buttontext" href="/catalog/control/EditProduct?externalLoginKey=EL661971833344&amp;productId=10676" title="Product Id">10676</a></td>
      <td>A3316 Yellow</td>
      <td>&nbsp;</td>
      <td>0/0</td>
      <td>01AN08A06</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>Requested</td>
    </tr>
    <tr>
      <td><a class="buttontext" href="/facility/control/TransferInventoryItem?inventoryTransferId=11350" title="Inventory Transfer">11350</a></td>
      <td><a class="buttontext" href="/facility/control/EditInventoryItem?inventoryItemId=11687" title="Inventory Item Id">11687</a></td>
      <td><a class="buttontext" href="/facility/control/EditFacility?facilityId=10000" title="Facility Id">10000</a></td>
      <td>HIGH1</td>
      <td>01AN08A05</td>
      <td><a class="buttontext" href="/catalog/control/EditProduct?externalLoginKey=EL661971833344&amp;productId=10676" title="Product Id">10676</a></td>
      <td>A3316 Yellow</td>
      <td>&nbsp;</td>
      <td>0/0</td>
      <td>01AN08A06</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>Requested</td>
    </tr>
    <tr>
      <td><a class="buttontext" href="/facility/control/TransferInventoryItem?inventoryTransferId=11349" title="Inventory Transfer">11349</a></td>
      <td><a class="buttontext" href="/facility/control/EditInventoryItem?inventoryItemId=11687" title="Inventory Item Id">11687</a></td>
      <td><a class="buttontext" href="/facility/control/EditFacility?facilityId=10000" title="Facility Id">10000</a></td>
      <td>HIGH1</td>
      <td>01AN08A05</td>
      <td><a class="buttontext" href="/catalog/control/EditProduct?externalLoginKey=EL661971833344&amp;productId=10676" title="Product Id">10676</a></td>
      <td>A3316 Yellow</td>
      <td>&nbsp;</td>
      <td>0/0</td>
      <td>01AN08A06</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>Requested</td>
    </tr>
    <tr>
      <td><a class="buttontext" href="/facility/control/TransferInventoryItem?inventoryTransferId=11349" title="Inventory Transfer">11349</a></td>
      <td><a class="buttontext" href="/facility/control/EditInventoryItem?inventoryItemId=11687" title="Inventory Item Id">11687</a></td>
      <td><a class="buttontext" href="/facility/control/EditFacility?facilityId=10000" title="Facility Id">10000</a></td>
      <td>HIGH1</td>
      <td>01AN08A05</td>
      <td><a class="buttontext" href="/catalog/control/EditProduct?externalLoginKey=EL661971833344&amp;productId=10676" title="Product Id">10676</a></td>
      <td>A3316 Pale Pink</td>
      <td>&nbsp;</td>
      <td>0/0</td>
      <td>01AN08A06</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>Requested</td>
    </tr>
    <tr>
      <td><a class="buttontext" href="/facility/control/TransferInventoryItem?inventoryTransferId=11349" title="Inventory Transfer">11349</a></td>
      <td><a class="buttontext" href="/facility/control/EditInventoryItem?inventoryItemId=11687" title="Inventory Item Id">11687</a></td>
      <td><a class="buttontext" href="/facility/control/EditFacility?facilityId=10000" title="Facility Id">10000</a></td>
      <td>HIGH1</td>
      <td>01AN08A05</td>
      <td><a class="buttontext" href="/catalog/control/EditProduct?externalLoginKey=EL661971833344&amp;productId=10676" title="Product Id">10676</a></td>
      <td>A3316 Yellow</td>
      <td>&nbsp;</td>
      <td>0/0</td>
      <td>01AN08A06</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>Requested</td>
    </tr>
    <tr>
      <td><a class="buttontext" href="/facility/control/TransferInventoryItem?inventoryTransferId=11349" title="Inventory Transfer">11349</a></td>
      <td><a class="buttontext" href="/facility/control/EditInventoryItem?inventoryItemId=11687" title="Inventory Item Id">11687</a></td>
      <td><a class="buttontext" href="/facility/control/EditFacility?facilityId=10000" title="Facility Id">10000</a></td>
      <td>HIGH1</td>
      <td>01AN08A05</td>
      <td><a class="buttontext" href="/catalog/control/EditProduct?externalLoginKey=EL661971833344&amp;productId=10676" title="Product Id">10676</a></td>
      <td>A3316 Yellow</td>
      <td>&nbsp;</td>
      <td>0/0</td>
      <td>01AN08A06</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>Requested</td>
    </tr>
  </table>
  <br clear="all" />

</div><!--content-->

<div class="content">
  <div class="contenttitle">
    <h2 class="form"><span>From: HGH1 [ID: 10000]</span></h2>
  </div><!--contenttitle-->
  <br clear="all" />
  <table class="stdtable">
    <thead>
    <tr>
      <th class="head1">Inventory Transfer</th>
      <th class="head1">Inventory Item Id</th>
      <th class="head1">Facility Id</th>
      <th class="head1">Facility Name</th>
      <th class="head1">Location Seq Id</th>
      <th class="head1">Product Id</th>
      <th class="head1">Product Name</th>
      <th class="head1">Serial Number</th>
      <th class="head1">Atp/Qoh</th>
      <th class="head1">Location Seq Id To</th>
      <th class="head1">Send Date</th>
      <th class="head1">Receive Date</th>
      <th class="head1">Status ID</th>
    </tr>
    </thead>
    <tr>
      <td><a class="buttontext" href="/facility/control/TransferInventoryItem?inventoryTransferId=11349" title="Inventory Transfer">11349</a></td>
      <td><a class="buttontext" href="/facility/control/EditInventoryItem?inventoryItemId=11687" title="Inventory Item Id">11687</a></td>
      <td><a class="buttontext" href="/facility/control/EditFacility?facilityId=10000" title="Facility Id">10000</a></td>
      <td>HIGH1</td>
      <td>01AN08A05</td>
      <td><a class="buttontext" href="/catalog/control/EditProduct?externalLoginKey=EL661971833344&amp;productId=10676" title="Product Id">10676</a></td>
      <td>A3316 Yellow</td>
      <td>&nbsp;</td>
      <td>0/0</td>
      <td>01AN08A06</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>Requested</td>
    </tr>
    <tr>
      <td><a class="buttontext" href="/facility/control/TransferInventoryItem?inventoryTransferId=11350" title="Inventory Transfer">11350</a></td>
      <td><a class="buttontext" href="/facility/control/EditInventoryItem?inventoryItemId=11687" title="Inventory Item Id">11687</a></td>
      <td><a class="buttontext" href="/facility/control/EditFacility?facilityId=10000" title="Facility Id">10000</a></td>
      <td>HIGH1</td>
      <td>01AN08A05</td>
      <td><a class="buttontext" href="/catalog/control/EditProduct?externalLoginKey=EL661971833344&amp;productId=10676" title="Product Id">10676</a></td>
      <td>A3316 Yellow</td>
      <td>&nbsp;</td>
      <td>0/0</td>
      <td>01AN08A06</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>Requested</td>
    </tr>
    <tr>
      <td><a class="buttontext" href="/facility/control/TransferInventoryItem?inventoryTransferId=11349" title="Inventory Transfer">11349</a></td>
      <td><a class="buttontext" href="/facility/control/EditInventoryItem?inventoryItemId=11687" title="Inventory Item Id">11687</a></td>
      <td><a class="buttontext" href="/facility/control/EditFacility?facilityId=10000" title="Facility Id">10000</a></td>
      <td>HIGH1</td>
      <td>01AN08A05</td>
      <td><a class="buttontext" href="/catalog/control/EditProduct?externalLoginKey=EL661971833344&amp;productId=10676" title="Product Id">10676</a></td>
      <td>A3316 Yellow</td>
      <td>&nbsp;</td>
      <td>0/0</td>
      <td>01AN08A06</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>Requested</td>
    </tr>
    <tr>
      <td><a class="buttontext" href="/facility/control/TransferInventoryItem?inventoryTransferId=11349" title="Inventory Transfer">11349</a></td>
      <td><a class="buttontext" href="/facility/control/EditInventoryItem?inventoryItemId=11687" title="Inventory Item Id">11687</a></td>
      <td><a class="buttontext" href="/facility/control/EditFacility?facilityId=10000" title="Facility Id">10000</a></td>
      <td>HIGH1</td>
      <td>01AN08A05</td>
      <td><a class="buttontext" href="/catalog/control/EditProduct?externalLoginKey=EL661971833344&amp;productId=10676" title="Product Id">10676</a></td>
      <td>A3316 Pale Pink</td>
      <td>&nbsp;</td>
      <td>0/0</td>
      <td>01AN08A06</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>Requested</td>
    </tr>
    <tr>
      <td><a class="buttontext" href="/facility/control/TransferInventoryItem?inventoryTransferId=11349" title="Inventory Transfer">11349</a></td>
      <td><a class="buttontext" href="/facility/control/EditInventoryItem?inventoryItemId=11687" title="Inventory Item Id">11687</a></td>
      <td><a class="buttontext" href="/facility/control/EditFacility?facilityId=10000" title="Facility Id">10000</a></td>
      <td>HIGH1</td>
      <td>01AN08A05</td>
      <td><a class="buttontext" href="/catalog/control/EditProduct?externalLoginKey=EL661971833344&amp;productId=10676" title="Product Id">10676</a></td>
      <td>A3316 Yellow</td>
      <td>&nbsp;</td>
      <td>0/0</td>
      <td>01AN08A06</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>Requested</td>
    </tr>
    <tr>
      <td><a class="buttontext" href="/facility/control/TransferInventoryItem?inventoryTransferId=11349" title="Inventory Transfer">11349</a></td>
      <td><a class="buttontext" href="/facility/control/EditInventoryItem?inventoryItemId=11687" title="Inventory Item Id">11687</a></td>
      <td><a class="buttontext" href="/facility/control/EditFacility?facilityId=10000" title="Facility Id">10000</a></td>
      <td>HIGH1</td>
      <td>01AN08A05</td>
      <td><a class="buttontext" href="/catalog/control/EditProduct?externalLoginKey=EL661971833344&amp;productId=10676" title="Product Id">10676</a></td>
      <td>A3316 Yellow</td>
      <td>&nbsp;</td>
      <td>0/0</td>
      <td>01AN08A06</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>Requested</td>
    </tr>
  </table>
  <br clear="all" />

</div><!--content-->

</div><!--maincontentinner-->


</div><!--maincontent-->

</div><!--mainwrapperinner-->
</div><!--mainwrapper-->
<!-- END OF MAIN CONTENT -->
