 <!-- START OF MAIN CONTENT -->
 <div class="mainwrapper">
  <div class="mainwrapperinner">

    <div class="maincontent noright">
      <h4>Find Facility Inventory Items for HGH1 [10000]</h4><hr />  
      <br clear="all" />
      <div class="content">
       <div class="contenttitle">
        <h2 class="form"><span>Search Options</span></h2>
      </div><!--contenttitle--><hr />  
      <br clear="all" />
      <form action="/facility/control/UpdateFacility" name="EditFacilityForm" method="post" class="stdform">
        <input type="hidden" name="facilityId" value="10000">
        <p>
         <label>Product ID</label><span class="field"><input type="text" name="productId" size="25" id="FindFacilityInventoryByProduct_productId" autocomplete="off"></span>
       </p>
       <p>
         <label>Internal Name</label><span class="field"><input type="text" name="internalName" size="25" id="FindFacilityInventoryByProduct_internalName" autocomplete="off"></span>
       </p>
       <p>
         <label>Product Type</label><span class="field"><select name="productTypeId" id="FindFacilityInventoryByProduct_productTypeId" size="1"><option value="">&nbsp;</option>
         <option value="FINDIG_GOOD">Finished/Digital Good</option><option selected="selected" value="FINISHED_GOOD">Finished Good</option> </select></span>
       </p>
       <p>
         <label>Category</label><span class="field"><input type="text" name="searchInProductCategoryId" size="25" id="0_lookupId_FindFacilityInventoryByProduct_searchInProductCategoryId" class="mediuminput" autocomplete="off"></span>
       </p>
       <p>
         <label>Supplier</label><span class="field"><select name="productSupplierId" id="FindFacilityInventoryByProduct_productSupplierId" size="1"><option value="">&nbsp;</option><option value="15910">Sanyang Plastic Products of Linyi City Co., Ltd.Sanyang Plastic Products of Linyi City Co., Ltd. [15910]</option></select></span>
       </p>
       <p>
         <label>Status ID</label><span class="field"><select name="statusId" id="FindFacilityInventoryByProduct_statusId" size="1"><option value="">&nbsp;</option>
         <option value="INV_NS_RETURNED">Returned (Non-Serialized)</option><option value="INV_BEING_TRANS_PRM">Being Transfered (Promised)</option></select></span>
       </p>
       <p>
         <label>QOH minus Min Stock less than</label><span class="field"><input type="text" name="offsetQOHQty" size="25" id="FindFacilityInventoryByProduct_offsetQOHQty" autocomplete="off" class="mediuminput"></span>
       </p>
       <p>
         <label>ATP minus Min Stock less than</label><span class="field"><input type="text" name="offsetATPQty" size="25" id="FindFacilityInventoryByProduct_offsetATPQty" autocomplete="off" class="mediuminput"></span>
       </p>
       <p>
         <label>Show Products Sold Thru</label><span class="field"><input type="text" name="productsSoldThruTimestamp_i18n" title="Format: yyyy-MM-dd HH:mm:ss.SSS" value="2012-12-03 05:32:20.89" size="25" maxlength="30" id="FindFacilityInventoryByProduct_productsSoldThruTimestamp_i18n" class="mediuminput"></span>
       </p>
       <p>
         <label>Show Products Per Page</label><span class="field"><input type="text" name="VIEW_SIZE" value="20" size="25" id="FindFacilityInventoryByProduct_VIEW_SIZE" autocomplete="off" class="mediuminput"></span>
       </p>
       <p>
         <label>Months In Past Limit</label><span class="field"><input type="text" name="monthsInPastLimit" size="25" id="FindFacilityInventoryByProduct_monthsInPastLimit" autocomplete="off" class="mediuminput"></span>
       </p>
       <p>
         <label>From Date Sell Through</label><span class="field"><input type="text" name="fromDateSellThrough_i18n" title="Format: yyyy-MM-dd HH:mm:ss.SSS" size="25" maxlength="30" id="FindFacilityInventoryByProduct_fromDateSellThrough_i18n" class="mediuminput"></span>
       </p>
       <p>
         <label>Thru Date Sell Through</label><span class="field"><input type="text" name="thruDateSellThrough_i18n" title="Format: yyyy-MM-dd HH:mm:ss.SSS" size="25" maxlength="30" id="FindFacilityInventoryByProduct_thruDateSellThrough_i18n" class="mediuminput"></span>
       </p>

       <p>
         <span class="field"><input type="submit" class="smallSubmit" name="submitButton" value="Find"></span>
       </p>

     </form>

   </div><!--content-->
   <br clear="all" />
   <div class="content">

    <div class="contenttitle">
     <h2 class="form"><span>Search Results</span></h2>
   </div><!--contenttitle--><hr />
   <br clear="all" />
   <table class="stdtable">
    <thead>
      <tr>
       <th class="head1">Product ID</th>
       <th class="head1">Description</th>
       <th class="head1">Total ATP</th>
       <th class="head1">Total QOH</th>
       <th class="head1">Ordered Quantity</th>
       <th class="head1">Minimum Stock</th>
       <th class="head1">Reorder Quantity</th>
       <th class="head1">Days To Ship</th>
       <th class="head1">QOH minus Min Stock</th>
       <th class="head1">ATP minus Min Stock</th>
       <th class="head1">Usage</th>
       <th class="head1">Default Price</th>
       <th class="head1">List Price</th>
       <th class="head1">Whole Sale Price</th>
       <th class="head1">From Date Sell Through</th>
       <th class="head1">Sell Through Initial Inventory</th>
       <th class="head1">Sell Through Inventory Sold</th>
       <th class="head1">Sell Through Percentage</th>
     </tr>
   </thead>
 </table>       
 </div><!--content-->