<!-- START OF MAIN CONTENT -->
<div class="mainwrapper">
<div class="mainwrapperinner">

<div class="maincontent noright">
<div class="maincontentinner">

<%= render "maintab" %>

<div class="content">

  <div class="contenttitle">
    <h2 class="form"><span>Find Facility Locations for HGH1 [10000]</span><a class="buttontext2" href="/facility/control/EditFacility">New Facility</a>&nbsp;&nbsp;<a href="/facility/control/EditFacilityLocation?facilityId=10000" class="buttontext2">New Facility Location</a></h2>
  </div><hr><!--contenttitle-->


  <br clear="all" /><br clear="all" />
  <form action="/facility/control/FindFacilityLocation" method="get" name="findFacilityLocation" class="basic-form stdform">
    <input type="hidden" name="facilityId" value="10000">
    <p>
      <label>Location SeqID</label><span class="field"><input type="text" name="locationSeqId" size="20" maxlength="20" id="0_lookupId_locationSeqId" class="mediuminput" autocomplete="off"></span>
    </p>
    <p>
      <label>Area</label><span class="field"><input type="text" name="areaId" value="" size="19" maxlength="20" class="mediuminput"></span>
    </p>
    <p>
      <label>Aisle</label><span class="field"><input type="text" name="aisleId" value="" size="19" maxlength="20" class="mediuminput"></span>
    </p>
    <p>
      <label>Section</label><span class="field"><input type="text" name="sectionId" value="" size="19" maxlength="20" class="mediuminput"></span>
    </p>
    <p>
      <label>Level</label><span class="field"><input type="text" name="levelId" value="" size="19" maxlength="20" class="mediuminput"></span>
    </p>
    <p>
      <label>Position</label><span class="field"><input type="text" name="positionId" value="" size="19" maxlength="20" class="mediuminput"></span>
    </p>
    <p>
      <span class="field"><input type="submit" name="look_up" value="Find"></span>
    </p>

  </form>
  <br />

</div><!--content--><br clear="all" />
<div class="content">
<div class="contenttitle"><h5><span>Found: 1613 Location(s) for HGH1 [ID:10000]</span></h5></div>
<br />
<hr>
<table class="stdtable">
<thead>
<tr>
  <th class="head0">Facility</th>
  <th class="head1">Location SeqID</th>
  <th class="head0">Type</th>
  <th class="head1">Area</th>
  <th class="head0">Aisle</th>
  <th class="head1">Section</th>
  <th class="head0">Level</th>
  <th class="head1">Position</th>
  <th class="head0">&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
  <td><a href="/facility/control/EditFacility?facilityId=10000">10000</a></td>
  <td><a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AK01AQ">01AK01AQ</a></td>
  <td>Pick/Primary</td>
  <td>01</td>
  <td>AK</td>
  <td>&nbsp;</td>
  <td>01</td>
  <td>AQ</td>
  <td><a href="/facility/control/EditInventoryItem?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">New Inventory Item</a>&nbsp;<a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">Edit</a></td>
</tr>
<tr>
  <td><a href="/facility/control/EditFacility?facilityId=10000">10000</a></td>
  <td><a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AU01AV">01AU01AV</a></td>
  <td>Pick/Primary</td>
  <td>01</td>
  <td>AU</td>
  <td>&nbsp;</td>
  <td>01</td>
  <td>AV</td>
  <td><a href="/facility/control/EditInventoryItem?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">New Inventory Item</a>&nbsp;<a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">Edit</a></td>
</tr>
<tr>
  <td><a href="/facility/control/EditFacility?facilityId=10000">10000</a></td>
  <td><a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AB01AJ">01AB01AJ</a></td>
  <td>Pick/Primary</td>
  <td>01</td>
  <td>AB</td>
  <td>&nbsp;</td>
  <td>01</td>
  <td>AJ</td>
  <td><a href="/facility/control/EditInventoryItem?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">New Inventory Item</a>&nbsp;<a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">Edit</a></td>
</tr>
<tr>
  <td><a href="/facility/control/EditFacility?facilityId=10000">10000</a></td>
  <td><a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AA01A01">01AA01A01</a></td>
  <td>Pick/Primary</td>
  <td>01</td>
  <td>AK</td>
  <td>01</td>
  <td>A</td>
  <td>01</td>
  <td><a href="/facility/control/EditInventoryItem?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">New Inventory Item</a>&nbsp;<a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">Edit</a></td>
</tr>
<tr>
  <td><a href="/facility/control/EditFacility?facilityId=10000">10000</a></td>
  <td><a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AA01A02">01AA01A02</a></td>
  <td>Pick/Primary</td>
  <td>01</td>
  <td>AK</td>
  <td>01</td>
  <td>A</td>
  <td>02</td>
  <td><a href="/facility/control/EditInventoryItem?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">New Inventory Item</a>&nbsp;<a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">Edit</a></td>
</tr>
<tr>
  <td><a href="/facility/control/EditFacility?facilityId=10000">10000</a></td>
  <td><a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AA01A03">01AA01A03</a></td>
  <td>Pick/Primary</td>
  <td>01</td>
  <td>AK</td>
  <td>01</td>
  <td>A</td>
  <td>03</td>
  <td><a href="/facility/control/EditInventoryItem?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">New Inventory Item</a>&nbsp;<a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">Edit</a></td>
</tr>
<tr>
  <td><a href="/facility/control/EditFacility?facilityId=10000">10000</a></td>
  <td><a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AA01A04">01AA01A04</a></td>
  <td>Pick/Primary</td>
  <td>01</td>
  <td>AK</td>
  <td>01</td>
  <td>A</td>
  <td>04</td>
  <td><a href="/facility/control/EditInventoryItem?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">New Inventory Item</a>&nbsp;<a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">Edit</a></td>
</tr>
<tr>
  <td><a href="/facility/control/EditFacility?facilityId=10000">10000</a></td>
  <td><a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AA01A05">01AA01A05</a></td>
  <td>Pick/Primary</td>
  <td>01</td>
  <td>AA</td>
  <td>01</td>
  <td>A</td>
  <td>05</td>
  <td><a href="/facility/control/EditInventoryItem?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">New Inventory Item</a>&nbsp;<a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">Edit</a></td>
</tr>
<tr>
  <td><a href="/facility/control/EditFacility?facilityId=10000">10000</a></td>
  <td><a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AA01A06">01AA01A06</a></td>
  <td>Pick/Primary</td>
  <td>01</td>
  <td>AA</td>
  <td>01</td>
  <td>A</td>
  <td>06</td>
  <td><a href="/facility/control/EditInventoryItem?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">New Inventory Item</a>&nbsp;<a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">Edit</a></td>
</tr>
<tr>
  <td><a href="/facility/control/EditFacility?facilityId=10000">10000</a></td>
  <td><a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AA01A07">01AA01A07</a></td>
  <td>Pick/Primary</td>
  <td>01</td>
  <td>AK</td>
  <td>01</td>
  <td>A</td>
  <td>07</td>
  <td><a href="/facility/control/EditInventoryItem?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">New Inventory Item</a>&nbsp;<a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">Edit</a></td>
</tr>
<tr>
  <td><a href="/facility/control/EditFacility?facilityId=10000">10000</a></td>
  <td><a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AA02A01">01AA02A01</a></td>
  <td>Pick/Primary</td>
  <td>01</td>
  <td>AK</td>
  <td>02</td>
  <td>01</td>
  <td>AQ</td>
  <td><a href="/facility/control/EditInventoryItem?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">New Inventory Item</a>&nbsp;<a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">Edit</a></td>
</tr>
<tr>
  <td><a href="/facility/control/EditFacility?facilityId=10000">10000</a></td>
  <td><a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AA02A02">01AA02A02</a></td>
  <td>Pick/Primary</td>
  <td>01</td>
  <td>AK</td>
  <td>02</td>
  <td>01</td>
  <td>AQ</td>
  <td><a href="/facility/control/EditInventoryItem?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">New Inventory Item</a>&nbsp;<a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">Edit</a></td>
</tr>
<tr>
  <td><a href="/facility/control/EditFacility?facilityId=10000">10000</a></td>
  <td><a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AA02A03">01AA02A03</a></td>
  <td>Pick/Primary</td>
  <td>01</td>
  <td>AK</td>
  <td>02</td>
  <td>01</td>
  <td>AQ</td>
  <td><a href="/facility/control/EditInventoryItem?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">New Inventory Item</a>&nbsp;<a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">Edit</a></td>
</tr>
<tr>
  <td><a href="/facility/control/EditFacility?facilityId=10000">10000</a></td>
  <td><a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AA02A04">01AA02A04</a></td>
  <td>Pick/Primary</td>
  <td>01</td>
  <td>AK</td>
  <td>02</td>
  <td>01</td>
  <td>AQ</td>
  <td><a href="/facility/control/EditInventoryItem?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">New Inventory Item</a>&nbsp;<a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">Edit</a></td>
</tr>
<tr>
  <td><a href="/facility/control/EditFacility?facilityId=10000">10000</a></td>
  <td><a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AA02A05">01AA02A05</a></td>
  <td>Pick/Primary</td>
  <td>01</td>
  <td>AK</td>
  <td>02</td>
  <td>01</td>
  <td>AQ</td>
  <td><a href="/facility/control/EditInventoryItem?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">New Inventory Item</a>&nbsp;<a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">Edit</a></td>
</tr>
<tr>
  <td><a href="/facility/control/EditFacility?facilityId=10000">10000</a></td>
  <td><a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AA03A01">01AA03A01</a></td>
  <td>Pick/Primary</td>
  <td>01</td>
  <td>AK</td>
  <td>02</td>
  <td>01</td>
  <td>AQ</td>
  <td><a href="/facility/control/EditInventoryItem?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">New Inventory Item</a>&nbsp;<a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">Edit</a></td>
</tr>
<tr>
  <td><a href="/facility/control/EditFacility?facilityId=10000">10000</a></td>
  <td><a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AA03A02">01AA03A02</a></td>
  <td>Pick/Primary</td>
  <td>01</td>
  <td>AK</td>
  <td>03</td>
  <td>01</td>
  <td>AQ</td>
  <td><a href="/facility/control/EditInventoryItem?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">New Inventory Item</a>&nbsp;<a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">Edit</a></td>
</tr>
<tr>
  <td><a href="/facility/control/EditFacility?facilityId=10000">10000</a></td>
  <td><a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AA03A03">01AA03A03</a></td>
  <td>Pick/Primary</td>
  <td>01</td>
  <td>AK</td>
  <td>03</td>
  <td>01</td>
  <td>AQ</td>
  <td><a href="/facility/control/EditInventoryItem?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">New Inventory Item</a>&nbsp;<a href="/facility/control/EditFacilityLocation?facilityId=10000&amp;locationSeqId=01AK01AQ" class="buttontext">Edit</a></td>
</tr>
</tbody>
</table>
</div>
</div><!--maincontentinner-->


</div><!--maincontent-->

</div><!--mainwrapperinner-->
</div><!--mainwrapper-->
<!-- END OF MAIN CONTENT -->
