  <!-- START OF MAIN CONTENT -->
  <div class="mainwrapper">
    <div class="mainwrapperinner">

      <div class="maincontent noright">
        <div class="maincontentinner">

          <%= render "maintab" %>

          <div class="content">

            <h2>Create New Facility</h2>
            <hr />
            <br />

            <%= form_tag "", method: "POST", id: "facility", class: "basic-form stdform" do %>
            <p><%= label_tag 'Facility Id' %><span class="field"><%= select_tag "facility_id", options_from_collection_for_select(@facility, "id", "facility_name") %></span></p>
            <p><span class="field"><%= submit_tag "Submit" %></span></p>
            <% end %>    

          </div><!--content-->
        </div><!--maincontentinner-->

      </div><!--maincontent-->

    </div><!--mainwrapperinner-->
  </div><!--mainwrapper-->
  <!-- END OF MAIN CONTENT -->
  <script>
  $(document).ready(function(){
    $("#facility").live('submit', function(){
      window.location.href = $('#facility_id').val()+"/inventory";
      return false;
    });
  })
  </script>
