
<!-- START OF MAIN CONTENT -->
<div class="mainwrapper">
  <div class="mainwrapperinner">

    <div class="maincontent noright">
      <div class="maincontentinner">

        <%= render "maintab" %>

        <div class="content">
          <div class="contenttitle">
            <h2 class="form"><span>Pack Order in HGH1 [10000]</span></h2>
          </div><!--contenttitle--><hr /><br>

          <form name="selectOrderForm" method="post" action="/facility/control/PackOrder" class="stdform">
            <input type="hidden" name="facilityId" value="10000">
            <p>
              <label>Order ID</label>
            <span class="field">
              <input type="text" name="orderId" size="20" maxlength="20" value="" class="smallinput"> /
              <input type="text" name="shipGroupSeqId" size="6" maxlength="6" value="00001" class="w50input">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hide Grid <input type="checkbox" name="hideGrid" value="Y">
            </span>
            </p>
            <p>
            <span class="field">
              <a href="javascript:document.selectOrderForm.submit();" class="buttontext">Pack Order</a>&nbsp;&nbsp;
              <a href="javascript:document.selectOrderForm.action='/facility/control/WeightPackageOnly';document.selectOrderForm.submit();" class="buttontext">Weigh Packages Only</a>
            </span>
            </p>
            <p>
              <label>Picklist Bin</label>
            <span class="field">
              <input type="text" name="picklistBinId" size="29" maxlength="60" value="" class="mediuminput">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hide Grid <input type="checkbox" name="hideGrid" value="Y">
            </span>
            </p>
            <p>
            <span class="field">
              <a href="javascript:document.selectPicklistBinForm.submit();" class="buttontext">Pack Order</a>&nbsp;&nbsp;
              <a href="javascript:document.selectOrderForm.action='/facility/control/WeightPackageOnly';document.selectOrderForm.submit();" class="buttontext">Weigh Packages Only</a>
            </span>
            </p>

          </form>

        </div><!--content-->

      </div><!--maincontentinner-->



    </div><!--maincontent-->

  </div><!--mainwrapperinner-->
</div><!--mainwrapper-->
<!-- END OF MAIN CONTENT -->
