<!-- START OF MAIN CONTENT -->
<div class="mainwrapper">
  <div class="mainwrapperinner">

    <div class="maincontent noright">
      <div class="maincontentinner">

        <div class="content">
          <div class="contenttitle">
            <h2 class="form"><span>Select Options To Group</span></h2>
          </div><!--contenttitle--><hr>
          <br clear="all" />
          <div style="float:left; margin-left:30px;"> <p>Group by shipping method <input type="checkbox" name="groupByShippingMethod" value="Y"></p><br>
            <p>Group by warehouse area <input type="checkbox" name="groupByWarehouseArea" value="Y"></p><br><p>Group by number of order items <input type="checkbox" name="groupByNoOfOrderItems" value="Y"></p>
            <p><input type="submit" value="Submit" class="buttontext"></p>
          </div>
          <br clear="all" />

        </div><!--content-->
        <br>

        <div class="content">
          <div class="contenttitle">
            <h2 class="form"><span>Find Orders to pick</span><a class="buttontext" href="/facility/control/ReviewOrdersNotPickedOrPacked?facilityId=10000">Review Orders Not Picked-Packed</a></h2>
          </div><!--contenttitle--><hr>
          <br clear="all" />

          <br clear="all" /><br clear="all" />
          <table class="stdtable">
            <thead>
            <tr>
              <th class="head1">Order Nbr</th>
              <th class="head1">Ready to pick</th>
              <th class="head1">Need stock move</th>
              <th class="head1">&nbsp;</th>
              <th class="head1">&nbsp;</th>
            </tr>
            </thead>
            <tr>
              <td><a href="javascript:document.viewGroupDetail_0.submit()" class="buttontext">OD10923</a></td>
              <td>Y</td>
              <td>N</td>
              <td><input type="submit" value="Create Picklist"></td>
              <td><input type="submit" value="Print Pick Sheet"></td>
            </tr>
          </table>
          <br clear="all" />

        </div><!--content-->

      </div><!--maincontentinner-->

    </div><!--maincontent-->

  </div><!--mainwrapperinner-->
</div><!--mainwrapper-->
<!-- END OF MAIN CONTENT -->
