<!-- START OF MAIN CONTENT -->
<div class="mainwrapper">
  <div class="mainwrapperinner">

    <div class="maincontent noright">
      <div class="maincontentinner">

        <%= render "maintab" %>

        <div class="content">
          <div class="contenttitle">
            <h2 class="form"><span>Manage Picklists</span><a href="/facility/control/PickMoveStockSimple?facilityId=10000" class="buttontext2">Print</a></h2>
            <ul class="rside">
              <li></li>
            </ul>
          </div><!--contenttitle--><hr />
          <br clear="all" />
          <div style="float:left; margin:20px;">
            No picks are started right now.
          </div>
          <br clear="all" />

        </div><!--content-->

      </div><!--maincontentinner-->


    </div><!--maincontent-->

  </div><!--mainwrapperinner-->
</div><!--mainwrapper-->
<!-- END OF MAIN CONTENT -->
