<!-- START OF MAIN CONTENT -->
<div class="mainwrapper">
  <div class="mainwrapperinner">

    <div class="maincontent noright">
      <div class="maincontentinner">

        <%= render "maintab" %>

        <div class="content">
          <div class="contenttitle">
            <h2 class="form"><span>Stock Moves Needed</span><a href="/facility/control/PickMoveStockSimple?facilityId=10000" class="buttontext2">Print</a></h2>
          </div><!--contenttitle-->
          <hr />
          <br clear="all" />
          <table class="stdtable">
            <thead>
            <tr>
              <th class="head1">Product ID</th>
              <th class="head1">Product</th>
              <th class="head1">From Location</th>
              <th class="head1">QOH</th>
              <th class="head1">ATP</th>
              <th class="head1">To Location</th>
              <th class="head1">QOH</th>
              <th class="head1">ATP</th>
              <th class="head1">Minimum Stock</th>
              <th class="head1">Move Quantity</th>
              <th class="head1">Do you confirm ?</th>
              <th class="head1">Select all</th>
              <th class="head1"><input type="checkbox" name="selectAll" value="Y" onClick="javascript:toggleAll(this, 'selectAllForm');highlightAllRows(this, 'moveInfoId_tableRow_', 'selectAllForm');"></th>
            </tr>
            </thead>
            <tr>
              <td colspan="13">No Stock moves needed right now.</td>
            </tr>
          </table>
          <br clear="all" />

        </div><!--content-->
        <br clear="all" />
        <div class="content">
          <div class="contenttitle">
            <h2 class="form"><span>Quick Stock Move</span></h2>
          </div><!--contenttitle-->  <hr />
          <br clear="all" />
          <table class="phtable">
            <tr>
              <td class="head1">Product</td>
              <td class="head1">From Location</td>
              <td class="head1">To Location</td>
              <td class="head1">Move Quantity</td>
            </tr>
            <tr>
              <td><input type="text" name="productId" size="20" maxlength="20" id="0_lookupId_productId" autocomplete="off" class="smallinput"></td>
              <td><input type="text" name="productId" size="20" maxlength="20" id="0_lookupId_productId" autocomplete="off" class="smallinput"></td>
              <td><input type="text" name="productId" size="20" maxlength="20" id="0_lookupId_productId" autocomplete="off" class="smallinput"></td>
              <td><input type="text" name="quantityMoved" size="6" class="w100input"></td>
            </tr>
            <tr>
              <td colspan="4" align="right"><a href="javascript:document.quickStockMove.submit();" class="buttontext">Quick Stock Move</a></td>
            </tr>
          </table>
          <br clear="all" />

        </div><!--content-->

      </div><!--maincontentinner-->



    </div><!--maincontent-->

  </div><!--mainwrapperinner-->
</div><!--mainwrapper-->
<!-- END OF MAIN CONTENT -->
