<!-- START OF MAIN CONTENT -->
<div class="mainwrapper">
  <div class="mainwrapperinner">

    <div class="maincontent noright">
      <div class="maincontentinner">

        <%= render "maintab" %>

        <div class="content">
          <h5>Receive Inventory Into HGH1 [10000]</h5><hr />
          <br clear="all" /><br clear="all" />

          <div class="contenttitle">
            <h2 class="form"><span>Receive Item(s)</span><a href="/facility/control/EditFacility" class="buttontext2">New Facility</a></h2>
          </div><!--contenttitle--><hr />
          <br clear="all" />
          <form name="selectAllForm" method="post" action="/facility/control/ReceiveInventory" class="stdform">
            <input type="hidden" name="facilityId" value="10000">
            <input type="hidden" name="initialSelected" value="Y">
            <p>
              <label>Purchase Order Number</label>
              <span class="field"><input type="text" name="purchaseOrderId" size="20" maxlength="20" id="0_lookupId_purchaseOrderId" class="mediuminput" autocomplete="off"> <em>Leave empty for single product receiving</em></span>
            </p>
            <p>
              <label>Product ID</label>
              <span class="field"><input type="text" name="productId" size="20" maxlength="20" id="1_lookupId_productId" class="mediuminput" autocomplete="off"> <em>Leave empty for entire PO receiving</em></span>
            </p>
            <p>
              <span class="field"><a href="javascript:document.selectAllForm.submit();" class="buttontext">Receive Product(s)</a></span>
            </p>
          </form>
          <br clear="all" />
        </div><!--content-->
      </div><!--maincontentinner-->

    </div><!--maincontent-->
  </div><!--mainwrapperinner-->
</div><!--mainwrapper-->
<!-- END OF MAIN CONTENT -->

