

<!-- START OF MAIN CONTENT -->
<div class="mainwrapper">
  <div class="mainwrapperinner">

    <div class="maincontent noright">
      <div class="maincontentinner">

        <%= render "maintab" %>
        
        <div class="content">
          <div class="contenttitle">
            <h2 class="form"><span>Receive Return Into "HGH1" [ID:10000]</span><a href="/facility/control/EditFacility" class="buttontext">New Facility</a></h2>
          </div><!--contenttitle--><hr /> 

           <%= form_tag receive_return_path, method: "POST", class: "stdform" do %>
            <p><%= label_tag 'Return Number' %><span class="field"><%= text_field_tag "return_id" %></span></p>
            <p><span class="field"><%= submit_tag "Receive Product(s)" %></span></p>
            <% end %>  

          
        </div><!--content-->
        
      </div><!--maincontentinner-->



    </div><!--maincontent-->

  </div><!--mainwrapperinner-->
</div><!--mainwrapper-->
<!-- END OF MAIN CONTENT -->
