
<!-- START OF MAIN CONTENT -->
<div class="mainwrapper">
  <div class="mainwrapperinner">

    <div class="maincontent noright">
      <div class="maincontentinner">

        <%= render "maintab" %>

        <div class="content">
          <div class="contenttitle">
            <h2 class="form"><span>Verify Order In HGH1 [10000]</span></h2>
          </div><!--contenttitle--><hr />
          <form name="selectOrderForm" method="post" action="/facility/control/VerifyPick" class="stdform">
            <input type="hidden" name="facilityId" value="10000">

            <p>
              <label>Order ID</label>
              <span class="field">
                <input type="text" name="orderId" size="20" maxlength="20" value="" class="smallinput"> /
                <input type="text" name="shipGroupSeqId" size="6" maxlength="6" value="00001" class="w50input">
              </span>
            </p>
            <p>
              <span class="field">
                <input type="submit" value="Verify&nbsp;Order">
              </span>
            </p>
            <p>
              <label>Picklist Bin</label>
              <span class="field">
                <input type="text" name="picklistBinId" size="29" maxlength="60" value="" class="mediuminput">
              </span>
            </p>
            <p>
              <span class="field">
                <input type="submit" value="Verify&nbsp;Order">
              </span>
            </p>

          </form>

        </div><!--content-->

      </div><!--maincontentinner-->

    </div><!--maincontent-->

  </div><!--mainwrapperinner-->
</div><!--mainwrapper-->
<!-- END OF MAIN CONTENT -->
