%div#shipment_rates
  %div{"class" => "stdform stdform-line"}
    %div.row
      %h3.title-group
        = t('ship_rate.start_point')
    %div.row.marginLeft24.starting-point
      %div.field-width1.field-country
        %div.label
          =t('ship_rate.country')
        %input{:value => @starting_point["access_code"], :disabled => "disabled"}
      %div.field-width2
        %div.label
          = I18n.t('ship_rate.city')
        %input{:value => @starting_point["city"], :disabled => "disabled"}
      %div.field-width3
        %div.label
          = I18n.t('ship_rate.postal_code')
        %input{:value => @starting_point["postal_code"], :disabled => "disabled"}
    %div.row
      %div.separation
    %div.row
      %h3.title-group
        = t('ship_rate.end_point')
    %div.row.marginLeft24.ending-point
      %div.field-width1.field-country
        %div.label
          =t('ship_rate.country')
        %input{:value => @ending_point["access_code"], :disabled => "disabled"}
      %div.field-width2
        %div.label
          = I18n.t('ship_rate.city')
        %input{:value => @ending_point["city"], :disabled => "disabled"}
      %div.field-width3
        %div.label
          = I18n.t('ship_rate.postal_code')
        %input{:value => @ending_point["postal_code"], :disabled => "disabled"}
    %div.row
      %div.separation
    %div.row
      %h3.title-group
        = t('ship_rate.package_info')
    %div.row.marginLeft24
      %div.field-width1
        %div.label
          = t('ship_rate.weight')
        %input#sr_weight{:value => @weight, :disabled => "disabled"}
      %div
        %div
          = t('ship_rate.kg')
    %div.row.marginLeft24
      %div.field-width1
        %div.label
          = t('ship_rate.height')
        %input#sr_height{:value => @dimension["height"], :disabled => "disabled"}
      %div
        %div
          = t('ship_rate.cm')
    %div.row.marginLeft24
      %div.field-width1
        %div.label
          = t('ship_rate.length')
        %input#sr_length{:value => @dimension["length"], :disabled => "disabled"}
      %div
        %div
          = t('ship_rate.cm')

    %div.row.marginLeft24
      %div.field-width1
        %div.label
          = t('ship_rate.width')
        %input#sr_width{:value => @dimension["width"], :disabled => "disabled"}
      %div
        %div
          = t('ship_rate.cm')
    %div.row
      %div.separation
    %div.row
      %h3.title-group Shipment Quote
    - if (@ups_rates.blank?)
      %div.row
        %div{:style => "margin-left: 48px"}
          %div
            = t('ship_rate.invalid_service')
    - else
      - @ups_rates.each do |rate|
        %div.row
          %div{:style => "margin-left: 48px"}
            %div
              == Service Name &nbsp&nbsp:&nbsp
              = rate.service_name
            %div{:style => "clear: both"}
              %p
                == Total Price&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp:&nbsp
                = rate.total_price.to_f / 1000
                == &nbsp
                = rate.currency
              %p
                - if rate.delivery_date.present?
                  == Delivery Date&nbsp&nbsp&nbsp&nbsp:&nbsp
                  = DateTime.parse(rate.delivery_date.to_s).strftime("%Y-%m-%d %H:%M:%S")
                - else
                  == Delivery Date&nbsp&nbsp&nbsp&nbsp:&nbsp Unknown