:javascript

  $(document).ready(function(){
    $(".chosen-deselect").chosen({allow_single_deselect:true});
    $(".chosen").chosen();
    I18n.defaultLocale = "en";
    I18n.locale = "en";
    I18n.currentLocale();
  });

%div#shipment_rates
  %div.contenttitle
    %h2.general
      %span
        = t('ship_rate.estimation')
  %form{"class" => "stdform stdform-line","id" => "Ship_rate"}
    %div{:class => "notification_error hide", "id" => "validate_error1"}
      %p{:class => "invalid"}
        = t('ship_rate.city_postal_code_start_error')
      %a.close
    %div{:class => "notification_error hide", "id" => "validate_error2"}
      %p{:class => "invalid"}
        = t('ship_rate.city_postal_code_end_error')
      %a.close
    %div{:class => "notification msgerror hide", :id => "validate_js"}
      %a.close
    %div{:class => "notification hide",:id => "validate_rails"}
      %a.close
      %p
    %div.row
      %h3.title-group
        = t('ship_rate.start_point')
    %div.row.marginLeft24.starting-point
      %div.field-width1.field-country
        %div.label
          =t('ship_rate.country')
        %input{"class" => "autocomplete_event", "name" => "ship_rate[country_start]", "autocomplete" => "off"}
    %div.row
      %div.separation
    %div.row
      %h3.title-group
        = t('ship_rate.end_point')
    %div.row.marginLeft24.ending-point
      %div.field-width1.field-country
        %div.label
          = t('ship_rate.country')
        %input{"class" => "autocomplete_event", "name" => "ship_rate[country_end]", "autocomplete" => "off"}
    %div.row
      %div.separation
    %div.row
      %h3.title-group
        = t('ship_rate.package_info')
    %div.row.marginLeft24
      %div.field-width1
        %div.label
          = t('ship_rate.weight')
        %input#sr_weight{"name" => "ship_rate[weight_package]"}
      %div
        %div
          = t('ship_rate.kg')
    %div.row.marginLeft24
      %div.field-width1
        %div.label
          = t('ship_rate.height')
        %input#sr_height{"name" => "ship_rate[box_height]"}
      %div
        %div
          = t('ship_rate.cm')
    %div.row.marginLeft24
      %div.field-width1
        %div.label
          = t('ship_rate.length')
        %input#sr_length{"name" => "ship_rate[box_length]"}
      %div
        %div
          = t('ship_rate.cm')

    %div.row.marginLeft24
      %div.field-width1
        %div.label
          = t('ship_rate.width')
        %input#sr_width{"name" => "ship_rate[box_width]"}
      %div
        %div
          = t('ship_rate.cm')

    %div
      %button#get_rates
        = t('ship_rate.button')
%div#quote_details

%div{"class" => "dataTables_wrapper", "id" => "dwsrates"}
  %div.contenttitle
    %h2.general
      %span
        = "List of Shipment Packages"
  %div
    %div{"id" => "dyntable_length", "class" => "dataTables_length"}
      %span{"id" => "btn-delete"}
        %button{"class" => "stdbtn", "id"=>"delete_shipment" }
          = I18n.t('common.delete')
    %div{"class" => "dataTables_filter", "id" => "dyntable_filter"}
      %div{"class" => "search-select"}
        %div
          = "Shipment ID"
        %span{"class" => "triangle"}
        %select{"class" => "search-content"}
          %option{"selected" => "selected", "value" => "id"}
            = "Shipment ID"
      %div{"class" => "btn-search"}
      %input{"type" => "text", "id" => "promo-search", "placeholder" => "type something...."}
    %div.table-wrapper-content
      %table{"class" => "stdtable stdtablecb", "id" => "list_shiprates"}
        %thead
          %th.head0
            %input{"type" => "checkbox", "id" => "checkall", "class" => "checkall"}
          %th.head1
            = "ID"
          %th.head0
            = "Dimension(l,w,h)"
          %th.head1
            = "Weight(kg)"
          %th.head0
            = "Starting Point(country, city, pcode)"
          %th.head1
            = "Ending Point(country, city, pcode)"
          %th.head0
            = "Action"
        %tbody
          - @ships.each do |ship|
            %tr{"id" => "srid-"+ship.id.to_s, "ref" => ""}
              - ship_package = ship.shipment_package
              %td.center
                %span
                  %input{"type" => "checkbox", "id"=> "check_delete_"+ship.id.to_s}
              %td.center
                %span
                  = ship.id
              %td.center
                %span
                  %input{"id" => "dimession_"+ship.id.to_s, "value" => ship_package.box_length.to_s + ', ' + ship_package.box_width.to_s + ', ' + ship_package.box_height.to_s, "style" => "width: 128px"}
              %td.center
                %span
                  %input{ "id" => "weight_"+ship.id.to_s, "value" => ship_package.weight, "style" => "width: 64px"}
              %td.center
                - starting_point = ship.origin_contact_mech
                %span
                  %input{ "id"=> "starting_point_"+ship.id.to_s, "value" => starting_point.access_code.to_s + ', ' + starting_point.city.to_s + ', ' + starting_point.postal_code}
              %td.center
                - ending_point = ship.destination_contact_mech
                %span
                  %input{ "id" => "ending_point_"+ship.id.to_s, "value" => ending_point.access_code.to_s + ', ' + ending_point.city.to_s + ', ' + ending_point.postal_code}
              %td{"class" => "center"}
                %button{"class" => "stdbtn btn-update","id" => "update-"+ship.id.to_s}
                  = I18n.t('common.update')
                %button{"class" => "stdbtn btn-quote", "id" => "quote-"+ship.id.to_s}
                  = "Quote"
    %div{"class" => "dataTables_paginate paging_full_numbers"}
      %label{"style" => "float: left"}
        Show
        %select{"size" => 1, "name" => "dyntable_length", "id" => "promotions-per-page"}
          - @nums = [10, 25, 50, 100]
          - @nums.each do |num|
            - if session[:promo_page].to_i == num
              %option{"value" => num, "selected" => "selected"}
                = num
            - if session[:promo_page].to_i != num
              %option{"value" => num}
                = num
      %div{"id" => "dyntable_paginate"}
        - @pages = (@total.to_f / session[:promo_page].to_f).ceil
        - if @pages > 1
          %span{"class" => "first paginate_button", "id" => "dyntable_first"}
            = I18n.t('common.first')
          %span{"class" => "previous paginate_button", "id" => "dyntable_previous"}
            = I18n.t('common.previous')
          %span{"class" => "paginate-body"}
            %span.paginate-body-inner
              - @pages.times do |page|
                - page = page + 1
                - if page == 1
                  %span.paginate_active
                    = page
                - if page != 1
                  %span.paginate_button
                    = page
          %span{"class" => "next paginate_button", "id" => "dyntable_next"}
            = I18n.t('common.next')
          %span{"class" => "last paginate_button", "id" => "dyntable_last"}
            = I18n.t('common.last')
