:javascript
  $(document).ready(function(){

      $(".promo-id-select").chosen();
    });
%label.bold
  = t('promotion_product.promotion_product')
%div#list_promotion_product
  - @promotion_products_list.each do |promotion_product|
    %div{"class" => "promotion-product", "style" => "margin-left: 50px", "id" => "promotion-product-" + promotion_product.id.to_s}
      %a{:class =>'btn btn4 btn_trash delete-button' ,:id => 'delete_promotion_product',:data=> {:id => promotion_product.id}}
        = image_tag "/assets/img/loader5.gif",:class => "hide" ,:id=>"loading_delete_promotion_product"
      %div.promotion-product-content
        = promotion_product.product.product_name + ' [' +  promotion_product.product_id.to_s + '] - ' + promotion_product.enums(:sub_category_status).label(promotion_product.sub_category_status)



= form_for PromotionProduct.new() ,:url => "/new_romotion_category",:html => {:class => "stdform form-one-row promotion_form", "style" => "margin-left: 50px"} do |f|
  %div#content-messages_error_product.content-messages.notification.msgerror.hide
    %a.close
    %p
      = t('promotion_product.product_id_error.required')

  %p.title
    %label{"style" => "width: 40%"}
      = t('promotion_product.product_id' )
    %label{"style" => "width: 20%"}
      = t('promotion_product.sub_category_status')

  %p.input

    %select{"class" => "promo-id-select","name" => 'promotion_product[product_id]', 'id' => "promotion_product","style" => "width: 40%"}
      - @products_list.each do |product|
        %option{"value" =>  product.id}
          =  product.product_name + ' [ ' + product.id.to_s + ' ]'

    = f.enum_select :sub_category_status, {:include_blank => false}

    %button#add_promotion_product
      = t('common.add')
    %img#loading_add_promotion_product.hide{:src => "/assets/img/loader5.gif"}


