= form_for @promotion_rule_condition_new,:html => {:class => "stdform stdform-line",:id => "new_promotion_rule_condition_" + @promotion_rule_condition_new.promotion_rule_id.to_s}, :url => "/promotion_rule_condition" do |f|
  %div{:class => "notification msgerror hide", :id => "validate_js"}
    %a.close
  %div{:class => "notification hide",:id => "validate_rails"}
    %a.close
    %p
  = f.hidden_field :promotion_rule_id
  %div.row
    %div
      %div.width128
        = I18n.t('active_record.promotion_rule_condition.promotion_rule_condition_name')
      = f.enum_select :promotion_rule_condition_name, { :include_blank => false }
    %div
      %div.width96
        = I18n.t('active_record.promotion_rule_condition.operator_id')
      = f.select :operator_id , Operator.operator_select(), { :include_blank => false }
  %div.row
    %div
      %div.width128
        = I18n.t("active_record.promotion_rule_condition.shipment_method_id")
      = f.select :shipment_method_id , ShipmentMethod.shipment_method_select(), { :include_blank => false }
    %div
      %div.width96
        = I18n.t("active_record.promotion_rule_condition.other")
      = f.text_field :other, "style" => "width: 256px"
  %div.row
    %div
      %div.width128
        = I18n.t('active_record.promotion_rule_condition.value')
      = f.text_field :value, "style" => "width: 256px"
  %div{"class" => "row row-submit", "style" => "margin-top: 24px; margin-bottom :24px"}
    = f.button I18n.t("common.create_condition"), :id => "add_rule_condition", 'data-rule-id' => @promotion_rule_condition_new.promotion_rule_id
    %img{:id => "loading", :class => 'hide', :src => "/assets/img/loader5.gif"}