%div{:id => "edit_promotion_rule_condition_category_" + @promotion_rule_condition_category.id.to_s ,:style => "margin: 8px 0px 8px 30px"}
  %div{"style" => "width: 128px; float: left"}
    = ProductCategory.find(@promotion_rule_condition_category.product_category_id).category_name
  %div{"style" => "width: 128px; float: left"}
    = @promotion_rule_condition_category.enums(:sub_category_status).label(@promotion_rule_condition_category.sub_category_status)
  = button_tag I18n.t('common.delete'), :id => "delete_promotion_rule_condition_category",  "data-id" => @promotion_rule_condition_category.id, "class" => "stdbtn"
  %img{:id => "loading", :class => 'hide', :src => "/assets/img/loader5.gif"}
