
%label.bold
  = t('promotion_category.promotion_category')
%div#list_promotion_category
  - @promotion_category_list.each do |promotion_category|
    %div{"class" => "promotion-category", "style" => "margin-left: 50px", "id" => "promotion-category-" + promotion_category.id.to_s}
      %a{:class =>'btn btn4 btn_trash delete-button' ,:id => 'delete_category',:data=> {:id => promotion_category.id}}
      = image_tag "/assets/img/loader5.gif",:class => "hide"
      %div.promotion-category-content
        = promotion_category.product_category_id.to_s + ' - ' + promotion_category.enums(:sub_category_status).label(promotion_category.sub_category_status) + ' - ' + promotion_category.group_id


= form_for @promotion_category ,:url => "/new_romotion_category",:html => {:class => "stdform form-one-row promotion_form", "style" => "margin-left: 50px"} do |f|
  %div#content-messages_error_category.content-messages.notification.msgerror.hide
    %a.close
    %p
      = t('promotion_category.product_category_id.required')

  %p.title
    %label{"style" => "width: 40%"}
      = t('product_category.product_category_id' )
    %label{"style" => "width: 20%"}
      = t('promotion_category.sub_category_status')
    %label
      = t('promotion_category.group')
  %p.input
    %select{"class" => "promo-id-select","name" => 'promotion_category[product_category_id]', 'id' => "promotion_category","style" => "width: 40%"}

      - @product_category_list.each do |promotion_category|
        %option{"value" => promotion_category.id}
          =  promotion_category.id
    = f.enum_select :sub_category_status ,{ :include_blank => false }
    %input.promotion_category{:type => "text",:name => "promotion_category[group]", :id =>"promotion_category_group" }

    %button#add_promotion_category
      = t('common.add')
    %img#loading.hide{:src => "/assets/img/loader5.gif" }
