%div#condition-product-new
  %div{:style => "clear: both; font-weight: bold"}
    = I18n.t("view.promotion_rule_condition.title_add_conditions_products_for_condition") + " "  +  @promotion_rule_condition.id.to_s

  = form_for @promotion_rule_condition_product_new, :url => "/promotion_rule_condition_product",:html => {:class => "stdform stdform-line promotion_form",:style => "padding-left: 22px",:id => "new_promotion_rule_condition_product_" + @promotion_rule_condition_product_new.promotion_rule_condition_id.to_s} do |f|
    %div{:class => "notification msgerror hide", :id => "validate_js"}
      %a.close
    %div{:class => "notification hide",:id => "validate_rails"}
      %a.close
      %p
    = f.hidden_field :promotion_rule_condition_id
    %div.row
      %div
        %div.width128
          = I18n.t("active_record.promotion_rule_condition_product.product_id")
        = f.select :product_id, ProductCategory.product_category_id_select(), { :include_blank => false }
      %div
        %div.width96
          = I18n.t("active_record.promotion_rule_condition_product.sub_category_status")
        = f.enum_select :sub_category_status, { :include_blank => false }
    %div{"class" => "row row-submit", "style" => "margin-top: -44px"}
      = f.button I18n.t("common.add_condition_products"), :id => "add_rule_condition_product","data-id" => @promotion_rule_condition_product_new.promotion_rule_condition_id
      %img{:id => "loading", :class => 'hide', :src => "/assets/img/loader5.gif"}


