%div.contenttitle
  %h2.form
    %span Add New Promo Rule
= form_for @promotion_rule_new,:html => {:class => "stdform promotion_form"}, :url => '/promotion_rules' do |f|
  - if @promotion_rule_new.errors.any?
    #error_explanation
      %h2= "#{pluralize(@promotion_rule_new.errors.count, "error")} prohibited this promotion_code from being saved:"
      %ul
        - @promotion_code_new.errors.full_messages.each do |msg|
          %li= msg
  %div{:class => "notification msgerror hide", :id => "validate_js"}
    %a.close
  %div{:class => "notification hide",:id => "validate_rails"}
    %a.close
    %p
  %p
    = f.label :name, 'Name',:style => "font-weight: bold; padding-top: 6px; text-align: right"
    %span.field
      = f.hidden_field :id
      = f.text_field :name
      = f.button I18n.t('common.add') ,:style => "margin-left: 5px",:id => "add_promotion_rule", "class" => "stdbtn btn_black"
      %img{:id => "loading", :class => 'hide', :src => "/assets/img/loader5.gif"}
