%div{"id" => 'prr-id-' + @promotion_rule.id.to_s, "class" => "rules-container"}
  = form_for @promotion_rule,:html => {:class => "stdform promotion_form"}, :url => '/promotion_rules' do |f|
    - if @promotion_rule.errors.any?
      #error_explanation
        %h2= "#{pluralize(@promotion_rule.errors.count, "error")} prohibited this promotion_code from being saved:"
        %ul
          - @promotion_code.errors.full_messages.each do |msg|
            %li= msg
    %div{:class => "notification msgerror hide", :id => "validate_js"}
      %a.close
    %div{:class => "notification hide",:id => "validate_rails"}
      %a.close
      %p

    %p
      = f.label :name, 'Rule ' + @promotion_rule.id.to_s, "style" => "font-weight: bold; padding-top: 6px"
      %span.field
        = f.hidden_field :id
        = f.text_field :name
        = f.button I18n.t('common.update') ,:style => "margin-left: 5px",:id => "update_promotion_rule","data-id" => @promotion_rule.id, "class" => "stdbtn btn_black"
        %button{"class" => "stdbtn btn_black btn-conditions"} Conditions
        %button{"class" => "stdbtn btn_black btn-actions"} Actions
        %img{:id => "loading", :class => 'hide', :src => "/assets/img/loader5.gif"}


  %div{:id => "list_promotion_rule_conditions_rule_" + @promotion_rule.id.to_s, "class" => "lrc-container"}
    %h3{"style" => "font-size: 18px"} Edit Promotion Condition Rules
    - @promotion_rule.promotion_rule_conditions.each do |promotion_rule_condition|
      - @promotion_rule_condition = promotion_rule_condition
      = render :partial => "form_condition_rule", :object => @promotion_rule_condition

  - @promotion_rule_condition_new = PromotionRuleCondition.new(:promotion_rule_id => @promotion_rule.id )
  %div{"class" => "rule-child-tab"}
    %div{"class" => "tab-header", "style" => "font-weight: bold"}
      = I18n.t('view.promotion_rule_condition.title_new_condition')
    %div{"class" => "tab-body "}
      = render 'form_new_condition_rule', :object => @promotion_rule_condition_new

  %br
  %div{"class" => "lra-container"}
    %h3{"style" => "font-size: 18px"} Edit Promotion Action Rules
    %div{"class" => "lr-actions"}
      - @promotion_rule.promotion_rule_actions.each do |promotion_rule_action|
        = render :partial => "rule_action_form", :locals => {:promotion_rule_action => promotion_rule_action}
    %div{"class" => "rule-child-tab rule-action"}
      %div{"class" => "tab-header", "style" => "font-weight: bold"}
        = I18n.t("view.promotion_rule_action.title_new_action")
      %div{"class" => "tab-body clearfix"}
        = render :partial => "rule_action_form_handle", :locals => {:rule_action => PromotionRuleAction.new(:promotion_rule_id => @promotion_rule.id)}
  %br