%div{"class" => "rule-child-tab"}
  %div{"class" => "tab-header"}
    %span
      = 'Condition ' + @promotion_rule_condition.id.to_s
  %div{"class" => "tab-body"}
    = form_for @promotion_rule_condition,:html => {:class => "stdform stdform-line"}, :url => "/promotion_rule_condition" do |f|
      %div{:class => "notification msgerror hide", :id => "validate_js"}
        %a.close
      %div{:class => "notification hide",:id => "validate_rails"}
        %a.close
        %p
      %p
        = f.hidden_field :promotion_rule_id

      %div.row
        %div
          %div.width128
            = I18n.t('active_record.promotion_rule_condition.promotion_rule_condition_name')
          = f.enum_select :promotion_rule_condition_name
        %div
          %div.width96
            = I18n.t('active_record.promotion_rule_condition.operator_id')
          = f.select :operator_id , Operator.operator_select()
      %div.row
        %div
          %div.width128
            = I18n.t("active_record.promotion_rule_condition.shipment_method_id")
          = f.select :shipment_method_id , ShipmentMethod.shipment_method_select()
        %div
          %div.width96
            = I18n.t("active_record.promotion_rule_condition.other")
          = f.text_field :other, "style" => "width: 256px"
      %div.row
        %div
          %div.width128
            = I18n.t('active_record.promotion_rule_condition.value')
          = f.text_field :value, "style" => "width: 256px"
      %div{"class" => "row", "style" => "margin: 16px 74px 36px 0px; float: right"}
        = f.button I18n.t('common.delete'),:id => "promotion_rule_condition_delete","data-id" => @promotion_rule_condition.id
        = f.button I18n.t('common.update'),:id => "promotion_rule_condition_save", "data-id"  => @promotion_rule_condition.id
        %img{:id => "loading", :class => 'hide', :src => "/assets/img/loader5.gif"}

    %div{:style => "clear: both; font-weight: bold; margin-left: 50px"}
      = I18n.t("view.promotion_rule_condition.title_condition_categories") + " " + @promotion_rule_condition.id.to_s
    - if @promotion_rule_condition.promotion_rule_condition_categories.count == 0
      %span#msg-category{:style => "padding-left: 150px"}
        = I18n.t("view.promotion_rule_condition.title_no_condition_categories")
    %div{:id => "condition-category-" + @promotion_rule_condition.id.to_s,:class => 'margin-left-80'}
      - @promotion_rule_condition.promotion_rule_condition_categories.each do |promotion_rule_condition_category|
        - @promotion_rule_condition_category = promotion_rule_condition_category
        = render :partial => "form_rule_condition_category", :object => @promotion_rule_condition_category

    - @promotion_rule_condition_category_new = PromotionRuleConditionCategory.new(:promotion_rule_condition_id => @promotion_rule_condition.id)
    = render :partial => "form_new_rule_condition_category", :object => @promotion_rule_condition_category_new

    %div{:style => "clear: both; font-weight: bold; margin: 32px 0px 0px 50px"}
      = I18n.t("view.promotion_rule_condition.title_conditions_products_for_condition") +  " " + @promotion_rule_condition.id.to_s
    - if @promotion_rule_condition.promotion_rule_condition_products.count == 0
      %span#msg-product{:style => "padding-left: 150px"}
        = I18n.t("view.promotion_rule_condition.title_no_condition_products")
    %div{:id => "condition-product-" + @promotion_rule_condition.id.to_s,:class => 'margin-left-80'}
      - @promotion_rule_condition.promotion_rule_condition_products.each do |promotion_rule_condition_product|
        - @promotion_rule_condition_product = promotion_rule_condition_product
        = render :partial => "form_rule_condition_product", :object => @promotion_rule_condition_product

    - @promotion_rule_condition_product_new =  PromotionRuleConditionProduct.new(:promotion_rule_condition_id => @promotion_rule_condition.id)
    = render :partial => "form_new_rule_condition_product", :object => @promotion_rule_condition_product_new