%div{"class" => "promotion-category", "style" => "margin-left: 50px", "id" => "promotion-category-" + promotion_category.id.to_s}
  %a{:class =>'btn btn4 btn_trash delete-button' ,:id => 'delete_category',:data=> {:id => promotion_category.id}}
    = image_tag "/assets/img/loader5.gif",:class => "hide" ,:id=>"loading_delete_category"
  %div.promotion-category-content
    = promotion_category.product_category_id.to_s + ' - ' + promotion_category.enums(:sub_category_status).label(promotion_category.sub_category_status) + ' - ' + promotion_category.group_id


