%div{"class" => "promotion-product", "style" => "margin-left: 50px", "id" => "promotion-product-" + promotion_product.id.to_s}
  %a{:class =>'btn btn4 btn_trash delete-button' ,:id => 'delete_promotion_product',:data=> {:id => promotion_product.id}}
    = image_tag "/assets/img/loader5.gif",:class => "hide" ,:id=>"loading_delete_promotion_product"
  %div.promotion-product-content
    = product.product_name + ' [' + promotion_product.product_id.to_s + '] - ' + promotion_product.enums(:sub_category_status).label(promotion_product.sub_category_status)


