%div{"class" => "edit-rule-action-product", "style" => "margin: 32px 0px 0px 0px"}
  %div{"style" => "font-weight: bold; margin-left: 50px"}
    = "New Product for Rule " + rule_action_product.id.to_s
  = form_for rule_action_product, :url => '/', :html => {:class => "stdform stdform-line", :style => "padding-left: 72px"} do |f|
    %div{:class => "notification msgerror hide", :id => "validate_js"}
      %a.close
    %div{:class => "notification hide",:id => "validate_rails"}
      %a.close
      %p
    %div.row
      %div
        %div.width128
          = I18n.t("active_record.promotion_rule_condition_product.product_id")
        %select{"class" => "chosen", "name" => "promotion_rule_action_product[product_id]"}
          - Product.all.each do |product|
            %option{"value" => product.id}
              = product.product_name + ' [' + product.id.to_s + ']'
      %div
        %div.width96
          = I18n.t("active_record.promotion_rule_condition_product.sub_category_status")
        = f.enum_select :sub_category_status,{ :include_blank => false }, "style" => "width: 96px"
    %div{"class" => "row row-submit", "style" => "margin-top: -44px"}
      = f.button I18n.t("common.add_action_product"),:class => "btn-add"
      %button{"class" => "hide loading-button"}