%div{"class" => "edit-rule-action-category ", "style" => "clear: both; padding-top: 36px"}
  %div{"style" => "font-weight: bold; margin-left: 50px"}
    = I18n.t("view.promotion_rule_action.title_new_category_for_rule") + " " + rule_action_category.id.to_s
  = form_for rule_action_category, :url => '/', :html => {:class => "stdform stdform-line", "style" => "padding-left: 72px"} do |f|
    %div{:class => "notification msgerror hide", :id => "validate_js"}
      %a.close
    %div{:class => "notification hide",:id => "validate_rails"}
      %a.close
      %p
    %div.row
      %div
        %div.width128
          = I18n.t("active_record.promotion_rule_action_category.product_category_id")
        %div
          %select{"class" => "chosen", "name" => "promotion_rule_action_category[product_category_id]"}
            - ProductCategory.all.each do |category|
              %option{"value" => category.id}
                = category.category_name + ' [' + category.id.to_s + ']'
      %div
        %div.width96
          = I18n.t("active_record.promotion_rule_action_category.group_id")
        = f.text_field :group_id, "style" => "width: 96px"
    %div.row
      %div
        %div.width128
          = I18n.t("active_record.promotion_rule_action_category.sub_category_status")
        = f.enum_select :sub_category_status, { :include_blank => false }
    %div{"class" => "row row-submit"}
      = f.button I18n.t("common.add_action_category"), :class => "btn-add", :style => "margin-top: -56px"
      %button{"class" => "hide loading-button"}