= javascript_include_tag "chosen.jquery"
= stylesheet_link_tag 'plugins/chosen'
:javascript
  $(document).ready(function(){
    $('ul.maintabmenu').children('li').removeClass('current')
    $('ul.maintabmenu').children('li:nth-child(3)').addClass('current')
    $(".chosen").chosen();
  });
%div{:class => "container", :id => "prdpro-" + session[:product_promotion_id]}
  %div.contenttitle
    %h2.form
      %span Edit Promo Rules
  %div#list_promotion_rules
    - @promotion_rules.each do |rule|
      - @promotion_rule = rule
      = render 'form',:object => @promotion_rule

      %hr
  %div#new_promotion_rule_container
    = render 'form_new',:object => @promotion_rule_new
    %hr
    = render 'form_promotion_category'
    %hr
    = render 'form_promotion_product_id'

