body.account-overview {
	background-color: #f8f8f8;
}
h1 {
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1.0);
}
/* icons */
.icon-cart {
	width: 29px;
	height: 23px;
	background-position: 0 -100px;
}
.icon-caret {
	width: 13px;
	height: 8px;
	background-position: -45px -100px;
}
.icon-arrow-right {
	width: 6px;
	height: 12px;
	margin-left: 5px;
	background-position: -58px -100px;
}
.icon-arrow-left {
	width: 6px;
	height: 12px;
	margin-right: 5px;
	background-position: -64px -100px;
}
.icon-pencil {
	width: 16px;
	height: 16px;
	background-position: -70px -100px;
}
.icon-default-shipping {
	position: relative;
	top: 0.2em;
	width: 24px;
	height: 21px;
	margin-right: 5px;
	background-position: -118px -100px;
}
.icon-card {
	position: relative;
	top: 0.1em;
	width: 24px;
	height: 16px;
	margin-right: 5px;
	background-position: -142px -100px;
}
.icon-alert {
  float: left;
  margin-top: 7px;
  margin-right: 5px;
}
#all-orders .orders-table .icon-alert {
  float:none;
}

.icon-delete {
	width: 16px;
	height: 16px;
	background-position: -102px -100px;
}
.icon-tooltip {
	width: 16px;
	height: 16px;
	background-position: -29px -100px;
}
#account .baccount .icon-tooltip{
  background-position: -29px -116px;
}
.icon-add {
	width: 16px;
	height: 16px;
	background-position: -86px -100px;
}
.btn-disabled .icon-add {
	width: 16px;
	height: 16px;
	background-position: -86px -116px;
}
.pill {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 48px;
	border: 1px solid #d8d8d8;
	overflow: hidden;
	vertical-align: middle;
	background-color: #fff;
	/*-moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);*/
}
.pill,
input[type="text"].pill {
	width: 48px;
	height: 27px;
	line-height: 29px;
	padding: 0;
	font-size: 1em;
	color: #2c2c2c;
	text-align: center;
	border: 1px solid #e1e1e1;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}
.pill-trans {
	border-color: transparent;
	background-color: transparent;
}

#order-builder .dropdown.qty:hover+div,
#order-builder .pill:hover:not(.btn-disabled),
td .pill:hover:not(.btn-disabled),
.pill.modified:not(.btn-disabled),
td input[type="text"].pill.modified,
.hover .pill { border-color: #ee3e80 !important; }

input[type="text"].pill-trans { border-color: transparent; }

.pill {
	font-weight: 400;
	color: #ed3e7f;
}
	.pill img {
		position: absolute;
		left: 0;
		top: 0;
		width: 48px;
		height: 27px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}	
	.pill .grad {
		position: absolute;
		z-index: 10;
		top: 0px;
		left: 0px;
		display: block;
		width: 48px;
		height: 27px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26000000',GradientType=0 ); /* IE6-9 */
	}
	.pill-trans .grad {
		background: none;
	}
	.pill-inset .grad {
		top: 1px;
		left: 1px;
		width: 46px;
		height: 25px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}
input[type="text"].pill,
.pill-input {
	background-color: #fff;
	-moz-box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.25);
	box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.25);
}
input[type="text"].pill:focus { outline: none; }
input[type="text"].pill-trans {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.pill [class^="icon-"] {
	margin-top: 4px;
}
.btn-disabled [class^="icon-"] {
}
.order-details-table td.cell-color .pill:hover,
.review-items-table td.cell-color .pill:hover { border-color: #e1e1e1 !important; }


.selector {
	position: relative;
	width: 200px;
	height: 31px;
	padding-left: 5px;
	overflow: hidden;
	font-family: 'Lato', sans-serif;
	font-size: 1.1em;
	line-height: 31px;
	background: #fff url(img/backroom/bg_selector.png) right top no-repeat;
	border-top: 2px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-left: 3px solid;
	border-color: #ccc;
}
.error .selector { background-color: #F7A3A9; }
.selector.disabled {
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
}
.select-state,
.select-cc-type,
.select-cc-month,
.select-cc-year {
	float:left;
	display: inline-block;
	margin-right:15px;
}

.select-cc-type { margin-right: 0; }
/*.select-cc-year { margin-right: 0; }*/
.select-state .selector,
.select-cc-month .selector,
.select-cc-year .selector {
	width: 90px; float:inherit; display: inline-block;
}
.select-cc-type .selector {
	/*width: 204px;*/
	width: 198px; float:inherit; display: inline-block; 
}
	.selector span {
		display: block;
		
		/* width is parent width - left padding - caret width */
		width: 258px;
		padding: 0 32px 0 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: #666;
		cursor: pointer
	}
	.select-state .selector span,
	.select-cc-month .selector span,
	.select-cc-year .selector span { width: 200px; }
	.select-cc-type .selector span { width: 166px; }
	.selector select {
		position: absolute;
		top: 0;
		left: 0;
		width: 200px;
		height: 31px;
		margin: 0;
		padding: 0;
		border: none;
		background: none;
	}
	.select-state .selector select,
	.select-cc-month .selector select,
	.select-cc-year .selector select { width: 95px; }
	.select-cc-type .selector select { width: 203px; }



#account .inner {
	position: relative;
	width: 960px;
}
#account-header {
	position: relative;
	z-index: 100;
	min-width: 1200px;
	padding-bottom: 5px;
	background-color: #ececec;
	-webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
}
	#pre-header {
		position: relative;
		height: 40px;
		text-align: center;
		line-height: 40px;
		background: rgb(69,69,69); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(69,69,69,1) 0%, rgba(37,37,37,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,69,69,1)), color-stop(100%,rgba(37,37,37,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(69,69,69,1) 0%,rgba(37,37,37,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(69,69,69,1) 0%,rgba(37,37,37,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(69,69,69,1) 0%,rgba(37,37,37,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(69,69,69,1) 0%,rgba(37,37,37,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#252525',GradientType=0 ); /* IE6-9 */
	}
		#pre-header .inner { height: 40px; }
		#pre-header .icon-tooltip {
			position: relative;
			top: 0.15em;
			margin-left: 5px;
		}
		#clock {
			display: inline-block;
			padding: 0 20px;
			background-color: rgba(0, 0, 0, 0.2);
			font-family: 'Lato', sans-serif;
			font-weight: 900;
			color: #acacac;
		}
			#clock span { color: #fff; }
		#credit {
			position: absolute;
			right: 0;
			top: 0;
			font-family: 'Lato', sans-serif;
			color: #acacac;
		}
			#credit span { color: #fff; }
	#main-header {
		height: 59px;
		border-bottom: 1px solid #fff;
		background: rgb(230,230,230); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,230,230,1)), color-stop(100%,rgba(230,230,230,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(230,230,230,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(230,230,230,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(230,230,230,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(230,230,230,1) 0%,rgba(230,230,230,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
	}
		#brand {
			position: relative;
			width: 81px;
			height: 59px;
			padding: 0;
			margin-right: 19px;
		}
			#brand h2 {
				position: absolute;
				left: 0;
				bottom: 8px;
				width: 81px;
				height: 82px;
			}
				#brand h2 a {
					width: 81px;
					height: 82px;
					background: url(img/backroom/logo.png) 0 0 no-repeat;
					text-indent: -9999em;
				}
		#main-header nav>ul {
			height: 59px;
			line-height: 59px;
			border-left:1px solid #fff;
			border-right:1px solid #c7c7c7;
			float:left;
		}
			#main-header nav>ul>li {
				position: relative;
				float: left;
				height: 59px;
				border-left: 1px solid #c7c7c7;
				border-right: 1px solid #fff;
			}
				#main-header nav ul li>a {
					display: block;
					height: 59px;
					padding: 0 20px;
					color: #252525;
				}
				#main-header nav ul li.active>a {
					height: 55px;
					line-height: 52px;
					background-color: #ececec;
					border-top: 4px solid #ee3e80;
					color: #808080;
				}
				/*#main-header #shop-nav nav ul li.active a:hover {
					height: 56px;
					line-height: 51px;
				}*/
		#main-header #shop-nav {
			float: left;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
		}
			#main-header #shop-nav ul li:hover {
				background-color:#eee;
				height: auto;
			}
				#main-header #shop-nav ul li a {
					padding: 0 15px;
					
				}
				#main-header #shop-nav ul li:hover a {
					color: #333;
				}
				
				#main-header #shop-nav ul li a:hover {
					height: 59px;
					line-height: 59px;
					background-color:#eee;
					color: #808080;
				}
				#main-header #shop-nav ul li.active>a:hover {
					height:55px;
					line-height:52px;
				}
				
				#main-header #shop-nav ul li:hover a .icon-caret { background-position: -45px -108px; }
				#main-header #shop-nav ul li ul { display: none; }
				#main-header #shop-nav ul li:hover ul {
					display: block;
					position: absolute;
					height: auto;
					width: 120%;
					margin-top:0;
					font-size: 0.9em;
					line-height: 1.5em;
					background-color: #eee;
				}
					#main-header #shop-nav ul li ul{
						border:1px solid #ccc;
						border-top:none;
					}
					#main-header #shop-nav ul li ul li {
						float:none;
						padding:0;
						background-color:#eee;
					}
						#main-header #shop-nav ul li ul li a{
							
							
						}
						#main-header #shop-nav ul li:hover ul li a{
							height:59px;
							line-height:59px;
							padding:0 15px;
							border-top:1px solid #ccc;
						}
						#main-header #shop-nav ul li:hover ul li a:hover{height:59px;line-height:59px;padding:0 15px;color:#ee3e80;background-color:#fff;}



						
		#estimated-price,
		#minimum-due { width: 0; }
		#estimated-price h5:before,
		#minimum-due h5:before,
		.product-price:before {
			content: '$';
		}
		#cart-nav {
			float: right;
		}
			#main-header #cart-nav h6 {
				font-size: 0.8em;
			}
			#main-header #cart-nav h5 {
				font-size: 1.3em;
				font-weight: 300;
			}
			#main-header #cart-nav ul {
				line-height: inherit;
				border-right: none;
			}
				#main-header #cart-nav ul li {
				}
				.cart-nav-item {
					padding: 10px 15px;
					text-align: center;
				}
			#main-header #cart {
				position: relative;
			}
				#main-header #cart a {
					height: 39px;
					padding: 20px 20px 0 20px;
					background: rgb(241,101,153); /* Old browsers */
					background: -moz-linear-gradient(top, rgba(241,101,153,1) 0%, rgba(191,50,103,1) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,101,153,1)), color-stop(100%,rgba(191,50,103,1))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top, rgba(241,101,153,1) 0%,rgba(191,50,103,1) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top, rgba(241,101,153,1) 0%,rgba(191,50,103,1) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top, rgba(241,101,153,1) 0%,rgba(191,50,103,1) 100%); /* IE10+ */
					background: linear-gradient(to bottom, rgba(241,101,153,1) 0%,rgba(191,50,103,1) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16599', endColorstr='#bf3267',GradientType=0 ); /* IE6-9 */
				}
				#main-header #cart a:hover {
					height: 39px;
					line-height: inherit;
					padding: 20px 20px 0 20px;
					background: rgb(203,91,133); /* Old browsers */
					background: -moz-linear-gradient(top, rgba(203,91,133,1) 0%, rgba(152,40,82,1) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(203,91,133,1)), color-stop(100%,rgba(152,40,82,1))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top, rgba(203,91,133,1) 0%,rgba(152,40,82,1) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top, rgba(203,91,133,1) 0%,rgba(152,40,82,1) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top, rgba(203,91,133,1) 0%,rgba(152,40,82,1) 100%); /* IE10+ */
					background: linear-gradient(to bottom, rgba(203,91,133,1) 0%,rgba(152,40,82,1) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb5b85', endColorstr='#982852',GradientType=0 ); /* IE6-9 */
				}
				.icon-loader-pink {
					position: absolute;
					top: 0;
					left: 0;
					width: 69px;
					height: 59px;
					background: rgba(0, 0, 0, 0.5) /*url(img/loader-pink.gif) center center no-repeat*/;
				}
				#cart-growl {
					position: absolute;
					right: 0;
					top: 59px;
					background: rgba(0, 0, 0, 0.8);
					padding: 4px 20px 10px 30px;
					white-space: nowrap;
					font-family: 'Lato', sans-serif;
					font-size: 1.1em;
					font-weight: 300;
					color: #999;
					text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
					border-top: 6px solid #252525;
					-webkit-border-bottom-right-radius: 5px;
					-webkit-border-bottom-left-radius: 5px;
					-moz-border-radius-bottomright: 5px;
					-moz-border-radius-bottomleft: 5px;
					border-bottom-right-radius: 5px;
					border-bottom-left-radius: 5px;
				}
					#cart-growl em {
						display: inline-block;
						vertical-align: middle;
						letter-spacing: 0.05em;
					}
					#cart-growl strong {
						color: #fff;
						font-weight: 400;
					}
					#cart-growl img {
						border: 1px solid #808080;
						vertical-align: middle;
						margin-left: 20px;
					}
					.icon-cart-added-caret {
						position: absolute;
						top: -13px;
						right: 26px;
						width: 14px;
						height: 7px;
						background-position: -166px -100px;
					}
		#account-nav {
			float: right;
			max-width:200px;
		}
			#main-header #account-nav ul {
				border-left: none;
				height: auto;
			}
			#main-header #account-nav ul li {
				float: none;
			}
			#main-header #account-nav ul li:hover {
				background-color: #2c2c2c;
				height: auto;
			}
				#main-header #account-nav ul li a {
					padding: 0 20px;
					overflow:hidden;
				}
				#main-header #account-nav ul li:hover a {
					color: #fff;
				}
				#main-header #account-nav ul li:hover a .icon-caret { background-position: -45px -108px; }
				#main-header #account-nav ul li ul { display: none; }
				#main-header #account-nav ul li:hover ul {
					display: block;
					position: absolute;
					height: auto;
					width: 100%;
					margin-top: -1px;
					font-size: 0.9em;
					line-height: 1.5em;
					background-color: #2c2c2c;
				}
					#main-header #account-nav ul li ul li {
						float: none;
						height: auto;
						padding: 0 10px;
						border: none;
					}
						#main-header #account-nav ul li ul li a {
							height: auto;
							padding: 15px 10px;
							border-top: 1px solid #181818;
						}
						#main-header #account-nav ul li ul li a:hover { color: #ee3e80; }

#account #main {
	padding-top: 20px;
	background: url(img/bg_general.jpg) top center no-repeat;
}
	.page-header {
		margin-bottom: 30px;
		text-align: left;
	}
		.page-header [class^="nav-"] {
			position: absolute;
			bottom: 10px;
		}
		.page-header [class^="nav-"] a {
			color: #2c2c2c;
			font-weight: 700;
		}
		.page-header [class^="nav-"] a.txt-link {
			color: #ee3e80;
			font-weight: 400;
			text-decoration: underline;
		}
		.page-header [class^="nav-"] a.txt-link:hover { color: #252525; }
		.page-header [class^="nav-"] a [class^="icon-"] {
			position: relative;
			top: 0.05em;
		}
		.page-header .nav-left { left: 0; top:0; }
		.page-header .nav-right { right: 0; }
		
		.page-header [class^="nav-"] a:hover {
		  color:#EE3E80;
		}
		
		.page-header [class^="nav-"] a:hover .icon-arrow-left {
		  background-position:-194px -24px;
		}
		
		#add-account {
		  margin-left:10px;
		}
		

#no-recent-orders {
	padding: 20px 100px 70px 100px;
	text-align: center;
	background: url(img/backroom/g_box.png) center center no-repeat;
}
	#no-recent-orders p {
		font-size: 1.2em;
		font-weight: 300;
		line-height: 1.5em;
		text-shadow: 1px 1px 1px rgba(255, 255, 255, 1.0);
	}

#recent-orders {
	width: 960px;
	height: 365px;
	margin-top: 60px;
}
	/* temp */
	#recent-orders .carousel-inner {
	}
	.carousel-nav {
		width: 960px;
		position: absolute;
		bottom: 20px;
		text-align: center;
	}
		.carousel-nav ul {
			display: inline-block;
			margin: 0 10px;
			padding: 0;
			list-style: none;
		}
			.carousel-nav ul li {
				display: inline-block;
				margin: 0 2px;
			}
				.carousel-nav ul li a {
					position: relative;
					top: 1px;
					display: inline-block;
					width: 14px;
					height: 13px;
					background: url(img/backroom/backroom-carousel-glyphs.png) -20px 0 no-repeat;
					text-indent: -9999em;
				}
				.carousel-nav ul li.active a { background-position: -34px 0; }
		.carousel-nav .carousel-control {
			display: inline-block;
			position: relative;
			top: auto;
			width: 10px;
			height: 17px;
			background: url(img/backroom/backroom-carousel-glyphs.png) 0 0 no-repeat;
			text-indent: -9999em;
		}
			.carousel-nav .carousel-control.right {
				background-position: -10px 0;
			}
			.carousel-nav .carousel-control.left {
				background-position: 0 0;
			}
	.recent-order {
		float: left;
		width: 960px;
		margin-bottom: 40px;
	}
		.recent-order .img {
			width: 260px;
			height: 277px;
			padding: 17px 14px 16px 18px;
			background: url(img/backroom/bg_recent-order-image.png) 0 0 no-repeat;
		}
			.recent-order .img img {
			}
		.recent-order .info {
			width: 450px;
			margin: 0 20px;
		}
			.recent-order .info h3 {
				margin: 0 0 20px 20px;
				letter-spacing: 0.1em;
			}
			.order-grid {
				margin: 0;
				padding: 0;
				list-style: none;
			}
				.order-grid li {
					float: left;
					width: 224px;
					border-right: 1px solid #ccc;
					border-bottom: 1px solid #ccc;
				}
				.order-grid .order-items,
				.order-grid .order-balance { border-right: 0; }
				.order-grid .order-total,
				.order-grid .order-balance { border-bottom: 0; }
				
					.order-grid li div {
						padding: 25px 30px;
					}
						.order-grid li h6,
						.order-grid li h2 { margin: 0; }
						.order-grid li h2 {
							font-size: 2.8em;
							font-weight: 300;
						}
		.recent-order .btns {
			width: 170px;
		}
			.recent-order .btns .btn {
				display: block;
				text-align: center;
				margin-bottom: 10px;
			}

#manage-account-section {
	padding-top: 30px;
	border-top: 1px solid #c3c3c3;
	background: #f8f8f8 url(img/backroom/bg_overview-bottom.png) top center no-repeat;
}
	#manage-account-section h1 {
		text-align: center;
	}
	#manage-account-nav {
		margin-top: 25px;
	}
		#manage-account-nav ul {}
			#manage-account-nav ul li {
				float: left;
				width: 224px;
				padding: 0 48px;
				text-align: center;
				font-size: 1.1em;
			}
				#manage-account-nav ul li .img {}
				#manage-account-nav ul li .txt {}
					#manage-account-nav ul li .txt p { margin: 10px 0; }
					#manage-account-nav ul li .txt .btn { font-size: 1.0em; }


.panel {
	position: relative;
	margin: 30px 0;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
	.panel-content h4 {
		color: #a62b59;
		margin-bottom: 15px;
	}
	.panel-header {
		padding: 20px 20px;
	}
		.panel-header h3,
		.panel-header .field {
			float: left;
		}
			.panel-header h3 img {
				margin-right: 5px;
				vertical-align: bottom;
			}
		.panel-header ul {
			margin: 10px 0 0 50px;
			padding: 0;
			list-style: none;
			float: left;
		}
		.panel-header ul li {
			float: left;
		}
		/*.panel-header ul li a {padding:10px 15px;color:#222;}
		.panel-header ul li a:hover {color:#e37;background:#eee;}*/
		.panel-header nav {
			float: right;
		}
			.panel-header nav li {
				float: right;
				margin-left: 10px;
			}
				.panel-header nav li .btn-small-link { margin-right: 10px; }
	.panel-header + hr { margin: 0; }
	.panel-content {
		padding: 20px;
		font-size: 1.1em;
		line-height: 1.5em;
	}
		.panel-content h6 {
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			font-size: 0.75em;
			color: #252525;
			text-transform: uppercase;
		}
		.panel-content label {
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			font-size: 0.75em;
			color: #333;
			margin:0;
			text-transform: uppercase;
		}
		.panel-content .info,
		.panel-content address,
		.panel-content p {
			font-weight: 300;
		}
		.panel-content nav {
			float: left;
			margin-top: 10px;
		}
			.panel-content nav li {
				float: left;
				margin-right: 10px;
			}
				.panel-content nav li .btn-small-link { margin-right: 10px; }
		.sub-panel {
			width: 438px;
		}
		.sub-panel.push-left {
			padding-right: 20px;
		}
		.sub-panel.push-right {
			border-left: 1px solid #ccc;
			padding-left: 20px;
		}
		.panel .field label {
			font-weight: bold;
		}
		.panel .field input[type="text"] {
			width: 405px;
			font-size: 1.05em;
			
		}
		.panel .field b {flaot:left; display:inline; font-weight:normal;}
		.panel-header .field input[type="text"] {
			font-size: 1.2em;
		}
		.panel-header .field input[type="text"],
		.sub-panel .field input[type="text"] {
			width: 420px;
		}
		.field input[type="password"],
		.field input[type="text"].input-city {
			float: left;
			width: 175px;
			margin-right: 15px;
		}
		.field input[type="text"].input-zip { width: 60px; display:inline-block; margin-right: 15px; }
		.sub-panel .field input[type="text"].input-zip { width: 60px; margin-right: 15px;}
		.field input[type="text"].input-cc-number,
		.cc-number-view { float: left; width: 199px; margin-right: 15px; }
		.cc-number-view { padding: 6px 6px 3px 8px; letter-spacing: 0.1em; background-color: #ececec;}
		.field input[type="text"].input-phone-1,
		.field input[type="text"].input-phones-1 { width: 30px; }
		.field input[type="text"].input-cc-cvc,
		.field input[type="text"].input-phone-2,
		.field input[type="text"].input-phones-2 { width: 45px; }
		.field input[type="text"].input-phone-3,
		.field input[type="text"].input-phones-3 { width: 59px; }
		.field input[type="text"].input-w300 { width: 300px; margin-right: 4px; }
		.field input[type="text"].input-w80 { width: 80px; margin-right: 10px; }
		.field input[type="text"].input-w30 { width: 30px; }
		.sub-panel .field {
			margin-bottom: 15px;
			line-height:35px;
			padding:0;
		}
		div.sub-panel fieldset textarea {
			padding: 5px;
			width: 420px;
			height: 100px;
			font-size: 1.05em;
		}
		.panel-content textarea {
			padding: 5px;
			width: 600px;
			height: 100px;
			font-size: 1.05em;
		}
		.panel-content textarea.w600 {
			width: 600px; height:50px;
		}
		.panel-content textarea.w500 {
			width: 500px;
		}
		.panel-content textarea.w400 {
			width: 400px;
		}
		.sub-panel .primary-shipping,
		.sub-panel .primary-credit-card {
			margin-top: 30px;
			color: #252525;
			font-size: 0.9em;
		}
		.sub-panel .primary-shipping input,
		.sub-panel .primary-credit-card input {
			margin-right: 5px;
		}



#account-settings {}
		#account-info {
			padding: 19px;
			
		}
		#account-info ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
			#account-info ul li {
				float: left;
				margin: 0;
				padding: 10px 10px 10px 0;
				width: 174px;
			}
				#account-info ul li a {
					font-size: 0.8em;
					line-height: 1.0em;
					color: #d63873;
					text-decoration: none;
				}
					#account-info ul li a:hover {
						color: #ee3e80;
					}
				#account-info ul li p {
					margin: 0;
					font-family: 'Lato', sans-serif;
					font-weight: 300;
					font-size: 1.5em;
					line-height: 1.5em;
				}
		#my-profile .field {
			margin-bottom: 15px;
		}


		#factory-id {
			padding: 19px;
		}
		#factory-id ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
			#factory-id ul li {
				float: left;
				margin: 0;
				padding: 10px 10px 10px 0;
				width: 143px;
				height: 64px;
				position:relative;
			}
				#factory-id ul li a {
					font-size: 0.8em;
					line-height: 1.0em;
					color: #ef3f7f;
					text-decoration: none;
				}
					#factory-id ul li a:hover {
						color: #ee3e80;
					}
				#factory-id ul li p {
					margin: 0;
					font-family: 'Lato', sans-serif;
					font-weight: 300;
					font-size: 1.5em;
					line-height: 1.5em;
					position:absolute;
					bottom:0;
				}


		#products-info {
			padding: 19px;
			
		}
		#products-info ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
			#products-info ul li {
				float: left;
				margin: 0;
				padding: 10px 10px 10px 0;
				width: 174px;
			}
				
				#products-info ul li h6 {
					color: #d63873;
				}
				#products-info ul li a {
					font-size: 0.8em;
					line-height: 1.0em;
					color: #d63873;
					text-decoration: none;
				}
					#products-info ul li a:hover {
						color: #ee3e80;
					}
				#products-info ul li p {
					margin: 0;
					font-family: 'Lato', sans-serif;
					font-weight: 300;
					font-size: 1.5em;
					line-height: 1.5em;
				}




.panel-prompt {
	position: absolute;
	top: 25%;
	left: 0;
	width: 900px;
	padding: 30px;
	text-align: center;
}
	.panel-prompt h2 { color: #8dc63f; }
	.panel-prompt h3 {
		margin-bottom: 20px;
	}
		.panel-prompt .btn {
			margin: 0 30px;
		}

.prompt-save {
  background:url(img/backroom/bg_saved.png) no-repeat center center;
  height:180px;
  position:relative;
  top:-20px;
}

  .prompt-save h2 {
    color:#000;
    text-shadow:1px 1px 0 #F9F9F9;
    height:180px;
    line-height:180px;
    font-size:1.6em; 
  }

.loader {
	width:282px;
	height:51px;
	background: url(img/loader.gif) no-repeat center;
}

/* Dropdown */
.dropdown {
	border:1px solid #C5C5C5;
	background:#ECECEC;
	position:absolute;
	top:50px;
	z-index:100;
	padding:5px;
	left:-6px;
	display:none;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
td .dropdown {
	top: 40px;
	left: -1px;
	font-size: 1.1em;
}

.dropdown ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
	.dropdown ul li {
		margin: 0;
		padding: 0;
	}
.pb-region.hover .dropdown {
	display: block;
}

.dropdown.swatch {
	width:280px;
}

.dropdown.size,
.dropdown.viewby,
.dropdown.qty {
	width:70px;
	color:#333333;
	font-size:0.9em;
}

.dropdown.expanded {
	display:block; 
}	
	
	.dropdown-arrow {
		width:24px;
		height:11px;
		position:absolute;
		top:-11px;
		left:28px;
		background:url(img/order-builder/dropdown-arrow.png) no-repeat;
	}
 
	.dropdown.swatch ul {
		background:#fff;
		margin: 0;
		padding:2px;
		list-style: none;
	}
	
	.dropdown.swatch li {
		float:left;
		margin:1px;
		padding: 0;
		cursor:pointer;
		border:1px solid #fff;
		position:relative;
	}
	
	.dropdown.swatch li:hover {
		border-color:#000;
	}
 
		.selected {
			width:88px;
			height:32px;
			background:url(img/order-builder/texture-selected.png) no-repeat;
			position:absolute;
			bottom:0;
			display:none;
		}
		
		.selected.active {
			display:block;
		}
 
	.dropdown.size li,
	.dropdown.viewby li,
	.dropdown.qty li {
		background:#fff;
		border-bottom:1px solid #ECECEC;
		padding:5px 0;
		cursor:pointer;
	}
	
	td .dropdown.size li,
	td .dropdown.qty li {
		font-size: 1.2em;
	}
	
	.dropdown.size li:hover,
	.dropdown.viewby li:hover,
	.dropdown li:hover {
		color:#F43C7E;
		background:#F8F8F8;
	}
	
	.dropdown.specs .spec {
		width: 250px;
		background-color: #fff;
		text-align: left;
	}
		.dropdown.specs .txt,
		.dropdown.specs footer {
			padding: 20px;
		}
		.dropdown.specs ul {
			list-style: disc;
			padding-left: 1.5em;
		}
		.dropdown.specs footer {
			border-top: 1px solid #c7c7c7;
			background-color: #f8f8f8;
			font-size: 1.2em;
		}
	.dropdown .img img { border: 20px solid #fff; }

/**
 *   Bank account
 */

.panel.baccount .panel-edit .sub-panel.push-right {
  padding-top:49px;
}

  .panel.baccount .sub-panel.push-right {
    border-left:none;
  }


#auto-check {
  float:left;
  margin-top:7px;
  margin-right: 5px;
}

.primary-paying-method,
.bank-authorize {
  color: #252525;
  font-size: 0.9em;
}

.bank-authorize {
  padding-left:22px;
} 

  .bank-authorize a {
    text-decoration:underline;
    color: #252525;
  }

.auto-logo {
  float:left;
  margin-right: 10px;
}

.auto-net {
  width:80%;
  color:#636363;
  font-size:0.7em;
  line-height:16px;
  padding-top:14px;
}

.panel.baccount .field input[type="text"] {
  width:390px;
}

.panel.baccount  .icon-tooltip {
  margin-left:10px;
}

.state2 .push-right p,
.state1 .push-right p {
  background:#FEF898;
  border:1px solid #E1E1E1;
  padding:15px;
  color:#4B4048;
  line-height:22px;
}

  .state2 .push-right p .subtitle,
  .state1 .push-right p .subtitle {
    margin-bottom:9px;
    display:block;
    font-weight:bold;
  }
  
  .state1 .push-right p a {
    text-decoration:underline;
  }


.state2 .push-right p {
  background:#fff;
}


/* clearfix */
.field:before, .field:after,
.panel-content:before, .panel-content:after { content: ""; display: table; }

.field:after,
.panel-content:after { clear: both; }

.field,
.panel-content { *zoom: 1; }


/*  add by philip  */
.imagelist {
	overflow: hidden;
}
.imagelist ul {
	position: relative;
	list-style-type:none;
	padding:0;
	margin:0;
	float:left;
}
.imagelist ul li {
	float:left;
	margin-right:20px;
}
.imagelist ul li .thumb{
	width:180px;
	height:180px;
	background:#fff center center no-repeat url(img/products/camera.png);
	border:1px solid #ccc;
}
.imagelist ul li .thumb100{
	width:100px;
	height:100px;
	background:#fff center center no-repeat url(img/products/camera.png);
	border:1px solid #ccc;
}
.imagelist ul li img {
	border:1px solid #ccc;
}
.imagelist ul li span {
	display:block;
	margin-top:10px;
}
.panel-content>ul{list-style-type:none;overflow:auto;padding:0;}
.panel-content>ul>li{float:left;}
.panel-content>ul>li:first-child{margin-right:40px;}