
/**
 *   General
 */

[class*="icon-"], 
[class^="icon-"] {
  background-image: url("../img/cobo/glyphs.png");
}


a,
.save-button,
.txt-notice,
.btn-primary,
.page-header [class^="nav-"] a.txt-link,
.txt-alert,
.btn:hover,
.btn-small-link:hover,
.sub-head .btn-link:hover,
.pill  {
  color:#f89827;  
}

.btn-primary:hover { 
  color: #252525; 
}

.status-alert .status-bar,
.btn-danger {
  background-color:#f89827;
}

.btn-danger:hover { 
  background-color: #df8923;
  color:#fff;
}

.msg-alert {
  border: 1px solid #f89827;
}

.status-alert .tooltip-txt h6 {
  color: #866924;
}

/**
 *   Header
 */

#brand h2 a {
  background: url("../img/cobo/logo_82_sprite.png") no-repeat 0 0;
}

#brand h2 a:hover {
  background-position:0 -82px;
}

#pre-header {
  background: #485754; /* Old browsers */
  background: -moz-linear-gradient(top, #485754 0%, rgba(37,37,37,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#485754), color-stop(100%,rgba(37,37,37,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #485754 0%,rgba(37,37,37,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #485754 0%,rgba(37,37,37,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #485754 0%,rgba(37,37,37,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, #485754 0%,rgba(37,37,37,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#485754', endColorstr='#252525',GradientType=0 ); /* IE6-9 */
}

#clock {
  color:#f89827;
}

#clock span {
  color:#fff; 
}  

.icon-tooltip {
  background-position: -29px -116px;
}

#main-header nav ul li.active a {    
  border-top: 4px solid #f89827; 
}

.add-button.hover,
#main-header #cart a {
  background: #d38221; /* Old browsers */
  background: -moz-linear-gradient(top, #d38221 0%, #f9a747 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d38221), color-stop(100%,#f9a747)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d38221 0%,#f9a747 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d38221 0%,#f9a747 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d38221 0%,#f9a747 100%); /* IE10+ */
  background: linear-gradient(to bottom, #d38221 0%,#f9a747 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d38221', endColorstr='#f9a747',GradientType=0 ); /* IE6-9 */
}

#main-header #cart a:hover {
  background: #bd751e; /* Old browsers */
  background: -moz-linear-gradient(top, #bd751e 0%, #e09640 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bd751e), color-stop(100%,#e09640)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bd751e 0%,#e09640 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bd751e 0%,#e09640 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #bd751e 0%,#e09640 100%); /* IE10+ */
  background: linear-gradient(to bottom, #bd751e 0%,#e09640 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd751e', endColorstr='#e09640',GradientType=0 ); /* IE6-9 */
}

/**
 *   Order Builder Main
 */

#order-builder #main-content header {
  padding:11px 0 25px 250px;
  background:url(../img/cobo/logo.png)10px 5px no-repeat;
  margin-top:-71px;
}

#products-grid-search {
  bottom:23px;
}

#sort-by-featured {
  background: url("../img/cobo/featured-icon.png") no-repeat scroll 23px 16px transparent;
}

.featured {
  background: url("../img/cobo/featured-icon.png") no-repeat;
}

.add-button:not(.btn-disabled) {
  background: #d38221; /* Old browsers */
  background: -moz-linear-gradient(top, #d38221 0%, #f9a747 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d38221), color-stop(100%,#f9a747)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d38221 0%,#f9a747 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d38221 0%,#f9a747 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d38221 0%,#f9a747 100%); /* IE10+ */
  background: linear-gradient(to bottom, #d38221 0%,#f9a747 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d38221', endColorstr='#f9a747',GradientType=0 ); /* IE6-9 */
}

.add-button:hover:not(.btn-disabled),
.add-button.hover:not(.btn-disabled) {
  background: #bd751e; /* Old browsers */
  background: -moz-linear-gradient(top, #bd751e 0%, #e09640 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bd751e), color-stop(100%,#e09640)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bd751e 0%,#e09640 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bd751e 0%,#e09640 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #bd751e 0%,#e09640 100%); /* IE10+ */
  background: linear-gradient(to bottom, #bd751e 0%,#e09640 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd751e', endColorstr='#e09640',GradientType=0 ); /* IE6-9 */
}


.add-button:hover:not(.btn-disabled) .icon-add-item,
.add-button.hover:not(.btn-disabled) .icon-add-item {
background-position: -92px -217px;
}

#sidebar-button {
  background-image:url(../img/cobo/bg_sidebar-buttons.png);
}


.icon-loader-pink {
  position: absolute;
  top: 0;
  left: 0;
  width: 69px;
  height: 59px;
  background: rgba(0, 0, 0, 0.5) /*url(../img/loader-pink.gif) center center no-repeat*/;
}

#cart-growl {
  position: absolute;
  right: 0;
  top: 59px;
  background: rgba(0, 0, 0, 0.8);
  padding: 4px 20px 10px 30px;
  white-space: nowrap;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: #999;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  border-top: 6px solid #252525;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#order-builder .remove-button {
  background: url("../img/cobo/glyphs.png") no-repeat -21px -200px;
}

#order-builder .remove-button:hover {
  background-position:-21px -217px;
}

#order-builder-alt #brand-logo {
  padding:0;
}

#order-builder #toggle-mask,
#order-builder #toggle {
  top:15px;
}

/**
 *   Backroom 
 */

#account #main {
  padding-top:0;
}

#order-detail #main .inner,
#all-orders #main .inner {
  padding-top:10px;
}

.panel-content h4,
#account-settings .panel-header h3 {
  color:#866924;
}

.page-header [class^="nav-"] a:hover,
#account-info ul li a:hover,
#main-header #account-nav ul li ul li a:hover,
.orders-table tr.order-completed td.cell-status {
  color:#f89827;
}

.orders-table th.sort-active {
  border-bottom-color: #f89827;
}

a.thumb:hover {
  border-color: #f89827;
}

#order-detail .icon-number {
  background-image:none;
}

.ico-clock {
  background:url(../img/cobo/ico_clock.png) no-repeat;
}


/**
 *   Place order
 */

#brand-logo {
  height:71px;
  background:url(../img/cobo/logo.png) no-repeat left bottom;
  width:960px;
  margin:auto;
  display:block;
  padding:20px 0 0 0;
}

#note h4,
#breadcrumbs ul li.active {
    color: #866924;
}

#main .back-link a:hover,
.dropdown.size li:hover,
.dropdown li:hover,
#breadcrumbs ul li a:hover {
    color: #f89827;
}

#order-builder .pill:hover:not(.btn-disabled),
td .pill:hover:not(.btn-disabled),
td .pill.modified:not(.btn-disabled),
td input[type="text"].pill.modified,
.hover .pill { 
  border-color: #f89827 !important; 
}

.doohickey .danger {
  background-color: #f89827;
}

#place-order .icon-specs:hover {
 
}

#back-to-top:hover {
  background:url(../img/cobo/back_to_top.png) no-repeat 0 0;
}




