#intro {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
	#intro a {
		display: inline-block;
		position: relative;
		width: 220px;
		height: 220px;
		text-indent: -9999em;
    opacity: .85;
	}
		#btn-sign-up {
			z-index: 10;
			background: url(../img/onboarding/bg_sign-up.png) 0 -220px no-repeat;
		}
			#btn-sign-up.off {
				background-position: 0 0;
			}
		#btn-enter-code {
			margin-left: -24px;
			background: url(../img/onboarding/bg_enter-code.png) 0 0 no-repeat;
		}
			#btn-enter-code:hover {
				background-position: 0 -220px;
			}
			
	#intro h3 {
		clear: both;
	}
		#intro h3 span {
			display: inline-block;
			background-color: #fff;
			padding: 0 5px;
			margin-bottom: 1px;
		}

#invite {
	width: 380px;
	margin: 0 auto;
	background-color: #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, .25);
    box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, .25);
	text-align: center;
}
	#invite h6 {
		color: #fff;
		padding: 5px 0;
	}
		#invite h6 a:hover { color: #fff; }
	#invite .content {
		padding: 30px 20px 10px 20px;
		background-color: #fff;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
		#invite p {
			font-size: 1.1em;
			font-weight: 300;
		}
		#invite .icon-alert {
			position: absolute;
			left: 10px;
			top: 1.0em;
		}
		#invite input[type="text"] {
			width: 115px;
			margin-right: 5px;
		}
		#btn-verify {
			position: relative;
			top: -0.2em;
		}
		#invite fieldset .field-row { padding-left: 0; }
/* modal */
.modal {
	display: none;
	position: relative;
	z-index: 100;
	width: 860px;
	margin: 0 auto;
	padding: 20px 10px;
	background-color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, .25);
    box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, .25);
}
.sign-up-completed {
	background: rgba(255, 255, 255, 0.9) url(../img/onboarding/bg_sign-up-completed.png) top center no-repeat;
}
	.modal .row { padding: 0 40px 40px 40px; }
	.modal .btn-back {
		position: absolute;
		left: 20px;
		top: 20px;
		z-index:2;
	}
	.modal header {
		padding: 15px 0 10px 0;
		border-bottom: 1px solid #ccc;
		text-align: center;
	}
	.modal .content {
		padding: 20px 0;
	}
	.modal footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 15px 0;
		text-align: center;
		color: #fff;
		background-color: #000;
		-webkit-border-bottom-right-radius: 10px;
		-webkit-border-bottom-left-radius: 10px;
		-moz-border-radius-bottomright: 10px;
		-moz-border-radius-bottomleft: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	.modal footer a:hover { color: #fff; }
	.modal .panel-left {
		float: left;
	}
	.modal .panel-right {
		float: right;
	}
	.modal [class*="icon-"] {
		position: absolute;
		left: 0;
		top: 0.7em;
	}
	
	#modal-signup-phone .icon-alert
	{
	  top:1.5em;
	}

  #modal-signup-phone
  {
    margin:10px 0 0 0;
  }

#modal-main { padding: 0; }
	#modal-main [class*="panel"] {
		width: 320px;
		text-align: center;
	}
		#modal-main .content { padding: 0; }
		#modal-main .panel-left {
			padding-left: 25px;
			padding-right: 35px;
		}
		#modal-main .panel-right {
			padding-left: 34px;
			padding-right: 25px;
			border-left: 1px solid #ccc;
		}
			#modal-main h3 {
				margin: 5px 0;
			}
			#modal-main p {
				margin: 10px 0 20px 0;
				color: #666;
				font-size: 1.1em;
			}
			#modal-main .field-row {
				padding-left: 0;
			}
				#modal-main .field-row .icon-alert { top: 1.1em; }
				#modal-main .field-row input,
				#modal-main .field-row .btn-verify { vertical-align: middle; }
			#modal-main input[type=text] {
				width: 120px;
				margin-right: 10px;
			}

#modal-get-started {
	text-align: center;
}
	#modal-get-started h2 {
		font-size: 2.0em;
	}
	#modal-get-started ul {
		margin: 20px auto;
		padding: 0;
		list-style: none;
	}
		#products li {
			display: inline-block;
			margin: 0 0 0 60px;
		}
		#products li:first-child { margin-left: 0; }
			#products li a {
				display: inline-block;
				width: 210px;
				color: #666;
			}
			#products li a:hover { color: #ee3e80; }
			#products li a:hover img {
				opacity:0.4;
				filter:alpha(opacity=40); /* For IE8 and earlier */
			}
				#products li a span { display: block; }

#modal-create-account .panel-left,
#modal-create-account-co-op .panel-left {
	width: 370px;
}
#modal-create-account .panel-right,
#modal-create-account-co-op .panel-right {
	width: 410px;
}
#modal-create-account input[type=text],
#modal-create-account input[type=password],
#modal-create-account-co-op input[type=text],
#modal-create-account-co-op input[type=password] { width: 370px; }
#modal-signup-phone { float: left; padding-top: 0; }
#modal-create-account .field-row-phone input[type=text] { width: 60px; margin-right: 10px; }
#modal-create-account .field-row-phone .btn,
#modal-create-account-co-op .field-row .btn { float: right; }

#modal-create-account-co-op .panel-left { position: relative; }
#modal-create-account-co-op .panel-left img { position: absolute; left: -50px; top: 0; }
#modal-create-account-co-op h3,
#modal-create-account-co-op h5 { padding-left: 26px; }

#modal-account-creation .content { text-align: center; }
#modal-account-creation .content img { margin-top: -30px; }
#modal-account-creation footer { background-color: #000; color: #fff; }

#modal-create-account .panel-left {
  position:absolute;
  bottom:0;
  text-align:center;
}

#btn-form-signup.disabled {
  background:#ebebeb;
  color:#5E5E5E;
  text-shadow: none;
}

#modal-create-account .content {
}


/* landing page */

/* hero */
#hero {
	position: relative;
	overflow: hidden;
}
	#hero-inner {
		position: relative;
		z-index: 10;
		padding: 75px 0;
		min-height: 330px;
	}

#hero-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1000px;
	background: url(../img/onboarding/bg_hero.jpg) repeat-x;
  background-position: center top;
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
}
#hero-bg-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1000px;
	background: url(../img/onboarding/bg_hero-grad.png) top repeat-x;
}

/* factory direct */
#factory-direct {
	background: rgb(69,69,69); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,69,69,1) 0%, rgba(66,66,66,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,69,69,1)), color-stop(100%,rgba(66,66,66,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,69,69,1) 0%,rgba(66,66,66,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,69,69,1) 0%,rgba(66,66,66,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,69,69,1) 0%,rgba(66,66,66,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(69,69,69,1) 0%,rgba(66,66,66,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#424242',GradientType=0 ); /* IE6-9 */
	position:relative;
}
	#factory-direct header {
		padding: 50px 0;
		text-align: center;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
		color: #fff;
	}
		#factory-direct header h4 {
			color: #e1e1e1;
		}
		
	#factory-direct .content {
	  position:absolute;
	  top:202px;
	  width:100%;
	}
		
	.fd-top {
	  height:61px;
	  background:#353535;
	}	
	
	.fd-middle {
	  height:275px;
	  background:url(../../fpo/factory_direct_bg.gif) repeat-x top center;
	}
	
	.fd-bottom {
    height:100px;
    background:#353535;
  } 
		
	#factory-direct ul {
		margin: 0;
		padding: 0;
		list-style: none;
		color: #fff;
		margin:auto;
    width:1200px;
		
	}
		#factory-direct ul li {
			float: left;
			width: 20%;
			height: 400px;
			text-align: center;
			
			/*background: rgb(53,53,53); /* Old browsers */
			/*background: -moz-linear-gradient(top, rgba(53,53,53,1) 0%, rgba(46,46,46,1) 100%); /* FF3.6+ */
			/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,53,53,1)), color-stop(100%,rgba(46,46,46,1))); /* Chrome,Safari4+ */
			/*background: -webkit-linear-gradient(top, rgba(53,53,53,1) 0%,rgba(46,46,46,1) 100%); /* Chrome10+,Safari5.1+ */
			/*background: -o-linear-gradient(top, rgba(53,53,53,1) 0%,rgba(46,46,46,1) 100%); /* Opera 11.10+ */
			/*background: -ms-linear-gradient(top, rgba(53,53,53,1) 0%,rgba(46,46,46,1) 100%); /* IE10+ */
			/*background: linear-gradient(to bottom, rgba(53,53,53,1) 0%,rgba(46,46,46,1) 100%); /* W3C */
			/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#2e2e2e',GradientType=0 ); /* IE6-9 */
			
			-webkit-transition:width .15s, padding-bottom .15s;
			-moz-transition:width .15s, padding-bottom .15s;
			-ms-transition:width .15s, padding-bottom .15s;
			-o-transition:width .15s, padding-bottom .15s;
			transition:width .15s, padding-bottom .15s;
		}
		
		#factory-direct ul li.big {
			width: 40%;
		}
		#factory-direct ul li:nth-child(odd) {
			/*background: rgb(61,61,61); /* Old browsers */
			/*background: -moz-linear-gradient(top, rgba(61,61,61,1) 0%, rgba(52,52,52,1) 100%); /* FF3.6+ */
			/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(61,61,61,1)), color-stop(100%,rgba(52,52,52,1))); /* Chrome,Safari4+ */
			/*background: -webkit-linear-gradient(top, rgba(61,61,61,1) 0%,rgba(52,52,52,1) 100%); /* Chrome10+,Safari5.1+ */
			/*background: -o-linear-gradient(top, rgba(61,61,61,1) 0%,rgba(52,52,52,1) 100%); /* Opera 11.10+ */
			/*background: -ms-linear-gradient(top, rgba(61,61,61,1) 0%,rgba(52,52,52,1) 100%); /* IE10+ */
			/*background: linear-gradient(to bottom, rgba(61,61,61,1) 0%,rgba(52,52,52,1) 100%); /* W3C */
			/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#343434',GradientType=0 ); /* IE6-9 */
		}
		#factory-direct ul li.big {
			color: #fff;
		}
		#factory-direct ul li.big a { color: #fff; }
			#factory-direct ul li h6 {
				height:61px;
				line-height:61px;	
				background:#343434;			    
			}
			#factory-direct ul li:nth-child(odd) h6 {
			 background:#3c3c3c;
			} 
			
			@-moz-document url-prefix() {
          #factory-direct ul li h6 {
            height:62px;
          }
      }	
			#factory-direct ul li .img {
				position: relative;
				height: 275px;
				overflow: hidden;
			}
			#factory-direct ul li.big h6 {
			  background:#EE3E80;
			}
				#factory-direct ul li .img img {
					position: absolute;
					width: 100%;
					bottom:18px;
					left:0;
				}				
				#factory-direct ul li.big .img img {
				  bottom:4px;
				}
				#factory-direct ul li:first-child.big .img img {
				  bottom:11px;
				}  
				
				#factory-direct ul li.big .img {
        height: 275px;
      }
			#factory-direct ul li p {
				font-size: 1em;
				padding:10px 30px 0 30px;
				height:90px;
				margin:0;
				background:#343434;      
			}
			#factory-direct ul li:nth-child(odd) p {
			 background:#3c3c3c;
			}
      #factory-direct ul li.big p {
        background:#EE3E80;
      }


/* how it works */
#how-it-works {
	height: 850px;
	background: url(../img/onboarding/bg_how-it-works.gif) 2px 0px repeat-x;
	background: url(../img/onboarding/bg_how-it-works.jpg) top center no-repeat, url(../img/onboarding/bg_how-it-works.gif) 2px 0px repeat-x;
}
	#how-it-works header {
		position: relative;
		padding-top: 30px;
		text-align: center;
		border-bottom: 1px solid #b6b6b6;
	}
		#how-it-works header h1 {
			color: #252525;
			text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
		}
	#steps-nav {
		position: absolute;
		top: 200px;
		left: 0;
		z-index: 100;
		font-family: 'Lato', sans-serif;
		font-size: 1.5em;
	}
		#steps-nav ol {
			margin: 0;
			padding: 0;
			list-style: none;
		}
			#steps-nav ol li {
				margin-bottom: 20px;
			}
				#steps-nav ol li {
					color: #333;
					text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
				}
				#steps-nav ol li.active {
					color: #ee3e80;
				}
					#steps-nav ol li .num {
						display: inline-block;
						width: 48px;
						height: 48px;
						margin-right: 5px;
						background-color: #fff;
						border: 1px solid #ccc;
						font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
						text-align: center;
						text-shadow: none;
						line-height: 50px;
						-webkit-border-radius: 25px;
						-moz-border-radius: 25px;
						border-radius: 25px;
					}
					#steps-nav ol li.active a .num {
						background-color: #ee3e80;
						color: #fff;
					}
	#steps {
		position: relative;
		width: 1200px;
		height: 740px;
		margin: 0 auto;
		overflow: hidden;
	}
		#steps-map {
			position: absolute;
			/* temp coords based on step 1 */
			top: 0;
			left: 0;
			background: url(../img/onboarding/bg_how-it-works-trail.png) 0 0 no-repeat;
			/*background: url(../img/onboarding/mega-map.png) 0 0 no-repeat;*/
		}
			.step-container {
				position: relative;
				width: 1200px;
				height: 740px;
			}
			
			.step-container [class^="step-"] {
				position: absolute;
				top: 113px;
				left: 440px;
				width: 750px;
				color: #464646;
			}
			#step-content-1 { top: 113px; left: 440px; }
			#step-content-2 { top: 200px; left: 440px; }
			#step-content-3 { top: 113px; left: 440px; }
			#step-content-4 { top: 113px; left: 400px; }
			#step-content-5 { top: 100px; left: 440px; }
			#step-content-6 { top: 113px; left: 440px; }
			#step-content-7 { top: 113px; left: 440px; }
				.step-container [class^="step-"] .img {
					position: relative;
					width: 404px;
					height: 404px;
					background: url(../img/onboarding/bg_how-it-works-img.png) 0 0 no-repeat;
					text-align: center;
				}
				.step-container .step-left .img {
					float: left;
					margin-right: 20px;
				}
				.step-container .step-right .img {
					float: right;
					margin-left: 20px;
				}
					.step-container [class^="step-"] .img img {
						position: absolute;
						left: 12px;
						bottom: 13px;
					}
				.step-container [class^="step-"] h3 {
					line-height: 1.0em;
				}
					.step-container h3 em { color: #ee3e80; }
				.step-container [class^="step-"] p {
					margin: 15px 0;
					font-size: 0.95em;
					line-height: 1.7em;
				}
				.step-container [class^="step-"] .btn { margin-right: 10px; }

/* premium products */
#premium-products {
	background: url(../img/onboarding/bg_products-repeat.png) 0 0 repeat-x, url(../img/onboarding/bg_products.png) top center no-repeat;
}
	#premium-products header {
		padding-top: 50px;
		text-align: center;
	}
		#premium-products header h1 {
			color: #252525;
			text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
		}
	#products-slider-nav {
		height: 40px;
		border-bottom: 1px solid #b6b6b6;
		font-family: 'Lato', sans-serif;
		font-size: 1.0m;
		letter-spacing: 0.1em;
	}
		#products-slider-nav ul {
			text-align: center;
		}
			#products-slider-nav ul li {
				display: inline-block;
				margin: 0 25px;
			}
				#products-slider-nav ul li a {
					display: inline-block;
					padding-bottom: 35px;
					color: #7d7d7d;
				}
			#products-slider-nav ul li a:hover
			{
			  color: #ee3e80;
			}
			#products-slider-nav ul li.active a {
				background: url(../img/onboarding/ico_carrot.png) center 41px no-repeat;
				color: #ee3e80;
			}
	#products-slider {
		height: 356px;
		width: 1200px;
	}
		#products-slider .carousel-control.left { background-position: 0 0; opacity:.6;}
		#products-slider .carousel-control.right { background-position: -23px 0; opacity:.6; }
		
		#products-slider .carousel-control.left:hover,
    #products-slider .carousel-control.right:hover
    {
      opacity:1;
    }
		
		#products-slider .carousel-inner {
			height: 356px;
			width: 1200px;
			left: 0;
			top: 0;
		}
			#products-slider .item {
				position: relative;
				height: 356px;
				width: 1200px;
			}
			#products-slider .item .icon-line {
				position: absolute;
				top: 154px;
				left: 50%;
				margin-left: -360px;
			}
			.products {
				position: relative;
				margin: 40px 0 0 0;
				padding: 0;
				list-style: none;
				text-align: center;
			}
				.products li {
					display: inline-block;
					margin: 0 50px;
				}
					.products li img { margin-bottom: 20px; }
					.products li h6 em {
						margin-right: 15px;
						color: #ee3e80;
						font-family: 'Lato', sans-serif;
						font-style: normal;
					}

/* team */
#team {
	background: url(../img/onboarding/bg_team.png) top center;	
}
	#team header {
		height: 117px;
		padding-top: 25px;
		background: url(../img/onboarding/bg_team-header.png) top center no-repeat;
		text-align: center;
	}
		#team header h1 {
			color: #252525;
			text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
		}
	#team-slider-container {
		background-color: #71706e;
		background: url(../img/onboarding/bg_team-carousel-repeat.png) 0 0 repeat-x;
		background: url(../img/onboarding/bg_team-carousel.png) top center no-repeat, url(../img/onboarding/bg_team-carousel-repeat.png) 0 0 repeat-x;
		border-top: 1px solid #c4c3c4;
	}
		#team-slider {
			height: 500px;
			min-width: 1200px;
		}
			#team-title {
				position: relative;
				top: 110px;
				left: 40px;
				width: 1200px;
				margin: 0 auto;
			}
				#team-title h2 {
					color: #fff;
					font-size: 2.2em;
				}
					#team-title h2 span {
						display: block;
						width: 430px;
						margin-bottom: 1px;
						padding: 5px 20px 3px 20px;
						background-color: rgba(238, 62, 128, 0.75);
						font-family: 'Lato', sans-serif;
						font-weight: 300;
					}
					#team-title h2 span:first-child { background-color: rgba(238, 62, 128, 1.0); }
			#team-slider .carousel-control { z-index: 100; }
			#team-slider .carousel-control.left { left: 30px; background-position: -46px 0; }
			#team-slider .carousel-control.right { right: 30px; background-position: -69px 0; }
			#team-slider .carousel-control-bg {
				display: block;
				position: absolute;
				top: 0;
				width: 200px;
				height: 500px;
				cursor: pointer;
			}
			#team-slider #carousel-team-left {
				left: 0;
				background: url(../img/onboarding/bg_team-carousel-control-left.png) -9999px 0 no-repeat;
			}
			#team-slider #carousel-team-right {
				right: 0;
				background: url(../img/onboarding/bg_team-carousel-control-right.png) -9999px 0 no-repeat;
			}
			#team-slider #carousel-team-left:hover { background-position: 0 0; }
			#team-slider #carousel-team-right:hover { background-position: 0 0; }
			#team-slider .carousel-inner {
				width: 100%;
				height: 500px;
				left: 0;
				top: 0;
			}
				#team-slider .carousel-inner .item {
					width: 100%;
					height: 500px;
					margin: 0 auto;
				}
				#team-slider .carousel-inner .item .team-inner {
					position: relative;
					width: 1200px;
					height: 500px;
					margin: 0 auto;
				}
				.team-member .img {
					position: absolute;
					z-index: 10;
					left: 510px;
					bottom: 0;
				}
				.team-member .txt {
					position: absolute;
					left: 670px;
					top: 250px;
					width: 260px;
					padding: 20px;
					padding-left: 230px;
					background: #f0f0f0;
				}
				#team-1 .txt {
					left: 630px;
				}
				#team-2 .txt,
        #team-3 .txt {
					left: 300px;
          padding-left: 20px;
          padding-right: 200px;
          width: 230px;
				}
				#team-4 .img,
				#team-5 .img { left: 493px; }
				#team-4 .txt,
				#team-5 .txt {
					z-index: 9;
					left: 170px;
					padding-left: 20px;
					padding-right:326px;
				}
					.team-member .txt h3 {
						color: #ee3e80;
					}
					.team-member .txt p {
						margin: 10px 0;
						font-weight: 300;
					}

/* press and fans */
#press-fans {
	padding-top: 30px;
}
	#press-fans header {
		text-align: center;
		border-bottom: 1px solid #ccc;
	}
		#press-fans header h1 {
			color: #252525;
			text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
		}
	
	/* press */
	#press {
		float: left;
		width: 630px;
	}
		#press ul {
			margin: 0 0 0 -15px;
			padding: 0;
			list-style: none;
		}
			#press ul li {
				float: left;
				width: 180px;
				padding: 9px;
				margin-top: 20px;
				margin-left: 15px;
				border: 1px solid #eaeaea;
			}
	
	     #press ul li:hover {
	       box-shadow:0 0 4px -1px #909090; 
	     }  
	
	     #press ul li a {
	       display:block;
	       width:180px;
	       height:180px; 
	       text-indent:-9999px;
	     }
	   
	     #press ul li a:hover {
         background-position:0 -180px; 
       }
	   
	     #gpress-1 {
	       background:url(../img/onboarding/g_press-1.png) no-repeat 0 0;
	     }
	     
	     #gpress-2 {
         background:url(../img/onboarding/g_press-2.png) no-repeat 0 0;
       }
       
       #gpress-3 {
         background:url(../img/onboarding/g_press-3.png) no-repeat 0 0;
       }
       
       #gpress-4 {
         background:url(../img/onboarding/g_press-4.png) no-repeat 0 0;
       }
       
       #gpress-5 {
         background:url(../img/onboarding/g_press-5.png) no-repeat 0 0;
       }
       
       #gpress-6 {
         background:url(../img/onboarding/g_press-6.png) no-repeat 0 0;
       }
	     
	     
	
	/* fans */
	#fans {
		float: right;
		width: 530px;
		border-bottom: 1px solid #ccc;
	}
		#fans-slider {
			width: 530px;
			height: 409px;
			padding-top: 30px;
		}
			#fans-slider h6 {
				position: absolute;
				top: 24px;
				left: 80px;
			}
			#fans-slider .carousel-inner {
				border-left: 5px solid #ee3e80;
			}
			#fans-slider .carousel-control.left { display: none; }
			#fans-slider .carousel-control.right { background-position: -92px 0; }
				.fan {
					width: 500px;
					padding-top: 30px;
					padding-left: 20px;
				}
					.fan blockquote {
						margin: 0;
					}
						.fan blockquote p {
							font-family: 'Lato', sans-serif;
							font-style: italic;
							font-size: 2.5em;
							font-weight: 300;
							color: #ee3e80;
							line-height: 1.2em;
						}
						
						.fan blockquote small{
              font-weight:bold;
            }
						
						
/* end landing page */


/* clearfix */					
.content:before, .content:after,
.carousel-inner:before, .carousel-inner:after { content: ""; display: table; }

.content:after,
.carousel-inner:after { clear: both; }

.content,
.carousel-inner { *zoom: 1; }

@media screen and (max-width: 1280px) { 

#hero {
	min-width: 1200px;
}

#header {
	height: 80px;
}

#brand h2 a {
	width: 60px;
	height: 60px;
}
#brand h2 a img {
	width: 60px;
	height: 60px;
}

#brand h2 em {
}

#nav {
	padding: 14px 10px 0;
}

}








