
#account-header {
  position:fixed !important;
  z-index: 200;
  width:100% !important;
  min-width: 1000px;
  top:0;
}

.icon-add-item {
	width: 17px;
	height: 17px;
	background-position: -92px -200px;
}
.icon-search {
	width: 30px;
	height: 30px;
	background-position: -75px -200px;
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}
.icon-search:hover {
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}
.icon-filter-arrow {
	width: 20px;
	height: 10px;
	background-position: -49px -300px;
}
.icon-sort {
	width: 9px;
	height: 5px;
	background-position: 0 -300px;
}
a:hover .icon-sort,
.icon-sort-active {
	width: 9px;
	height: 5px;
	background-position: 0 -305px;
}
.icon-sort.descending {
	background-position: 0 -310px
}
a:hover .icon-sort.descending,
.icon-sort-active.descending {
	background-position: 0 -315px;
}
.icon-overlay-close {
	width: 23px;
	height: 23px;
	background-position: -50px -400px;
}
.icon-arrow-carousel-left {
	width: 14px;
	height: 24px;
	background-position: 0 -400px;
	cursor: pointer;
}
.icon-arrow-carousel-left:hover {
	background-position: 0 -424px;
}
.icon-arrow-carousel-right {
	width: 14px;
	height: 24px;
	background-position: -14px -400px;
	cursor: pointer;
}
.icon-arrow-carousel-right:hover {
	background-position: -14px -424px;
}

#account-header,
#main { min-width: 960px; }
#order-builder-alt .inner { width: 960px; }

.add-button:not(.btn-disabled), .add-button.btn-disabled:hover {
  background: rgb(241,101,153); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(241,101,153,1) 0%, rgba(191,50,103,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,101,153,1)), color-stop(100%,rgba(191,50,103,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(241,101,153,1) 0%,rgba(191,50,103,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(241,101,153,1) 0%,rgba(191,50,103,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(241,101,153,1) 0%,rgba(191,50,103,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(241,101,153,1) 0%,rgba(191,50,103,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16599', endColorstr='#bf3267',GradientType=0 ); /* IE6-9 */
}

.add-button { cursor: pointer; margin-top:10px;}
.add-button:hover,
.add-button.hover {
  background: rgb(203,91,133); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(203,91,133,1) 0%, rgba(152,40,82,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(203,91,133,1)), color-stop(100%,rgba(152,40,82,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(203,91,133,1) 0%,rgba(152,40,82,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(203,91,133,1) 0%,rgba(152,40,82,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(203,91,133,1) 0%,rgba(152,40,82,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(203,91,133,1) 0%,rgba(152,40,82,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb5b85', endColorstr='#982852',GradientType=0 ); /* IE6-9 */

	/*background: rgb(241,101,153); /* Old browsers */
	/*background: -moz-linear-gradient(top, rgba(241,101,153,1) 0%, rgba(191,51,103,1) 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,101,153,1)), color-stop(100%,rgba(191,51,103,1))); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top, rgba(241,101,153,1) 0%,rgba(191,51,103,1) 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top, rgba(241,101,153,1) 0%,rgba(191,51,103,1) 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top, rgba(241,101,153,1) 0%,rgba(191,51,103,1) 100%); /* IE10+ */
	/*background: linear-gradient(to bottom, rgba(241,101,153,1) 0%,rgba(191,51,103,1) 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16599', endColorstr='#bf3367',GradientType=0 ); /* IE6-9 */
	
}

.add-button:hover:not(.btn-disabled),
.add-button.hover:not(.btn-disabled) {
	border-color: #e1e1e1 !important;
}

  .add-button:not(.btn-disabled) .icon-add-item,
	.add-button:hover .icon-add-item,
	.add-button.hover .icon-add-item {
		background-position: -92px -217px;
	}
.add-button.btn-disabled:not(:hover) .icon-add-item {
	opacity:0.3;
	filter:alpha(opacity=30); /* For IE8 and earlier */
}



#main {
	padding-top: 130px;
	padding-bottom:0;
}

.page-header {
	position: relative;
	padding-bottom: 20px;
}
	.page-header h5 {
		display: inline-block;
		font-size: 1.2em;
	}
	.page-header h5 .item-total { font-size: 1.5em; }
	.page-header h5 .filter {
		position: relative;
		display: inline-block;
	}
	.filter {
		display: inline-block;
		margin: 0 10px;
		padding: 0;
		list-style: none;
	}
		.filter .icon-filter-arrow {
			display: none;
			position: absolute;
			left: 50%;
			top: 25px;
			margin-left: -10px;
		}
		.filter > li {
			margin: 0;
			line-height: 2.0em;
			position: relative;
			font-size: 1.2em;
		}
			.filter > li > a {
				color: #252525;
			}
		.filter ul {
			display: none;
			position: absolute;
			left: 50%;
			top: 19px;
			margin: 0;
			margin-top: 15px;
			margin-left: -80px;
			padding: 5px;
			list-style: none;
			font-size: 0.7em;
			background-color: #ececec;
			z-index: 100;
		}
		.filter > li:hover .icon-filter-arrow,
		.filter > li:hover ul { display: block; }
			.filter ul li {
				margin: 0;
				line-height: 1.0em;
			}
				.filter ul li a {
					display: block;
					width: 130px;
					margin-bottom: 1px;
					padding: 7px 10px;
					background-color: #fff;
					color: #2c2c2c;
				}
				.filter ul li a:hover {
					background-color: #f8f8f8;
					color: #ee3e80;
				}
	.filter .dropdown {
		top: 1.6em;
		left: 50%;
		margin-left: -65px;
	}
	.filter .dropdown .dropdown-arrow {
		left: 50%;
		margin-left: -12px;
	}
	.filter .dropdown ul {
		width: 130px;
	}
	.filter .dropdown li {
		font-size: 0.7em;
		background-color: #fff;
		margin-bottom: 1px;
	}
		.filter .dropdown li a {
			display: block;
			padding: 5px 10px;
			color: #252525;
		}

#products-grid-search {
	position: absolute;
	right: 0;
	top: 0;
}
	#products-grid-search input[type="text"] {
		width: 160px;
		padding-right: 30px;
	}
	#products-grid-search input[type="button"] {
		position: absolute;
		top: 2px;
		right: 1px;
		padding: 0;
		border: 7px solid #fff;
		text-indent: -9999em;
		background-color: #fff;
	}

#content {
	width: 960px;
}

#sidebar {
	width: 160px;
}
	#sidebar h6 {
		font-size: 0.9em;
		font-weight: 400;
		text-align: center;
		line-height: 2.2em;
	}

.order-builder-table {
	width: 960px;
	border: none;
}
	.order-builder-table thead {
	}
		.order-builder-table th {
			width: 80px;
			padding: 6px 0;
			font-family: 'Lato', sans-serif;
			font-size: 0.8em;
			font-style: italic;
			font-weight: normal;
			color: #2c2c2c;
		}
			.order-builder-table th a { color: #252525; }
			.order-builder-table th.sort-active a { font-weight: bold; }
	.order-builder-table tbody {
		border-top: 4px solid #b9b9b9;
	}
		.order-builder-table td {
			position: relative;
			width: 70px;
			padding: 5px 0;
			text-align: center;
			vertical-align: middle;
			font-family: 'Lato', sans-serif;
			font-size: 0.8em;
			font-weight: 700;
			color: #2c2c2c;
			border-bottom: 1px solid #b9b9b9;
		}
		.order-builder-table td.cell-sku a {
			text-decoration: underline;
		}
		.order-builder-table td.cell-specs {
			width: 210px;
		}
		.order-builder-table td > span:first-child {
			position: relative;
			display: inline-block;
			height: 50px;
			width: 69px;
			padding: 5px 0;
			line-height: 50px;
			vertical-align: middle;
			text-align: center;
			border-right: 1px solid #b9b9b9;
		}
		.order-builder-table td.cell-specs > span:first-child {
			width: 189px;
			padding: 5px 10px;
			line-height: 1.3em;
			font-weight: 400;
			text-align: left;
		}
		.order-builder-table td.cell-remove > span:first-child {
			border-right: none;
		}
		.order-builder-table td.cell-specs > span:first-child,
		.order-builder-table td.cell-remove > span:first-child {
			padding-top: 5px;
			height: 60px;
		}
		.order-builder-table td.cell-remove .save-button {
			display: none;
			font-size: 1.3em;
		}
		.order-builder-table td.cell-remove .loader {
			position: absolute;
			z-index: 100;
			width: 770px;
			height: 60px;
			right: 0;
			top: 0;
		}
		.order-builder-table td .dropdown {
			top: 55px;
			left: -6px;
		}
		.order-builder-table td span .more {
			position: relative;
			color: #ee3e80;
			cursor: pointer;
		}
		.order-builder-table td span .dropdown { line-height: 1.5em; }
		.order-builder-table td.cell-item span .dropdown {
			top: 60px;
		}
		.order-builder-table td span .more .dropdown {
			left: -2.0em;
			top: 1.7em;
			color: #2c2c2c;
		}

#sidebar .floaty {
	width: 160px;
}

.items-added {
	margin: 0;
	padding: 0;
	list-style: none;
}
	.items-added li {
		position: relative;
		margin-bottom: 4px;
		padding: 5px;
		border: 1px solid #dadada;
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}
	.items-added .thumb {
	}
		.items-added .thumb img {
			width: 27px;
			height: 27px;
			border: 1px solid #dadada;
		}
	.items-added .chip {
		width: 27px;
		height: 27px;
		margin-left:5px;
	}
		.items-added .chip img {
			width: 27px;
			height: 27px;
		}
	.items-added .qty {
		margin-left: 15px;
	}
	.items-added .remove-button {
		position: absolute;
		right: 10px;
		top: 10px;
	}

.border-pink { border-color: #EE3E80 !important; }

.item-overlay {
	position: relative;
	width: 450px;
}
	.item-carousel {
		position: relative;
		width: 450px;
		height: 250px;
	}
		.item-carousel-item {
			width: 450px;
			height: 250px;
			text-align: center;
		}
	.item-overlay .icon-arrow-carousel-left {
		position: absolute;
		z-index: 100;
		left: 10px;
		top: 130px;
	}
	.item-overlay .icon-arrow-carousel-right {
		position: absolute;
		z-index: 100;
		right: 10px;
		top: 130px;
	}
	.item-overlay .icon-overlay-close {
		position: absolute;
		z-index: 100;
		top: 0;
		right: 0;
		cursor: pointer;
	}

	.item-desc-spec {
		padding: 10px;
	}
		.item-desc-spec p,
		.item-desc-spec ul {
			font-size: 0.8em;
			margin: 0;
		}
		.item-desc-spec ul {
			padding-left: 1.5em;
		}
		.item-desc {
			float: left;
			width: 199px;
			padding-right: 20px;
			border-right: 1px solid #dedede;
		}
			.item-desc h6 { color: #909090; }
		.item-spec {
			float: left;
			width: 190px;
			padding-left: 20px;
		}

.fancybox-skin { background-color: #fff; }

/**
 *   Dropdown quantity exceeded
 */

.dropdown.qty-exceeded {
  display:none;
  width:201px;
  left:-72px !important;
  text-align:left;
}

.dropdown.qty-exceeded .dropdown-arrow {
  left:93px;
}

.qe1,
.qe2 {
  background:#fff;  
}

.qe1 {
  border-bottom:1px solid #C5C5C5;
  font-size:1em;
  color:#000;
  font-weight:bold;
  padding:15px;
}

  .qe1 .icon-alert {
     background-position: -178px 0;
     position:relative;
     top:-3px;
     left:-1px;
  }

.qe2 {
  font-size:0.9em;
  padding:10px 15px 15px 15px;
}


/**
 *   Dropdown Warning missing info
 */

.order-builder-table td .dropdown.info-miss {
  display:none;
  width:180px;
  height:120px;
  left:-60px;
  text-align:left;
  top:-124px;
}

.order-builder-table td .dropdown.info-miss .dropdown-arrow {
  width:24px;
  height:11px;
  position:absolute;
  top:100%;
  left:82px;
  background:url(../img/order-builder/dropdown-arrow-top.png) no-repeat;
}

.order-builder-table td .dropdown.info-miss .dropdown-content {
  background:#fff;
  height:100%;
}

.order-builder-table td .dropdown.info-miss .dropdown-content .im1 {
  padding: 10px 0px 10px 20px;
  background-color:#f8f8f8;
  border-bottom:1px solid #C5C5C5;
  font-size:0.9em;
  font-weight:bold;
  font-style: italic;
  color:#D73E77;
}

.order-builder-table td .dropdown.info-miss .dropdown-content .im2 ul {
  margin:5px 0px 0px 0px;
  padding:0px 0px 0px 25px;
}

.order-builder-table td .dropdown.info-miss .dropdown-content .im2 ul li {
  font-size:12px;
  padding-left:5px;
  line-height:11px;
  word-spacing: 2px;
  font-style: italic;
}

.order-builder-table td .dropdown.info-miss .dropdown-content .im2 ul li:before {
  content: "";
  border-color: transparent #EE3F80;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0px;
  width: 0px;
  left: -0.8em;
  top: 0.8em;
  position: relative;
}


/**
 *   No results
 */

#no-results {
  margin-top:20px;
}

/**
 *   End of page
 */

#end-of-page {
  height:42px;
  border-top:1px solid #EDEDED;
  margin-top:50px;
}

#eop-inner {
  height:41px;
  margin-top:1px;
  background: #D9D9D9; /* Old browsers */
  background: -moz-linear-gradient(top, #D9D9D9 0%, #E4E4E4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D9D9D9), color-stop(100%,#E4E4E4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #D9D9D9 0%,#E4E4E4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #D9D9D9 0%,#E4E4E4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #D9D9D9 0%,#E4E4E4 100%); /* IE10+ */
  background: linear-gradient(to bottom, #D9D9D9 0%,#E4E4E4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D9D9D9', endColorstr='#E4E4E4',GradientType=0 ); /* IE6-9 */
}

#back-to-top {
  width:44px;
  height:45px;
  background:url(../img/order-builder/back_to_top.png) no-repeat 0 0;
  position:fixed;
  bottom:10px;
  right:10px;
  cursor:pointer;
  z-index:7000;
}

#back-to-top:hover {
  background-position:0 -45px;
}

/**
 *   Toggle
 */

#toggle {
  width:95px;
  height:32px;
  display:block;
  text-indent:-9999px;
  background:url(../img/order-builder/toggle_list.png) no-repeat 0 0;
  cursor:pointer;
  position:absolute;
  right:230px;
  top:2px;
}

#toggle-mask {
  width:47px;
  height:34px;
  position:absolute;
  right:230px;
  top:0;     
}


#toggle:hover {
  background-position:0 -32px;
}



    /*
     * #products-header .pb-region
     *
     */
    .pb-region {
      width:69px;
      height:39px;
      float:left;
      padding-top:11px;
      border-left:1px solid #c5c5c5;
      text-align:center;
      position:relative;
    }
    
    .pb-region.disabled,
    .pb-region.first {
      border:none;
      width:70px; 
    }
    
    .pb-region.disabled.first img {
      display:none;
    }
   
    .pb-region.disabled.second input {
      display:none;
    }
    
    .pb-region span.default {
      color: #666;
      font-family:'Lato', sans-serif;
      font-style: italic;
      font-weight: 400;
      font-size: 0.9em;
    }
    .pb-region .input-qty { display: none; }
    .pb-region .pill-input {
      position: absolute;
      z-index: 10;
      top: 11px;
      left: 9px;
    }

#products-header .pb-region {
  display:inline-block;
  float:none;
  vertical-align:middle;
  padding:0px;
}

#products-header .pb-region .pill .default {
  color:#252525;
  font-style:normal;
}

#products-header .pb-region .dropdown {
  top:40px;
}

#products-header .pb-region .dropdown .dropdown-clear {
  height:30px;
  padding-top:5px;
}

#products-header .pb-region .dropdown .dropdown-clear a {
  border-bottom:1px solid;
  padding-bottom: 1px
}

#products-header .pb-region.color-filter .dropdown {
  left:-110px;
}

#products-header .pb-region.color-filter .dropdown .dropdown-arrow {
  left:132px;
}

#products-header .pb-region.viewby-filter {
  width: 80px;
}

#products-header .pb-region.viewby-filter ul {
  text-align: left;
  text-indent: 15px;
  font-weight: bold;
}

#products-header .filter ul {
  font-size:13px;
}

#products-header .pb-region.viewby-filter .pill.pill-inset {
  width: 58px;
}

#products-header .pb-region.viewby-filter .pill.pill-inset .grad {
  width: 56px;
}

#products-header .pb-region.viewby-filter .dropdown {
  width:150px;
  left:-40px;
}

#products-header .pb-region.viewby-filter .dropdown .dropdown-arrow{
  left:68px;
}

#products-grid-search {
  position: absolute;
  right: 0;
  top: 0;
}
  #products-grid-search input[type="text"] {
    width: 160px;
    padding-right: 30px;
  }
  #products-grid-search input[type="button"] {
    position: absolute;
    top: 2px;
    right: 1px;
    padding: 0;
    border: 7px solid #fff;
    text-indent: -9999em;
    background-color: #fff;
  }