.isotope-hidden {
  z-index: -999;
}

.icon-search {
	width: 30px;
	height: 30px;
	background-position: -75px -200px;
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}
.icon-search:hover {
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}
.icon-add-item {
	width: 17px;
	height: 17px;
	background-position: -92px -200px;
}

.add-button:not(.btn-disabled),
.add-button.hover {
  background: rgb(241,101,153); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(241,101,153,1) 0%, rgba(191,50,103,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,101,153,1)), color-stop(100%,rgba(191,50,103,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(241,101,153,1) 0%,rgba(191,50,103,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(241,101,153,1) 0%,rgba(191,50,103,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(241,101,153,1) 0%,rgba(191,50,103,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(241,101,153,1) 0%,rgba(191,50,103,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16599', endColorstr='#bf3267',GradientType=0 ); /* IE6-9 */
}


.add-button { cursor: pointer; }
.add-button.hover:not(.btn-disabled),
.add-button:hover:not(.btn-disabled) {
	background: rgb(203,91,133); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(203,91,133,1) 0%, rgba(152,40,82,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(203,91,133,1)), color-stop(100%,rgba(152,40,82,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(203,91,133,1) 0%,rgba(152,40,82,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(203,91,133,1) 0%,rgba(152,40,82,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(203,91,133,1) 0%,rgba(152,40,82,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(203,91,133,1) 0%,rgba(152,40,82,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb5b85', endColorstr='#982852',GradientType=0 ); /* IE6-9 */
}

  .add-button.hover .icon-add-item,
  .add-button:not(.btn-disabled) .icon-add-item,
	.add-button:hover:not(.btn-disabled) .icon-add-item,
	.add-button.hover:not(.btn-disabled) .icon-add-item {
		background-position: -92px -217px;
	}
	
	
  .add-button.btn-disabled:not(.hover) .icon-add-item {
	opacity:0.3;
	filter:alpha(opacity=30); /* For IE8 and earlier */
}


#order-builder { padding-top: 105px; }


/**
 *	 Header
 */

#account-header {
	position:fixed !important;
	z-index: 200;
	width:100% !important;
	min-width: 1000px;
	top:0;
}
	#account-header .inner {
		min-width: 980px;
		width: auto;
		padding: 0 20px;
	}
	#account-header #main-header .inner { padding-right: 0; }
	#credit {
		right: 20px;
	}
	#main-header #items { border-right: none; }
	#main-header #estimated-price { border-left : none; }
	#main-header #estimated-price .cart-nav-item {
		background-image: url(../img/order-builder/bg_divider.png);
		background-position: left;
		background-repeat: no-repeat;
	}
	#main-header #items,
	#main-header #estimated-price {
		background: rgb(225,225,225); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(225,225,225,1) 0%, rgba(200,200,200,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,225,225,1)), color-stop(100%,rgba(200,200,200,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(225,225,225,1) 0%,rgba(200,200,200,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(225,225,225,1) 0%,rgba(200,200,200,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(225,225,225,1) 0%,rgba(200,200,200,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(225,225,225,1) 0%,rgba(200,200,200,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#c8c8c8',GradientType=0 ); /* IE6-9 */
		color: #252525;
	}
	#main-header #minimum-due {
		background: rgb(146,146,146); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(146,146,146,1) 0%, rgba(109,109,109,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(146,146,146,1)), color-stop(100%,rgba(109,109,109,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(146,146,146,1) 0%,rgba(109,109,109,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(146,146,146,1) 0%,rgba(109,109,109,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(146,146,146,1) 0%,rgba(109,109,109,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(146,146,146,1) 0%,rgba(109,109,109,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#929292', endColorstr='#6d6d6d',GradientType=0 ); /* IE6-9 */
		color: #fff;
	}
	#main-header #account-nav ul,
	#main-header #account-nav ul li { border-right: none; }
		

/**
 *	 Main
 */

#main {
	position: relative;
	min-width: 880px;
	background: url(../img/order-builder/bg_waffle.jpg);
	padding-bottom:0;
}

/**
 *	 Sidebar
 */

ul,li { margin:0; padding:0; }
li { list-style:none; }

#ob-sidebar-wrapper::-webkit-scrollbar {
	width:0;
}

#ob-sidebar-wrapper {
	position: fixed;
	top: 105px;
	z-index: 5;
	width:206px;
	background:url(../img/order-builder/sidebar-border.png) repeat-y 200px 0 #F0F0F0;
	opacity:0.0;
	filter:alpha(opacity=00); /* For IE8 and earlier */
}
#ob-sidebar-wrapper.fixed {
	position: fixed;
}

#ob-sidebar {
	width:200px;
	font-size:1em;
	color:#2c2c2c;
	font-family:'Lato', sans-serif;
	text-align:center;
	padding-right:6px;
}

	#sidebar-button
	{
		width:24px;
		height:95px;
		position:absolute;
		top:120px;
		left:200px;
		background:url(../img/order-builder/bg_sidebar-buttons.png) no-repeat -24px 0;
		cursor:pointer;
	}
	
	.collapsed #sidebar-button
	{
		background-position:0 0;
	}

	.sidebar-title {
		height:65px;
		font-size:1.125em;
		color:#464646;
		font-family:'Lato', sans-serif;
		line-height:85px;
		border-bottom:1px solid #D1D1D1;
		font-size:1.3em;
		background:url(../img/order-builder/bg-titles.png) no-repeat;
	}

	.categories {
		height:45px;
		line-height:45px;
		border-bottom:1px solid #D1D1D1;
		cursor: pointer;
	}

		.categories a {
			color:#2c2c2c;
		}

		.categories:hover,
		.categories.active {
			background:#FCFCFC;
		}

#sort-by-featured {
	height:50px;
	border-bottom:1px solid #D1D1D1;
	line-height:50px;
	font-family:'Lato', sans-serif;
	color:#464646;
	background:url(../img/order-builder/featured-icon.png) no-repeat 25px 14px;
	display: block;
}
#sort-by-featured:hover,
#sort-by-featured.hover { background-color: #fcfcfc; }

.filters {
	color:#464646;
	border-bottom:1px solid #D1D1D1;
	text-align:left;
	padding-left:20px;
	width:180px;
}
.filters:hover { background-color: #fcfcfc; }

	.filters.expanded {
		background:#FCFCFC;
	}
	
	.filters.collapsed {
		/*height:45px;
		line-height:45px;*/
	}
	
	.filters-top {
		line-height:45px;
		position:relative;
		font-style: italic;
		font-weight: 700;
		cursor: pointer;
	}
	
		.filter-button {
			width:16px;
			height:16px;
			position:absolute;
			top:15px;
			right:20px;
			background:url(../img/order-builder/bg_filter-buttons.png) no-repeat;
			opacity:0.4;
			filter:alpha(opacity=40); /* For IE8 and earlier */
			cursor:pointer;
		}
		.filters:hover .filter-button {
			opacity:0.7;
			filter:alpha(opacity=70); /* For IE8 and earlier */
		}
		
		.expanded .filter-button {
			background-position:-16px 0;
		}
		
		.collapsed .filter-button {
			background-position:0 0;
		}
	 
	.filters-bottom {
		display: none;
	}
		
		.collapsed .filters-bottom
		{
			
		}
		
		.filters-row {
			margin:10px 0;
		}
		
		.filters-row.first {
			margin-top:0;
		}
		
		.filters-row.last {
			margin-bottom:15px;
		}
		
		.filters input {
			float:left;
			margin: 5px 10px 0 0;
			cursor:pointer;
		}


  /**
   *  Content container, as opposed to sidebar
   */
  
  #main-content{
    margin-left: 230px;
    padding-top:15px;
	opacity:0;
	filter:alpha(opacity=0); /* For IE8 and earlier */
  }
  



/**
 *	 Products grid
 */

#products-grid-wrapper {
  position: absolute;
  height: 100%;
  top: 105px;
  overflow-y: scroll;
  width: 100%;
}

#products-grid {
	position: relative;
	padding:70px 0 200px 0;
	margin-left:auto;
  margin-right:auto;
}
	#products-grid-header {
		position: relative;
		padding-left: 10px;
		margin-top: -50px;
	}
		#products-grid-header h6 {
			font-size: 1.2em;
			font-weight: 300;
			color: #2c2c2c;
		}
			#products-grid-header h6 strong {
				font-size: 1.5em;
				font-weight: 300;
			}
		#products-grid-search {
			position: absolute;
			right: 10px;
			bottom: 0;
		}
			#products-grid-search input[type="text"] {
				width: 240px;
				padding-right: 30px;
			}
			#products-grid-search input[type="button"] {
				position: absolute;
				top: 2px;
				right: 1px;
				padding: 0;
				border: 7px solid #fff;
				text-indent: -9999em;
				background-color: #fff;
			}

.product {
	width:282px;
	float:left;
	margin:10px;
}

	.product-top	 {
		height:15px;
		text-align:center;
	}
	
		.pt-inner {
			width:52px;
			height:15px;
			margin:auto;
		}
	
		.carousel-bullet {
			width:7px;
			height:7px;
			border-radius:10px;
			border:1px solid #E7E7E7;
			float:left;
			margin-left:3px;
			display:inline;
		}
		
		.carousel-bullet.active {
			background:#C9C9C9;
			border-color:#C9C9C9;
		}
		

	.product-body {
		border:1px solid #D8D8D8;
		border-bottom-color: #999;
		background:#fff;
		text-align:center;
		position:relative;
		font-size:1em;
		padding:30px 0 40px 0;
	}
	
	.product-body.hover,
	.product-body:hover {
		border-color:#989898;
	}
	
	.product-carousel-item {
		width: 280px;
		display: none;
	}
	.product-carousel-item:first-child { display: block; }

		.featured {
			width:19px;
			height:19px;
			background:url(../img/order-builder/featured-icon.png) no-repeat;
			position:absolute;
			top:10px;
			right:10px;
		}
	
		.product-price {
			position:absolute;
			bottom:10px;
			left:10px;
			font-family:'Lato', sans-serif;
		}
		
		.product-id {
			position:absolute;
			bottom:10px;
			right:10px;
			font-family:'Lato', sans-serif;
			color: #acacac;
		}
		
	.product-bottom {
		background:#fff;
		border:1px solid #c5c5c5;
		border-bottom-color: #999;
		border-top: none;
		height:50px;
	}
	.product-bottom.added {
		border-bottom-color: #D8D8D8;
	}
	.added .pill,
	.added .pill[type="text"] { color: #999; }

		.pb-region {
			width:69px;
			height:39px;
			float:left;
			padding-top:11px;
			border-left:1px solid #c5c5c5;
			text-align:center;
			position:relative;
		}
		
		.pb-region.disabled,
		.pb-region.first {
			border:none;
			width:70px;	
		}
		
		.pb-region.disabled.first img {
			display:none;
		}
	 
		.pb-region.disabled.second input {
			display:none;
		}
		
		.pb-region span.default {
			color: #666;
			font-family:'Lato', sans-serif;
			font-style: italic;
			font-weight: 400;
			font-size: 0.9em;
		}
		.pb-region .input-qty { display: none; }
		.pb-region .pill-input {
			position: absolute;
			z-index: 10;
			top: 11px;
			left: 9px;
		}
		 
		/*.size-value,
		.pb-region input {
			width:38px;
			height:17px;
			border:1px solid #E1E1E1;
			border-radius:5px;
			text-align:center;
			font-size:0.9em;
			outline:none !important;
			cursor:pointer;
		}
		
		.size-value {
			margin:auto;
			width:49px;
			height:27px;
			background:white;
			line-height:27px;
			color:#F43C7E;
		}
		
		.product-bottom.added .size-value {
			background:#EFEFEF;
			border:1px solid #EFEFEF;
		}
		
		.product-bottom.added .size-value:hover {
			border:1px solid #E1E1E1;
			background:#fff;
		}
		
		.product-bottom.added .pb-region input {
			background:#EFEFEF;
			border:1px solid #EFEFEF;
		}
		
		.product-bottom.added .pb-region input:hover {
			border:1px solid #E1E1E1;
			background:#fff;
		}
		
		.pb-region input:focus {
			border-color:#F43C7E;
		}
		
		.add-button {
			width:50px;
			display: block;
			height:29px;
			background:url(../img/order-builder/add-buttons.png) no-repeat 0 0;
			cursor:pointer;
			margin:auto;
		}

		.add-button.hover,
		.add-button:hover {
			background-position:-49px 0;
		}*/
	
	
			
	/* Bottom added */	
		
	.product-bottom.added {
		background:#EFEFEF;
		display:none;
	}
	
	.product-bottom.added.expanded {
		display:block;
	}
	
		.product-bottom.added .pb-region {
			border-left:1px solid #D8D8D8;
		}

		.product-bottom.added .pb-region.disabled,
		.product-bottom.added .pb-region.first {
			border:none;
			width:70px;	
		}
		.product-bottom.added .input-qty { background-color: transparent; }
		.product-bottom.added .input-qty:hover,
		.product-bottom.added .modified { background-color: #fff; }

    .input-qty.border-pink { border-color: #EE3E80 !important; }
		
		.remove-button {
			width:15px;
			height:17px;
			background: url("../img/glyphs.png") no-repeat -21px -200px;
			cursor:pointer;
			margin:6px auto 0 auto;
		}

		.remove-button:hover {
			background-position:-21px -217px;
		}

		.save-button {
			width:70px;
			height:50px;
			cursor:pointer;
			margin:6px auto 0 auto;
      		color: #ED3E7F;
		}

    .save-button:hover {
      color: #000;
    }
		
    .category-loader {
      background: url(../img/loader-large.gif) no-repeat 0 0;
      width: 66px;
      height: 66px;
      position: fixed;
      left: 50%;
      margin-top: -66px;
      top: 50%;
      margin-left: 20px;
    }

#ascrail2000 {
	position: fixed !important;
	top: 105px !important;
}
	#ascrail2000 div {
		background-color: rgba(0, 0, 0, .25) !important;
	}

/* clearfix */
.dropdown ul:before, .dropdown ul:after { content: ""; display: table; }

.dropdown ul:after { clear: both; }

.dropdown ul { *zoom: 1; }

/**
 *   fancybox 
 */

.item-overlay li {
  list-style:inherit;
}


.icon-overlay-close {
  width: 23px;
  height: 23px;
  background-position: -50px -400px;
}
.icon-arrow-carousel-left {
  width: 14px;
  height: 24px;
  background-position: 0 -400px;
  cursor: pointer;
}
.icon-arrow-carousel-left:hover {
  background-position: 0 -424px;
}
.icon-arrow-carousel-right {
  width: 14px;
  height: 24px;
  background-position: -14px -400px;
  cursor: pointer;
}
.icon-arrow-carousel-right:hover {
  background-position: -14px -424px;
}


.item-overlay {
  position: relative;
  width: 450px;
}
  .item-carousel {
    position: relative;
    width: 450px;
    height: 250px;
  }
    .item-carousel-item {
      width: 450px;
      height: 250px;
      text-align: center;
    }
  .item-overlay .icon-arrow-carousel-left {
    position: absolute;
    z-index: 100;
    left: 10px;
    top: 130px;
  }
  .item-overlay .icon-arrow-carousel-right {
    position: absolute;
    z-index: 100;
    right: 10px;
    top: 130px;
  }
  .item-overlay .icon-overlay-close {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  .item-desc-spec {
    padding: 10px;
  }
    .item-desc-spec p,
    .item-desc-spec ul {
      font-size: 0.8em;
      margin: 0;
    }
    .item-desc-spec ul {
      padding-left: 1.5em;
    }
    .item-desc {
      float: left;
      width: 199px;
      padding-right: 20px;
      border-right: 1px solid #dedede;
    }
      .item-desc h6 { color: #909090; }
    .item-spec {
      float: left;
      width: 190px;
      padding-left: 20px;
    }

.fancybox-skin { background-color: #fff; }

/**
 *   Dropdown quantity exceeded
 */

.product-bottom .dropdown.qty-exceeded {
  display:none;
  width:201px;
  left:-72px;
  text-align:left;
}

.dropdown.qty-exceeded .dropdown-arrow {
  left:93px;
}

.qe1,
.qe2 {
  background:#fff;  
}

.qe1 {
  border-bottom:1px solid #C5C5C5;
  font-size:1em;
  color:#000;
  font-weight:bold;
  padding:15px;
}

  .qe1 .icon-alert {
     background-position: -178px 0;
     position:relative;
     top:-3px;
     left:-1px;
  }

.qe2 {
  font-size:0.9em;
  padding:10px 15px 15px 15px;
}

/**
 *   Dropdown Warning missing info
 */

.dropdown.info-miss {
  display:none;
  width:180px;
  height:120px;
  left:-60px;
  text-align:left;
  top:-132px;
}

.dropdown.info-miss .dropdown-arrow {
  width:24px;
  height:11px;
  position:absolute;
  top:100%;
  left:82px;
  background:url(../img/order-builder/dropdown-arrow-top.png) no-repeat;
}

.dropdown.info-miss .dropdown-content {
  background:#fff;
  height:100%;
}

.dropdown.info-miss .dropdown-content .im1 {
  padding: 10px 0px 10px 20px;
  background-color:#f8f8f8;
  border-bottom:1px solid #C5C5C5;
  font-size:0.9em;
  font-weight:bold;
  font-style: italic;
  color:#D73E77;
}

.dropdown.info-miss .dropdown-content .im2 ul {
  margin:5px 0px 0px 0px;
  padding:0px 0px 0px 25px;
}

.dropdown.info-miss .dropdown-content .im2 ul li {
  font-size:12px;
  padding-left:5px;
  line-height:11px;
  word-spacing: 2px;
  font-style: italic;
}

.dropdown.info-miss .dropdown-content .im2 ul li:before {
  content: "";
  border-color: transparent #EE3F80;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0px;
  width: 0px;
  left: -0.8em;
  top: 0.8em;
  position: relative;
}


/**
 *   End of page & back to top
 */

#end-of-page {
  height:42px;
  border-top:1px solid #EDEDED;
}

#eop-inner {
  height:41px;
  margin-top:1px;
  background: #D9D9D9; /* Old browsers */
  background: -moz-linear-gradient(top, #D9D9D9 0%, #E4E4E4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D9D9D9), color-stop(100%,#E4E4E4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #D9D9D9 0%,#E4E4E4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #D9D9D9 0%,#E4E4E4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #D9D9D9 0%,#E4E4E4 100%); /* IE10+ */
  background: linear-gradient(to bottom, #D9D9D9 0%,#E4E4E4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D9D9D9', endColorstr='#E4E4E4',GradientType=0 ); /* IE6-9 */
}

#back-to-top {
  width:44px;
  height:45px;
  background:url(../img/order-builder/back_to_top.png) no-repeat 0 0;
  position:fixed;
  bottom:10px;
  right:10px;
  cursor:pointer;
  z-index:7000;
}

#back-to-top:hover {
  background-position:0 -45px;
}

/**
 *   Toggle
 */

#toggle {
  width:95px;
  height:32px;
  display:block;
  text-indent:-9999px;
  background:url(../img/order-builder/toggle_grid.png) no-repeat 0 0;
  cursor:pointer;
  position:absolute;
  right:320px;
  top:2px;
}

#toggle-mask {
  width:47px;
  height:34px;
  position:absolute;
  right:367px;
  top:0;     
}

#toggle:hover {
  background-position:0 -32px;
}






