#main {
	background: url(/assets/img/bg_general.jpg) top center no-repeat;
    position: relative;
}

#main-content {
	background: url(/assets/img/bg_general.jpg) top center no-repeat;
}

#brand-logo {
  height:71px;
  background:url(/assets/img/bikecoop/logo.png) no-repeat left center;
  width:960px;
  margin:auto;
  display:block;
  padding:20px 0 0 0;
}

.inner { width: 960px; }

.page-header {
	text-align: left;
	margin-bottom: 20px;
}
	.page-header h3 {
		position: absolute;
		right: 0;
		bottom: 10px;
		font-size: 1.9em;
		font-weight: 300;
		color: #666;
		text-shadow: 1px 1px 1px #fff;
	}
		.page-header h3 strong { font-weight: 300; }

.sub-head {
	height: 50px;
}
	.sub-head .btn-link { color: #2c2c2c; line-height: 30px; }
	.sub-head .btn-link:hover { color: #ed3e7f; }
	#sidebar .sub-head .btn-small { float: right; }

#main-content {
	position: relative;
}

#content {
	float: left;
	width: 720px;
}

#sidebar {
	float: right;
	width: 202px;
}
#sidebar.floaty {
	position: absolute;
	top: 0;
	right: 0;
	width: 202px;
}
#sidebar .floaty { width: 202px; }



.items-table {
	width: 960px;
	border: none;
}
    .items-table th {
        width: 80px;
        padding: 6px 0;
        font-family: 'Lato', sans-serif;
        font-size: 0.8em;
        font-style: italic;
        font-weight: normal;
        color: #2c2c2c;
        border-top: 1px solid #bbb;
        border-bottom: 4px solid #bbb;
    }
    .items-table th a {
        color: #2c2c2c;
        text-decoration: none;
    }
    .items-table tr.separator { height: 30px; }
    .items-table td {
        position: relative;
        width: 80px;
        padding: 5px 0;
        text-align: center;
        vertical-align: middle;
        font-family: 'Lato', sans-serif;
        font-size: 0.8em;
        font-weight: 700;
        color: #2c2c2c;
        border-bottom: 1px solid #bbb;
        border-right: 1px solid #bbb;
    }
    .items-table tbody tr:hover {
        background-color: #f2f2f2;
    }
    .items-table tr.last-group-item td {
        padding-bottom: 5px;
        border-bottom: 1px solid #b9b9b9;
    }
    .items-table tr.last-group-item.no-border td {
        padding-bottom: 0;
    }
    .items-table td.cell-ship {
        padding-top: 0;
        background: url(/assets/img/placeorder/bg_vert-line.png) center 5px repeat-y;
        vertical-align: top;
        text-transform: uppercase;
        font-size: 0.75em;
        font-weight: 700;
    }
        .items-table td.cell-ship strong {
            display: block;
            font-size: 2.5em;
            line-height: 0.9em;
        }
    .items-table td > span:first-child {
        position: relative;
        display: inline-block;
        /*height: 50px;*/
        /*width: 79px;*/
        height: 30px;
        line-height: 15px;
        vertical-align: middle;
        text-align: center;
        /*border-right: 1px solid #b9b9b9;*/
    }
    .items-table td.cell-specs > span:first-child
    .items-table td.cell-item > span:first-child {
        width: 60px;
    }
    .items-table td.cell-ship > span:first-child {
        height: 40px;
        padding: 15px 0 10px 0;
        line-height: inherit;
        background: #fff;
    }
    .items-table td.cell-ship > span:first-child,
    .items-table td.cell-remove > span:first-child,
    .items-table td.cell-subtotal > span:first-child {
        width: 78px;
        border-right: none;
    }
    .items-table td.cell-specs > span:first-child,
    .items-table td.cell-remove > span:first-child {
        padding-top: 5px;
        height: 45px;
    }
    .items-table td.cell-remove .save-button {
        display: none;
        font-size: 1.3em;
    }
    .items-table td.cell-remove .loader {
        position: absolute;
        z-index: 100;
        width: 720px;
        height: 60px;
        right: 0;
        top: 0;
    }
    .items-table tbody tr td.cell-ship > span:first-child,
    /*.items-table tbody tr:not(.first-group-item) td.cell-sku > span:first-child,
    .items-table tbody tr:not(.first-group-item) td.cell-specs > span:first-child,
    .items-table tbody tr:not(.first-group-item) td.cell-item > span:first-child*/ {
        visibility: hidden;
    }
    .items-table tbody tr td.cell-ship {
        border-bottom: none;
    }
    .items-table tbody tr:first-child td.cell-ship > span:first-child {
        visibility: visible;
    }
    .items-table td span .dropdown { line-height: 1.5em; }
    .items-table td.cell-status > span:first-child {
    width: 158px;
    border-right: none;
    }


/*new styles*/
.active-user-tab{
    /*border: 1px solid #666;*/
}
.active-user-tab a{
    color: #666;
    cursor: default!important;
}

.usr-tab{
    float:left;
    padding-left:10px;
    padding-right:10px;
}

.users-nav{
    font-size:18px;
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
    padding: 15px 0 42px 0;
}

.users-list-opts{
    font-size: 18px;
    border: 1px solid #BBB;
    padding: 0px 0 20px 0;
    width: 850px;
    height: 60px;
    margin: 15px 15px 15px 50px;
    background: url(/assets/img/order-builder/bg_waffle.jpg);
    border-radius: 8px;
}

#users-search{
    padding-left: 10px;
    padding-top: 20px;
    position: relative;
}

.user-search{
    position: absolute!important;
    top: 25px!important;
    left: 228px!important;
    padding: 0!important;
    border: 7px solid white!important;
    text-indent: -9999em!important;
    background-color: white!important;
    cursor: pointer;
}

.btn-red{
    background-color: #EE3E80!important;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    margin-right: 15px;
}
.btn-red a hover{
   background-color: #EEE!important;
    color: white!important;
    font-weight: bold!important;
}


