.icon-specs {
	width: 21px;
	height: 16px;
	background-position: 0 -200px;
}
.icon-specs:hover {
	width: 21px;
	height: 16px;
	background-position: 0 -216px;
}
.icon-remove {
	width: 15px;
	height: 17px;
	background-position: -21px -200px;
}
.icon-remove:hover {
	background-position: -21px -217px;
}
.icon-row-info-tail {
	width: 15px;
	height: 9px;
	background-position: -60px -200px;
}
.icon-note {
	width: 16px;
	height: 13px;
	background-position: -36px -200px;
}
.icon-arrow-right-white {
	width: 8px;
	height: 14px;
	background-position: -52px -200px;
}
.btn-disabled .icon-arrow-right-white {
	width: 6px;
	height: 12px;
	background-position: -58px -100px;
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
}
.icon-tooltip.gray {
	background-position: -29px -116px;
}
.icon-tooltip.white {
	background-position: -29px -132px;
}
.icon-recycle {
	width: 16px;
	height: 13px;
	background-position: -115px -200px;
	margin: 0 5px 0 0 !important;
}




a.thumb {
	display: inline-block;
	width: 48px;
	height: 48px;
	border: 1px solid #d8d8d8;
	overflow: hidden;
}
a.thumb:hover { border-color: #ee3e80; }


#place-order .inner { width: 960px; }

#place-order #main-content {
	background: url(/assets/img/bg_general.jpg) top center no-repeat;
}

#breadcrumbs {
	margin-bottom: 30px;
	padding-left: 5px;
	border-bottom: 1px solid #dfdfdf;
	font-family: 'Lato', sans-serif;
	font-size: 0.95em;
	color: #999;
}
	#breadcrumbs ul {
		margin: 20px 0 5px 0;
	}
		#breadcrumbs ul li {
			display: inline;
			font-weight: 700;
		}
		#breadcrumbs ul li a { color: #999; }
		#breadcrumbs ul li a:hover { color: #ee3e80; }
		#breadcrumbs ul li.active { color: #a62b59; }
			#breadcrumbs ul li .icon-line {
				position: relative;
				top: -0.3em;
				display: inline-block;
				width: 30px;
				margin: 0 5px;
			}

.page-header {
	text-align: left;
	margin-bottom: 20px;
}
	.page-header h3 {
		position: absolute;
		right: 0;
		bottom: 10px;
		font-size: 1.9em;
		font-weight: 300;
		color: #666;
		text-shadow: 1px 1px 1px #fff;
	}
		.page-header h3 strong { font-weight: 300; }

.sub-head {
	height: 50px;
}
	.sub-head .btn-link { color: #2c2c2c; line-height: 30px; }
	.sub-head .btn-link:hover { color: #ed3e7f; }
	#sidebar .sub-head .btn-small { float: right; }

#main-content {
	position: relative;
}

#content {
	float: left;
	width: 720px;
}

#sidebar {
	float: right;
	width: 202px;
}
#sidebar.floaty {
	position: absolute;
	top: 0;
	right: 0;
	width: 202px;
}
#sidebar .floaty { width: 202px; }

.items-table {
	width: 960px;
	border: none;
}
	/*.items-table thead {
		border-top: 1px solid #b9b9b9;
	}*/
		.items-table th {
			width: 80px;
			padding: 6px 0;
			font-family: 'Lato', sans-serif;
			font-size: 0.8em;
			font-style: italic;
			font-weight: normal;
			color: #2c2c2c;
			border-top: 1px solid #bbb;
			border-bottom: 4px solid #bbb;
		}
        .items-table th a {
            color: #2c2c2c;
            text-decoration: none;
        }
		.items-table tr.separator { height: 30px; }
		.items-table td {
			position: relative;
			width: 80px;
			padding: 5px 0;
			text-align: center;
			vertical-align: middle;
			font-family: 'Lato', sans-serif;
			font-size: 0.8em;
			font-weight: 700;
			color: #2c2c2c;
			border-bottom: 1px solid #bbb;
            border-right: 1px solid #bbb;
		}
		.items-table tbody tr:hover {
			background-color: #f2f2f2;
		}
		.items-table tr.last-group-item td {
			padding-bottom: 5px;
			border-bottom: 1px solid #b9b9b9;
		}
		.items-table tr.last-group-item.no-border td {
			padding-bottom: 0;
		}
		.items-table td.cell-ship {
			padding-top: 0;
			background: url(../img/placeorder/bg_vert-line.png) center 5px repeat-y;
			vertical-align: top;
			text-transform: uppercase;
			font-size: 0.75em;
			font-weight: 700;
		}
			.items-table td.cell-ship strong {
				display: block;
				font-size: 2.5em;
				line-height: 0.9em;
			}
		.items-table td > span:first-child {
			position: relative;
			display: inline-block;
			/*height: 50px;*/
			/*width: 79px;*/
            height: 30px;
            line-height: 15px;
			vertical-align: middle;
			text-align: center;
			/*border-right: 1px solid #b9b9b9;*/
		}
		.items-table td.cell-specs > span:first-child
		.items-table td.cell-item > span:first-child {
			width: 60px;
		}
		.items-table td.cell-ship > span:first-child {
			height: 40px;
			padding: 15px 0 10px 0;
			line-height: inherit;
			background: #fff;
		}
		.items-table td.cell-ship > span:first-child,
		.items-table td.cell-remove > span:first-child,
		.items-table td.cell-subtotal > span:first-child {
			width: 78px;
			border-right: none;
		}
		.items-table td.cell-specs > span:first-child,
		.items-table td.cell-remove > span:first-child {
			padding-top: 5px;
			height: 45px;
		}
		.items-table td.cell-remove .save-button {
			display: none;
			font-size: 1.3em;
		}
		.items-table td.cell-remove .loader {
			position: absolute;
			z-index: 100;
			width: 720px;
			height: 60px;
			right: 0;
			top: 0;
		}
		.items-table tbody tr td.cell-ship > span:first-child,
		/*.items-table tbody tr:not(.first-group-item) td.cell-sku > span:first-child,
		.items-table tbody tr:not(.first-group-item) td.cell-specs > span:first-child,
		.items-table tbody tr:not(.first-group-item) td.cell-item > span:first-child*/ {
			visibility: hidden;
		}
		.items-table tbody tr td.cell-ship {
			border-bottom: none;
		}
		.items-table tbody tr:first-child td.cell-ship > span:first-child {
			visibility: visible;
		}
		.items-table td span .dropdown { line-height: 1.5em; }
		.items-table td.cell-status > span:first-child {
		width: 158px;
		border-right: none;
		}


.side-table {
	width: 720px;
	border: none;
}
	.side-table thead {
		border-top: 1px solid #b9b9b9;
	}
		.side-table th {
			width: 80px;
			padding: 6px 0;
			font-family: 'Lato', sans-serif;
			font-size: 0.8em;
			font-style: italic;
			font-weight: normal;
			color: #2c2c2c;
		}
	.side-table tbody {
		border-top: 4px solid #b9b9b9;
	}
		.side-table tr.separator { height: 30px; }
		.side-table td {
			position: relative;
			width: 78px;
			padding-top: 5px;
			text-align: center;
			vertical-align: middle;
			font-family: 'Lato', sans-serif;
			font-size: 0.8em;
			font-weight: 700;
			color: #2c2c2c;
		}
		.side-table tr.last-group-item td {
			padding-bottom: 5px;
			border-bottom: 1px solid #b9b9b9;
		}
		.side-table tr.last-group-item.no-border td {
			padding-bottom: 0;
			border-bottom: none;
		}
		.side-table td.cell-ship {
			padding-top: 0;
			background: url(../img/placeorder/bg_vert-line.png) center 5px repeat-y;
			vertical-align: top;
			text-transform: uppercase;
			font-size: 0.75em;
			font-weight: 700;
		}
			.side-table td.cell-ship strong {
				display: block;
				font-size: 2.5em;
				line-height: 0.9em;
			}
		.side-table td > span:first-child {
			position: relative;
			display: inline-block;
			height: 50px;
			width: 77px;
			line-height: 50px;
			vertical-align: middle;
			text-align: center;
			border-right: 1px solid #b9b9b9;
		}
		.side-table td.cell-ship > span:first-child {
			height: 40px;
			padding: 15px 0 10px 0;
			line-height: inherit;
			background: #fff;
		}
		.side-table td.cell-ship > span:first-child,
		.side-table td.cell-remove > span:first-child,
		.side-table td.cell-subtotal > span:first-child {
			width: 78px;
			border-right: none;
		}
		.side-table td.cell-specs > span:first-child,
		.side-table td.cell-remove > span:first-child {
			padding-top: 5px;
			height: 45px;
		}
		.side-table td.cell-remove .save-button {
			display: none;
			font-size: 1.3em;
		}
		.side-table td.cell-remove .loader {
			position: absolute;
			z-index: 100;
			width: 720px;
			height: 60px;
			right: 0;
			top: 0;
		}
		.side-table tbody tr td.cell-ship > span:first-child,
		.side-table tbody tr:not(.first-group-item) td.cell-sku > span:first-child,
		.side-table tbody tr:not(.first-group-item) td.cell-specs > span:first-child,
		.side-table tbody tr:not(.first-group-item) td.cell-item > span:first-child {
			visibility: hidden;
		}
		.side-table tbody tr td.cell-ship {
			border-bottom: none;
		}
		.side-table tbody tr:first-child td.cell-ship > span:first-child {
			visibility: visible;
		}
		.side-table td span .dropdown { line-height: 1.5em; }
    .side-table td.cell-item span .dropdown {
      top: 0px;
      left:-290px;
    }
    .side-table td.cell-item span .dropdown .dropdown-arrow {
      width: 11px;
      height: 22px;
      top: 15px;
      left:100%;
      background:url(../img/order-builder/dropdown-arrow-left.png) no-repeat;
    }
		.side-table td span .dropdown .txt ul li:hover {
		  /* Override account.css stiles on hover */
		  background: none;
		  color:#2C2C2C;
		}



.doohickey {
	margin-bottom: 20px;
	background-color: #f0f0f0;
	border: 1px solid #d8d8d8;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Lato', sans-serif;
	color: #666;
}
	.doohickey .row {
		position: relative;
		padding: 10px 20px;
		border-top: 1px solid #d1d1d1;
	}
	.doohickey .row.deposit-due { padding-bottom: 10px; }
	.doohickey .row.button { border-top: none; padding-top: 0; padding-bottom: 0; }
	.doohickey .danger {
		background-color: #ee3e80;
	}
		.doohickey .danger h6 {
			color: #fff;
			margin: 0 0 5px 0;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
		}
		.doohickey .danger p {
			margin: 0;
			color: #252525;
			font-size: 0.8em;
		}
		.doohickey .danger a {
			font-size: 0.8em;
			color: #fff;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
		}
			.doohickey .danger a [class^="icon-"] {
				top: 0.3em;
				margin-left: 5px;
			}
	.doohickey .warning {
		padding: 15px 20px;
		background-color: #fff899;
		border-bottom: 1px solid #d1d1d1;
	}
		.doohickey .msg-warning,
		.doohickey .agree {
			position: relative;
			padding-left: 20px;
			font-size: 0.8em;
		}
			.doohickey .agree input,
			.doohickey .msg-warning [class^="icon-"] {
				position: absolute;
				left: 0;
				top: 0;
			}
			.doohickey .agree input { top: 0.3em; }
		.doohickey .warning .btn { margin: 10px 0 0 0; }
	.doohickey .btn {
		width: 160px;
		margin: 15px 0;
		padding: 0;
		text-align: center;
	}
		.doohickey .btn [class^="icon-"] {
			top: 0.1em;
			margin-left: 5px;
			margin-right: 0;
		}
		.doohickey .btn-disabled [class^="icon-"] {
			top: 0.05em;
		}
	.doohickey .row:first-child { border-top: none; }
	.doohickey .row.grad,
	.doohickey .row-top {
		color: #fff;
		background: rgb(146,146,146); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(146,146,146,1) 0%, rgba(123,123,123,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(146,146,146,1)), color-stop(100%,rgba(123,123,123,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(146,146,146,1) 0%,rgba(123,123,123,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(146,146,146,1) 0%,rgba(123,123,123,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(146,146,146,1) 0%,rgba(123,123,123,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(146,146,146,1) 0%,rgba(123,123,123,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#929292', endColorstr='#7b7b7b',GradientType=0 ); /* IE6-9 */
	}
	.doohickey .row-top {
		height: 10px;
		padding: 0;
	}
	.doohickey .row-top,
	.doohickey .rrp-margin {
		-webkit-border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-topright: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}
	.doohickey .row.row-info {
		background-color: #fff;
		font-size: 0.8em;
	}
		.doohickey .row.row-info em {
			float: left;
			width: 100px;
		}
		.doohickey .row.row-info .icon-tooltip {
			float: right;
			margin-top: 0.7em;
		}
		.doohickey .row.row-info .icon-row-info-tail {
			position: absolute;
			z-index: 10;
			bottom: -8px;
			left: 50%;
			margin-left: -7px;
		}
	.doohickey dl, dt, dd { margin: 0; }
	.doohickey dt, dd {
		display: inline-block;
		width: 78px;
		vertical-align: baseline;
	}
	.doohickey dl {}
		.doohickey dt {
			font-size: 1.0em;
			text-shadow: 1px 1px 1px #fff;
		}
			.doohickey dt strong { color: #666; }
		.doohickey dd {
			color: #252525;
			text-align: right;
			text-shadow: 1px 1px 1px #fff;
		}
			.doohickey dd {
				font-size: 1.25em;
				white-space: nowrap;
			}
		.doohickey .grad dt,
		.doohickey .grad dd { text-shadow: none; }
		.doohickey dl.light,
		.doohickey dl.light dt strong,
		.doohickey dl.light dd em { color: #9c9c9c; }
		.doohickey .rrp-margin {
			padding: 0 20px;
			color: #fff;
		}
			.doohickey .rrp-margin .rrp,
			.doohickey .rrp-margin .margin {
				float: left;
				padding-top: 10px;
				padding-bottom: 10px;
			}
			.doohickey .rrp-margin .rrp {
				width: 74px;
				padding-right: 20px;
				border-right: 1px solid #ababab;
			}
				.doohickey .rrp-margin .rrp .icon-tooltip {
					position: absolute;
					margin-left: 5px;
					margin-top: -0.1em;
				}
			.doohickey .rrp-margin .margin {
				width: 44px;
				padding-left: 20px;
				border-left: 1px solid #5e5e5e;
			}
				.doohickey .rrp-margin dt,
				.doohickey .rrp-margin dd {
					display: block;
					width: auto;
					text-align: left;
				}
				.doohickey .rrp-margin dt {
					font-size: 0.8em;
				}
				.doohickey .rrp-margin dd,
				.doohickey .grad dd {
					color: #fff;
				}

.billing-shipping-info {
}
	.billing-shipping-info header {
		padding: 10px 20px;
		border-bottom: 1px solid #d1d1d1;
	}
		.billing-shipping-info header .edit {
			position: absolute;
			right: 20px;
			top: 13px;
		}
	.billing-shipping-info-content {
		padding: 20px;
		font-size: 0.9em;
	}
		.billing-shipping-info dl {
		}
			.billing-shipping-info dt,
			.billing-shipping-info dt strong { 
				color: #252525;
			}
			.cc-details {
				text-align: right;
				margin-bottom: 10px;
			}
				.cc-details a {
					font-size: 0.8em;
					text-decoration: underline;
				}



.panel-header .field { margin-right: 45px; }
.panel-header .field .selector { font-size: 1.2em; }
.panel-header label { font-size: 1.2em; margin-left: 5px; }
.panel-header nav { font-size: 0.8em; line-height: 30px; }
.panel-header nav a {  }
.panel-content { padding-bottom: 10px; }
/*.sub-panel { width: 319px; }
.sub-panel.push-left { width: 318px; }
.sub-panel.no-border { border-left: none; }
.sub-panel .field input[type="text"],
.sub-panel .field textarea {
	width: 302px;
}*/

.sub-panel .field { margin-bottom: 15px; }
.panel-bottom .sub-panel .field { margin-bottom: 5px; }

label.small { font-size: 0.9em; }
.txt-disabled { color: #999; }
.panel-footer {
	padding: 20px;
	background-color: #2d2d2d;
	color: #fff;
}
	.panel-footer h4 {
		float: left;
	}
	.panel-footer input {
		margin: 0 15px 0 7px;
	}
	.panel-footer em {
		color: #999;
		font-size: 0.8em;
	}

#note h4 {
	margin-bottom: 10px;
	color: #a62b59;
}
#note textarea {
	width: 540px;
	height: 200px;
}
#note .btns {
	padding: 10px 0;
	text-align: right;
}
	#note .btns a {
		margin-left: 10px;
	}

/**
 *   bank account
 */

#add-baccount .sub-panel .field input[type="text"], .sub-panel .field textarea {
    width: 277px;
}

#add-baccount .sub-panel.push-right {
    border-left:none;
}

#add-baccount .sub-panel .icon-tooltip {
  left:7px;
}

#add-baccount .panel-bottom {
  width:480px;
  clear:both;
}

#add-baccount .panel-bottom .field {
  margin:20px 0;
}

#place-order .panel-header .selector {
  float:left;
}

#add-baccount .icon-tooltip {
  background-position: -29px -116px;
}

/* clearfix */
.row:before, .row:after,
.doohickey dl:before, .doohickey dl:after { content: ""; display: table; }

.row:after,
.doohickey dl:after { clear: both; }

.row,
.doohickey dl { *zoom: 1; }

.bank-details, .ccard-details {
  float: right;
  color: #333;
  text-decoration: underline;
  margin-top: -73px;
  margin-right: 20px;
  position: relative;
}

/**
 *   Cart is empty
 */

#cart-empty {
  width:550px;
  height:220px;
  margin:40px auto 0 auto;
  text-align:center;
  /*background:url(../img/placeorder/cart_empty.png) top center no-repeat;*/
}

  #cart-empty div {
    padding-top:20px;
  }

  .ce1 {
    font-size:1.6em; /*24px*/
    color:#000;
    text-shadow:1px 1px 0 #FBFBFB;
  }
  
  .ce2 {
    font-size:1.1em;
  }

  .ce3 {
    
  }