// Place all the styles related to the ProductPromotions controller here.
// They will automatically be included in application.css.
.notification {
  height: 51px; overflow: hidden; position: relative; margin-bottom: 20px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
  -moz-box-shadow: 1px 1px 2px #ddd;
}
.notification p { margin: 14px 10px 0 75px; font-size: 13px; color: #333; }
.notification a.close {
  position: absolute; width: 14px; height: 14px; top: 5px; right: 5px; background-image: url(/assets/img//close.png); background-repeat: no-repeat; }
.notification a.close:hover { cursor: pointer; }
.msgalert a.close { background-position: -14px 0; }
.msgalert a.close:hover { background-position: -14px -14px; }
.msginfo a.close { background-position: -42px 0; }
.msginfo a.close:hover { background-position: -42px -14px; }
.msgsuccess a.close { background-position: -28px 0; }
.msgsuccess a.close:hover { background-position: -28px -14px; }
.msgerror a.close { background-position: 0 0; }
.msgerror a.close:hover { background-position: 0 -14px; }

.msgalert { border: 1px solid #eac572; background: #ffe9ad url(/assets/img//notifications.png) no-repeat 0 -52px; }
.msginfo { border: 1px solid #99c4ea; background: #d1e4f3 url(/assets/img//notifications.png) no-repeat 0 -156px; }
.msgsuccess { border: 1px solid #c1d779; background: #effeb9 url(/assets/img//notifications.png) no-repeat 0 -104px; }
.msgerror { border: 1px solid #e18b7c; background: #fad5cf url(/assets/img//notifications.png) no-repeat 0 0; }

a {
  &.btn {
    display: inline-block;
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-weight: bold;
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-image: url(/assets/img/sprites.png);
    -moz-box-shadow: 1px 1px 2px #eee;
    -webkit-box-shadow: 1px 1px 2px #eee;
    box-shadow: 1px 1px 2px #eee;;
    color: #666;
    padding: 0px;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      color: #333;
      -moz-box-shadow: 1px 1px 5px #ddd;
      -webkit-box-shadow: 1px 1px 5px #ddd;
      box-shadow: 1px 1px 5px #ddd;
    }
  }
  &.btn3 {
    width: 34px;
    height: 32px;
  }
  &.btn4 {
    width: 34px;
    height: 32px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }
  &.btn_trash {
    background-position: -47px -12px;
  }
}
h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2.0em;
  font-weight: 300;
}
.checkbox {
  overflow: hidden;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(/assets/img/checkbox.png) no-repeat 0 0;
  vertical-align: middle;
  &.checked {
    background-position: 0 -16px;
  }
  input {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
    filter: alpha(opacity=0);
  }
}

.center {
  text-align: center;
}

.width64 {
  width: 64px;
}

.stdbtn {
  background-color: white;
  font-family: Lato, sans-serif;
  text-decoration: initial;
  text-transform: uppercase;
  padding: 8px 10px !important;
  border: 1px solid #cccccc;
}

.dataTables_wrapper {
  position: relative;
  .dataTables_length {
    button {
      padding: 5px 10px 6px 10px;
      font-weight: normal;
      margin-left: 4px;
    }
  }
  #dyntable_filter {
    top: 108px;
    position: absolute;
    right: 0px;
    .search-select {
      background-color: white;
      display: inline-block;
      overflow: hidden;
      position: absolute;
      padding: 2px 6px 2px 8px;
      border-top: 2px solid;
      border-bottom: 1px solid;
      border-right: 1px solid;
      border-left: 3px solid;
      border-color: #ccc;
      font-family: 'Lato', sans-serif;
      font-size: 1.1em;
      color: #666;
      float: left;
      > div {
        float: left;
        width: auto;
        padding: 4px 0px;
      }
      select {
        top: 0px;
        margin: 2px 0px 0px 1px;
        border: none;
        outline: none;
        width: auto;
        opacity: 0;
        left: 0px;
        cursor: pointer;
        width: auto;
        position: absolute;
        option {
          cursor: pointer;
          padding: 4px 2px;
          float: left;
          width: 256px;
          &:hover {
            background: black;
          }
        }
      }
      .triangle {
        margin: 13px 0px 0px 6px;
        float: left
      }
    }
    input {
      padding: 7px 32px 7px 133px;;
      width: 320px;
      border: none;
      text-align: center;
      border-top: 2px solid;
      border-right: 1px solid;
      border-bottom: 1px solid;
      border-color: #ccc;
      font-family: 'Lato', sans-serif;
      font-size: 1.2em;
      color: #666;
      &:focus {
        outline: none;
      }
    }
  }
  .btn-search {
    position: absolute;
    right: 2px;
    top: 6px;
    border: 6px solid white;
    background-image: url(/assets/img/glyphs.png);
    background-position: -75px -200px;
    height: 16px;
    width: 16px;
    cursor: pointer;
    opacity: 0.4;
    &:hover {
      opacity: 0.7;
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      transition: all 0.5s linear;
    }
  }
  .stdtable {
    border: 0;
    border-spacing:0;
    border-collapse:collapse;
    width: 100%;
    .wrap-content {
      white-space: nowrap;
    }
    thead {
      tr {
        th {
          white-space: nowrap;
          padding: 6px 8px;
          font-family: 'Lato', sans-serif;
          font-size: 0.8em;
          font-style: italic;
          font-weight: 400;
          color: #2c2c2c;
          border-top: 1px solid #b9b9b9;
          border-bottom: 4px solid #b9b9b9;
        }
      }
    }
    tbody {
      tr {
        &:hover {
          background-color: #f2f2f2;
        }
        td {
          padding: 5px 0;
          vertical-align: middle;
          font-family: 'Lato', sans-serif;
          font-size: 0.8em;
          font-weight: 700;
          text-align: center;
          color: #2c2c2c;
          border-bottom: 1px solid #b9b9b9;
          &:last-child {
            > span {
              border-right: none;
            }
          }
          > span {
            display: inline-block;
            width: 100%;
            padding: 12px 0px;
            vertical-align: middle;
            border-right: 1px solid #b9b9b9;
          }
          input:not([type=checkbox]) {
            width: 160px;
            border-top: 2px solid;
            border-right: 1px solid;
            border-bottom: 1px solid;
            border-left: 3px solid;
            border-color: #ccc;
            font-family: 'Lato', sans-serif;
            padding: 6px 4px;
          }
        }
      }
    }
  }
  #dyntable_length {
    margin-top: 24px;
    a {
      text-decoration: none;
    }
  }
  .table-wrapper-content {
    overflow-x: auto;
    margin-top: 24px;
  }
  .dataTables_paginate {
    font-family: "Lato", sans-serif;
    font-size: 1.1em;
    color: #666;
    text-align: right;
    line-height: 16px;
    margin-top: 16px;
    label {
      margin: 0px;
      select {
        margin-left: 6px;
        padding: 6px 4px;
        border: 1px solid #ccc;
        min-width: 40%;
        background: white;
        color: #666;
        &:focus {
          background: #fff;
        }
      }
    }
    #dyntable_paginate {
      .paginate_button {
        padding: 8px 10px;
        margin-left: 5px;
        background: #fcfcfc;
        color: #ee3e80;
        border: 1px solid #ccc;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        vertical-align: middle;
        white-space: nowrap;
        cursor: pointer;
      }
      span {
        display: inline-block;
      }
      .paginate-body {
        max-width: 256px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: middle;
        position: relative;
        .paginate_active {
          padding: 8px 10px;
          margin-left: 5px;
          background: rgb(150, 150, 150);
          color: white;
          border: 1px solid rgb(150, 150, 150);
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          border-radius: 20px;
          vertical-align: middle;
          white-space: nowrap;
        }
      }
    }
  }
}

.messageBox {
  display: none;
}

#lists-prdpro {
  .dataTables_filter {
    top: 66px;
  }
}
#pc-massinsert {
  label {
    padding-top: 8px;
  }
  .stdformbutton {
    margin-left: 220px;
    background: white;
  }
}

#list-procodes {
  tbody {
    tr {
      .btn-update {
        background-color: white;
        font-family: Lato, sans-serif;
        text-decoration: initial;
        text-transform: uppercase;
        padding: 8px;
        border: 1px solid #cccccc;
      }
    }
  }
}

#promo-search {
  text-align: left !important;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 4px solid rgb(96, 96, 96);
}
.notification{
  height: 45px;
  margin-top: 5px;
}
.promotion_form,.promotion_rule {

  label {
    width: 160px;
    padding-top: 0;
  }
  span.field {
    margin-left: 180px;
  }
  div.field {
    margin-left: 180px;
  }
  span.formwrapper {
    margin-left: 180px;
  }
  .stdformbutton {
    margin-left: 180px;
  }
  textarea{
    width: 300px;
  }
  .product_promotion_id{
    height: 22px;
    margin: 5px 0;
    label:last-child{
      text-align: left;
      min-width: 250px;
    }
  }
  .promotion_code_id{
    height: 22px;
    margin: 5px 0;
    label:last-child{
      text-align: left;
      min-width: 290px;
    }
  }
  .errorMessage {
    color: #333;
  }
  .eventMessage, .errorMessage {
    display: none;
    border: 1px solid #E18B7C;
    background: #FAD5CF;
    font-size: 1.1em;
    font-weight: bold;
    margin: 1em;
    padding: 1em;
    height: auto;
    div{
      padding-top: 5px;
    }
  }

  input[type="submit"]:hover {
    background: none repeat scroll 0 0 #333333;
    color: #ffffff;
  }

  .padding-left{
    padding-left: 180px;

  }
  p {
    .stdbtn {
      min-width: 80px;
    }
  }
}

#dyntable_paginate {
  height: 29px;
  .paginate-body {
    max-width: 256px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
  }
}

#pps-insert {
  margin-bottom: 48px;
  .form-one-row {
    input {
      width: 25%;
    }
    select {
      &.chosen {
        width: 40%;
      }
    }
    .btn-update {
      opacity: 1;
      background-color: white;
      font-family: Lato, sans-serif;
      text-decoration: initial;
      text-transform: uppercase;
      padding: 9px;
      border: 1px solid #ccc;
    }
  }
}

.form-one-row {
  margin-left: 2px;
  p {
    &.title {
      padding: 0px 0px 10px 0px;
      label {
        &:first-child {
          width: 40%; padding: 0px; text-align: left;
        }
        width: 25%; padding: 0px; margin-left: 4px; text-align: left;
      }
    }
    &.input {
      clear: both;
      > * {
        vertical-align: middle;
      }
    }
  }
}

#lpp-store {
  #promo-search {
    padding-left: 96px;
  }
  .dataTables_filter {
    top: 70px;
  }
}


// Place all the styles related to the PromotionCodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#list-prdcode {
  #dyntable_filter {
    top: 72px;
  }
}

.stdform{
  select {
    padding: 9px 4px;
    border: 1px solid #ccc;
    min-width: 40%;
    background: white;
    color: #666;
    &:focus {
      background: #fff;
    }
  }
  label {
    float: left;
    width: 200px;
    text-align: right;
    margin: 0px;
    padding: 5px 20px 0 0;
  }

  input {
    padding: 8px 5px;
    width: 300px;
    color: #666666;
    font-size: 1.1em;
  }

  span.field, span.formwrapper, div.field {
    margin-left: 220px;
    display: block;
    position: relative;
  }

  .formwrapper {
    span {
      &:first-child {
        margin-left: 0px;
      }
      //margin-left: 16px;
    }
  }
  .select_promotion_code{
    select{
      min-width: 20px;
      max-width: 60px;
    }
  }
  p{
    .promo-id-select{
      min-width: 300px;
    }
  }
  .btn_black {
    margin-left: 36px;
    display: inline-block;
    padding: 0 30px;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  > * {
    clear: both;
  }
  #loading {
    float: right;
    margin: 6px 9px 0px 0px;
  }
}
.bold{
  font-weight: bold;
}

#cpc-massinsert {
  margin: 24px 0px 0px 0px;
  .errorMessage {
    height: auto;
    background: #FAD5CF;
    border: 1px solid #E18B7C;
    display: none;
    div {
      margin: 4px 16px;
      font-weight: bold;
    }
  }
}
#list_promotion_code_email,#list_promotion_code_party{
  div{
    height: 37px;
    a{
      float: left;
    }
    span{
      float: left;
      display: inline-block;
      height: 32px;
      vertical-align: middle;
      padding-left: 5px;
      padding-top: 5px;
    }
  }

}
#loading_add_email,#loading_add_party,#loading_delete_party,#loading_delete_email{
  vertical-align: middle;
}
.hide{
  display: none;
}
.show{
  display: block;
}

.stdform{
  .promotion_category,.promotion_product{
    width: 120px;
    min-width: 100px;
  }
  #error_explanation{
    ul{
      li{
        padding-left: 80px;
        margin-top: 10px;
      }
    }
  }
}
#require_email_or_party{
  #error-messages_label{
    background: none repeat scroll 0 0 #FAD5CF;
    border: 1px solid #E18B7C;
    font-size: 1.1em;
    font-weight: bold;
    height: auto;
    margin: 1em;
    padding: 1em;
    padding: 0;
    .errorPartyId{
      padding-left: 165px;
    }

  }
  #content-messages{
    padding: 0px;
    .invalid{
      padding-left: 165px;
    }
  }
}



// Place all the styles related to the PromotionCodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#list_promotion_rules {
  button {
    background-color: white;
    font-family: Lato, sans-serif;
    text-decoration: initial;
    padding: 8px 10px !important;
    border: 1px solid #cccccc;
  }
  .btn_black {
    margin-left: 4px;
    font-weight: normal;
  }
}

#new_promotion_rule_container {
  button {
    display: inline-block;
    padding: 8px 12px;
    font-family: "Lato", sans-serif;
    font-size: 1.1em;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 1px solid #cccccc;
  }
}

.stdform{
  select#promotion_rule_condition_promotion_rule_condition_name, select#promotion_rule_condition_operator_id,select#promotion_rule_condition_shipment_method_id,select#promotion_rule_condition_category_product_category_id, select#promotion_rule_condition_product_product_id{
    min-width: 256px;

  }
  select#promotion_rule_condition_category_sub_category_status, select#promotion_rule_condition_product_sub_category_status{
    min-width: 70px;
  }
  #promotion_rule_condition_value{
    width: 187px;
    margin-bottom: 5px;

  }
}
#condition-category,#condition-product,#condition-category-new,#condition-product-new{
  margin-left: 50px;
}

#loading_promotion_rule_condition,#loading_update_promotion_rule, #loading {
  vertical-align: middle;
}
hr {
  background-color: #CCC;
  color: #CCC;
  border-bottom: #FAFAFA 0.1em solid;
  border-right: #FAFAFA 0.2em solid;
  border-left: #D9D9D9 0.2em solid;
  border-top: #D9D9D9 0.1em solid;
  margin: 0.5em 0 0.5em 0;
}
.margin-left-80{
  margin-left: 80px;
}

.rule-child-tab {
  -moz-box-shadow: 1px 1px 2px #eee;
  -webkit-box-shadow: 1px 1px 2px #EEE;
  box-shadow: 1px 1px 2px #EEE;
  border: 1px solid #CCC;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 8px 0px;
  .tab-header {
    background: #EEE;
    padding: 12px 12px;
    font-weight: bold;
    border-bottom: 1px solid #CCC;
    cursor: pointer;
  }
  .tab-body {
    background: white;
    padding: 8px 0px;
    display: none;
    width: 100%;
    .rule-action-product, .rule-action-category {
      margin: 8px 0px;
    }
    .edit_promotion_rule_action {
      label {

      }
    }
  }
}

.stdform-line {
  > p > * {
    &:first-child {
      padding: 0px;
    }
    padding: 4px 8px;
    select {
      min-width: 24%;
    }
  }
  .row {
    clear: both;
    float: left;
    margin: 8px 0px;
    width: 100%;
    > div {
      float: left;
      div {
        &:first-child {
          text-align: right;
          margin: 4px 16px 0px 0px
        }
        float: left;
      }
    }
    .width128 {
      width: 128px;
    }
    .width96 {
      width: 96px;
    }
    select {
      width: 256px;
    }
    button {
      float: right;
      margin-left: 4px;
    }
  }
  .row-submit {
    float: right !important;
    width: auto;
    margin-right: 72px;
  }
}

.lra-container {
  .list-rule-action-categories {
    margin: 0px 0px 0px 50px;
  }
  .list-rule-action-products {
    margin: 0px 0px 0px 50px;
  }
  .loading-button {
    width: 24px;
    height: 24px;
    background: url(/assets/img/loader5.gif) !important;
    border: none !important;
    margin: 3px 4px;
    vertical-align: middle;
  }
}
#promotion_rule_action_category_sub_category_status{
  min-width: 25%;
}
clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

#list_promotion_category{
  .promotion-category{
    height: 40px;
  }
  .promotion-category-content{
    float: left;
    margin-top: 5px;
  }
  .delete-button{
    float: left;
    margin-right: 15px;
    background-color: rgb(247, 247, 247);
  }
}

#list_promotion_product{
  .promotion-product{
    height: 40px;
  }
  .promotion-product-content{
    float: left;
    margin-top: 5px;
  }
  .delete-button{
    float: left;
    margin-right: 15px;
    background-color: rgb(247, 247, 247);
  }
}

#new_promotion_category {
  p.input{
    #promotion_category_sub_category_status{
      min-width: 20%;
    }
    #promotion_category_group{
      margin-right: 10px;
    }
  }
  #content-messages_error_category{
    padding: 0;
    margin-left:-50px;
    div{
      margin-left: 50px;
      padding-top: 0;
    }
  }
}

#new_promotion_product{
  p.input{
    #promotion_product_sub_category_status{
      min-width: 20%;
      margin-right: 10px;
    }

  }
  #content-messages_error_product{
    padding: 0;
    margin-left:-50px;
    div{
      margin-left: 50px;
      padding-top: 0;
    }
  }

}

#new_promotion_rule_action_category, #new_promotion_rule_action_product {
  .chzn-container {
    width: 256px !important;
  }
}

#promotion_rule_condition_category_sub_category_status, #promotion_rule_condition_product_sub_category_status {
  width: 96px;
}
