aside {  width:240px; float:left; }
aside ul { margin: 0; padding: 0; list-style:none; }


.ltab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #bbb; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.ltab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #999;}
.ltab a { font-size:14px; line-height: 2.4em; display: block; padding: 0 20px; outline: none;color:#666;}
.ltab a.active { font-weight: bold; color:#ee3e80;}

.sidepanel {float:left; padding:20px;}