
a{color:#000;text-decoration:none;padding: 2px 0;-webkit-tap-highlight-color: rgba(0,0,0,0.25);}
body{color:#000;}
section a:hover strong,section h1 a:hover,section h3 a:hover,section span.content a:hover,header div.header_links a:hover span.link,div.panel>header.panel-header>h1 a{color:#e37;text-decoration:underline;}
header{margin:0;}
ul,li{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6{font-weight:900;text-rendering:optimizeLegibility;}
div.panel>header.panel-header>h1{padding:0;margin:0;font-size:28px;font-weight:bold;line-height:1em;}
div.panel>header.panel-header>h1 a{color:#e37;}
section>header.has_buttons h1{float:left;line-height:31px;padding:0 15px 0 0;margin:0;border:none!important;}
figure{display:block;}
button{width:auto;overflow:visible;
font:14px/1.5 "Lucida Grande","Helvetica Neue", helvetica, arial, sans-serif;
padding: 4px 12px;
margin:0;
background: white;
color: black;
border: 1px solid #CCC;
vertical-align: top;
-webkit-appearance: none;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}


section{*zoom:1;display:block;overflow:hidden;clear:both;position:relative;padding:5px 0 20px 0;}
header section nav{float:left;}
header section nav>ul{float:left;list-style:none;*zoom:1;display:block;overflow:hidden;}
header section nav>ul>li{float:left;}
header section nav>ul>li.active{*zoom:1;}
header section nav>ul>li>a{padding:10px 12px;color:#222;display:block;}
header section nav>ul>li>a:hover{color:#e37;background:#eee;}
header section nav>ul>li.active>a{font-weight:700;color:#e37;}
section ul.subtitle{list-style:none;padding:0;font-size:1.1em;border-top:1px solid #ddd;border-bottom:1px solid #ddd;overflow:hidden;}
section ul.subtitle li{float:left;display:block;*zoom:1;}
section ul.subtitle li.active{float:left;display:block;*zoom:1;}
section ul.subtitle li a{display:block;padding:10px 15px;color:#222;}
section ul.subtitle li.active a{font-weight:700;color:#e37;}
section ul.subtitle li a:hover{color:#e37;background:#eee;}
section ul.button{list-style:none;margin:10px 0 30px 0;padding:0;overflow:hidden;}
section ul.button li{float:left;display:block;*zoom:1;margin-right:20px;}
section ul.button li:last-child{margin-right:0px;}

#main header section div.back-link{float:left;margin:10px 50px 0 0;}

.clear,footer,header{clear:both;}

nav div.logo {
	float:left;
}
nav div.logo > a {
	text-indent:-9000px;
	display:block;
	padding:0;
	height:41px;
	width:138px;
	background:url(https://d3dma7a8zw52bz.cloudfront.net/assets/icons/bc_logo-f3d3940120cfc4a458fb9c3a5744928f.png) no-repeat center top;
}
nav div.announcements_link {
	float:left;
	text-align:left;
	text-shadow:0 1px white;
	text-rendering:optimizeLegibility;
	border-right:1px solid #ddd;
}
nav div.announcements_link a {
	padding:10px 15px;
	display:block;
	white-space:nowrap;
	color:#e37;
}
nav #products-grid-search{position:absolute;top:0;right:0;height:40px;}
header div.header_links{
position:absolute;
bottom:10px;
right:20px;
text-rendering:optimizeLegibility;
}
header div.header_links a {
float:left;
line-height:1.0em;
margin-left:20px;
display:block;
padding:10px;
}
header div.header_links a span.detail {
font-size:12px;
color:#AA9C84;
}

#project .panel-header ul li a {padding:10px 15px;color:#222;}
#project .panel-header ul li a:hover {color:#e37;background:#eee;}

#factory-id section {
	margin:0 auto;
	padding:20px 0;
	width:800px;
}

#factory-id section,#factory-id section div.row {
	position:relative;
	*zoom:1;
	display:block;
	background:transparent;
	overflow:hidden;
}
#factory-id section div.row {
	padding:0 0 0 20px;
}

section.projects.cards article.card {
	width:210px;
	height:235px;
	float:left;
	margin:0 20px 20px 0;
	position:relative;
	text-align:left;
	background:white;
	padding:15px;
	text-rendering:optimizeLegibility;
	-webkit-box-shadow:0 0 6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0 0 6px rgba(0,0,0,0.3);
	box-shadow:0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

section.projects.cards article.card h5 {
	margin:0 0 3px;
	line-height:1.1em;
	word-wrap:break-word;
	font:bold 19px helvetica, arial, sans-serif;
}

section.projects.cards article.card p {
	font-size:16px;
	line-height:1.2em;
	word-wrap:break-word;
	color:#AA9C84;
}

section.projects span.draft {
	position:absolute;
	top:0;
	left:10px;
	background-color:#E9E6DF;
	padding:0 5px;
	display:none;
	font-size:12px;
	color:#918671;
	-webkit-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
}
.icon-alert {
	display:block;
	position:absolute;
	top:0;
	right:0;
}

section.projects.cards article.card div.people {
	position:absolute;
	left:16px;
	bottom:15px;
	zoom:1;
}

section.projects.cards article.card div.people img.avatar {
	margin:0 2px 2px 0 !important;
	padding:0;
	border:0;
	float:left;
	width:40px;
	height:40px;
}

img.avatar {
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	border-radius:100px;
}


section.projects.cards article.card.blank {
	background:rgba(255, 255, 255, 0.3) url(https://d3dma7a8zw52bz.cloudfront.net/assets/blank_slates/blank_slate_project_card-51632fb17f7e998b0bdc36e37e054166.png) no-repeat scroll center center;
	-webkit-box-shadow:0 0 6px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 0 6px rgba(0,0,0,0.1);
	box-shadow:0 0 6px rgba(0, 0, 0, 0.1);
}


.pselect {
position:relative;
width:80px;
height:27px;
line-height:27px;
padding:0;
overflow:hidden;
font-family:'Lato', sans-serif;
font-size:1.1em;
background:#fff url(../img/backroom/bg_selector.png) right no-repeat;
border-top:2px solid;
border-right:1px solid;
border-bottom:1px solid;
border-left:3px solid;
border-color:#ccc;
z-index:1;
-webkit-border-radius:6px;
-moz-border-radius:6px;
}
.pselect select {
	position:absolute;
	top:-2px;
	left:-2px;
	background:transparent;
	width:108px;
	border:1px solid #ccc;
	height:29px;
	font-family:'Lato', sans-serif;
	font-size:1.1em;
	-webkit-appearance:none;
}
.styled-select select {
   background:transparent;
   width:268px;
   padding:5px;
   font-size:16px;
   border:1px solid #ccc;
   height:34px;
   -webkit-appearance:none;
}
.styled-select {
   width:240px;
   height:34px;
   overflow:hidden;
   background:#ddd url(../img/backroom/bg_selector.png) right no-repeat;
}

table{border-collapse:collapse;border-spacing:0;font-size:inherit;font:100%;}
table.inbox{border-collapse:collapse;width:100%;}
table.inbox a{padding:0;display:block;}
table.inbox td{font-size:14px;padding:4px 0;vertical-align:top;}
table.inbox tr + tr td {border-top:1px solid #ECECEC;}
table.inbox td.avatar{min-width:40px;width:40px;}
table.inbox td.who{width:1%;white-space:nowrap;text-align:left;}
table.inbox td.who a{padding:5px 14px 5px 0;display:block;white-space:nowrap;max-width:120px;overflow:hidden;text-overflow:ellipsis;}
table.inbox td.what{max-width:460px;line-height:18px;padding-bottom:0;padding-top:6px;}
table.inbox td.what>a{overflow:hidden;position:relative;max-height:30px;padding:5px 0;margin-bottom:8px;}
table.inbox td.what div.attachments{margin-top:4px;padding:0;float:right;max-height:44px;overflow:hidden;}
table.inbox td.what div.attachments figure{width:24px;max-height:44px;float:left;margin-left:3px;}
div.attachments img.thumbnail{width:inherit;display:inline-block;border:1px solid #CCC;padding:1px;box-sizing:border-box;-moz-box-sizing:border-box;}
table.inbox td.what span.bucket_name{font-weight:bold;display:none;}
table.inbox td.what span.excerpt{color:#666;}
table.inbox td.when{width:1%;white-space:nowrap;text-align:right;}
table.inbox td.when a{padding:5px 0 5px 30px;color:#AA9C84;line-height:32px;}
table.inbox td.comments{border:none;padding-top:8px;}
table.inbox td.comments span.comments{margin:0 0 0 10px;background:#E2E9F8;}

span.pill2 {
font-size: 12px;
line-height: 16px;
padding: 0 7px;
background: #EEE;
border: 1px solid transparent;
color: #666;
white-space: nowrap;
display: inline-block;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
}
span.pill2 a, span.pill2 a:hover {
color: #777;
text-decoration: none;
vertical-align: top;
}
span.pill2[data-behavior~="expandable"]:hover > a {
color: #555;
}
span.pill2.circle {
min-width: 17px;
padding: 2px 1px;
line-height: 14px;
text-align: center;
}
span.pill2.comments {
background: #E2E9F8;
}
.has_balloon {
position: relative;
}


section.topics p.more_topics{margin:15px 0 20px 0;}

section>header h1{font-size:18px;line-height:18px;font-weight:normal;color:#e37;-webkit-font-smoothing:antialiased;}
section.grouped_by_date article:not(.new)>table{width:100%;}
section.grouped_by_date article:not(.new)>table>tbody>tr>td.icon{text-align:right;width:120px;}
article.attachment>table>tbody>tr>td.icon img.file_icon{opacity:0.9;width:60px;height:70px;margin-right:-5px;}
article.attachment>table>tbody>trtd.text{text-align:left;width:auto;padding-left:10px;}
section.grouped_by_date article:not(.new)>table>tbody>tr>td{height:60px;vertical-align:middle;}
section.grouped_by_date article:not(.new)>table>tbody>tr>td.text h3{font-size:16px;line-height:20px;font-weight:bold;margin:0;color:black;max-width:600px;}
ul.todolists{margin-top:8px;position:relative;list-style:none;}
ul.todolists > li{margin:-10px 0 10px 0;padding:10px 0 10px 0;}
div.nubbin{display:none;position:absolute;left:0;font-size:12px;line-height:20px;text-align:left;
padding:0 0 0 5px;margin:-1px 0 0;min-width:40px;background:white;
-webkit-border-top-left-radius:20px;
-webkit-border-bottom-left-radius:20px;
-moz-border-radius-topleft:20px;
-moz-border-radius-bottomleft:20px;
border-top-left-radius:20px;
border-bottom-left-radius:20px;
-webkit-box-shadow:-1px 0 1px rgba(0, 0, 0, 0.2);
-moz-box-shadow:-1px 0 1px rgba(0,0,0,0.2);
box-shadow:-1px 0 1px rgba(0, 0, 0, 0.2);
}
article.todolist header h3{font-size:15px;margin-bottom:0;}
article.todolist h3 span.unlinked_title{display:none;}
article.todolist h3 span.project_name{display:none;}
section.todos article.todolist h3 span.project_name{display:inline;}
div.panel-content section.todos article.todolist header.expanded_content{display:none;}
article.todolist>ul{position:relative;list-style:none;margin:0 0 0 7px;min-height:6px;padding:0;}
article.todolist>ul>li{padding-left:19px;line-height:20px;padding-right:110px;clear:both;word-wrap:break-word;}
article.todolist>ul>li>div>span.wrapper{position:relative;margin-left:-19px;padding-left:20px;}
article.todolist>ul>li>div>span.wrapper>input[type="checkbox"]{margin-left:-20px;margin-right:2px;vertical-align:baseline;margin-top:3px;font-size:larger;}
article.todolist>ul>li>div>span.wrapper span.content_for_perma{display:none;}
[data-behavior~="expandable"] > .expanded_content{display:none;}
article.todolist > ul > li form {display: inline;}

span.comments{background:#E2E9F8;}
span.comments a, span.comments a:hover{color:#777;text-decoration:none;vertical-align:top;}

article.todolist.expanded.new header.expanded_content{margin-bottom:30px;margin-top:3px;max-width:300px;}
article.todolist>ul>li>div>span.wrapper{position:relative;margin-left:-19px;padding-left:20px;}
.text_entry{color:darkGray;background:white;padding:19px;border:1px solid #CCC;position:relative;margin:0;-webkit-box-shadow:0 2px 0 #DDD;-moz-box-shadow:0 2px 0 #ddd;box-shadow:0 2px 0 #DDD;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.text_entry textarea,.text_entry input[type="text"]{color:black;padding:0;margin:0;width:99%;background:white;border:none;outline: none;line-height:inherit;-webkit-appearance:none;}
article.todolist.expanded header.expanded_content header input{padding:5px 0;border-bottom: 1px dotted #B3B3B3;}
span.pill2[data-behavior~="expandable"]:hover {background: #CCC;}


/* ========section attachments========== */
section.attachments section.attachments.grouped_by_date>header{display:none;}
article.blank_slate{display:none;}
div.sheet.project p.more_files{margin-top:20px;}
section.grouped_by_date article:not(.new)>table>tbody>tr>td.icon{text-align:right;width:120px;}
section.grouped_by_date article:not(.new)>table>tbody>tr>td.text{text-align:left;width:auto;padding-left:10px;}
article.attachment>table>tbody>tr>td.text h3.filename{float:left;margin-right:3px!important;word-wrap:break-word;line-height:22px!important;}
article.attachment>table>tbody>tr>td.text div.authorship{clear:left;max-width:600px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
article.attachment>table>tbody>tr>td.text h3.filename span.bucket_name{display:none;}
div.taggings{line-height:15px;margin-top:3px;}
div.taggings div.edit_taggings {
background: white;
float: left;
margin: 0 2px 2px 0;
padding-top: 1px;
font-size: 11px;
border-top: none;
box-shadow: none;
}
div.taggings div.edit_taggings{position:relative;border:1px solid #DEDEDE;border-radius:4px;padding-top:0;}
div.taggings div.edit_taggings>a:not(.remove_tagging){display:inline-block;vertical-align:bottom;padding:1px 4px 0;color:#666;}

article.attachment>table>tbody>tr>td.text div.authorship{clear:left;max-width:600px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
article.attachment>table>tbody>tr>td.text p.meta{display:none;}
article.attachment>table>tbody>tr>td.text div.authorship p.actions{color:#777;font-size:13px;margin:0;}
article.attachment>table>tbody>tr>td.text div.authorship p.actions a{color:#477B96;text-decoration:underline;}
article:not(.new) >table>tbody>tr>td.icon{text-align:right;width:120px;}


/* ========section to-do========== */
div.panel-content>header .reference_to_project{display:none;}
div.panel-content>header>p{font-size:13px;color:#777;}
[data-behavior~="expandable"] > .expanded_content{display:none;}
section.comments article.comment.new header.text_entry .prompt,section.comments article.comment.edit header.text_entry .prompt {
padding: 10px 14px;
margin: -19px;
cursor: text;
}
ul.attachments{margin:0 0 30px;padding:15px 0 0;display:block;list-style:none;}
ul.attachments>li,ul.attachments>article{zoom:1;clear:left;padding-left:35px;margin:-8px 0 0;padding-bottom:15px;display:block;}
section.event_stream article.event span.summary{display:none;}
article.todolist section.comments{margin-top:20px;}
section.comments article.comment{margin:0 0 20px 78px;padding:0;position:relative;min-height:71px;}
section.comments article.comment.new, section.comments article.comment.edit {
background-color: none;
padding-top: 11px;
max-width: 560px;
padding-bottom: 12px;
}
section.comments article.comment div.formatted_content{padding-top:3px;word-wrap:break-word;}
div.formatted_content:not(.hidden){max-width:540px;padding-bottom:19px;}
section.comments article.comment img.avatar{position:absolute;left:-78px;top:0;margin:0;width:59px;height:59px;}
section.comments article.comment footer.time{color:#AA9C84;position:relative;top:-19px;font-size:13px;font-weight:normal;}
.text_entry{
color: darkGray;
background: white;
padding: 19px;
border: 1px solid #CCC;
position: relative;
margin: 0;
-webkit-box-shadow: 0 2px 0 #DDD;
-moz-box-shadow: 0 2px 0 #ddd;
box-shadow: 0 2px 0 #DDD;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
div.taggings div.edit_taggings{background:white;float:left;margin:0 2px 2px 0;padding-top:1px;font-size:11px;border-top:none;box-shadow: none;position: relative;border:1px solid #DEDEDE;border-radius: 4px;padding-top: 0;}
div.taggings div.edit_taggings > a{
display: inline-block;
vertical-align: bottom;
padding: 1px 4px 0;
color: #666;
}

a.decorated{color:#e37;}
section.event_stream > h4{font-size:15px;font-weight:bold;margin:20px 0 0;}
section.event_stream article.event a{color:#777;font-size:13px;line-height:17px;margin:0;}


/* ========page invite========== */
div.sheet header h1{font-size:18px;line-height:18px;font-weight:normal;}
section.invite h2{color:black;font-size:14px;line-height:20px;font-weight:normal;margin:0;padding:0;}
section.accesses article.access h1{font-size:21px;line-height:24px;margin:0;padding:3px 0 0;}
div.sheet div.sheet_body{padding:0 45px 80px 30px;}
div.sheet div.sheet_body>div.columns{overflow:hidden;}
div.sheet div.sheet_body>div.columns>div.column:first-child{width:390px;border-right:1px solid #DDD;margin-right:-1px;}
div.sheet div.sheet_body>div.columns>div.column{float:left;min-height:680px;}
section.invite{font-size:14px;line-height:19px;padding:0px 30px 20px 0px;margin:0px;}
section.invite div.invitee.field div.icon{position:absolute;left:0;bottom:0;width:25px;height:25px;background:0px 0px url(https://d3dma7a8zw52bz.cloudfront.net/assets/icons/invitee_field_icons-060d5c81040a913cb32bfda6a5a95f48.png) no-repeat;}
section.invite div.invitee.field.focused.person div.icon{background-position:0px -25px;}
section.invite div.invitee.field input{
display: block;
position: absolute !important;
background: transparent !important;
left: 0;
bottom: -1px;
width: 100%;
border: 0;
font-size: 14px;
line-height: 25px;
padding: 3px 0px 2px !important;
height: 30px;
outline: none;
color: black;
}
section.invite div.invitee.field div.input{position:absolute;left:30px;bottom:0px;right:0px;border-bottom: 1px dotted #BBB;}
div.sheet form div.field input[type="text"],div.sheet form div.field input[type="email"],div.sheet form div.field input[type="password"],div.sheet form div.field textarea{
-webkit-appearance: none;
border-width: 1px;
margin: 0;
position: relative;
background: white;
font-size: 14px;
font-weight: bold;
line-height: 20px;
padding: 5px;
width: 100%;
display: block;
box-sizing: border-box;
-moz-box-sizing: border-box;
}
section.invite textarea {
position: relative;
font-weight: normal;
font-size: 14px;
padding: 5px;
height: 66px;
width: 100%;
display: block;
border: 1px dotted #BBB;
outline: none;
box-sizing: border-box;
-moz-box-sizing: border-box;
resize: none;
}
div.sheet section.accesses, div.sheet section.group_accesses{margin:0;padding:0 0 0 30px;}
article.access{margin:15px 0;}
div.sheet section.accesses article.access>div.wrapper{position:relative;padding:0 10px 0 105px;height:90px;}
div.sheet section.accesses article.access div.last_invitee_event{height:18px;overflow:hidden;}
div.sheet section.accesses article.access div.controls{padding-top:6px;font-size:12px;line-height:14px;}
div.sheet div.columns>div.column{float:left;min-height:680px;}
div.sheet div.columns>div.column:last-child{width:494px;border-left:1px solid #DDD;}
div.sheet div.columns>div.column:first-child{width:390px;border-right:1px solid #DDD;margin-right:-1px;}
section.invite div.invitees{margin-bottom:20px;}
section.invite div.invitee.field{position:relative;margin:0;border:0;height:30px;}
.panel-content .field{padding:0;}
div.slider li.slide{float:left;min-height:10px;margin:0;display:none;}
div.slider li.slide.active{display:block;}
form .submit{clear:both;font-size:13px;min-height:18px;vertical-align:baseline;margin:10px 0 0;}
div.slider{zoom:1;}
div.slider::after{content: ".";display:block;height:0;clear:both;visibility:hidden;}
div.sheet section.accesses article.access img.avatar{position:absolute;top:0;left:0;height:90px;width:90px;display:block;
box-sizing:border-box;-moz-box-sizing:border-box;}
div.sheet div.columns{overflow:hidden;padding:0 0 60px 0;}


/* ========page catch up========== */
div.panel header.daily_nav{text-align:center;margin:30px 30px 20px 30px;}
div.panel header.daily_nav nav a{top:6px;display:block;position:absolute;height:30px;padding-top:12px;text-decoration: one;color:#999;background:url(https://d3dma7a8zw52bz.cloudfront.net/assets/icons/summary_nav_arrows-4931ea7a26ca2111aafa3d4b3c01ccde.png) no-repeat;}
div.panel header.daily_nav nav a.prev{left:-10px;padding-left:52px;background-position:0 0;}
div.panel header.daily_nav nav a.next{right:-10px;padding-right:52px;background-position:right -87px;}
div.panel header.daily_nav nav a.prev:hover{background-position:0 -43px;}
div.panel header.daily_nav nav a.next:hover{background-position:right -130px;}
div.panel header.daily_nav nav a:hover{color:black;cursor:pointer;}
div.panel header.daily_nav h1{font-size:24px;line-height:28px;color:black;font-weight:bold;}
div.panel div.sheet_body{padding:0 45px 80px 30px;}
div.panel div.sheet_body section.project>section{padding-top:0;padding-bottom:10px;}
div.panel div.sheet_body section.project>section h3{zoom:1;clear:left;color:#AA9C84;font-size:14px;font-weight:bold;margin:4px 0;padding:0;}
div.panel div.sheet_body>section.project>section header{margin-bottom:10px;}
div.panel div.sheet_body>section.project>section article.event{font-size:14px;margin-left:20px;padding:0 0 3px;}
div.panel div.sheet_body>section.project>section h4{margin-top:0;font-size:14px;margin-bottom:2px;}
div.panel div.sheet_body>section.project>section.todos>article.event ul{margin:0 0 10px 18px;}
div.panel div.sheet_body>section.project>section.todos>article.event ul li{margin-bottom:0;margin-left:15px;display:list-item;}
div.panel div.sheet_body>section.project>section article.event a:hover{cursor:pointer;text-decoration:underline;color: #e37;}
div.panel div.sheet_body>section.project>section.todos>article.event ul li a:hover{color:#e37;text-decoration:underline;}


/* ========Calendar========== */
div.calendar {min-height:461px;width:100%;}
div.calendar_display.calendar_list_visible div.right {left:340px;}
div.calendar_display div.right {position: absolute;right: 0;z-index: 2;padding-bottom:40px;}
div.calendar_display div.left {position: relative;width: 280px;padding-top: 20px;}
div.calendar_display div.sheet {padding:20px;margin-right:40px;min-height:480px;background:#fff;display:block!important;width:auto!important;-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 0 6px rgba(0,0,0,0.3);box-shadow:0 0 6px rgba(0, 0, 0, 0.3);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
article.blank_slate{display:none;}
div.calendar_display div.sheet>header{clear:none;margin:0;padding:0 0 15px 0;}
div.calendar_display div.sheet>header h1{margin:0;font-size:18px;line-height:18px;font-weight:normal;-webkit-font-smoothing:antialiased;text-align:center;}
div.calendar_display div.sheet>header h1>a{display:inline-block;padding:0 25px;white-space:nowrap;position:relative;}
div.calendar_display div.sheet>header>nav{position:absolute;right:0;}
div.calendar_display div.sheet>header>nav button[data-behavior~="navigate"]:first-of-type{-webkit-border-radius:5px 0 0 5px;-moz-border-radius:5px 0 0 5px;border-radius: 5px 0 0 5px;border-right:none;}
div.calendar_display.calendar_list_visible button.toggle_calendar_list.show{display:none;}
div.calendar_display button.toggle_calendar_list {position: absolute;top: 0;left: 0;}
div.calendar_display div.sheet>header>nav button[data-behavior~="navigate"]:nth-of-type(2){-webkit-border-radius:0 5px 5px 0;-moz-border-radius:0 5px 5px 0;border-radius: 0 5px 5px 0;margin-right:10px;}
div.sheet>header button{font-family: "Lucida Grande","Helvetica Neue", helvetica, arial, sans-serif;font-size: 11px;line-height: 16px;padding: 2px 10px;margin: -1px 0 0;
background: white;color: black;border: 1px solid #CCC;-webkit-box-shadow: 0px 1px 0px #DDD;-moz-box-shadow: 0px 1px 0px #ddd;box-shadow: 0px 1px 0px #DDD;vertical-align: top;-webkit-appearance: none;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
div.calendar_grid div.days_of_week{display:table;table-layout:fixed;width:100%;}
div.calendar_grid div.days_of_week div.days{display:table-row;}
div.calendar_grid div.days_of_week div.days div.day{display:table-cell;width:14.286%;text-align:center;font-size:11px;padding:0 0 3px 0;color:#666;}
div.calendar_grid div.week div.events.spanned {position: absolute;top: 24px;height: 0;}
div.calendar_grid div.week div.dates_wrapper {display: table;table-layout: fixed;width: 100%;}
div.calendar_grid div.week div.dates {display: table-row;}
div.calendar_grid div.week div.dates div.date{display:table-cell;overflow:hidden;width:14.286%;border-right: 1px solid #DCD9D3;
border-top: 1px solid #DCD9D3;height: 90px;margin: 0;padding: 0 0 10px 0;line-height: normal;}
div.calendar_grid div.week div.dates div.date.current_month div.day{color: #666;}
div.calendar_grid div.week div.dates div.date div.day {font-size:11px;text-align:right;color:#DCD9D3;height:18px;padding:6px 8px 0 0;}
div.calendar_grid div.week div.dates div.date div.todos h5{border-top:none;margin:0 8px 2px 8px;padding:3px 0 0 0;font-size:12px;font-weight:normal;color: #333;}
div.calendar_grid div.week div.event span.event{font-size: 12px;}
div.calendar_grid div.week div.dates div.date.today {background: #FFC;}
div.calendar_grid div.week div.dates div.date div.todos>div.todo{text-indent: 0;padding-left: 27px;}
div.calendar_grid div.week div.dates div.date div.event{padding:0 8px 0 15px;text-indent: -7px;overflow: hidden;}
div.calendar_grid div.week div.dates div.date div.todos > div.todo > span.wrapper {margin-left: -19px;position: relative;}

div.calendar_display.calendar_list_visible div.left>aside{-webkit-transition:padding-top 150ms 150ms ease-in-out,opacity 150ms 150ms ease-in-out;padding-top:0;opacity:1;}
div.calendar_display div.left > aside section.calendars {margin-bottom: 20px;}
div.calendar_display div.left > aside div.new_calendar_event {float: right;}
div.calendar_display div.left>aside section.calendars>h4{margin:0 0 12px 0;color:#7D7A75;font-size:16px;font-weight:normal;border-bottom:1px solid #DCD9D3;padding-bottom: 3px;}
div.calendar_display div.left>aside section.calendars>ul li{position:relative;margin:5px 0;font-size:13px;padding-left:27px;line-height:17px;}

div.calendar_display .swatch {display:inline-block;margin:0 3px -4px -27px;border:2px solid white;vertical-align:baseline;-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
-moz-box-shadow:0 0 2px rgba(0,0,0,0.4);box-shadow:0 0 2px rgba(0, 0, 0, 0.4);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
div.calendar_display .swatch>a.active{background: transparent url(https://d3dma7a8zw52bz.cloudfront.net/assets/calendar/swatch_checkmark-47a8d435181c75ce25e512079aaaf2a1.png) no-repeat center center;}
div.calendar_display .swatch>a{display:block;padding:0;height:14px;width:16px;}
div.calendar_display div.left>aside section.calendars>ul li>a[data-behavior="zoom_in"]{margin-right:50px;}
div.calendar_display div.left>aside section.calendars>ul li>a[data-behavior="edit_bucket"]{position:absolute;top:0;right:0;opacity:0;color:#7D7A75;font-size:11px;-webkit-transition: opacity 120ms ease-in-out;-moz-transition: opacity 120ms ease-in-out;}


/* ========Everything========== */
div.container{margin:0 auto;width:960px;}
section.everything h1{font-weight:normal;text-align:center;margin-top:0;margin-bottom:20px;font-size:24px;line-height:28px;
margin:30px 0 10px;}
section.everything ul{margin:0 auto;padding:10px 0;width:500px;list-style:none;background:url(https://d3dma7a8zw52bz.cloudfront.net/assets/everything/post-33867ca9557eede3b163cd69108151b2.png) 50% 0 repeat-y;}
section.everything ul li{width:450px;height:105px;background-size:450px 105px;margin-bottom:5px;display:block;text-align:-webkit-match-parent;overflow:hidden;}
section.everything ul li a{display:block;width:450px;height:65px;color:#e37;font-size:24px;padding-top:40px;}
section.everything ul li a:hover{text-decoration:underline;}
section.everything li a.discussions {
padding-left: 140px;
width: 310px;
background: url(https://d3dma7a8zw52bz.cloudfront.net/assets/everything/discussions-8fb21de852207ac4a5b4e0e3a5b3d9e6.png) 30px 30px no-repeat;
}
section.everything li a.todos {
padding-left: 160px;
width: 290px;
background: url(https://d3dma7a8zw52bz.cloudfront.net/assets/everything/todos-db2f2893b2c8188789058ed21e1fa8a2.png) 70px 15px no-repeat;
}
section.everything li a.files {
padding-left: 150px;
width: 300px;
background: url(https://d3dma7a8zw52bz.cloudfront.net/assets/everything/files-910eaa4d05d663f14f75c9075b4cc8bb.png) 60px 20px no-repeat;
}
section.everything li a.textdocs {
padding-left: 150px;
width: 300px;
background: url(https://d3dma7a8zw52bz.cloudfront.net/assets/everything/textdocs-0ee0045ff8526692d1c6fb281e56f687.png) 50px 20px no-repeat;
}
section.everything li a.emails {
padding-left: 125px;
width: 325px;
background: url(https://d3dma7a8zw52bz.cloudfront.net/assets/everything/emails-53709cfbd3958e98ffbdf89c5da79668.png) 15px 10px no-repeat;
}
section.everything li.right.one,section.everything li.left.four{margin-left:80px;}
section.everything li.left.two{margin-left:-30px;}
section.everything li.right.three{margin-left:30px;}
section.everything li.right.five{margin-left:50px;}
section.everything li.left{background:url(https://d3dma7a8zw52bz.cloudfront.net/assets/everything/sign-left-65144258f8385537c520cc057192dc43.png) 0 0 no-repeat;}
section.everything li.right{background:url(https://d3dma7a8zw52bz.cloudfront.net/assets/everything/sign-right-f60be7a87fb37b1e47f1debdf02eda68.png) 0 0 no-repeat;}


/* ========Progress========== */
section h1{font-weight:normal;text-align:center;margin-bottom:20px;font-size:24px;line-height:28px;margin:30px 0 10px;}
section.stream{color:#777;}
div.event_container,div.event_container article{overflow:hidden;}
section.stream div.day{width:100px;margin-left:423px;color:black;display:block;}
section.stream div.day a {
display:block;
width:98px;
height:94px;
background:white;
font-weight:bold;
border:7px solid #DCD9D3;
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
}
section.stream div.day a > span {
display: table-cell;
width: 98px;
height: 97px;
vertical-align: middle;
text-align: center;
line-height: 16px;
font-size: 17px;
}
section.stream div.project:not(.created):not(.bulk_access_granted) {
color: black;
font-weight: bold;
border-bottom: 7px solid #DCD9D3;
padding-top: 2px;
padding-bottom: 2px;
}
section.stream div.project.right{padding-left:10px;}
section.stream div.day a>span time{display:block;font-weight:normal;font-size:11px;color:#BBB;}
section.stream article.event.left,section.stream div.project.left{border-right:7px solid #DCD9D3;}
section.stream article.event.right,section.stream div.project.right{border-left:7px solid #DCD9D3;margin-left:475px;}
section.stream article.event>div.time,section.stream div.project>div.time{width:60px;padding:12px 10px 0;color:#AA9C84;
font-size:13px;float:left;}



section.stream article.event,section.stream div.project{zoom:1;font-size:15px;width:475px;word-wrap:break-word;}
section.stream article.event.left div.time,section.stream div.project.left div.time{float:right;text-align:right;}
section.stream article.event>div.avatar,section.stream div.project>div.avatar{
padding: 12px 0 0 0;
width: 50px;
float: left;
}

section.stream article.event>div.action,section.stream div.project>div.action {
padding: 12px;
color: black;
font-size: 15px;
line-height: 1.2em;
width: 320px;
margin-left: 50px;
word-wrap: break-word;
font-weight: bold;
}
section.stream article.event.left div.action,section.stream div.project.left div.action{padding-right:15px;}
section.stream article.event.right div.action,section.stream div.project.right div.action{margin-left:130px;}
section.stream article.event>div.action div.excerpt,section.stream div.project>div.action div.excerpt{display:block;color:#333;margin-top:3px;font-size:14px;line-height:1.2em;font-weight:normal;}

section.stream article.event>div.action div.excerpt div.excerpt_attachments,section.stream div.project>div.action div.excerpt div.excerpt_attachments{margin-top:7px;margin-right:-80px;}
ul.attachments{margin:0 0 15px;padding:15px 0 0;display:block;list-style:none;}
ul.attachments>li>a img.file_icon,ul.attachments>article>a img.file_icon{float:left;border:none;background-color:none;text-decoration:none;margin:-7px 2px 7px -40px;vertical-align:middle;}


/* ========Everyone========== */
div.container section.people.cards header{margin:5px 0 15px;}
div#all_projects section, div.container section.people {margin-left:150px;}
div.all_people_and_superpowers{font-size:15px;padding-left:150px;margin-bottom:8px;}
div.container section.people {margin-bottom: 30px;}
section.people.cards article.person{width:140px;float:left;margin:0 62px 15px 0;padding-bottom:10px;text-align:center;word-wrap:break-word;}
section.people.cards article.person h3{font-size:16px;line-height:19px;margin-bottom:0;margin-top:0px;margin:15px 0 5px;}
title{display:none;}
div.container nav{width:150px;position:absolute;}
nav.people_nav a{display:block;width:83px;height:98px;margin-top:-6px;background-image:url(https://d3dma7a8zw52bz.cloudfront.net/assets/icons/panel_buttons-ca76619b39168f94af56e91590791577.png);background-position:-83px 0;background-repeat:no-repeat;}
div.container nav.people_nav a>span{left:-11px;bottom:0;width:120px;position:absolute;display:block;text-align:center;line-height:14px;}
div.container nav.people_nav a:hover>span{color:#e37;text-decoration:underline;}
div.container section.groups>header{margin-bottom:20px;}
div.container section.groups article.group section.subgroups.empty > header {display: none;}
div.container section.groups article.group section.subgroups article.subgroup{margin-left:20px;border-left:1px solid #DED7C8;}
div.container section.groups article.group section.subgroups article.subgroup.new a{display:block;
font-size:13px;padding:0 0 0 10px;}


/*========== Me ===========*/
header.panel-header h1.inactive_title {display: none;}
header.panel-header figure img.avatar {width: 90px;height: 90px;}
header.panel-header figure {float: left;margin-bottom: 0;margin-right: 20px;}
header.panel-header h2{font-size: 24px;font-weight: bold;line-height: 26px;color: black;margin: 10px 0 0;border: 0;}
header.panel-header h3{font-size: 16px;font-weight: normal;float:none;}
header.panel-header p.last_active{color:#999;font-size:13px;margin:5px 0 0;}
div.panel-content section{padding:0 0 30px 0;position:relative;}
div.panel-content section>header.left{height:auto;margin-left:0;margin-bottom:12px;border:0 !important;float:none;}
section.grouped_by_date>header>div{position:absolute;top:10px;left:0;font-size:13px;line-height:17px;color:#AA9C84;}
section.grouped_by_date>header>div>h2{font-size:13px;line-height:17px;margin:0;color:black;font-weight:normal;}
div.panel-content section header:not(.left){height:auto;display:none;}
div.panel-content section.grouped_by_date header{border-top:1px solid #E5E5E5;position:relative;height:0;padding:0;margin:0;display:block;}

div.panel-content section.todos article.todolist header{margin-top: 10px;margin-bottom: 2px;color: #999;display:block;}
div.panel-content>header>p,div.panel-content>section>header>p,div.panel-content>div>section>header>p{font-size:13px;color:#777;}
div.panel-content section.event_stream>article{margin-top:5px;margin-bottom:5px;font-size:15px;line-height:18px;}
section.grouped_by_date article:not(.new){margin:10px 0px 10px 150px;}
section.event_stream article.event a {color:inherit;font-size: 100%;}
section.event_stream article.event a:hover{color:#e37;}
div.panel-content section.event_stream article.event{color: #222;}
div.panel-content section.todos > header {position: relative;z-index: 2;}
div.panel-content section>header.todos{margin-bottom:-21px;clear:both;}
div.panel-content section>header.left h1{color:brown;font-weight:normal;font-size:18px;text-align:left;}
div.panel-content section.todos > header h1, div.panel-content section.todos > header p{display: inline;margin-right: 0.5em;}
div.panel-content section.todos>header p select {vertical-align: baseline;}
div.panel-content section.todos article.todolist header h3{display:inline;color:black;}
article.todolist header h3{font-size:15px;margin-bottom:0;}
article.todolist>ul>li{padding-left: 19px;line-height: 20px;padding-right: 110px;clear: both;word-wrap: break-word;margin-bottom:5px;}