#leftMenu
  .mainleft
    .mainleftinner
      #products.leftmenu
        %ul.idTabs.leftMenuStyle
          %li
            %a.search{:href => "/products"}
              %span
                %em Find Products
          %li
            %a.list{:href => "/products"}
              %span 
                %em Order Of Products