#main{:role => "main"}
  #brand-logo
  .inner
    %header.page-header
      %h1 All Products
    #brand-logo
    %header#products-header.page-header
      #product-header-filter-container
        %h5
          %span.item-total.txt-alert
          = "#{@total} Items"
        %ul.filter
          %li
            %a{:href => "#"}
              All
              %i.icon-caret
            %i.icon-filter-arrow
            %ul.categories{:style=>"display:none"}
              %li
                %a{"data-category" => ".fashion", :href => "#"} Fashion Accessories
              %li
                %a{"data-category" => ".home", :href => "#"} Home Gifts
              %li
                %a{"data-category" => ".sporting", :href => "#"} Sporting Goods
              %li
                %a{"data-category" => ".bicycle", :href => "#"} Bicycle Accessories
        %ul.filter
          %li
            %a{:href => "#"}
              All
              %i.icon-caret
            %i.icon-filter-arrow
            %ul.categories{:style=>"display:none"}
              %li
                %a{:href => "#"} Product 1
              %li
                %a{:href => "#"} Product 2
              %li
                %a{:href => "#"} Product 3
              %li
                %a{:href => "#"} Product 4
              %li
                %a{:href => "#"} Product 5
        .pb-region.first.color-filter{:style=>"float:left"}
          .pill.pill-inset
            %span.default Color
            %img.hidden{:src => ""}/
          .dropdown.swatch{:style => "display: none;"}
            .dropdown-arrow
            .dropdown-clear
              %a{:href => "#"}
                View all colors
            %ul
              %li
                %a{"data-chip" => "/assets/fpo/products/thumbs/chips/chip-01.jpg", :href => "#"}
                  %img{:src => "/assets/fpo/products/full/chips/chip-01.jpg"}
                    .selected.active
              %li
                %a{"data-chip" => "/assets/fpo/products/thumbs/chips/chip-02.jpg", :href => "#"}
                  %img{:src => "/assets/fpo/products/full/chips/chip-02.jpg"}
                    .selected
              %li
                %a{"data-chip" => "/assets/fpo/products/thumbs/chips/chip-03.jpg", :href => "#"}
                  %img{:src => "/assets/fpo/products/full/chips/chip-03.jpg"}
                    .selected
              %li
                %a{"data-chip" => "/assets/fpo/products/thumbs/chips/chip-04.jpg", :href => "#"}
                  %img{:src => "/assets/fpo/products/full/chips/chip-04.jpg"}
                    .selected
              %li
                %a{"data-chip" => "/assets/fpo/products/thumbs/chips/chip-05.jpg", :href => "#"}
                  %img{:src => "/assets/fpo/products/full/chips/chip-05.jpg"}
                    .selected
              %li
                %a{"data-chip" => "/assets/fpo/products/thumbs/chips/chip-06.jpg", :href => "#"}
                  %img{:src => "/assets/fpo/products/full/chips/chip-06.jpg"}
                    .selected
        .pb-region.first.viewby-filter{:style=>"float:left"}
          .pill.pill-inset
            %span.grad
            %span.default View by
            .viewby-value
          .dropdown.viewby{:style => "display: none;"}
            .dropdown-arrow
            .dropdown-clear
              %a{:href => "#"}
                Clear selection
            %ul
              %li Top Selling Items
              %li Featured Items
              %li SKU - High to Low
              %li SKU - Low to High
              %li Price - High to Low
              %li Price - Low to High
        .clear
      #products-grid-search
        %form#search{:action=>"/products"}
          %input{:placeholder => "Search Products", :type => "text", :name=>"query"}/
          %input#go.icon-search{:type => "button", :value => "Go"}/
    #main-content.clearfix
      #content
        %table.items-table.order-details-table
          %thead
            %tr
              %th.cell-sku
                %a{:href => "#"}
                  SKU
                  %i.icon-sort
              %th.cell-specs Specs
              %th.cell-item Item
              %th.cell-cost
                %a{:href => "#"}
                  Cost
                  %i.icon-sort
              %th.cell-price
                %a{:href => "#"}
                  Price
                  %i.icon-sort
              %th.cell-moq
                %a{:href => "#"}
                  MOQ
                  %i.icon-sort
              %th.cell-qty
                %a{:href => "#"}
                  Lead Time
                  %i.icon-sort
              %th.cell-qty
                %a{:href => "#"}
                  Stock
                  %i.icon-sort
              %th.cell-status Status
          %tbody
            -if @products
              - @products.each do |product|
                %tr
                  %td.cell-sku
                    %span
                      %a{:href => "/products/#{product.id}"}
                        = '#'+product.sku.first(5)
                  %td.cell-specs
                    %span
                      %a{:href => "#"}
                        %i.icon-specs
                      .dropdown.right.specs
                        .dropdown-arrow
                        .spec
                          .txt
                            %ul
                              %li AVID BRAKE LVRS
                              %li FR-5
                              %li Black 2 FNGR
                              %li UPC code: 7568961875
                              %li Weight: 310
                          %footer
                            %strong MSRP: $19.00
                  %td.cell-item{:style=>"vertical-align:top!important"}
                    %span
                      %a.thumb{:href => "#"}
                        %img{:src => "/assets/fpo/products/thumbs/photos/product-02.jpg"}
                      .dropdown.right
                        .dropdown-arrow
                        .img
                          %img{:src => "/assets/fpo/products/full/photos/product-02.jpg"}
                  %td.cell-cost
                    %span{:style=>"width:150px!important"}
                      = product.cost_components.present? ? product.cost_components.first.cost : 'XXXXXXXXX'
                  %td.cell-price
                    %span{:style=>"width:150px!important"}
                      - if product.product_prices.first
                        = product.product_prices.first.price
                      - else
                        = "XXXXXXX"

                  %td.cell-moq
                    %span 12
                  %td.cell-time
                    %span
                      = "#{product.supplier_products.present? ? product.supplier_products.first.standard_lead_time_days : 0} day(s)"
                  %td.cell-qty
                    %span
                      = product.asset_products.present? ? product.asset_products.first.asset.quantity_on_hand_total : 'Out of stock.'
                  %td.cell-status
                    %span.tooltip-toggle
                      .status.status-1
                        %i.icon-number 1
                        .status-bar
                          .tooltip-box.tooltip-center.hidden
                            .tooltip-txt
                              %img{:src => "/assets/img/backroom/ico_qc.png"}/
                              %h6 Quality Control Inspection
                              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus ac
                            .tooltip-pointer
          %tbody
    #paging{:style=>"font-size: 25px!important"}
      = will_paginate @factories, :previous_label => h("<"), :next_label => h(">")


:javascript
  $(".icon-search").click(function(){
    $("#search").submit();
  });
  //function searchProduct(){
  //  alert('here');
  //  //$("searchProduct").submit();
  //}

-# Old Version
-#.maincontent
-#  .maincontentinner
-#    #products
-#      %ul.maintabmenu
-#        %li.current
-#          %a{:href => "#"} Products
-#      %table.stdtable.stdtablecb{:border => "0", :cellpadding => "0", :cellspacing => "0"}
-#        %colgroup
-#          %col.con0
-#          %col.con1
-#          %col.con0
-#          %col.con1
-#          %col.con0
-#          %col.con1
-#        %thead
-#          %tr
-#            %th.head1 Id
-#            %th.head0 Name
-#            %th.head1 Description
-#            %th.head1 Action
-#        %tbody
-#          - @products.each do |product|
-#            %tr
-#              %td
-#                = product.id
-#              %td.center.width50
-#                = product.product_name
-#              %td
-#                = product.description
-#              %td.center
-#                %a{:href=>"/products/#{product.id}"}
-#                  Details
-#
-#
-#
-#    .clear
