#main{:role => "main"}
  #brand-logo
  / shipping info
  #customer.inner
    .back-link
      %a{:href => "/products"}
        %i.icon-arrow-left
        ALL PRODUCTS
    -#.panel
      %header.panel-header
        %h3
          = "SKU#XXXXX"
        %span.tooltip-toggle
          .status.status-1
            .status-bar
              %i.icon-number 1
              .tooltip-box.tooltip-center.hidden
                .tooltip-txt
                  %img{:src => "/assets/img/backroom/ico_qc.png"}
                  %h6 Quality Control Inspection
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus ac
                .tooltip-pointer
        #header-r.field
          %ul
            %li
              %sup Buyer
              .select-cc-type
                #uniform-undefined.selector
                  %span Ashley S.
                  %select.input-select-state{:style => "opacity: 0;"}
                    %option{:value => ""}
                    %option{:selected => "", :value => "CA"} Ashley S.
            %li
              %sup Sourcer
              .select-cc-type
                #uniform-undefined.selector
                  %span Yvonne T.
                  %select.input-select-state{:style => "opacity: 0;"}
                    %option{:value => ""}
                    %option{:selected => "", :value => "CA"} Yvonne T.
      %hr/
      #products-info.clearfix
        %ul
          %li
            %h6 Factory
            %p Jons Factory
          %li
            %h6 Qty Ordered
            %p 250
          %li
            %h6 Qty Sold
            %p 220
          %li
            %h6 Revenue
            %p $5,000
          %li
            %h6 Gross Profit
            %p 23%
      %div
    .panel
      %header.panel-header
        %h3 Image Management
        %nav
          %ul
            %li
              %a#saveProdImage.btn.btn-small.btn-danger.save{:href => "javascript:void(0)"} Save Changes
            %li
              %a.btn-small-link.cancel{:href => "#"} Cancel
      %hr
      #my-profile.panel-content
        %em The first image will be your featured product image. Drag and drop product images to reorder
        .imagelist
          %li
            .thumb
            %span
              %form#uploadImage{:action=>"/products", :method=>"post", :enctype=>"multipart/form-data"}
                %input{:type=>"file", :name=>"product_content[file]"}
                  -#%a.btn.btn-small{:href => "#"}
                  -#  %i.icon-add>
                  -#  Add


    -#.panel
      %header.panel-header
        %h3 Factory Info
        %nav
          %ul
            %li
              %a#saveFactoryInfo.btn.btn-small.btn-danger.save{:href => "javascript:void(0)"} Save Changes
            %li
              %a.btn-small-link.cancel{:href => "#"} Cancel
      %hr/
      .panel-content
        -# Factory Information Form
        %form#factoryInfo{:action=>"/products", :method=>"post"}
          .info
            .field
              %label Factory Name
              %input{:type => "text", :value => "", :name=>"factory_info[organization_name]"}/
            .field
              %label Factory SKU
              %input.input-city{:type => "text", :value => "", :name=>"factory_info[factory_sku]"}/
            .field
              %label Price #1
              %input.input-city{:type => "text",:value=>"", :name => "factory_info[factory_price]"}
              .select-state
                .selector
                  %span USD
                  %select{:style => "opacity: 0;", :name=>"factory_info[price_currency]"}
                    %option{:value=>"USD"}
                      USD
                    %option{:value=>"RMB"}
                      RMB
              .select-state
                .selector
                  %span FOB
                  %select{:style => "opacity: 0;", :name=>"factory_info[factory_fob]"}
                    %option{:value=>"FOB"}
                      FOB
                    %option{:value=>"EXW"}
                      EXW
              .select-state
                .selector
                  %span PORT
                  %select{:style => "opacity: 0;", :value=>"factory_info[factory_port]"}
                    %option{:value=>"port"}
                      PORT
                    %option{:value=>"exw"}
                      EXW
            .field{:style => "margin-top:10px;"}
              MOQ per Style
              %input.input-phones-1{:maxlength => "3", :type => "text", :value => "", :name=>"factory_info[moq_per_style]"}
                \    
                \# of Colors
                %input.input-phones-2{:maxlength => "3", :type => "text", :value => "", :name=>"factory_info[number_of_colors]"}
                  \    
                  \# of Sizes
                  %input.input-phones-3{:maxlength => "3", :type => "text", :value => "", :name=>"factory_info[sizes]"}
            .field{:style => "margin-top:10px;"}
              %a.btn.btn-small{:href => "#"}
                %i.icon-add>
                Add Price
            .field
              %label Lead Time
              %input.input-zip{:type => "text", :value => "", :name=>"factory_info[standard_lead_time_days]"}/
              \-
              %input.input-zip{:type => "text", :value => ""}/
              days
            .field
              %label Specifications
              %textarea{:name=>"factory_info[comments]"}
            .field
              %label Sample Info
              %b Price
              %input.input-zip{:type => "text", :value => "5.00"}
                .select-state
                  .selector
                    %span USD
                    %select{:style => "opacity: 0;"}
                      %option USD
                      %option RMB
                %b Refund Amount
                %input.input-zip{:type => "text", :value => "5.00"}
                  %b Lead Time
                  %input.input-zip{:type => "text", :value => "5"}
                    days
                    \    
                    %a.btn.btn-small{:href => "#"} SAMPEL ARRIVED
            .field
              Buyer Review
              .select-cc-type
                .selector
                  %span Approved
                  %select{:style => "opacity: 0;"}
                    %option Approved
                    %option Reject
    .panel
      %header.panel-header
        %h3 Web Info
        %nav
          %ul
            %li
              %a#saveProdInfo.btn.btn-small.btn-danger.save{:href => "#"} Save Changes
            %li
              %a.btn-small-link.cancel{:href => "#"} Cancel
      %hr/
      .panel-content
        -# Factory Information Form
        %form#productInfo{:action=>"/products", :method=>"post"}
          .info
            .field
              %label Name
              %input{:type => "text", :value => "", :name=>"product[product_name]"}/
            .field
              %label Price
              %input{:type => "text", :value => "$50", :name=>"product_price_type[wholesale_price]"}/
            .field
              %label Description
              %textarea{:name=>"product[description]"}
            .field
              %label Categories
              %div Home > Jewelry
              %div Home > New Arrivals
              %div Home > Jewelry > Necklaces
            %nav

              %ul
                %li
                  %a.btn.btn-small{:href => "#"} Edit Categories
                %li
                  %a.btn.btn-small{:href => "#"} Create a New Category
    .panel
      %header.panel-header
        %h3 Advanced Info
        %nav
          %ul
            %li
              %a.btn.btn-small.btn-danger.save{:href => "#"} Save Changes
            %li
              %a.btn-small-link.cancel{:href => "#"} Cancel
      %hr/
      #lefttab.panel-content
        %ul.leftmenu
          %li
            %a{:href => "#searchengine"} Weight & Size
          %li
            %a{:href => "#pricing"} Pricing
          %li
            %a{:href => "#shipping"} Shipping
          %li
            %a{:href => "#descriptions"} Product Descriptions
          %li
            %a{:href => "#display"} Product Display
          %li
            %a{:href => "#misc"} Misc
        #searchengine.sidepanel{:style => "display:block;"}
          .field
            %sup Weight
            = succeed "kg" do
              %input.input-phone-1{:type => "text", :value => "30"}/
          .field
            %ul
              %li
                %sup Length
                = succeed "mm" do
                  %input.input-phone-1{:type => "text", :value => "30"}/
              %li
                %sup Width
                = succeed "mm" do
                  %input.input-phone-1{:type => "text", :value => "30"}/
              %li
                %sup Height
                = succeed "mm" do
                  %input.input-phone-1{:type => "text", :value => "30"}/
              %li
                %sup Depth
                = succeed "mm" do
                  %input.input-phone-1{:type => "text", :value => "30"}/
              %li
                %sup Diameter
                = succeed "mm" do
                  %input.input-phone-1{:type => "text", :value => "30"}/
          .field
            %ul
              %li
                %sup Material
                %input.input-w150{:type => "text", :value => ""}/
              %li
                %sup Add'l Material
                %input.input-w150{:type => "text", :value => ""}/
              %li
                %sup Add'l Material
                %input.input-w150{:type => "text", :value => ""}/
          .field
            Additional Information
            %textarea.w500
        #pricing.sidepanel{:style => "display:none;"}
          %div
            .field Coming Soon!
        #shipping.sidepanel{:style => "display:none;"}
          %div
            .field Coming Soon!
        #descriptions.sidepanel{:style => "display:none;"}
          %div
            .field Coming Soon!
        #display.sidepanel{:style => "display:none;"}
          %div
            .field Coming Soon!
        #misc.sidepanel{:style => "display:none;"}
          %div
            .field Coming Soon!
    -#.panel
      %header.panel-header
        %h3 History
      %hr/
      .panel-content
        .info
          .field
            %label> Aug 8 at 11:41am
            Nelson H. created the to-do list
          .field
            %label> Spe 12 at 14:50pm
            Nelson H. created the to-do list $('#factoryInfo')
          .field
            %label> Spe 12 at 14:50pm
            Nelson H. created the to-do list

%script{:src => "/assets/js/jquery.easytabs.min.js"}
:javascript
  $(document).ready( function() {
  $('#lefttab').easytabs();
  });

  $("#saveFactoryInfo").click(function(){
    $('#factoryInfo').submit();
  });

  $("#saveProdInfo").click(function(){
    $('#productInfo').submit();
  });

  $("#saveProdImage").click(function(){
    $("#uploadImage").submit();
  })


-#Older Version
-#// Main Left Division: For side bar Navigation.
-#= render "shared/left_nav_bar", :tab => "copy-product"
-#
-#.maincontent.noright
-#  .maincontentinner
-#    %ul.maintabmenu
-#      %li.current
-#        %a{:href => "#"} Product Overview
-#    .content
-#      .topbar
-#        %ul
-#          %li
-#            %a{:href=>""} Overview
-#          %li
-#            %a{:href=>""} Photos
-#          %li.current
-#            %a{:href=>""} Copy
-#          %li
-#            %a{:href=>""} Color
-#          %li
-#            %a{:href=>""} Weight & Size
-#          %li
-#            %a{:href=>""} Pricing
-#          %li
-#            %a{:href=>""} MOQ & Cost
-#          %li
-#            %a{:href=>""} Parent / Child
-#
-#      .product-view
-#        .product-details.showProduct
-#          -if @product
-#            %div{:style=>"float:left"}
-#              %div
-#                %img{:src=>"/assets/10000-01.jpg", :width=>"315", :height=>"253"}
-#            %div{:style=>"float:right"}
-#              %div.product-head-wrap
-#                .lft-head
-#                  Product #
-#                  =@product.id
-#                  (T464 gold)
-#                .rgt-head
-#                  %a.historyimg{:href=>"#"}
-#                .clear
-#              .prod-text-details
-#                %span.prod-text-head
-#                  Name:
-#                %br
-#                %span.prod-text-normal
-#                  =@product.product_name
-#
-#                %br
-#                %span.prod-text-head
-#                  Description:
-#                %br
-#                %span.prod-text-normal
-#                  =@product.description
-#
-#                -#%br
-#                -#%span.prod-text-head
-#                -#  Specification
-#                -#%br
-#                -#%span.prod-text-normal
-#
-#            .clear
-#            %div{:style=>"float:right"}
-#              #form1.stdform
-#                %p.stdformbutton
-#                  %button#editBtn.radius2 Edit
-#            .clear
-#
-#
-#        .product-details.editProduct
-#          -if @product
-#            %form#form1.stdform{:action => "/products/#{@product.id}", :method => "get"}
-#              %div{:style=>"float:left"}
-#                %div
-#                  %img{:src=>"/assets/10000-01.jpg", :width=>"315", :height=>"253"}
-#              %div{:style=>"float:right"}
-#                %div.product-head-wrap
-#                  .lft-head
-#                    Product #
-#                    =@product.id
-#                    (T464 gold)
-#                  .rgt-head
-#                    %a.historyimg{:href=>"#"}
-#                  .clear
-#                .prod-text-details
-#                  %span.prod-text-head
-#                    Name:
-#                  %p
-#                    %span.field{:style=>"margin-left:0px!important"}
-#                      %input#product-name.longinput{:name => "product[product_name]", :type => "text", :value=>"#{@product.product_name}"}
-#                      -#%input{:name=>"pid", :type=>"hidden", :value=>"#{@product.id}"}
-#                  %br
-#                  %span.prod-text-head
-#                    Description:
-#                  %br
-#                  %span.field{:style=>"margin-left:0px!important"}
-#                    %textarea#location.mediuminput{:cols => "80", :name => "product[description]", :rows => "5", :style=>"resize:none"}
-#                      =@product.description
-#                  -#%br
-#                  -#%span.prod-text-head
-#                  -#  Specification
-#                  -#%br
-#                  -#%span.prod-text-normal
-#
-#              .clear
-#              %div{:style=>"float:right"}
-#                %form#form1.stdform
-#                  %p.stdformbutton
-#                    %button.submit.radius2 Update
-#              .clear
-#
-#:javascript
-#  $("#editBtn").click(function(){
-#     $(".showProduct").hide();
-#     $(".editProduct").show();
-#
-#  });


-# Old Layout
-#// Main Left Division: For side bar Navigation.
-#= render "shared/left_nav_bar", :tab => "find-products"
-#.mainwrapperinner
-#  .maincontent.noright
-#    .maincontentinner
-#      %ul.maintabmenu
-#        %li.current
-#          %a{:href => "#"} Create Product
-#      .content
-#        %form#form1.stdform{:action => "/products/create", :method => "post"}
-#          %p
-#            %label Product Type ID
-#            %span.field
-#              %input#product-supp-id.longinput{:name => "product[product_type_id]", :type => "text"}
-#
-#          %p
-#            %label Product Supplier ID
-#            %span.field
-#              %input#product-supp-id.longinput{:name => "product[supplier_id]", :type => "text"}
-#
-#
-#          %p
-#            %label Product Name
-#            %span.field
-#              %input#product-name.longinput{:name => "product[product_name]", :type => "text"}
-#
-#          %p                  create
-#            %label Product Description
-#            %span.field
-#              %input#product-desc.longinput{:name => "product[description]", :type => "text"}
-#
-#          %br/
-#          %p.stdformbutton
-#            %button.submit.radius2 Create

-#"product_type_id" integer, "product_name" text, "description" text, "comments" text, "sales_introduction_date" datetime, "sales_discontinuation_date" datetime, "sales_disc_when_not_avail" boolean, "support_discontinuation_date" datetime, "require_inventory" boolean, "requirement_method_id" boolean, "charge_shipping" boolean, "in_shipping_box" boolean, "default_shipment_box_type_id" integer, "returnable" boolean, "require_amount" boolean, "amount_uom_type_id" integer, "fixed_amount" decimal, "origin_geo_id" integer, "bill_of_material_level" integer, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL)

