%table{:cellspacing => 0, :cellpadding => 0, :border => 0}
  %tbody
    %tr
      %td
        .rightColumn
          .previewContainer
            .theimage
              %a.showImages{:href => "/products"}
                %img{:width => 335, :height => 253, :src => "/assets/10000-01.jpg"}
            .amendContainer
              .uploadtitle.h4bold
                %span 
                  Product #10000 (T464 gold)
                %span
                  %a{:id => "popup", :class => "historyImage", :href => "javascript:void(0);"}
                #dialog{:style => "display: none;"}
                  %div
                    %span.h3bold Product History #10000
                  %div
                    %table{:cellspacing => 0, :cellpadding => 0, :border => 0, :class => "stdtable historytable"}
                      %tbody
                        %tr
                          %th.head0
                            %span.h1history name
                          %td
                            %p Cassie Gold
                          %td.date
                            %p.warpDate 01/24/2012 10:05:49
                          %td
                            %p Sam Hamilton (sam.hamilton)
                        %tr
                          %th.head1
                            %span.h1history description
                          %td.description
                            %p Gold chain with seven charms intertwined with brown beads.
                          %td.date
                            %p.warpDate 01/12/2012 05:12:43
                          %td
                            %p Mitch Fu (mitch.fu)
                        %tr
                          %th.head0
                            %span.h1history photo
                          %td
                            %p 10000-01.jpg
                            %p 10000-02.jpg
                          %td.date
                            %p.warpDate 01/24/2012 10:05:49
                            %p.warpDate 01/24/2012 10:05:49
                          %td
                            %p Sam Hamilton (sam.hamilton)
                            %p Sam Hamilton (sam.hamilton)
                        %tr
                          %th.head1
                            %span.h1history price
                          %td
                            %p Wholesale : $5.00
                            %p Retail : $17.99
                          %td.date
                            %p.warpDate 01/24/2012 10:05:49
                            %p.warpDate 01/24/2012 10:05:49
                          %td
                            %p Summer Schartz (summer.schartz)
                            %p Summer Schartz (summer.schartz)
                        %tr
                          %th.head0
                            %span.h1history weight
                          %td
                            %p 0.055 kg
                          %td.date
                            %p.warpDate 01/24/2012 10:05:49
                            %p.warpDate 01/24/2012 10:05:49
                          %td
                            %p Sam Hamilton (sam.hamilton)
                        %tr
                          %th.head1
                            %span.h1history size
                          %td
                            %p 76cm
                          %td.date
                            %p.warpDate 01/24/2012 10:05:49
                          %td
                            %p Sam Hamilton (sam.hamilton)
              .uploadarea
                = form_for @product, :url => "" do |f|                
                  %input{:type => "hidden", :name => "productId", :value => "100"}
                  %select{:id => "imageResize", :class => "selectBox03", :name => "imageResize"}
                    %option{:value => "100x75"} 100 X 75 (avatar)
                    %option{:value => "150x112"} 150 X 112 (thumbnail)
                    %option{:value => "320x240"} 320 X 240 (for websites and email)
                    %option{:value => "640x480"} 640 X 480 (for message boards)
                    %option{:value => "800x600"} 800 X 600 (15-inch monitor)
                    %option{:value => "1024x768"} 1024 X 768 (17-inch monitor)
                    %option{:value => "1280x1024"} 1280 X 1024 (19-inch monitor)
                    %option{:value => "1600x1200"} 1600 X 1200 (21-inch moniotr)
                    %option{:value => "", :selected => 'selected'} Do not resize                  
                  #filePhoto.inputWrap.uploadifyQueue
                  %div
                    = f.file_field :photo
                    %object{:id => "uploadifyPhotoUploader", :width => 120, :height => 30, :type => "application/x-shockwave-flash", :data => "https://website-v8.orderwithme.com/owmimages/upload/uploadify.swf", :style => "visibility: visible;"}
                      %param{:name => "quality", :value => "high"}
                      %param{:name => "wmode", :value => "opaque"}
                      %param{:name => "allowScriptAccess", :value => "always"}
                      %param{:name => "flashvars", :value => "uploadifyID=uploadifyPhoto&pagepath=/procurement/control/&script=http://www.orderwithme.com/procurement/control/uploadMultiplePhoto;jsessionid=614A59C1E17587CB609605F038EAD4E5.jvm1&folder=&width=120&height=30&wmode=opaque&method=GET&queueSizeLimit=999&simUploadLimit=1&multi=true&fileDataName=Filedata&queueID=filePhoto"}
                  %br/
                  %input{:id => "uploadFile", :type => "button", :class => "btnSubmit", :name => 'upload', :value => 'Upload', :style => "float: left;"}
                  %input{:id => "clearFile", :type => "button", :class => "btnSubmit", :name => 'cancel', :value => 'Cancel', :style => "float: left;"}               
          .thumbContainer
            %input{:id => "submitUpdatePhotoStatus", :type => "submit", :name => "Submit", :class => "btnSubmit", :style => "float: right", :value => "Allow to be professional"}
            .title.h3bold Pre Curation Photos
            %br/
            %ul.imagelist
              %br/
          %br{:clear => "all"}
          %form{:id => "setRotateImage", :method => "post", :action => "setProductRotateImage", :name => "setRotateImage"}
            %input{:type => "hidden", :name => "enabledSetRotate", :value => "Y"}
            %input{:id => "primaryProductId", :type => "hidden", :name => "productId", :value => "10000"}
            %input{:id => "rotateContentId", :type => "hidden", :name => "contentId", :value => ""}
          .thumbContainer
            .title.h3bold Professional Photos
            %br/
            %ul.imagelist
              %li.prophoto
                %a{:id => "10020", :class => "selectPrimaryPhoto", :href => "javascript:setContentIdPhoto(10020);"}
                  %img{:width => 116, :height => 112, :src => "/assets/10000-01.jpg"}
                %a{:href => "javascript:setPrimaryContentIdPhoto(10020);"} Primary
                |
                %a{:href => "javascript:setRotateContentIdPhoto(10020);"} Rotate
                |
                %a{:href => "javascript:setDeleteContentIdPhoto('10000','10020', '2012-01-09 08:03:25.542');"} Delete
              %li.prophoto
                %a{:id => "10022", :class => "selectPrimaryPhoto", :href => "javascript:setContentIdPhoto(10022);"}
                  %img{:width => 116, :height => 112, :src => "/assets/10000-02.jpg"}
                %a{:href => "javascript:setPrimaryContentIdPhoto(10020);"} Primary
                |
                %a{:href => "javascript:setRotateContentIdPhoto(10020);"} Rotate
                |
                %a{:href => "javascript:setDeleteContentIdPhoto('10000','10020', '2012-01-09 08:03:25.542');"} Delete
          %form{:id => "setDefaultImage", :method => "post", :action => "setProductDefaultImage", :name => "setDefaultImage"}
            %input{:id => "primaryProductId", :type => "hidden", :value => "10000", :name => "productId"}
            %input{:id => "primaryContentId", :type => "hidden", :value => "", :name => "contentId"}
          %form{:id => "setDeletePhoto", :method => "post", :action => "setProductDefaultImage", :name => "setDeletePhoto"}
            %input{:id => "deleteProductId", :type => "hidden", :value => "10000", :name => "productId"}
            %input{:id => "deleteContentId", :type => "hidden", :value => "", :name => "contentId"}
            %input{:type => "hidden", :value => "IMAGE", :name => "productContentTypeId"}
            %input{:id => "setFromDate", :type => "hidden", :value => "", :name => "fromDate"}
          %div{:style => "clear: both;"}
                  