%table{:cellspacing => 0, :cellpadding => 0, :border => 0}
  %tbody
    %tr
      %td
        .rightColumn
          .previewContainer
            .theimage
              %a.showImages{:href => "/products"}
                %img{:width => 335, :height => 253, :src => "/assets/10000-01.jpg"}
            .amendContainer
              .uploadtitle.h4bold
                %span 
                  Product #10000 (T464 gold)
                %span
                  %a{:id => "popup", :class => "historyImage", :href => "javascript:void(0);"}
                #dialog{:style => "display: none;"}
                  %div
                    %span.h3bold Product History #10000
                  %div
                    %table{:cellspacing => 0, :cellpadding => 0, :border => 0, :class => "stdtable historytable"}
                      %tbody
                        %tr
                          %th.head0
                            %span.h1history name
                          %td
                            %p Cassie Gold
                          %td.date
                            %p.warpDate 01/24/2012 10:05:49
                          %td
                            %p Sam Hamilton (sam.hamilton)
                        %tr
                          %th.head1
                            %span.h1history description
                          %td.description
                            %p Gold chain with seven charms intertwined with brown beads.
                          %td.date
                            %p.warpDate 01/12/2012 05:12:43
                          %td
                            %p Mitch Fu (mitch.fu)
                        %tr
                          %th.head0
                            %span.h1history photo
                          %td
                            %p 10000-01.jpg
                            %p 10000-02.jpg
                          %td.date
                            %p.warpDate 01/24/2012 10:05:49
                            %p.warpDate 01/24/2012 10:05:49
                          %td
                            %p Sam Hamilton (sam.hamilton)
                            %p Sam Hamilton (sam.hamilton)
                        %tr
                          %th.head1
                            %span.h1history price
                          %td
                            %p Wholesale : $5.00
                            %p Retail : $17.99
                          %td.date
                            %p.warpDate 01/24/2012 10:05:49
                            %p.warpDate 01/24/2012 10:05:49
                          %td
                            %p Summer Schartz (summer.schartz)
                            %p Summer Schartz (summer.schartz)
                        %tr
                          %th.head0
                            %span.h1history weight
                          %td
                            %p 0.055 kg
                          %td.date
                            %p.warpDate 01/24/2012 10:05:49
                            %p.warpDate 01/24/2012 10:05:49
                          %td
                            %p Sam Hamilton (sam.hamilton)
                        %tr
                          %th.head1
                            %span.h1history size
                          %td
                            %p 76cm
                          %td.date
                            %p.warpDate 01/24/2012 10:05:49
                          %td
                            %p Sam Hamilton (sam.hamilton)
              .insertCopy
                %span.h4bold Name:
                %br/
                %span.h4= @product.product_name rescue "-"
                %br/
                %br/
                %span.h4bold Description:
                %br/
                %span.h4= @product.description rescue "-"
                %br/
                %br/
                %span.h4bold Specifications:
                %br/
                %span.h4= @product.comments rescue "-"
          .thumbContainer
            .title.h3bold  Set Pricing
            %form{:id => "updateProductPricing", :name => "updateProductPricing", :method => "post", :action => "updateProductOverviewPricing", :novalidate => "novalidate"}
              %input{:id => "productId", :type => "hidden", :value => "10000", :name => "productId"}
              %input{:type => "hidden", :value => "pricing", :name => "menuType"}
              %table.pricingTable
                %tbody
                  %tr.h4bold
                    %td SCOPE
                    %td &nbsp;
                    %td Factory Price
                    %td &nbsp;
                    %td EST.SHIP
                    %td &nbsp;
                    %td Whole Sale Price
                    %td &nbsp;
                    %td MARGIN
                    %td &nbsp;
                    %td Retail Price
                    %td &nbsp;
                    %td CUST.MARGIN
                  %tr.h2a
                    %td
                      %img{:class => "usImg", :src => "/assets/icon_US.gif"} TODO                      
                    %td &nbsp;
                    %td
                      $2.85
                      %input{:id => "lastPrice", :type => "hidden", :value => "2.845764", :name => "lastPrice"}
                    %td &nbsp;
                    %td $0.30
                    %td &nbsp;
                    %td
                      %input{:id => "wholesalePrice", :class => "myTextField3", :type => "text", :value => "5", :name => "wholesalePrice"}
                    %td &nbsp;
                    %td#orderWithMeProfit 43%
                    %td &nbsp;
                    %td
                      %input{:id => "listPrice", :class => "myTextField3", :type => "text", :value => "17.99", :name => "listPrice"}
                    %td &nbsp;
                    %td#customerProfit 72%
              %button{:id => "productPricingApproveSubmitButton", :class => "btnSubmit", :style => "float: right;"} Submit
              %br/
              %br/
            /.title.h3bold  Set Pricing Quantities (US) 
            /%table.quanlitypricingTable
            /  %tbody
            /    %tr.h4bold
            /      %td QUANTITY
            /      %td &nbsp;
            /      %td PRICE/UNIT
            /      %td &nbsp;
            /      %td &nbsp;
            /    %form{:id => "submitQuantityPricing", :name => "submitQuantityPricing", :method => "post", :action => "updateProductOverviewPricingQuantity"}
            /    %input{:id => "productId", :type => "hidden", :value => "10000", :name => "productId"}
            /    %input{:type => "hidden", :value => "pricing", :name => "menuType"}
            /    %tr.h2a
            /      %td
            /        %input{:id => "quantity", :class => "myTextField3", :type => "text", :value => "", :name => "quantity"}
            /      %td &nbsp;
            /      %td
            /        %input{:id => "quantityPrice", :class => "myTextField3", :type => "text", :value => "", :name => "quantityPrice"}
            /      %td &nbsp;
            /      %input{:id => "productPriceRuleIdUp", :type => "hidden", :value => "", :name => "productPriceRuleId"}
            /      %input{:id => "productPriceCondSeqId", :type => "hidden", :value => "", :name => "productPriceCondSeqId"}
            /      %input{:id => "productPriceActionSeqId", :type => "hidden", :value => "", :name => "productPriceActionSeqId"}
            /      %td
            /        %button{:id => "addQuantityPricing", :class => "btnAdd"} Add
            /        %button{:id => "addQuantityPricing", :class => "btnAddNew hidden"} Update
            /%br/
            /%br/
            .title.h3bold Add New Marketplace Pricing 
            %table
            %table.quanlitypricingTable
              %tbody
                %tr.h4bold
                  %td Marketplace
                  %td &nbsp;
                  %td OWM PRICE
                  %td &nbsp;
                  %td MARGIN
                  %td &nbsp;
                  %td MSRP
                  %td &nbsp;
                  %td CUST.MARGIN
                  %td &nbsp;
                  %td &nbsp;
                %form{:id => "submitCoopPricing", :name => "submitCoopPricing", :method => "post", :action => "updateProductOverviewPricingCoop"}
                %input{:id => "productId", :type => "hidden", :value => "10000", :name => "productId"}
                %input{:type => "hidden", :value => "pricing", :name => "menuType"}
                %input{:id => "agreementIdUpdate", :type => "hidden", :value => "", :name => "agreementId"}
                %input{:id => "agreementItemSeqIdUpdate", :type => "hidden", :value => "", :name => "agreementItemSeqId"}
                %tr
                  %td
                    %select{:id => "coopPartyId", :name => "coopPartyId"}
                      %option{:value => "15842"} Polka Dot Petals
                      %option{:value => "15842"} Groupon
                      %option{:value => "15842"} Bike Co-op
                      %option{:value => "15842"} Nemeon
                      %option{:value => "15842"} Sierra Pacific
                  %td &nbsp;
                  %td
                    %input{:id => "coopPrice", :class => "myTextField3", :type => "text", :value => "", :name => "coopPrice"}
                  %td &nbsp;
                  %td#coOrderWithMeProfit 0%
                  %td &nbsp;
                  %td
                    %input{:id => "listPrice", :class => "myTextField6", :type => "text", :value => "17.99", :disabled => "disabled", :name => "listPrice"}
                  %td &nbsp;
                  %td#coCustomerProfit 0%
                  %td &nbsp;
                  %td
                    %button{:id => "addQuantityPricing", :class => "btnAddCoop current"} Add
                    %button{:id => "addQuantityPricing", :class => "btnAddNewCoop hidden"} Update
                      
            