// Main Left Division: For side bar Navigation.
= render "shared/left_nav_bar", :tab => "find-products"
.mainwrapperinner
  .maincontent.noright
    .maincontentinner
      %ul.maintabmenu
        %li.current
          %a{:href => "#"} Search Results
      .content
        - @products.each do |product|
          =product.product_name
          %br

