%table{:cellspacing => 0, :cellpadding => 0, :border => 0}
  %tbody
    %tr
      %td
        .rightColumn
          .previewContainer
            .theimage
              %a.showImages{:href => "/products"}
                %img{:width => 335, :height => 253, :src => "/assets/10000-01.jpg"}
            .amendContainer
              .uploadtitle.h4bold
                %span 
                  Product #10000 (T464 gold)
                %span
                  %a{:id => "popup", :class => "historyImage", :href => "javascript:void(0);"}
                #dialog{:style => "display: none;"}
                  %div
                    %span.h3bold Product History #10000
                  %div
                    %table{:cellspacing => 0, :cellpadding => 0, :border => 0, :class => "stdtable historytable"}
                      %tbody
                        %tr
                          %th.head0
                            %span.h1history name
                          %td
                            %p Cassie Gold
                          %td.date
                            %p.warpDate 01/24/2012 10:05:49
                          %td
                            %p Sam Hamilton (sam.hamilton)
                        %tr
                          %th.head1
                            %span.h1history description
                          %td.description
                            %p Gold chain with seven charms intertwined with brown beads.
                          %td.date
                            %p.warpDate 01/12/2012 05:12:43
                          %td
                            %p Mitch Fu (mitch.fu)
                        %tr
                          %th.head0
                            %span.h1history photo
                          %td
                            %p 10000-01.jpg
                            %p 10000-02.jpg
                          %td.date
                            %p.warpDate 01/24/2012 10:05:49
                            %p.warpDate 01/24/2012 10:05:49
                          %td
                            %p Sam Hamilton (sam.hamilton)
                            %p Sam Hamilton (sam.hamilton)
                        %tr
                          %th.head1
                            %span.h1history price
                          %td
                            %p Wholesale : $5.00
                            %p Retail : $17.99
                          %td.date
                            %p.warpDate 01/24/2012 10:05:49
                            %p.warpDate 01/24/2012 10:05:49
                          %td
                            %p Summer Schartz (summer.schartz)
                            %p Summer Schartz (summer.schartz)
                        %tr
                          %th.head0
                            %span.h1history weight
                          %td
                            %p 0.055 kg
                          %td.date
                            %p.warpDate 01/24/2012 10:05:49
                            %p.warpDate 01/24/2012 10:05:49
                          %td
                            %p Sam Hamilton (sam.hamilton)
                        %tr
                          %th.head1
                            %span.h1history size
                          %td
                            %p 76cm
                          %td.date
                            %p.warpDate 01/24/2012 10:05:49
                          %td
                            %p Sam Hamilton (sam.hamilton)
              .insertCopy
                %span.h4bold Name:
                %br/
                %span.h4= @product.product_name rescue "-"
                %br/
                %br/
                %span.h4bold Description:
                %br/
                %span.h4= @product.description rescue "-"
                %br/
                %br/
                %span.h4bold Specifications:
                %br/
                %span.h4= @product.comments rescue "-"
          .thumbContainer
            .title.h3bold Set Weight & Size
            %table.pricingTable
              %tbody
                %tr.h4bold
                  %td WEIGHT
                  %td &nbsp;
                  %td HEIGHT
                  %td &nbsp;
                  %td LENGTH
                  %td &nbsp;
                  %td WIDTH
                  %td &nbsp;
                  %td DIAMETER
                  %td &nbsp;
                  %td SHOULDER DROP
                %tr.h2a
                  %form{:id => "setProductWeightAndSize", :name => "setProductWeightAndSize", :action => "updateProductOverviewWeightAndSize", :method => "post", :onsubmit => "javascript:submitFormDisableSubmits(this)"}
                  %input{:type => "hidden", :value => "10000", :name => "productId"}
                  %input{:type => "hidden", :value => "weightsize", :name => "menuType"}
                  %td
                    %input{:id => "weightSize", :class => "myTextField3", :value => "0.055", :name => "productWeight"}
                  %td &nbsp;
                  %td
                    %input{:id => "weightSize", :class => "myTextField3", :value => "76", :name => "productHeight"}
                  %td &nbsp;
                  %td
                    %input{:id => "weightSize", :class => "myTextField3", :value => "", :name => "productDepth"}
                  %td &nbsp;
                  %td
                    %input{:id => "weightSize", :class => "myTextField3", :value => "", :name => "productWidth"}
                  %td &nbsp;
                  %td
                    %input{:id => "weightSize", :class => "myTextField3", :value => "", :name => "productDiameter"}
                  %td &nbsp;
                  %td
                    %input{:id => "weightSize", :class => "myTextField3", :value => "", :name => "productShoulderDrop"}
                  %td
                    %input{:type => "radio", :checked => "checked", :value => "ACTUAL", :name => "weightSizeType"} Actual
                  %td
                    %input{:type => "radio", :value => "ESTIMATED", :name => "weightSizeType"} Estimated
            %button{:class => "btnSubmit", :onclick => "javascript:document.setProductWeightAndSize.submit();", :style => "float: right;"} Submit
            