-if notice.present?
  .notification.msgsuccess
    %a.close
    %p#notice= notice
= form_for @product_promotion ,:html => {:class => "stdform promotion_form"} do |f|
  - if @product_promotion.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product_promotion.errors.count, "error")} prohibited this product_promotion from being saved:"
      %ul
        - @product_promotion.errors.full_messages.each do |msg|
          %li= msg
  %div#content-messages.content-messages.errorMessage.notification
    %a.close
  %p
    = f.label :promotion_name, I18n.t('product_promotion.promotion_name')
    %span.field
      = f.text_field :promotion_name
  %p
    = f.label :promotion_text
    %span.field
      = f.text_area :promotion_text,:rows => '5', :cols => '38'
  %p
    = f.label :use_limit_per_customer, I18n.t('product_promotion.use_limit_per_customer')
    %span.field
      = f.number_field :use_limit_per_customer
  %p
    = f.label :use_limit_per_order, I18n.t('product_promotion.use_limit_per_order')
    %span.field
      = f.number_field :use_limit_per_order
  %p
    = f.label :use_limit_per_promotion , I18n.t('product_promotion.use_limit_per_promotion')
    %span.field
      = f.number_field :use_limit_per_promotion

  %p
    = f.label :billback_factor , I18n.t('product_promotion.billback_factor')
    %span.field
      = f.number_field :billback_factor
  %p
    = f.label :override_org_party_id, I18n.t('product_promotion.override_org_party_id')
    %span.field
      = f.number_field :override_org_party_id

  %p
    = f.label :user_entered, I18n.t('product_promotion.user_entered')
    %span.formwrapper
      = f.check_box :user_entered
  %p
    = f.label :require_code, I18n.t('product_promotion.require_code')
    %span.formwrapper
      = f.check_box :require_code
  %p
    = f.label :promotion_show_to_customer, I18n.t('product_promotion.promotion_show_to_customer')
    %span.formwrapper
      = f.check_box :promotion_show_to_customer


  %p.stdformbutton
    = f.submit  I18n.t('common.save') ,:class => 'stdbtn btn_black btn btn-small'
  - unless params[:action] == "new"
    %p
      = f.label :created_by_user_login ,I18n.t('promotion_code.created_by_user_login')
      %span.field
        = '[' + @product_promotion.created_by_user_login.email + '] ON ' + @product_promotion.created_at.to_s(:db)
    %p
      = f.label :last_modified_by_user_login ,I18n.t('promotion_code.last_modified_by_user_login')
      %span.field
        = '[' + @product_promotion.last_modified_by_user_login.email + '] ON ' + @product_promotion.updated_at.to_s(:db)