.mainleftinner
  .leftmenu
    %ul
      %li
        %a{"href" => "#", "class" => "dashboard"}
          %span
            %em Dashboard
      %li
        %a{"href" => "#", "class" => "elements"}
          %span
            %em Priorities
      %li.current
        %a{"href" => "#", "class" => "editor menudrop"}
          %span
            %em Products
        %ul{"style" => "display: block;"}
          %li
            %a{"href" => "#"}
              %span
                %em Normal
          %li
            %a{"href" => "/product_promotions"}
              %span
                %em Promotion

      %li
        %a{"href" => "#", "class" => "media"}
          %span
            %em Factories
      %li
        %a{"href" => "#", "class" => "calendar"}
          %span
            %em All Factories
      %li
        %a{"href" => "#", "class" => "buttons"}
          %span
            %em Factory POs
      %li
        %a{"href" => "#", "class" => "error"}
          %span
            %em Customers
      %li
        %a{"href" => "#", "class" => "users"}
          %span
            %em All Customers
      %li
        %a{"href" => "#", "class" => "buttons"}
          %span
            %em Customer SOs
      %li
        %a{"href" => "#", "class" => "widgets"}
          %span
            %em Warehouse
  #togglemenuleft
    %a