-if notice.present?
  .notification.msgsuccess
    %a.close
    %p#notice= notice
%div{"class" => "dataTables_wrapper", "id" => "lists-prdpro"}
  %div.contenttitle
    %h2.general
      %span
        = I18n.t('view.product.promotion.title')
  %div{"id" => "dyntable_length", "class" => "dataTables_length"}
    %a{"href" => "/product_promotions/new"}
      %button{"class" => "stdbtn"}
        = I18n.t('common.new')
    %a{"href" => "#", "id" => "btn-delete"}
      %button{"class" => "stdbtn"}
        = I18n.t('common.delete')
  %div{"class" => "dataTables_filter", "id" => "dyntable_filter"}
    %div{"class" => "search-select"}
      %div
        = I18n.t('active_record.product_promotion.promotion_id')
      %span{"class" => "triangle"}
      %select{"class" => "search-content"}
        %option{"selected" => "selected", "value" => "id"}
          = I18n.t('active_record.product_promotion.promotion_id')
        %option{"value" => "promotion_name"}
          = I18n.t('active_record.product_promotion.promotion_name')
        %option{"value" => "user_entered"}
          = I18n.t('active_record.product_promotion.user_entered')
        %option{"value" => "imported_only"}
          = I18n.t('active_record.product_promotion.import_only')
    %div{"class" => "btn-search"}
    %input{"type" => "text", "id" => "promo-search", "placeholder" => I18n.t('common.type_something')}
  %div.table-wrapper-content
    %table{"class" => "stdtable stdtablecb", "id" => "list-promotions"}
      %thead
        %th.head0.width64
          %input{"type" => "checkbox", "class" => "checkall"}
        %th.head1
          = I18n.t('active_record.product_promotion.promotion_id')
        %th.head0
          = I18n.t('active_record.product_promotion.promotion_name')
        %th.head1
          = I18n.t('active_record.product_promotion.promotion_text')
        %th.head0
          = I18n.t('active_record.product_promotion.require_code')
        %th.head1
          = I18n.t('common.created_at')
      %tbody
        - @product_promotions.each do |promotion|
          %tr{"id" => "proid-"+promotion.id.to_s, "ref" => edit_product_promotion_path(promotion)}
            %td.center
              %span
                %input{"type" => "checkbox"}
            %td.center
              %span
                = promotion.id
            %td
              %span
                = promotion.promotion_name
            %td
              %span
                = promotion.promotion_text
            %td.center
              %span
                = promotion.require_code
            %td.wrap-content.center
              %span
                = promotion.created_at
  %div{"class" => "dataTables_paginate paging_full_numbers"}
    %label{"style" => "float: left"}
      Show
      %select{"size" => 1, "name" => "dyntable_length", "id" => "promotions-per-page"}
        - @nums = [10, 25, 50, 100]
        - @nums.each do |num|
          - if session[:promo_page].to_i == num
            %option{"value" => num, "selected" => "selected"}
              = num
          - if session[:promo_page].to_i != num
            %option{"value" => num}
              = num
    %div{"id" => "dyntable_paginate"}
      - @pages = (@total.to_f / session[:promo_page].to_f).ceil
      - if @pages > 1
        %span{"class" => "first paginate_button", "id" => "dyntable_first"}
          = I18n.t('common.first')
        %span{"class" => "previous paginate_button", "id" => "dyntable_previous"}
          = I18n.t('common.previous')
        %span{"class" => "paginate-body"}
          %span.paginate-body-inner
            - @pages.times do |page|
              - page = page + 1
              - if page == 1
                %span.paginate_active
                  = page
              - if page != 1
                %span.paginate_button
                  = page
        %span{"class" => "next paginate_button", "id" => "dyntable_next"}
          = I18n.t('common.next')
        %span{"class" => "last paginate_button", "id" => "dyntable_last"}
          = I18n.t('common.last')
