%p#notice= notice

%p
  %b Billback factor:
  = @product_promotion.billback_factor
%p
  %b Override org party:
  = @product_promotion.override_org_party_id
%p
  %b Promotion:
  = @product_promotion.promotion_id
%p
  %b Promotion name:
  = @product_promotion.promotion_name
%p
  %b Promotion show to customer:
  = @product_promotion.promotion_show_to_customer
%p
  %b Promotion text:
  = @product_promotion.promotion_text
%p
  %b Require code:
  = @product_promotion.require_code
%p
  %b Use limit per customer:
  = @product_promotion.use_limit_per_customer
%p
  %b Use limit per order:
  = @product_promotion.use_limit_per_order
%p
  %b Use limit per promotion:
  = @product_promotion.use_limit_per_promotion
%p
  %b User entered:
  = @product_promotion.user_entered

= link_to 'Edit', edit_product_promotion_path(@product_promotion)
\|
= link_to 'Back', product_promotions_path
