= stylesheet_link_tag 'plugins/jquery-ui-timepicker-addon'
= stylesheet_link_tag 'plugins/chosen'
:javascript
  $(document).ready(function(){
    $('ul.maintabmenu').children('li').removeClass('current')
    $('ul.maintabmenu').children('li:nth-child(4)').addClass('current')
    $('.datepicker').datetimepicker({
        showSecond: true,
        showMillisec: true,
        showButtonPanel: false,
        dateFormat: 'yy-mm-dd',
        timeFormat: 'HH:mm:ss.l',
        millisecText: 'Millisec',
      });
    $(".chosen").chosen();
    if ($(".chosen").children().length == 0)
      $('.chosen').parent().children('button.btn-update').attr('disabled','disabled').css({"opacity": "0.25"});
  });
%div{"class" => "messageBox"}
%div{"class" => "dataTables_wrapper", "id" => "pps-insert"}
  %div.contenttitle
    %h2.general
      %span
        = I18n.t('view.product.promotion.stores.title_add')
  -if notice.present?
    .notification.msgsuccess
      %a.close
      %p#notice= notice
  %div{"class" => "stdform form-one-row"}
    %p.title
      %label
        = I18n.t('view.product.promotion.stores.store_name_id')
      %label
        = I18n.t('active_record.promotion_store.from_date')
      %label
        = I18n.t('active_record.promotion_store.thru_date')
    %p.input
      %select{"class" => "chosen", "id" => "store_name_id"}
        - @stores.each do |store|
          %option{"value" => store.id}
            = store.store_name + ' [' + store.id.to_s + ']'
      %input{"type" => "text","id" => "from_date", "class" => "shortinput datepicker from_date", "value" => DateTime.now.strftime("%Y-%m-%d %H:%M:%S:%L")}
      %input{"type" => "text","id" => "thru_date",  "class" => "shortinput datepicker thru_date", "value" => DateTime.now.strftime("%Y-%m-%d %H:%M:%S:%L")}
      %button{"class" => "stdbtn btn-update"}
        = I18n.t('common.insert')

%div{"class" => "dataTables_wrapper", "id" => "lpp-store"}
  %div.contenttitle
    %h2.general
      %span
        = I18n.t('view.product.promotion.stores.title_edit')
  %div{"id" => "dyntable_length", "class" => "dataTables_length"}
    %a{"href" => "#", "id" => "btn-delete"}
      %button{"class" => "stdbtn"}
        = I18n.t('common.delete')
  %div{"class" => "dataTables_filter", "id" => "dyntable_filter"}
    %div{"class" => "search-select"}
      %div
        = I18n.t('view.product.promotion.stores.store_id')
      %span{"class" => "triangle"}
      %select{"class" => "search-content"}
        %option{"selected" => "selected", "value" => "product_store_id"}
          = I18n.t('view.product.promotion.stores.store_id')
        %option{"value" => "store_name"}
          = I18n.t('view.product.promotion.stores.store_name')
    %div{"class" => "btn-search"}
    %input{"type" => "text", "id" => "promo-search", "placeholder" => "type something...."}
  %div.table-wrapper-content
    %table{"class" => "stdtable stdtablecb", "id" => "list-procodes"}
      %thead
        %th.head0
          %input{"type" => "checkbox", "id" => "checkall", "class" => "checkall"}
        %th.head1
          = I18n.t('view.product.promotion.stores.store_name_id')
        %th.head0
          = I18n.t('active_record.promotion_store.from_date')
        %th.head1
          = I18n.t('active_record.promotion_store.thru_date')
        %th.head0
          = I18n.t('active_record.promotion_store.sequence_num')
        %th.head0
          = I18n.t('common.update')
      %tbody
        - @promotion_stores.each do |store|
          %tr{"id" => "prstid-"+store.id.to_s, "ref" => ""}
            %td.center
              %span
                %input{"type" => "checkbox"}
            %td
              %span
                = store.store_name + ' [' + store.product_store_id.to_s + ']'
            %td.wrap-content
              - if !store.from_date.blank?
                %span
                  = store.from_date.strftime("%Y-%m-%d %H:%M:%S:%L")
              - else
                %span
                  = 'null'
            %td.center
              %span
                %input{"class" => "ip-through-date", "value" => store.thru_date.strftime("%Y-%m-%d %H:%M:%S:%L"), "class" => "datepicker"}
            %td.center
              %span
                %input{"class" => "ip-sequence", "value" => store.sequence_num, "id" => "prst_sequence_id_"+store.id.to_s}
            %td.center
              %span
                %button{"class" => "stdbtn btn-update"}
                  = I18n.t('common.update')
  %div{"class" => "dataTables_paginate paging_full_numbers"}
    %label{"style" => "float: left"}
      Show
      %select{"size" => 1, "name" => "dyntable_length", "id" => "promotions-per-page"}
        - @nums = [10, 25, 50, 100]
        - @nums.each do |num|
          - if session[:promo_page].to_i == num
            %option{"value" => num, "selected" => "selected"}
              = num
          - if session[:promo_page].to_i != num
            %option{"value" => num}
              = num
    %div{"id" => "dyntable_paginate"}
      - @pages = (@total.to_f / session[:promo_page].to_f).ceil
      - if @pages > 1
        %span{"class" => "first paginate_button", "id" => "dyntable_first"}
          = I18n.t('common.first')
        %span{"class" => "previous paginate_button", "id" => "dyntable_previous"}
          = I18n.t('common.previous')
        %span{"class" => "paginate-body"}
          %span.paginate-body-inner
            - @pages.times do |page|
              - page = page + 1
              - if page == 1
                %span.paginate_active
                  = page
              - if page != 1
                %span.paginate_button
                  = page
        %span{"class" => "next paginate_button", "id" => "dyntable_next"}
          = I18n.t('common.next')
        %span{"class" => "last paginate_button", "id" => "dyntable_last"}
          = I18n.t('common.last')