%div{:align => "center"}
  .widgetbox{:style => "width: 350px;"}
    .widgetcontent.stdform.stdformwidget{:align => "justify"}
      %h2= t 'devise.invitations.edit.header'
      = form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f|
        = devise_error_messages!
        = f.hidden_field :invitation_token
        .par
          %label{:style=>"width:100px!important"} Password
          .field
            = f.password_field :password, :class=>"longinput"
        .par
          %label{:style=>"width:100px!important"} Confirm Password
          .field
            = f.password_field :password_confirmation, :class=>"longinput"
            %br/
        .par
          .field
            = f.submit t("devise.invitations.edit.submit_button"), :class=> "radius2"

