!!! 5
%html
	%meta(charset='utf-8')
	%meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
	= stylesheet_link_tag "modules/facilities/facility"
	%title Facility Selection
		
	%body
		.header.radius3
			.headerinner
				%a
					=image_tag("header.jpg",:alt => "logo")
				.headright
					.headercolumn
						&nbsp;
					.headercolumn#searchPanel
						.searchbox
							%form
								%input{:type => "text",:name => "keyword", :id => "keyword", :class => "radius2"}
					.headercolumn#notiPanel
						.notiwrapper
							%a{:href => "ajax/messages.php", :class => "notialert radius2"}
						.notibox
							%ul{:class => "tabmenu"}
								%li.current
									%a{:href => "ajax/messages.php", :class => "msg"}
										Messages (2)
								%li
									%a{:href => "ajax/activities.php", :class => "act"}
										Recent Activity (3)
							%br{:clear => "all"}
							.loader
								=image_tag("images/loaders/loader3.gif",:alt => "Loading Icon")
							.noticontent
					.headercolumn#userPanel
						%a{:class => "userinfo radius2"}
							=image_tag("images/avatar.png", :alt => "avatar", :class => "radius2")
							%span
								%strong
									Justin Meller
						.userdrop
							%ul
								%li
									%a
										Profile
								%li
									%a
										Account Settings
								%li
									%a{:href => "index.html"}
										Logout
			%div#main-navigation
				%ul
					%li.first
						%a{:href => "/accounting/control/main?externalLoginKey=EL124283534802", :title => "Accounting"}
							Accounting
						%a{:href => "/catalog/control/main?externalLoginKey=EL124283534802", :title => "Product Catalog management, Categories, Product, Price rules, Promotions, Product Store"}
							Catalog
					%li
						%a{:href => "/facility/control/main?externalLoginKey=EL124283534802", :title => "Inventory management, Facility, location, Shipment, Receipt, Physical Inventory"}
							Facility
						%a{:href => "/humanres/control/main?externalLoginKey=EL124283534802", :title => "Human Resource Application"}
							HR
					%li
						%a{:href => "/marketing/control/main?externalLoginKey=EL124283534802", :title => "Marketing"}
							Marketing
						%a{:href => "/ordermgr/control/main?externalLoginKey=EL124283534802", :title => "Sales Order management, Purchase order, Customer request, Requirement, Quote, Statistics"}
							Order
						%a{:href => "/partymgr/control/main?externalLoginKey=EL124283534802", :class => "selected", :title => "Customers - Suppliers - Employee Management, Communications, Classifications"}
							Party
					%li
						%a{:href => "/workeffort/control/main?externalLoginKey=EL124283534802", :title => "Work Effort"}
							Work Effort
						%a{:href => "/example/control/main?externalLoginKey=EL124283534802", :title => "Example"}
							Example
					%li{:class => "last"}
		.mainwrapper
			.mainwrapperinner
				.maincontent.noright
					.maincontentinner
						%h2
							FACILITY MANAGER
						%ul{:class => "maintabmenu multipletabmenu"}
							%li
								%a{:href => "/ordermgr/control/main"}
									Main
							%li									
								%a{:href => "/ordermgr/control/FindRequest"}
									Requests
							%li									
								%a{:href => "/ordermgr/control/FindQuote"}
									Quotes
							%li									
								%a{:href => "/ordermgr/control/Orderlist"}
									Order List
							%li									
								%a{:href => "/ordermgr/control/FindOrders"}
									Find Orders
							%li
								-#= form_for OrderEntry, :action => "/ordermgr/control/orderentry", :html => {:name => "OrderAppBar_orderentry_LF_6"}
								%form
									%a{:href => "javascript:document.OrderAppBar_orderentry_LF_6.submit()"}
										Order Entry
							%li.current
								%a{:href => "//ordermgr/control/findreturn"}
									Returns
							%li									
								%a{:href => "/ordermgr/control/FindRequirements"}
									Requirements
							%li
								%a{:href => "/ordermgr/control/OrderPurchaseReportOptions"}
									Reports
							%li
								%a{:href => "/ordermgr/control/orderstats"}
									Stats
						%br{:clear => "all"}
						%br{:clear => "all"}
						
						= yield
						