!!!
%html{:lang => "en"}
  %title
    Databox
  %head
    -#= stylesheet_link_tag 'main'
    -# Assets Pipeline: Application.css added to the pipeline, according to Assets Pipeline's best practices.
    = stylesheet_link_tag 'application'
    -#= javascript_include_tag :application
    = stylesheet_link_tag 'style', 'account', 'placeorder', 'orders', 'login', 'new-order-builder-alt', 'https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic'
    = javascript_include_tag :application

    %link{:href => 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic', :rel => 'stylesheet', :type => 'text/css'}/
    :css
      body {
        -#padding-top: 45px;
        padding-top : 0px;
        padding-bottom: 0px;
      }
      #spinner
        {
          margin:33px 0;
          position:relative;
          width:800px;
          left:50%;

        }
      .ajax-loader
        {
          margin:0 7px;

        }
  %body

    -#= render 'shared/header'
    -#.container.width1210
    -#  .row.mainrow
    -#    -#These layouts do not exist, yet. Remove this comment when layouts are added, and uncomment following code.
    -#    -#= render 'shared/menu'
    -#    -#= render 'shared/profile_navigation'
    -#    -#= render 'shared/right_block_navigation'
    -#    .span775
    -#      = yield
    -#

    .mainwrapper

      = yield

      // This footer can be found here : shared/_footer.html.haml
      -#= render 'shared/footer'


/
  Le javascript
  \==================================================
/ Placed at the end of the document so the pages load faster
/ javascript
= yield(:javascripts)


