<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>	
	<%= stylesheet_link_tag 'style-customers', 'account', 'placeorder', 'orders' %>
	<%= stylesheet_link_tag '"http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css' %>
	<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic' %>  	
	<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', 'libs/modernizr-2.6.2.min', 'plugins', 'script', 'customers' %>
	<%= javascript_include_tag 'http://code.jquery.com/ui/1.10.0/jquery-ui.js' %>

	<%= stylesheet_link_tag 'style', 'account', 'placeorder', 'orders', 'http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic' %>
	<%= javascript_include_tag 'libs/modernizr-2.6.2.min', 'plugins', 'script', 'account', 'placeorder' %>
</head>

<body id="all-orders">
	<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	<%= render partial: 'header' %>
	
	<div id="main" role="main">
		
		<div id="brand-logo"></div>
		
		<%= yield %>
	</div>

</body>
</html>
