!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:name=>"description" ,:content=>""}/
    %title Login Databox
    %link{:href=>'http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic' ,:rel=>'stylesheet', :type=>'text/css'}
    %link{:href => "/assets/style-login.css?body=1", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/assets/style-login.css?body=1", :media => "screen", :rel => "stylesheet", :type => "text/css"}

    %link{:href=>'http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic' ,:rel=>'stylesheet', :type=>'text/css'}
    %link{:href => "/assets/style.css?body=1", :media => "screen", :rel => "stylesheet", :type => "text/css"}

    %link{:href => "/assets/account.css?body=1", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/assets/login.css?body=1", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    = javascript_include_tag :application

%body
  .header.radius3
    .headerinner
      %a{:href => ""}
        %img{:alt => "", :src => "/assets/logo-small.png"}
  .mainwrapper
    = yield
