!!!
%html{:lang => "en"}
  %title
    Databox
  %head
    -#= stylesheet_link_tag 'main'
    -# Assets Pipeline: Application.css added to the pipeline, according to Assets Pipeline's best practices.
    -#= stylesheet_link_tag 'application'
    -#= javascript_include_tag :application
    = stylesheet_link_tag 'style', 'account', 'placeorder', 'orders', 'login', 'new-order-builder-alt', 'https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic'
    = stylesheet_link_tag 'party'
    = javascript_include_tag :application

    %link{:href => 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic', :rel => 'stylesheet', :type => 'text/css'}/

  %body
    = yield



