%html{:lang => "en"}
  %head
    = stylesheet_link_tag 'style', 'account', 'placeorder', 'orders', 'http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic'
    = stylesheet_link_tag 'product_promotions', 'ship_rates', 'return_headers'
    = stylesheet_link_tag 'plugins/jquery.alerts', 'plugins/jquery.ui'
    = javascript_include_tag :application
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1.0"}
    %meta{"http-equiv" => "Content-Type", "content" => "text/html; charset=utf-8"}
    = csrf_meta_tags
    :javascript
  %body#product_promotions
    = render 'products/header'
    %div#main{:role => "main"}
      %div#brand-logo
      %div.inner
        = yield
    = render 'shared/footer'
= yield(:javascripts)

